/* line 484, /Users/pedrocorreia/Development/Ink/less/mixins.less */
#ink #shadows .no-box-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 491, /Users/pedrocorreia/Development/Ink/less/mixins.less */
#ink #shadows .no-text-shadow {
  text-shadow: none;
}
/* line 511, /Users/pedrocorreia/Development/Ink/less/mixins.less */
#ink #text .ink-font-stack {
  font-family: Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* line 14, /Users/pedrocorreia/Development/Ink/less/demo.less */
h2 span {
  padding-right: .5em;
}
/* line 18, /Users/pedrocorreia/Development/Ink/less/demo.less */
.box {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 #aaaaaa;
  -moz-box-shadow: 0 1px 3px 0 #aaaaaa;
  box-shadow: 0 1px 3px 0 #aaaaaa;
  background-color: #fff;
  padding: 1em;
}
/* line 25, /Users/pedrocorreia/Development/Ink/less/demo.less */
mark {
  font-family: Ubuntu_monospaced, Monaco, Andale Mono, Courier New, monospace;
  font-size: .938em;
  background: #deedf1;
  padding: 1px 3px;
}
/* line 32, /Users/pedrocorreia/Development/Ink/less/demo.less */
.gridExample .box p,
.gridExample2 div p,
.gridExample2 .level1 {
  border-radius: 4px;
  background-color: #DEEDF1;
  margin: .2em;
  padding: .75em;
  color: #7AA6B3;
  text-align: right;
}
/* line 41, /Users/pedrocorreia/Development/Ink/less/demo.less */
.gridExample2 .level1 {
  padding: .1em;
  overflow: hidden;
}
/* line 42, /Users/pedrocorreia/Development/Ink/less/demo.less */
.gridExample2 .level1 > p {
  padding: .75em 0;
  text-align: center;
}
/* line 43, /Users/pedrocorreia/Development/Ink/less/demo.less */
.gridExample2 .level2 p {
  margin: 2px;
  text-align: center;
  background-color: #fff;
}
/* line 46, /Users/pedrocorreia/Development/Ink/less/demo.less */
.gridExample .ink-vspace,
.gridExample2 .ink-vspace {
  margin-bottom: 0;
}
/* line 51, /Users/pedrocorreia/Development/Ink/less/demo.less */
#nav-spacing .box {
  padding: 0px;
}
/* line 52, /Users/pedrocorreia/Development/Ink/less/demo.less */
#nav-spacing .box div {
  text-align: center;
  font-weight: bold;
  margin: 0px;
}
/* line 57, /Users/pedrocorreia/Development/Ink/less/demo.less */
#nav-spacing .box div p {
  font-size: 1.75em;
  line-height: 200px;
  vertical-align: middle;
  background-color: #DEEDF1;
  color: #fff;
  margin: 0em;
}
/* line 65, /Users/pedrocorreia/Development/Ink/less/demo.less */
#nav-spacing .box div:hover {
  background-color: #68b9cf;
  transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
  border-radius: 4px;
}
/* line 70, /Users/pedrocorreia/Development/Ink/less/demo.less */
#nav-spacing .box div:hover p {
  color: #555;
  transition: all ease-in-out 300ms;
  -o-transition: all ease-in-out 300ms;
  -moz-transition: all ease-in-out 300ms;
  -webkit-transition: all ease-in-out 300ms;
}
/* line 74, /Users/pedrocorreia/Development/Ink/less/demo.less */
#nav-spacing .box .ink-space {
  padding: 1em;
}
/* line 75, /Users/pedrocorreia/Development/Ink/less/demo.less */
#nav-spacing .box .ink-vspace {
  padding: 1em 0;
}
/* line 76, /Users/pedrocorreia/Development/Ink/less/demo.less */
#nav-spacing .box .ink-hspace {
  padding: 0 1em;
}
/* line 77, /Users/pedrocorreia/Development/Ink/less/demo.less */
#nav-spacing .box .ink-hspace p {
  padding: 13px 0;
}
/*..........................................  Typography  ...................................................*/
/* line 80, /Users/pedrocorreia/Development/Ink/less/demo.less */
a.visited {
  color: #808080;
}
/* line 81, /Users/pedrocorreia/Development/Ink/less/demo.less */
a.hover {
  color: #007ed5;
  text-decoration: underline;
}
/* line 82, /Users/pedrocorreia/Development/Ink/less/demo.less */
a.active {
  color: #ff0000;
}
/*............................................  Homepage  ...................................................*/
/* line 85, /Users/pedrocorreia/Development/Ink/less/demo.less */
.whatIs {
  padding: 2em 0 .8em;
  font-size: 1.25em;
}
/* line 90, /Users/pedrocorreia/Development/Ink/less/demo.less */
.whatIs h2 {
  font-size: 3em;
  letter-spacing: -0.02em;
  color: #131e24;
}
/* line 96, /Users/pedrocorreia/Development/Ink/less/demo.less */
.whatIs p {
  margin: 0 0 0.5em 0;
}
/* line 98, /Users/pedrocorreia/Development/Ink/less/demo.less */
#download {
  text-align: center;
}
/* line 100, /Users/pedrocorreia/Development/Ink/less/demo.less */
#download a {
  font-weight: bold;
  padding: .8em;
  display: block;
  background: #2e2e2e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#222222');
  background: -moz-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2e2e), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background: -o-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background: -ms-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background: linear-gradient(to bottom, #2e2e2e 0%, #222222 100%);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: #FFF;
}
/* line 110, /Users/pedrocorreia/Development/Ink/less/demo.less */
#download a:hover {
  background: #3c3c3c;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c3c3c', endColorstr='#2e2e2e');
  background: -moz-linear-gradient(top, #3c3c3c 0%, #2e2e2e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #2e2e2e));
  background: -webkit-linear-gradient(top, #3c3c3c 0%, #2e2e2e 100%);
  background: -o-linear-gradient(top, #3c3c3c 0%, #2e2e2e 100%);
  background: -ms-linear-gradient(top, #3c3c3c 0%, #2e2e2e 100%);
  background: linear-gradient(to bottom, #3c3c3c 0%, #2e2e2e 100%);
  text-decoration: none;
}
/* line 116, /Users/pedrocorreia/Development/Ink/less/demo.less */
#download p {
  margin: 1em;
}
/* line 118, /Users/pedrocorreia/Development/Ink/less/demo.less */
.ink-download {
  text-align: center;
}
/* line 122, /Users/pedrocorreia/Development/Ink/less/demo.less */
.ink-download input {
  font-size: 1.625em;
}
/*..........................................  Ink-UI  ..........................................*/
/* line 127, /Users/pedrocorreia/Development/Ink/less/demo.less */
.ink-button.toggleTrigger {
  margin: 1em 0 0 0;
}
/*..........................................  Footer  ..........................................*/
/* line 133, /Users/pedrocorreia/Development/Ink/less/demo.less */
.ink-hero {
  margin-top: 40px;
  background: url(../imgs/home_bkg.png) center;
  background: -webkit-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background: -moz-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background: -o-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background: -ms-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background: linear-gradient(to right, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  overflow: hidden;
}
/* line 144, /Users/pedrocorreia/Development/Ink/less/demo.less */
.logo_hp {
  width: 100%;
  height: 100%;
  max-width: 736px;
  max-height: 330px;
  margin: 0 auto;
  display: block;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 500ms ;
  -moz-transition: all 500ms ;
  -ms-transition: all 500ms ;
  -o-transition: all 500ms ;
  transition: all 500ms /* custom */;
}
/* line 162, /Users/pedrocorreia/Development/Ink/less/demo.less */
.logo_hp:hover {
  opacity: 1;
  -moz-opacity: 1;
}
/*...................................................  Footer  ...................................................*/
/* line 169, /Users/pedrocorreia/Development/Ink/less/demo.less */
footer .SAPOlogo {
  background: url("../imgs/SAPOlogo.png") no-repeat scroll 0 0 transparent;
  text-indent: -9999px;
  display: block;
  width: 101px;
  height: 30px;
}
/* line 177, /Users/pedrocorreia/Development/Ink/less/demo.less */
footer .PTClogo {
  background: url("../imgs/icon_Sprite.png") no-repeat 0 top;
  text-indent: -9999px;
  display: block;
  float: left;
  width: 41px;
  height: 43px;
  margin-right: 1em;
}
/* line 187, /Users/pedrocorreia/Development/Ink/less/demo.less */
footer h5 {
  font-size: 1em;
  float: left;
  line-height: 2.1em;
}
/* line 193, /Users/pedrocorreia/Development/Ink/less/demo.less */
footer ul.sociallinks {
  float: right;
  margin: 1em 0 2em;
}
/* line 198, /Users/pedrocorreia/Development/Ink/less/demo.less */
footer ul.sociallinks li {
  height: 24px;
  width: 24px;
  display: inline-block;
  margin-left: 6px;
  *zoom: 1;
  *display: inline;
}
/* line 207, /Users/pedrocorreia/Development/Ink/less/demo.less */
footer ul.sociallinks a.Fb_link,
footer ul.sociallinks a.Twt_link,
footer ul.sociallinks a.Gplus_link {
  display: inline-block;
  height: 24px;
  width: 24px;
}
/* line 215, /Users/pedrocorreia/Development/Ink/less/demo.less */
footer ul.sociallinks li a.Fb_link {
  background: url("../imgs/icon_Sprite.png") no-repeat 0 -90px;
}
/* line 216, /Users/pedrocorreia/Development/Ink/less/demo.less */
footer ul.sociallinks li a.Twt_link {
  background: url("../imgs/icon_Sprite.png") no-repeat 0 -118px;
}
/* line 217, /Users/pedrocorreia/Development/Ink/less/demo.less */
footer ul.sociallinks li a.Gplus_link {
  background: url("../imgs/icon_Sprite.png") no-repeat 0 -146px;
}
/* line 219, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: #222222;
  -webkit-box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
  -moz-box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
  box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
  margin: auto;
  z-index: 5000;
}
/* line 229, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .ink-navigation {
  background: #222222;
}
/* line 235, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .ink-navigation ul.menu.horizontal li {
  font-size: 14px;
}
/* line 239, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .ink-navigation ul.menu.horizontal.black.flat {
  background: #222222;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 251, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .horizontal a.logoPlaceholder {
  width: 44px;
  padding: 0;
  text-indent: -5000px;
  background: url(../imgs/logo_topbar.png);
  margin: 0 1em 0 0;
}
/* line 259, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .horizontal a.logoPlaceholder:hover {
  background: url(../imgs/logo_topbar.png) 0 -40px;
}
/* line 263, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .horizontal li a {
  *height: auto;
  color: #bbbbbb;
}
/* line 268, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .horizontal li a:hover {
  background: #313131;
  color: #ffffff;
}
/* line 273, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .horizontal li.active a {
  background: #080808;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#080808', endColorstr='#3c3c3c');
  background: -moz-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #080808), color-stop(100%, #3c3c3c));
  background: -webkit-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -o-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -ms-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: linear-gradient(to bottom, #080808 0%, #3c3c3c 100%);
  -webkit-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 0px 2px 0 rgba(255, 255, 255, 0.3);
  color: #ffffff;
}
/* line 279, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .horizontal .submenu li a {
  color: #000000;
  background: #ffffff;
}
/* line 284, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .horizontal .submenu li a:hover {
  background: #313131;
  color: #ffffff;
}
/* line 289, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .ink-button {
  right: 0;
}
/* line 293, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .ink-button:hover {
  color: #ffffff;
  background: none;
}
/* line 298, /Users/pedrocorreia/Development/Ink/less/demo.less */
#topbar .border {
  height: .3em;
  background: url(../imgs/home_bkg.png) center 0px;
  background: -webkit-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background: -moz-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background: -o-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background: -ms-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background: linear-gradient(to right, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
}
/* line 313, /Users/pedrocorreia/Development/Ink/less/demo.less */
div.more-examples a.show-me-more {
  color: #1a1a1a;
  font-size: 0.95em;
  font-weight: 700;
  display: block;
  text-align: center;
  padding-bottom: 4px;
  background: #f7f7f7;
  text-shadow: 0 2px 1px #ffffff;
  -webkit-box-shadow: 0 2px 1px 0 #cccccc;
  -moz-box-shadow: 0 2px 1px 0 #cccccc;
  box-shadow: 0 2px 1px 0 #cccccc;
}
/* line 327, /Users/pedrocorreia/Development/Ink/less/demo.less */
div.more-examples div.examples {
  padding-top: 15px;
}
/* line 331, /Users/pedrocorreia/Development/Ink/less/demo.less */
div.more-examples div.examples .example-container {
  border-radius: 6px;
}
/* line 334, /Users/pedrocorreia/Development/Ink/less/demo.less */
div.more-examples div.examples .example-container .example {
  padding: 1.4em 1.2em 0;
  background: white;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
}
/* line 344, /Users/pedrocorreia/Development/Ink/less/demo.less */
div.more-examples div.examples .example-container h4 {
  border: 1px solid #4d4d4d;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #4d4d4d;
  color: #ffffff;
  font-size: 0.80em;
  font-weight: 500;
  padding: 0.5em;
  margin: 0;
}
/* Prettyfier  */
/* line 362, /Users/pedrocorreia/Development/Ink/less/demo.less */
var {
  font-family: Ubuntu_monospaced, Monaco, Andale Mono, Courier New, monospace;
  font-size: .9em;
  background-color: #ecda83;
  padding: 1px 3px;
}
/* line 369, /Users/pedrocorreia/Development/Ink/less/demo.less */
pre {
  background: #FEFBF3;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: Ubuntu_monospaced, Monaco, Andale Mono, Courier New, monospace;
  display: block;
  font-size: 14px;
  color: #aaa;
}
/* line 380, /Users/pedrocorreia/Development/Ink/less/demo.less */
pre ol {
  line-height: 1.5;
  list-style: decimal ;
  margin: 0 0 0 1.6em;
}
/* line 381, /Users/pedrocorreia/Development/Ink/less/demo.less */
pre ol li {
  word-wrap: break-word;
  border-left: 3px solid #CCC;
  margin: 0;
  padding: 0.2em 0 0.2em 1em;
}
/* line 382, /Users/pedrocorreia/Development/Ink/less/demo.less */
pre ol li:nth-child(odd) {
  background: #f0f0f0;
}
/* line 384, /Users/pedrocorreia/Development/Ink/less/demo.less */
pre .tag {
  color: #1E347B;
}
/* line 385, /Users/pedrocorreia/Development/Ink/less/demo.less */
pre .hightlight {
  font-weight: bold;
  color: red;
}
/* line 387, /Users/pedrocorreia/Development/Ink/less/demo.less */
.com {
  color: #93a1a1;
}
/* line 388, /Users/pedrocorreia/Development/Ink/less/demo.less */
.lit {
  color: #195f91;
}
/* line 389, /Users/pedrocorreia/Development/Ink/less/demo.less */
.pun,
.opn,
.clo {
  color: #93a1a1;
}
/* line 390, /Users/pedrocorreia/Development/Ink/less/demo.less */
.fun {
  color: #dc322f;
}
/* line 391, /Users/pedrocorreia/Development/Ink/less/demo.less */
.str,
.atv {
  color: #268bd2;
}
/* line 392, /Users/pedrocorreia/Development/Ink/less/demo.less */
.kwd,
.tag {
  color: #195f91;
}
/* line 393, /Users/pedrocorreia/Development/Ink/less/demo.less */
.typ,
.atn,
.dec,
.var {
  color: #CB4B16;
}
/* line 394, /Users/pedrocorreia/Development/Ink/less/demo.less */
.pln {
  color: #48484C;
}
/* line 396, /Users/pedrocorreia/Development/Ink/less/demo.less */
pre.prettyprint {
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  white-ink-space: pre-wrap;
}
/* line 404, /Users/pedrocorreia/Development/Ink/less/demo.less */
code {
  border: 1px solid #E0E0E0;
  background: #E9E9E9;
  padding: 0 4px;
}
