#ink #shadows .no-box-shadow {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#ink #shadows .no-text-shadow {
  text-shadow: none;
}

#ink #text .ink-font-stack {
  font-family: Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ink-container {
  width: 960px;
  padding: 0 32px;
  margin: auto;
}

.ink-space {
  margin: 32px;
  *overflow: hidden;
  *clear: both;
}

.ink-vspace {
  margin-top: 32px;
  margin-bottom: 32px;
}

.ink-hspace {
  margin-right: 32px;
  margin-left: 32px;
}

.ink-gutter {
  margin-left: 32px;
}

.ink-row {
  margin-left: -32px;
}

.ink-container .ink-l100 {
  width: auto;
  max-width: 100%;
  *overflow: hidden;
  clear: both;
}

.ink-container .ink-l90 {
  width: 90%;
}

.ink-container .ink-l80 {
  width: 80%;
}

.ink-container .ink-l75 {
  width: 75%;
}

.ink-container .ink-l70 {
  width: 70%;
}

.ink-container .ink-l66 {
  width: 66.66%;
}

.ink-container .ink-l60 {
  width: 60%;
}

.ink-container .ink-l50 {
  width: 50%;
}

.ink-container .ink-l40 {
  width: 40%;
}

.ink-container .ink-l33 {
  width: 33.33%;
  *margin-left: -1px;
}

.ink-container .ink-l30 {
  width: 30%;
}

.ink-container .ink-l25 {
  width: 25%;
}

.ink-container .ink-l20 {
  width: 20%;
}

.ink-container .ink-l10 {
  width: 10%;
}

.ink-container .ink-l10,
.ink-container .ink-l20,
.ink-container .ink-l25,
.ink-container .ink-l30,
.ink-container .ink-l33,
.ink-container .ink-l40,
.ink-container .ink-l50,
.ink-container .ink-l60,
.ink-container .ink-l66,
.ink-container .ink-l70,
.ink-container .ink-l75,
.ink-container .ink-l80,
.ink-container .ink-l90 {
  float: left;
  *overflow: hidden;
  *zoom: 1;
}

.ink-container .ink-l100:empty,
.ink-container .ink-l90:empty,
.ink-container .ink-l80:empty,
.ink-container .ink-l75:empty,
.ink-container .ink-l70:empty,
.ink-container .ink-l66:empty,
.ink-container .ink-l60:empty,
.ink-container .ink-l50:empty,
.ink-container .ink-l40:empty,
.ink-container .ink-l33:empty,
.ink-container .ink-l30:empty,
.ink-container .ink-l25:empty,
.ink-container .ink-l20:empty,
.ink-container .ink-l10:empty {
  clear: both;
}

.ink-for-s,
.ink-for-m {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
}

.ink-for-l {
  position: relative;
  top: auto;
  left: auto;
  visibility: visible;
}
