#ink #navigation #gradients .white {
  background: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2');
  background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 150%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(150%, #f2f2f2));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f2f2f2 150%);
  background: -o-linear-gradient(top, #ffffff 0%, #f2f2f2 150%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f2f2f2 150%);
  background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 150%);
}
#ink #navigation #gradients .grey {
  background: #e6e6e6;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#cccccc');
  background: -moz-linear-gradient(top, #e6e6e6 0%, #cccccc 150%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e6e6e6), color-stop(150%, #cccccc));
  background: -webkit-linear-gradient(top, #e6e6e6 0%, #cccccc 150%);
  background: -o-linear-gradient(top, #e6e6e6 0%, #cccccc 150%);
  background: -ms-linear-gradient(top, #e6e6e6 0%, #cccccc 150%);
  background: linear-gradient(to bottom, #e6e6e6 0%, #cccccc 150%);
}
#ink #navigation #gradients .black {
  background: #1a1a1a;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1a1a', endColorstr='#0d0d0d');
  background: -moz-linear-gradient(top, #1a1a1a 0%, #0d0d0d 150%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(150%, #0d0d0d));
  background: -webkit-linear-gradient(top, #1a1a1a 0%, #0d0d0d 150%);
  background: -o-linear-gradient(top, #1a1a1a 0%, #0d0d0d 150%);
  background: -ms-linear-gradient(top, #1a1a1a 0%, #0d0d0d 150%);
  background: linear-gradient(to bottom, #1a1a1a 0%, #0d0d0d 150%);
}
#ink #navigation #gradients .orange {
  background: #f2990d;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2990d', endColorstr='#c27b0a');
  background: -moz-linear-gradient(top, #f2990d 0%, #c27b0a 150%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2990d), color-stop(150%, #c27b0a));
  background: -webkit-linear-gradient(top, #f2990d 0%, #c27b0a 150%);
  background: -o-linear-gradient(top, #f2990d 0%, #c27b0a 150%);
  background: -ms-linear-gradient(top, #f2990d 0%, #c27b0a 150%);
  background: linear-gradient(to bottom, #f2990d 0%, #c27b0a 150%);
}
#ink #navigation #gradients .blue {
  background: #1b75ce;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1b75ce', endColorstr='#155ba1');
  background: -moz-linear-gradient(top, #1b75ce 0%, #155ba1 150%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b75ce), color-stop(150%, #155ba1));
  background: -webkit-linear-gradient(top, #1b75ce 0%, #155ba1 150%);
  background: -o-linear-gradient(top, #1b75ce 0%, #155ba1 150%);
  background: -ms-linear-gradient(top, #1b75ce 0%, #155ba1 150%);
  background: linear-gradient(to bottom, #1b75ce 0%, #155ba1 150%);
}
#ink #navigation #gradients .green {
  background: #4c9220;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c9220', endColorstr='#366817');
  background: -moz-linear-gradient(top, #4c9220 0%, #366817 150%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4c9220), color-stop(150%, #366817));
  background: -webkit-linear-gradient(top, #4c9220 0%, #366817 150%);
  background: -o-linear-gradient(top, #4c9220 0%, #366817 150%);
  background: -ms-linear-gradient(top, #4c9220 0%, #366817 150%);
  background: linear-gradient(to bottom, #4c9220 0%, #366817 150%);
}
#ink #navigation #gradients .red {
  background: #be1c1c;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#be1c1c', endColorstr='#921515');
  background: -moz-linear-gradient(top, #be1c1c 0%, #921515 150%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #be1c1c), color-stop(150%, #921515));
  background: -webkit-linear-gradient(top, #be1c1c 0%, #921515 150%);
  background: -o-linear-gradient(top, #be1c1c 0%, #921515 150%);
  background: -ms-linear-gradient(top, #be1c1c 0%, #921515 150%);
  background: linear-gradient(to bottom, #be1c1c 0%, #921515 150%);
}
.column-left {
  float: left;
}
.column-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.column-right {
  float: right;
}
.content-left {
  text-align: left;
}
.content-center {
  text-align: center;
}
.content-right {
  text-align: right;
}
.show-all {
  display: inherit;
}
.hide-all {
  display: none;
}
.ink-grid {
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3%;
}
.column-group {
  width: auto;
  clear: both;
  zoom: 1;
  margin-left: -3%;
}
.column-group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
.column-group.gutters {
  padding-right: 3%;
  margin-left: -3%;
  overflow: visible;
}
.column-group.half-gutters {
  padding-right: 1.5%;
  margin-left: -1.5%;
  overflow: visible;
}
.large-100 {
  width: 99.99958333333333% !important;
  clear: both;
}
.large-95 {
  width: 92.14959583333334% !important;
}
.large-90 {
  width: 87.29959583333333% !important;
}
.large-85 {
  width: 82.44959583333333% !important;
}
.large-80 {
  width: 77.59959583333332% !important;
}
.large-75 {
  width: 72.74959583333333% !important;
}
.large-70 {
  width: 67.89959583333334% !important;
}
.large-66 {
  width: 65.66958541666666% !important;
}
.large-65 {
  width: 63.049595833333335% !important;
}
.large-60 {
  width: 58.19959583333333% !important;
}
.large-55 {
  width: 53.34959583333333% !important;
}
.large-50 {
  width: 48.49959583333333% !important;
}
.large-45 {
  width: 43.64959583333333% !important;
}
.large-40 {
  width: 38.799595833333335% !important;
}
.large-33 {
  width: 31.316604583333334% !important;
}
.large-35 {
  width: 33.94959583333333% !important;
}
.large-30 {
  width: 29.099595833333332% !important;
}
.large-25 {
  width: 24.249595833333334% !important;
}
.large-20 {
  width: 19.399595833333333% !important;
}
.large-15 {
  width: 14.549595833333333% !important;
}
.large-10 {
  width: 9.699595833333333% !important;
}
.large-5 {
  width: 4.849595833333334% !important;
}
.large-100,
.large-95,
.large-90,
.large-85,
.large-80,
.large-75,
.large-70,
.large-66,
.large-65,
.large-60,
.large-55,
.large-50,
.large-45,
.large-40,
.large-35,
.large-33,
.large-30,
.large-25,
.large-20,
.large-15,
.large-10,
.large-5 {
  float: left;
  margin-bottom: 3%;
  overflow: hidden;
  zoom: 1;
}
table.large-100,
th.large-100,
td.large-100,
table.large-95,
th.large-95,
td.large-95,
table.large-90,
th.large-90,
td.large-90,
table.large-85,
th.large-85,
td.large-85,
table.large-80,
th.large-80,
td.large-80,
table.large-75,
th.large-75,
td.large-75,
table.large-70,
th.large-70,
td.large-70,
table.large-66,
th.large-66,
td.large-66,
table.large-65,
th.large-65,
td.large-65,
table.large-60,
th.large-60,
td.large-60,
table.large-55,
th.large-55,
td.large-55,
table.large-50,
th.large-50,
td.large-50,
table.large-45,
th.large-45,
td.large-45,
table.large-40,
th.large-40,
td.large-40,
table.large-35,
th.large-35,
td.large-35,
table.large-33,
th.large-33,
td.large-33,
table.large-30,
th.large-30,
td.large-30,
table.large-25,
th.large-25,
td.large-25,
table.large-20,
th.large-20,
td.large-20,
table.large-15,
th.large-15,
td.large-15,
table.large-10,
th.large-10,
td.large-10,
table.large-5,
th.large-5,
td.large-5 {
  float: none;
}
.ink-grid .column-group.gutters > .large-100 {
  width: 99.99958333333333%;
}
.ink-grid .column-group.gutters > .large-95 {
  width: 92%;
}
.ink-grid .column-group.gutters > .large-90 {
  width: 87%;
}
.ink-grid .column-group.gutters > .large-85 {
  width: 82%;
}
.ink-grid .column-group.gutters > .large-80 {
  width: 77%;
}
.ink-grid .column-group.gutters > .large-75 {
  width: 72%;
}
.ink-grid .column-group.gutters > .large-70 {
  width: 67%;
}
.ink-grid .column-group.gutters > .large-66 {
  width: 63%;
}
.ink-grid .column-group.gutters > .large-65 {
  width: 62%;
}
.ink-grid .column-group.gutters > .large-60 {
  width: 57%;
}
.ink-grid .column-group.gutters > .large-55 {
  width: 52%;
}
.ink-grid .column-group.gutters > .large-50 {
  width: 47%;
}
.ink-grid .column-group.gutters > .large-45 {
  width: 42%;
}
.ink-grid .column-group.gutters > .large-40 {
  width: 37%;
}
.ink-grid .column-group.gutters > .large-35 {
  width: 32%;
}
.ink-grid .column-group.gutters > .large-33 {
  width: 30%;
}
.ink-grid .column-group.gutters > .large-30 {
  width: 27%;
}
.ink-grid .column-group.gutters > .large-25 {
  width: 22%;
}
.ink-grid .column-group.gutters > .large-20 {
  width: 17%;
}
.ink-grid .column-group.gutters > .large-10 {
  width: 7%;
}
.ink-grid .column-group.gutters > .large-5 {
  width: 2.0000000000000004%;
}
.ink-grid .column-group.gutters > .large-100,
.ink-grid .column-group.gutters > .large-95,
.ink-grid .column-group.gutters > .large-90,
.ink-grid .column-group.gutters > .large-85,
.ink-grid .column-group.gutters > .large-80,
.ink-grid .column-group.gutters > .large-75,
.ink-grid .column-group.gutters > .large-70,
.ink-grid .column-group.gutters > .large-66,
.ink-grid .column-group.gutters > .large-65,
.ink-grid .column-group.gutters > .large-60,
.ink-grid .column-group.gutters > .large-55,
.ink-grid .column-group.gutters > .large-50,
.ink-grid .column-group.gutters > .large-45,
.ink-grid .column-group.gutters > .large-40,
.ink-grid .column-group.gutters > .large-35,
.ink-grid .column-group.gutters > .large-33,
.ink-grid .column-group.gutters > .large-30,
.ink-grid .column-group.gutters > .large-25,
.ink-grid .column-group.gutters > .large-20,
.ink-grid .column-group.gutters > .large-15,
.ink-grid .column-group.gutters > .large-10,
.ink-grid .column-group.gutters > .large-5 {
  margin-left: 2.9995833333333333%;
  padding-left: 0px !important;
}
.large-100:empty,
.large-95:empty,
.large-90:empty,
.large-85:empty,
.large-80:empty,
.large-75:empty,
.large-70:empty,
.large-66:empty,
.large-65:empty,
.large-60:empty,
.large-55:empty,
.large-50:empty,
.large-45:empty,
.large-40:empty,
.large-33:empty,
.large-35:empty,
.large-30:empty,
.large-25:empty,
.large-20:empty,
.large-15:empty,
.large-10:empty,
.large-5:empty {
  clear: both;
}
.large-100 > .large-100,
.large-100 > .large-95,
.large-100 > .large-90,
.large-100 > .large-85,
.large-100 > .large-80,
.large-100 > .large-75,
.large-100 > .large-70,
.large-100 > .large-66,
.large-100 > .large-65,
.large-100 > .large-60,
.large-100 > .large-55,
.large-100 > .large-50,
.large-100 > .large-45,
.large-100 > .large-40,
.large-100 > .large-33,
.large-100 > .large-35,
.large-100 > .large-30,
.large-100 > .large-25,
.large-100 > .large-20,
.large-100 > .large-15,
.large-100 > .large-10,
.large-100 > .large-5,
.large-95 > .large-100,
.large-95 > .large-95,
.large-95 > .large-90,
.large-95 > .large-85,
.large-95 > .large-80,
.large-95 > .large-75,
.large-95 > .large-70,
.large-95 > .large-66,
.large-95 > .large-65,
.large-95 > .large-60,
.large-95 > .large-55,
.large-95 > .large-50,
.large-95 > .large-45,
.large-95 > .large-40,
.large-95 > .large-33,
.large-95 > .large-35,
.large-95 > .large-30,
.large-95 > .large-25,
.large-95 > .large-20,
.large-95 > .large-15,
.large-95 > .large-10,
.large-95 > .large-5,
.large-90 > .large-100,
.large-90 > .large-95,
.large-90 > .large-90,
.large-90 > .large-85,
.large-90 > .large-80,
.large-90 > .large-75,
.large-90 > .large-70,
.large-90 > .large-66,
.large-90 > .large-65,
.large-90 > .large-60,
.large-90 > .large-55,
.large-90 > .large-50,
.large-90 > .large-45,
.large-90 > .large-40,
.large-90 > .large-33,
.large-90 > .large-35,
.large-90 > .large-30,
.large-90 > .large-25,
.large-90 > .large-20,
.large-90 > .large-15,
.large-90 > .large-10,
.large-90 > .large-5,
.large-85 > .large-100,
.large-85 > .large-95,
.large-85 > .large-90,
.large-85 > .large-85,
.large-85 > .large-80,
.large-85 > .large-75,
.large-85 > .large-70,
.large-85 > .large-66,
.large-85 > .large-65,
.large-85 > .large-60,
.large-85 > .large-55,
.large-85 > .large-50,
.large-85 > .large-45,
.large-85 > .large-40,
.large-85 > .large-33,
.large-85 > .large-35,
.large-85 > .large-30,
.large-85 > .large-25,
.large-85 > .large-20,
.large-85 > .large-15,
.large-85 > .large-10,
.large-85 > .large-5,
.large-80 > .large-100,
.large-80 > .large-95,
.large-80 > .large-90,
.large-80 > .large-85,
.large-80 > .large-80,
.large-80 > .large-75,
.large-80 > .large-70,
.large-80 > .large-66,
.large-80 > .large-65,
.large-80 > .large-60,
.large-80 > .large-55,
.large-80 > .large-50,
.large-80 > .large-45,
.large-80 > .large-40,
.large-80 > .large-33,
.large-80 > .large-35,
.large-80 > .large-30,
.large-80 > .large-25,
.large-80 > .large-20,
.large-80 > .large-15,
.large-80 > .large-10,
.large-80 > .large-5,
.large-75 > .large-100,
.large-75 > .large-95,
.large-75 > .large-90,
.large-75 > .large-85,
.large-75 > .large-80,
.large-75 > .large-75,
.large-75 > .large-70,
.large-75 > .large-66,
.large-75 > .large-65,
.large-75 > .large-60,
.large-75 > .large-55,
.large-75 > .large-50,
.large-75 > .large-45,
.large-75 > .large-40,
.large-75 > .large-33,
.large-75 > .large-35,
.large-75 > .large-30,
.large-75 > .large-25,
.large-75 > .large-20,
.large-75 > .large-15,
.large-75 > .large-10,
.large-75 > .large-5,
.large-70 > .large-100,
.large-70 > .large-95,
.large-70 > .large-90,
.large-70 > .large-85,
.large-70 > .large-80,
.large-70 > .large-75,
.large-70 > .large-70,
.large-70 > .large-66,
.large-70 > .large-65,
.large-70 > .large-60,
.large-70 > .large-55,
.large-70 > .large-50,
.large-70 > .large-45,
.large-70 > .large-40,
.large-70 > .large-33,
.large-70 > .large-35,
.large-70 > .large-30,
.large-70 > .large-25,
.large-70 > .large-20,
.large-70 > .large-15,
.large-70 > .large-10,
.large-70 > .large-5,
.large-66 > .large-100,
.large-66 > .large-95,
.large-66 > .large-90,
.large-66 > .large-85,
.large-66 > .large-80,
.large-66 > .large-75,
.large-66 > .large-70,
.large-66 > .large-66,
.large-66 > .large-65,
.large-66 > .large-60,
.large-66 > .large-55,
.large-66 > .large-50,
.large-66 > .large-45,
.large-66 > .large-40,
.large-66 > .large-33,
.large-66 > .large-35,
.large-66 > .large-30,
.large-66 > .large-25,
.large-66 > .large-20,
.large-66 > .large-15,
.large-66 > .large-10,
.large-66 > .large-5,
.large-65 > .large-100,
.large-65 > .large-95,
.large-65 > .large-90,
.large-65 > .large-85,
.large-65 > .large-80,
.large-65 > .large-75,
.large-65 > .large-70,
.large-65 > .large-66,
.large-65 > .large-65,
.large-65 > .large-60,
.large-65 > .large-55,
.large-65 > .large-50,
.large-65 > .large-45,
.large-65 > .large-40,
.large-65 > .large-33,
.large-65 > .large-35,
.large-65 > .large-30,
.large-65 > .large-25,
.large-65 > .large-20,
.large-65 > .large-15,
.large-65 > .large-10,
.large-65 > .large-5,
.large-60 > .large-100,
.large-60 > .large-95,
.large-60 > .large-90,
.large-60 > .large-85,
.large-60 > .large-80,
.large-60 > .large-75,
.large-60 > .large-70,
.large-60 > .large-66,
.large-60 > .large-65,
.large-60 > .large-60,
.large-60 > .large-55,
.large-60 > .large-50,
.large-60 > .large-45,
.large-60 > .large-40,
.large-60 > .large-33,
.large-60 > .large-35,
.large-60 > .large-30,
.large-60 > .large-25,
.large-60 > .large-20,
.large-60 > .large-15,
.large-60 > .large-10,
.large-60 > .large-5,
.large-55 > .large-100,
.large-55 > .large-95,
.large-55 > .large-90,
.large-55 > .large-85,
.large-55 > .large-80,
.large-55 > .large-75,
.large-55 > .large-70,
.large-55 > .large-66,
.large-55 > .large-65,
.large-55 > .large-60,
.large-55 > .large-55,
.large-55 > .large-50,
.large-55 > .large-45,
.large-55 > .large-40,
.large-55 > .large-33,
.large-55 > .large-35,
.large-55 > .large-30,
.large-55 > .large-25,
.large-55 > .large-20,
.large-55 > .large-15,
.large-55 > .large-10,
.large-55 > .large-5,
.large-50 > .large-100,
.large-50 > .large-95,
.large-50 > .large-90,
.large-50 > .large-85,
.large-50 > .large-80,
.large-50 > .large-75,
.large-50 > .large-70,
.large-50 > .large-66,
.large-50 > .large-65,
.large-50 > .large-60,
.large-50 > .large-55,
.large-50 > .large-50,
.large-50 > .large-45,
.large-50 > .large-40,
.large-50 > .large-33,
.large-50 > .large-35,
.large-50 > .large-30,
.large-50 > .large-25,
.large-50 > .large-20,
.large-50 > .large-15,
.large-50 > .large-10,
.large-50 > .large-5,
.large-45 > .large-100,
.large-45 > .large-95,
.large-45 > .large-90,
.large-45 > .large-85,
.large-45 > .large-80,
.large-45 > .large-75,
.large-45 > .large-70,
.large-45 > .large-66,
.large-45 > .large-65,
.large-45 > .large-60,
.large-45 > .large-55,
.large-45 > .large-50,
.large-45 > .large-45,
.large-45 > .large-40,
.large-45 > .large-33,
.large-45 > .large-35,
.large-45 > .large-30,
.large-45 > .large-25,
.large-45 > .large-20,
.large-45 > .large-15,
.large-45 > .large-10,
.large-45 > .large-5,
.large-40 > .large-100,
.large-40 > .large-95,
.large-40 > .large-90,
.large-40 > .large-85,
.large-40 > .large-80,
.large-40 > .large-75,
.large-40 > .large-70,
.large-40 > .large-66,
.large-40 > .large-65,
.large-40 > .large-60,
.large-40 > .large-55,
.large-40 > .large-50,
.large-40 > .large-45,
.large-40 > .large-40,
.large-40 > .large-33,
.large-40 > .large-35,
.large-40 > .large-30,
.large-40 > .large-25,
.large-40 > .large-20,
.large-40 > .large-15,
.large-40 > .large-10,
.large-40 > .large-5,
.large-33 > .large-100,
.large-33 > .large-95,
.large-33 > .large-90,
.large-33 > .large-85,
.large-33 > .large-80,
.large-33 > .large-75,
.large-33 > .large-70,
.large-33 > .large-66,
.large-33 > .large-65,
.large-33 > .large-60,
.large-33 > .large-55,
.large-33 > .large-50,
.large-33 > .large-45,
.large-33 > .large-40,
.large-33 > .large-33,
.large-33 > .large-35,
.large-33 > .large-30,
.large-33 > .large-25,
.large-33 > .large-20,
.large-33 > .large-15,
.large-33 > .large-10,
.large-33 > .large-5,
.large-35 > .large-100,
.large-35 > .large-95,
.large-35 > .large-90,
.large-35 > .large-85,
.large-35 > .large-80,
.large-35 > .large-75,
.large-35 > .large-70,
.large-35 > .large-66,
.large-35 > .large-65,
.large-35 > .large-60,
.large-35 > .large-55,
.large-35 > .large-50,
.large-35 > .large-45,
.large-35 > .large-40,
.large-35 > .large-33,
.large-35 > .large-35,
.large-35 > .large-30,
.large-35 > .large-25,
.large-35 > .large-20,
.large-35 > .large-15,
.large-35 > .large-10,
.large-35 > .large-5,
.large-30 > .large-100,
.large-30 > .large-95,
.large-30 > .large-90,
.large-30 > .large-85,
.large-30 > .large-80,
.large-30 > .large-75,
.large-30 > .large-70,
.large-30 > .large-66,
.large-30 > .large-65,
.large-30 > .large-60,
.large-30 > .large-55,
.large-30 > .large-50,
.large-30 > .large-45,
.large-30 > .large-40,
.large-30 > .large-33,
.large-30 > .large-35,
.large-30 > .large-30,
.large-30 > .large-25,
.large-30 > .large-20,
.large-30 > .large-15,
.large-30 > .large-10,
.large-30 > .large-5,
.large-25 > .large-100,
.large-25 > .large-95,
.large-25 > .large-90,
.large-25 > .large-85,
.large-25 > .large-80,
.large-25 > .large-75,
.large-25 > .large-70,
.large-25 > .large-66,
.large-25 > .large-65,
.large-25 > .large-60,
.large-25 > .large-55,
.large-25 > .large-50,
.large-25 > .large-45,
.large-25 > .large-40,
.large-25 > .large-33,
.large-25 > .large-35,
.large-25 > .large-30,
.large-25 > .large-25,
.large-25 > .large-20,
.large-25 > .large-15,
.large-25 > .large-10,
.large-25 > .large-5,
.large-20 > .large-100,
.large-20 > .large-95,
.large-20 > .large-90,
.large-20 > .large-85,
.large-20 > .large-80,
.large-20 > .large-75,
.large-20 > .large-70,
.large-20 > .large-66,
.large-20 > .large-65,
.large-20 > .large-60,
.large-20 > .large-55,
.large-20 > .large-50,
.large-20 > .large-45,
.large-20 > .large-40,
.large-20 > .large-33,
.large-20 > .large-35,
.large-20 > .large-30,
.large-20 > .large-25,
.large-20 > .large-20,
.large-20 > .large-15,
.large-20 > .large-10,
.large-20 > .large-5,
.large-15 > .large-100,
.large-15 > .large-95,
.large-15 > .large-90,
.large-15 > .large-85,
.large-15 > .large-80,
.large-15 > .large-75,
.large-15 > .large-70,
.large-15 > .large-66,
.large-15 > .large-65,
.large-15 > .large-60,
.large-15 > .large-55,
.large-15 > .large-50,
.large-15 > .large-45,
.large-15 > .large-40,
.large-15 > .large-33,
.large-15 > .large-35,
.large-15 > .large-30,
.large-15 > .large-25,
.large-15 > .large-20,
.large-15 > .large-15,
.large-15 > .large-10,
.large-15 > .large-5,
.large-10 > .large-100,
.large-10 > .large-95,
.large-10 > .large-90,
.large-10 > .large-85,
.large-10 > .large-80,
.large-10 > .large-75,
.large-10 > .large-70,
.large-10 > .large-66,
.large-10 > .large-65,
.large-10 > .large-60,
.large-10 > .large-55,
.large-10 > .large-50,
.large-10 > .large-45,
.large-10 > .large-40,
.large-10 > .large-33,
.large-10 > .large-35,
.large-10 > .large-30,
.large-10 > .large-25,
.large-10 > .large-20,
.large-10 > .large-15,
.large-10 > .large-10,
.large-10 > .large-5,
.large-5 > .large-100,
.large-5 > .large-95,
.large-5 > .large-90,
.large-5 > .large-85,
.large-5 > .large-80,
.large-5 > .large-75,
.large-5 > .large-70,
.large-5 > .large-66,
.large-5 > .large-65,
.large-5 > .large-60,
.large-5 > .large-55,
.large-5 > .large-50,
.large-5 > .large-45,
.large-5 > .large-40,
.large-5 > .large-33,
.large-5 > .large-35,
.large-5 > .large-30,
.large-5 > .large-25,
.large-5 > .large-20,
.large-5 > .large-15,
.large-5 > .large-10,
.large-5 > .large-5 {
  margin-left: 0;
}
.ink-form .column-group.gutters {
  margin-left: -3%;
}
.large-push-left {
  float: left;
}
.large-push-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.large-push-right {
  float: right;
}
.large-align-left {
  text-align: left;
}
.large-align-center {
  text-align: center;
}
.large-align-right {
  text-align: right;
}
.space {
  margin: 3%;
}
.vspace {
  margin-top: 3%;
  margin-bottom: 3%;
}
.hspace {
  margin-left: 3%;
  margin-right: 3%;
}
.icon-large {
  font-size: 1.3333333333333333em;
  margin-top: -4px;
  padding-top: 3px;
  margin-bottom: -4px;
  padding-bottom: 3px;
  vertical-align: middle;
}
.nav [class^="icon-"],
.nav [class*=" icon-"] {
  vertical-align: inherit;
  margin-top: -4px;
  padding-top: 3px;
  margin-bottom: -4px;
  padding-bottom: 3px;
}
.nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  vertical-align: -25%;
}
.nav-pills [class^="icon-"].icon-large,
.nav-tabs [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"].icon-large,
.nav-tabs [class*=" icon-"].icon-large {
  line-height: .75em;
  margin-top: -7px;
  padding-top: 5px;
  margin-bottom: -5px;
  padding-bottom: 4px;
}
.btn [class^="icon-"].pull-left,
.btn [class*=" icon-"].pull-left,
.btn [class^="icon-"].pull-right,
.btn [class*=" icon-"].pull-right {
  vertical-align: inherit;
}
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large {
  margin-top: -0.5em;
}
a [class^="icon-"],
a [class*=" icon-"] {
  cursor: pointer;
}
ul.icons {
  text-indent: -1.5em;
  margin-left: 3em;
}
.icon-glass {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf000;');
}
.icon-music {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf001;');
}
.icon-search {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf002;');
}
.icon-envelope {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf003;');
}
.icon-heart {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf004;');
}
.icon-star {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf005;');
}
.icon-star-empty {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf006;');
}
.icon-user {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf007;');
}
.icon-film {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf008;');
}
.icon-th-large {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf009;');
}
.icon-th {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00a;');
}
.icon-th-list {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00b;');
}
.icon-ok {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00c;');
}
.icon-remove {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00d;');
}
.icon-zoom-in {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf00e;');
}
.icon-zoom-out {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf010;');
}
.icon-off {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf011;');
}
.icon-signal {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf012;');
}
.icon-cog {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf013;');
}
.icon-trash {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf014;');
}
.icon-home {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf015;');
}
.icon-file {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf016;');
}
.icon-time {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf017;');
}
.icon-road {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf018;');
}
.icon-download-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf019;');
}
.icon-download {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01a;');
}
.icon-upload {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01b;');
}
.icon-inbox {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01c;');
}
.icon-play-circle {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01d;');
}
.icon-repeat {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf01e;');
}
.icon-refresh {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf021;');
}
.icon-list-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf022;');
}
.icon-lock {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf023;');
}
.icon-flag {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf024;');
}
.icon-headphones {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf025;');
}
.icon-volume-off {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf026;');
}
.icon-volume-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf027;');
}
.icon-volume-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf028;');
}
.icon-qrcode {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf029;');
}
.icon-barcode {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02a;');
}
.icon-tag {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02b;');
}
.icon-tags {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02c;');
}
.icon-book {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02d;');
}
.icon-bookmark {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02e;');
}
.icon-print {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf02f;');
}
.icon-camera {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf030;');
}
.icon-font {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf031;');
}
.icon-bold {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf032;');
}
.icon-italic {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf033;');
}
.icon-text-height {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf034;');
}
.icon-text-width {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf035;');
}
.icon-align-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf036;');
}
.icon-align-center {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf037;');
}
.icon-align-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf038;');
}
.icon-align-justify {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf039;');
}
.icon-list {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03a;');
}
.icon-indent-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03b;');
}
.icon-indent-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03c;');
}
.icon-facetime-video {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03d;');
}
.icon-picture {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf03e;');
}
.icon-pencil {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf040;');
}
.icon-map-marker {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf041;');
}
.icon-adjust {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf042;');
}
.icon-tint {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf043;');
}
.icon-edit {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf044;');
}
.icon-share {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf045;');
}
.icon-check {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf046;');
}
.icon-move {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf047;');
}
.icon-step-backward {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf048;');
}
.icon-fast-backward {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf049;');
}
.icon-backward {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04a;');
}
.icon-play {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04b;');
}
.icon-pause {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04c;');
}
.icon-stop {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04d;');
}
.icon-forward {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf04e;');
}
.icon-fast-forward {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf050;');
}
.icon-step-forward {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf051;');
}
.icon-eject {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf052;');
}
.icon-chevron-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf053;');
}
.icon-chevron-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf054;');
}
.icon-plus-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf055;');
}
.icon-minus-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf056;');
}
.icon-remove-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf057;');
}
.icon-ok-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf058;');
}
.icon-question-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf059;');
}
.icon-info-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05a;');
}
.icon-screenshot {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05b;');
}
.icon-remove-circle {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05c;');
}
.icon-ok-circle {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05d;');
}
.icon-ban-circle {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf05e;');
}
.icon-arrow-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf060;');
}
.icon-arrow-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf061;');
}
.icon-arrow-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf062;');
}
.icon-arrow-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf063;');
}
.icon-share-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf064;');
}
.icon-resize-full {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf065;');
}
.icon-resize-small {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf066;');
}
.icon-plus {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf067;');
}
.icon-minus {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf068;');
}
.icon-asterisk {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf069;');
}
.icon-exclamation-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06a;');
}
.icon-gift {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06b;');
}
.icon-leaf {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06c;');
}
.icon-fire {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06d;');
}
.icon-eye-open {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf06e;');
}
.icon-eye-close {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf070;');
}
.icon-warning-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf071;');
}
.icon-plane {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf072;');
}
.icon-calendar {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf073;');
}
.icon-random {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf074;');
}
.icon-comment {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf075;');
}
.icon-magnet {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf076;');
}
.icon-chevron-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf077;');
}
.icon-chevron-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf078;');
}
.icon-retweet {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf079;');
}
.icon-shopping-cart {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07a;');
}
.icon-folder-close {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07b;');
}
.icon-folder-open {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07c;');
}
.icon-resize-vertical {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07d;');
}
.icon-resize-horizontal {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf07e;');
}
.icon-bar-chart {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf080;');
}
.icon-twitter-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf081;');
}
.icon-facebook-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf082;');
}
.icon-camera-retro {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf083;');
}
.icon-key {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf084;');
}
.icon-cogs {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf085;');
}
.icon-comments {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf086;');
}
.icon-thumbs-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf087;');
}
.icon-thumbs-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf088;');
}
.icon-star-half {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf089;');
}
.icon-heart-empty {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08a;');
}
.icon-signout {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08b;');
}
.icon-linkedin-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08c;');
}
.icon-pushpin {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08d;');
}
.icon-external-link {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf08e;');
}
.icon-signin {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf090;');
}
.icon-trophy {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf091;');
}
.icon-github-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf092;');
}
.icon-upload-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf093;');
}
.icon-lemon {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf094;');
}
.icon-phone {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf095;');
}
.icon-check-empty {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf096;');
}
.icon-bookmark-empty {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf097;');
}
.icon-phone-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf098;');
}
.icon-twitter {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf099;');
}
.icon-facebook {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09a;');
}
.icon-github {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09b;');
}
.icon-unlock {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09c;');
}
.icon-credit-card {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09d;');
}
.icon-rss {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf09e;');
}
.icon-hdd {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a0;');
}
.icon-bullhorn {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a1;');
}
.icon-bell {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a2;');
}
.icon-certificate {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a3;');
}
.icon-hand-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a4;');
}
.icon-hand-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a5;');
}
.icon-hand-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a6;');
}
.icon-hand-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a7;');
}
.icon-circle-arrow-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a8;');
}
.icon-circle-arrow-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0a9;');
}
.icon-circle-arrow-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0aa;');
}
.icon-circle-arrow-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ab;');
}
.icon-globe {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ac;');
}
.icon-wrench {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ad;');
}
.icon-tasks {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ae;');
}
.icon-filter {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0b0;');
}
.icon-briefcase {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0b1;');
}
.icon-fullscreen {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0b2;');
}
.icon-group {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c0;');
}
.icon-link {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c1;');
}
.icon-cloud {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c2;');
}
.icon-beaker {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c3;');
}
.icon-cut {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c4;');
}
.icon-copy {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c5;');
}
.icon-paper-clip {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c6;');
}
.icon-save {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c7;');
}
.icon-sign-blank {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c8;');
}
.icon-reorder {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0c9;');
}
.icon-list-ul {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ca;');
}
.icon-list-ol {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cb;');
}
.icon-strikethrough {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cc;');
}
.icon-underline {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0cd;');
}
.icon-table {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ce;');
}
.icon-magic {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d0;');
}
.icon-truck {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d1;');
}
.icon-pinterest {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d2;');
}
.icon-pinterest-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d3;');
}
.icon-google-plus-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d4;');
}
.icon-google-plus {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d5;');
}
.icon-money {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d6;');
}
.icon-caret-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d7;');
}
.icon-caret-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d8;');
}
.icon-caret-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0d9;');
}
.icon-caret-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0da;');
}
.icon-columns {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0db;');
}
.icon-sort {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0dc;');
}
.icon-sort-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0dd;');
}
.icon-sort-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0de;');
}
.icon-envelope-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e0;');
}
.icon-linkedin {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e1;');
}
.icon-undo {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e2;');
}
.icon-legal {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e3;');
}
.icon-dashboard {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e4;');
}
.icon-comment-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e5;');
}
.icon-comments-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e6;');
}
.icon-bolt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e7;');
}
.icon-sitemap {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e8;');
}
.icon-umbrella {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0e9;');
}
.icon-paste {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ea;');
}
.icon-lightbulb {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0eb;');
}
.icon-exchange {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ec;');
}
.icon-cloud-download {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ed;');
}
.icon-cloud-upload {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0ee;');
}
.icon-user-md {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f0;');
}
.icon-stethoscope {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f1;');
}
.icon-suitcase {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f2;');
}
.icon-bell-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f3;');
}
.icon-coffee {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f4;');
}
.icon-food {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f5;');
}
.icon-file-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f6;');
}
.icon-building {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f7;');
}
.icon-hospital {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f8;');
}
.icon-ambulance {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0f9;');
}
.icon-medkit {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0fa;');
}
.icon-fighter-jet {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0fb;');
}
.icon-beer {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0fc;');
}
.icon-h-sign {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0fd;');
}
.icon-plus-sign-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf0fe;');
}
.icon-double-angle-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf100;');
}
.icon-double-angle-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf101;');
}
.icon-double-angle-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf102;');
}
.icon-double-angle-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf103;');
}
.icon-angle-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf104;');
}
.icon-angle-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf105;');
}
.icon-angle-up {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf106;');
}
.icon-angle-down {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf107;');
}
.icon-desktop {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf108;');
}
.icon-laptop {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf109;');
}
.icon-tablet {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10a;');
}
.icon-mobile-phone {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10b;');
}
.icon-circle-blank {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10c;');
}
.icon-quote-left {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10d;');
}
.icon-quote-right {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf10e;');
}
.icon-spinner {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf110;');
}
.icon-circle {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf111;');
}
.icon-reply {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf112;');
}
.icon-github-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf113;');
}
.icon-folder-close-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf114;');
}
.icon-folder-open-alt {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xf115;');
}
