// Buttons
$button-font-size       : 15px !default;
$button-text-color      : #000 !default;
$button-text-weight     : 300 !default;
$button-padding         : 8px 12px !default;
$button-background      : #eee !default;
$button-margin          : 5px !default;
$button-border-radius   : $border-radius;