// BODY
$body-background            : #f7f7f7;

// PLAIN TEXT
$text-color                 : #555;

// HEADINGS
$headings-color             : #404040;

// LINKS
$link-color                 : #6998C9;
$link-visited-color         : #808080;
$link-active-color          : shade(red,5%);
$link-hover-color           : #007ED5;
$link-focus-color           : $link-color;

$white                      : #fff;
$black                      : #000;
$orange                     : #ff9c00;
$red                        : #c91111;
$green                      : #4a9b17;
$blue                       : #0f75da;
$yellow                     : #ffd500;

$warning-bg                 : $orange;
$caution-bg                 : $red;
$error-bg                   : $red;
$success-bg                 : $green;
$info-bg                    : $blue;

$grey-95                    : tint($black, 5%);
$grey-90                    : tint($black, 10%);
$grey-85                    : tint($black, 15%);
$grey-80                    : tint($black, 20%);
$grey-75                    : tint($black, 25%);
$grey-70                    : tint($black, 30%);
$grey-65                    : tint($black, 35%);
$grey-60                    : tint($black, 40%);
$grey-55                    : tint($black, 45%);
$grey-50                    : tint($black, 50%);
$grey-45                    : tint($black, 55%);
$grey-40                    : tint($black, 60%);
$grey-35                    : tint($black, 65%);
$grey-30                    : tint($black, 70%);
$grey-25                    : tint($black, 75%);
$grey-20                    : tint($black, 80%);
$grey-15                    : tint($black, 85%);
$grey-10                    : tint($black, 90%);
$grey-5                     : tint($black, 95%);