$layer-0: 0 !default;
$layer-10: 10 !default;
$layer-20: 20 !default;
$layer-30: 30 !default;
$layer-40: 40 !default;
$layer-50: 50 !default;
$layer-60: 60 !default;
$layer-70: 70 !default;
$layer-80: 80 !default;
$layer-90: 90 !default;
$layer-100: 100 !default;

$border-radius: 2px !default;