// Images
$image-border-color: #222 !default;
$caption-background: #fff !default;
$dark-caption-background-color: #222 !default;
$dark-caption-text-color: #fff !default;
$caption-over-color: rgba(255,255,255,0.7) !default;
$dark-caption-over-color: rgba(0,0,0,0.6) !default;