// JS UI COMPONENTS

// Date picker
$calendar-bg-color          : $white;
$calendar-cell-color        : #444;
$calendar-header-bg         : $grey-5;
$calendar-cellHover         : $grey-10;
$calendar-active-bg         : #0069d6;
$calendar-active-color      : $white;
$calendar-font-size         : .875em; 
$calendar-font-weight       : 300;
$calendar-inactive-color    : $grey-20;
$calendar-padding           : .2em;

// Sortable list
$sortable-list-height       : 40px;

// Progress bars
$progress-bar-height        : 1.8em;
$progress-bar-fontSize      : .813em;
$progress-bar-color         : $black;
$progress-bar-bg            : $grey-5;

// Tooltips
$tooltip-padding: 0.5em 0.6em ;
$tooltip-background-color: rgb(240,240,240);
$tooltip-border-radius: $border-radius;
$tooltip-font-size: 0.8em;
$tooltip-text-color: rgb(140,140,140);
$tooltip-arrow-size: 6px;