// INK:NAVIGATION
$navigation-line-height     	: 1.7;
$navigation-h-padding       	: 1em;
$navigation-v-padding       	: .5em;
$navigation-padding         	: $navigation-v-padding $navigation-h-padding;
$navigation-border-radius   	: 2px;
$navigation-font-weight			: 300;
$navigation-heading-font-weight	: 500;