// INK:NAVIGATION
$navigation-line-height     	: 1.7 !default;
$navigation-h-padding       	: 1em !default;
$navigation-v-padding       	: .5em !default;
$navigation-padding         	: $navigation-v-padding $navigation-h-padding !default;
$navigation-border-radius   	: $border-radius !default;
$navigation-font-weight			: 300 !default;
$navigation-heading-font-weight	: 500 !default;