// Font stack variables

$sans-serif-font-stack      : "Roboto", Arial, sans-serif;
$serif-font-stack           : Times, "Times New Roman", serif;
$mono-font-stack            : Monaco, 'Andale Mono', 'Courier New', monospace;
$condensed-font-stack       : Roboto_condensed, Arial, sans-serif;
$slab-font-stack            : Roboto_slab, Arial, sans-serif;