$grid-container-class-name: "ink-grid";
$grid-column-group-class-name: "column-group";
$grid-gutters-class-name: "gutters";
$grid-half-gutters-class-name: "half-gutters";
$grid-quarter-gutters-class-name: "quarter-gutters";
$site-max-width: 1440px;