// INK:NAVIGATION:MENU
.#{$navigation-class-name} {

    ul {
        
        &.menu {

            // defines default theme

            @include border-radius($navigation-border-radius);
            
            > li {

                font-weight: $navigation-font-weight;

                &.active {
                    a { 
                        text-decoration: underline;
                    }
                }

                &.heading {
                    font-weight: $navigation-heading-font-weight;
                }

                &.disabled {
                    a {
                        color: $grey-30;
                        @include text-shadow(lighten($grey-40,40%) 0 1px 0);

                        &:hover {
                            cursor: default;
                            background: none;
                            text-decoration: none;
                        }
                    }
                }

                ul.submenu { 

                    li {
                        font-size: .875em;
                        a { border-bottom: 1px solid rgba($black, 0.1); }
                    }
                }
            }

            &.vertical {

                li {
                    a {
                        border-bottom: 1px solid rgba($black,0.15);
                    }
                    
                    &:first-child {
                        
                        @include border-top-radius($navigation-border-radius);

                        > a { @include border-top-radius($navigation-border-radius); }
                    }

                    &:last-child {
                        @include border-bottom-radius($navigation-border-radius);

                        > a { 
                            border-bottom: none;
                            @include border-bottom-radius($navigation-border-radius); 
                        }

                        .submenu {
                            
                            @include border-bottom-radius($navigation-border-radius);

                            &.flyout  {
                                @include border-radius($navigation-border-radius);    
                            }

                            li {

                                &:last-child {
                                    @include border-bottom-radius($navigation-border-radius);
                                    a { @include border-bottom-radius($navigation-border-radius); }
                                }
                            }
                        }
                    }
                }
            }

            &.horizontal {

                > li {

                    &:first-child {

                        @include border-left-radius($navigation-border-radius);

                        a { @include border-left-radius($navigation-border-radius); }
                    }

                    &:last-child {

                        @include border-right-radius($navigation-border-radius);

                        a { @include border-right-radius($navigation-border-radius); }
                    }

                    ul {

                        &.submenu {

                            @include border-bottom-radius($navigation-border-radius);

                            li {

                                &:last-child {

                                    @include border-bottom-radius($navigation-border-radius);
                                    a { border-bottom: none; }
                                }
                            }
                        }
                    }
                }
            }

            // defines white theme
            &.white {
                
                background: $white;
                
                li {

                    a {
                        color: $text-color;
                        text-decoration: none;

                        &:hover {                            
                            background: lighten($black,90%);
                        }
                    }

                    &.active {
                        background: lighten($black,90%);
                    }

                    &.disabled {
                        a {
                            color: $grey-40;
                            @include text-shadow(lighten($grey-40,40%) 0 1px, 0);
                        }
                    }
                }
            }
            
            // defines grey theme
            &.grey {
                
                background: $grey-15;
                
                li {

                    &.active { background: darken($grey-15,10%); }

                    &.disabled {
                        a {
                            color: $grey-40;
                            @include text-shadow(lighten($grey-40,40%) 0 1px 0);

                        }
                    }

                    a {
                        color: $text-color;
                        text-decoration: none;

                        &:hover {
                            background: darken($grey-15,10%);
                        }
                    }
                }
            }

            // defines black theme
            &.black {
                
                background: $grey-90;
                
                li {

                    &.active { background: lighten($grey-90,10%); }

                    &.disabled {
                        a {
                            color: $grey-60;
                            @include text-shadow($black 0 -1px 0);
                        }
                    }

                    a {
                        color: $white;
                        text-decoration: none;

                        &:hover {
                            background: lighten($grey-90,10%);
                        }
                    }
                }
            }

            // defines orange theme
            &.orange {
                
                background: desaturate($orange,10%);

                li {
                    
                    &.active { background: darken($orange,10%); }

                    &.disabled {
                        a {
                            color: darken($orange,20%);
                            @include text-shadow(lighten($orange,8%) 0 1px 0);
                        }
                    }

                    a {
                        color: $white;
                        text-decoration: none;

                        &:hover {
                            background: darken($orange,10%);
                        }
                    }
                }
            }

            // defines blue theme
            &.blue {
                
                background: desaturate($blue,10%);
                
                li {

                    &.active { background: darken($blue,10%); }

                    &.disabled {
                        a {
                            color: darken($blue,20%); 
                            @include text-shadow(lighten($blue,8%) 0 1px 0);
                        }
                    }

                    a {
                        color: $white;
                        text-decoration: none;

                        &:hover {
                            background: darken($blue,10%);
                        }
                    }
                }
            }

            // defines green theme
            &.green {

                background: desaturate($green,10%);
                
                li {

                    &.active { background: darken($green,10%); }

                    &.disabled {
                        a {
                            color: darken($green,20%);
                            @include text-shadow(lighten($green,6%) 0 1px 0);
                        }
                    }

                    a {
                        color: $white;
                        text-decoration: none;

                        &:hover {
                            background: darken($green,10%);
                        }
                    }
                }
            }

            // defines red theme
            &.red {

                background: desaturate($red,10%);
                
                li {

                    &.active { background: darken($red,10%); }

                    &.disabled {
                        a {
                            color: darken($red,25%); 
                            @include text-shadow(lighten($red,8%) 0 1px 0);
                        }
                    }

                    a {
                        color: $white;
                        text-decoration: none;

                        &:hover {
                            background: darken($red,10%);
                        }
                    }
                }
            }

            // defines submenu for themes

            &.black, &.grey, &.white, &.blue, &.green, &.orange, &.red {

                li {    
                    
                    ul.submenu { 

                        background: $white;
                        border: 1px solid rgba($black, 0.1);
                        li a { 
                            color: $text-color; 
                            &:hover { background: rgba($black, 0.05); }
                        }
                    }

                    &.disabled a:hover { background: none; }
                }
            }
        }
    }
}