{{#if examples}}
<p class="example-title">Example</p>
{{#each examples}}  
<div class="example bottom-space">
{% highlight html %}{% raw %}{{{this}}}{% endraw %}{% endhighlight %}
</div>
{{/each}}
{{/if}}

