/*  |||||||||||||||||||||||||||||  Base Sizes   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* INK:TABLES */
/* Functions */
.ink-warning {
  background-color: #ff9c00;
  color: #fff;
}
.ink-caution {
  background-color: #cd0000;
  color: #fff;
}
.ink-info {
  background-color: #0f8bda;
  color: #fff;
}
.ink-success {
  background-color: #85bd11;
  color: #fff;
}
.ink-size-s {
  font-size: 0.75em;
}
.ink-size-l {
  font-size: 1.2em;
}
.ink-size-xl {
  font-size: 1.45em;
}
