/*  |||||||||||||||||||||||||||||  Base Sizes   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* Functions */
.ink-warning {
  background-color: #ff9c00;
  color: #fff;
}
.ink-error {
  background-color: #cd0000;
  color: #fff;
}
.ink-info {
  background-color: #0f8bda;
  color: #fff;
}
.ink-success {
  background-color: #85bd11;
  color: #fff;
}
.ink-small {
  font-size: 0.90em;
}
.ink-medium {
  font-size: 1.25em;
}
.ink-large {
  font-size: 1.5em;
}
