@import url(grids/small.css) (max-width: 650px);

@import url(grids/medium.css) (min-width: 651px) and (max-width: 900px);

@import url(grids/large.css) (min-width: 901px);
/*  |||||||||||||||||||||||||||||  Base Sizes   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* INK                   :TABLES */
/* Functions */
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
}
.ink-clearfix:after,
.ink-container:after,
.ink-section:after,
.ink-space:after,
.ink-l100:after,
.ink-m100:after,
.ink-s100:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
/* Customize these breakpoints */
/* Customize these breakpoints */
/* Customize these breakpoints */
.ink-space {
  margin: 32px;
}
.ink-vspace {
  margin-top: 32px;
  margin-bottom: 32px;
}
.ink-hspace {
  margin-left: 16px;
  margin-right: 16px;
}
.ink-rspace {
  margin-right: 16px;
}
.ink-lspace {
  margin-left: 16px;
}
.ink-section {
  margin: 1em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}
.ink-clear,
.ink-g100,
.ink-section {
  clear: both;
}
.ink-clear-left {
  clear: left;
}
.ink-clear-right {
  clear: right;
}
