/*  |||||||||||||||||||||||||||||  Base Sizes   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* INK                   :TABLES */
/* Functions */
.ink-clearfix,
.ink-container,
.ink-section,
.ink-space,
.ink-g100 {
  zoom: 1;
}
.h_navigation li {
  list-style: none!important;
  display: inline;
}
.ink-g100 {
  width: 99.9% !important;
}
.ink-g90 {
  width: 89.9% !important;
}
.ink-g80 {
  width: 79.9% !important;
}
.ink-g75 {
  width: 74.9% !important;
}
.ink-g70 {
  width: 69.9% !important;
}
.ink-g66 {
  width: 66.56% !important;
}
.ink-g60 {
  width: 59.9% !important;
}
.ink-g50 {
  width: 49.7% !important;
}
.ink-g40 {
  width: 39.9% !important;
}
.ink-g33 {
  width: 33.23% !important;
}
.ink-g30 {
  width: 29.9% !important;
}
.ink-g25 {
  width: 24.9% !important;
}
.ink-g20 {
  width: 19.9% !important;
}
.ink-g10 {
  width: 9.9% !important;
}
.e_wrap.error,
form .warning {
  background: transparent!important;
}
.error input {
  border: 1px solid red!important;
}
.block-alert-msg .close {
  position: absolute;
  right: 0px;
  top: 0px;
}
.block-alert-msg {
  background: #fefbf3;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefbf3', endColorstr='#fefbf3');
  background: -moz-linear-gradient(top, #fefbf3 0%, #fefbf3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefbf3), color-stop(100%, #fefbf3));
  background: -webkit-linear-gradient(top, #fefbf3 0%, #fefbf3 100%);
  background: -o-linear-gradient(top, #fefbf3 0%, #fefbf3 100%);
  background: -ms-linear-gradient(top, #fefbf3 0%, #fefbf3 100%);
  background: linear-gradient(top, #fefbf3 0%, #fefbf3 100%);
  border: 1px solid #eee;
  padding: 0px;
  position: relative;
}
.block-alert-msg p {
  zoom: 1;
  z-index: 9;
  color: #444;
}
.ink-button,
.btn_success,
.btn_info,
.btn_delete {
  font-size: 1em;
  font-weight: bold;
  padding: 0.45em 0.8em;
  float: none;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #fff;
  background: #eeeeee;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#c8c8c8');
  background: -moz-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  border-color: #c8c8c8;
  border-bottom-color: #aeaeae;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0 #ffffff;
  margin: 5px;
  text-decoration: none;
}
.ink-button:hover,
.btn_success:hover,
.btn_info:hover,
.btn_delete:hover {
  background: #ffffff;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c8c8c8');
  background: -moz-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
.ink-button:active,
.btn_success:active,
.btn_info:active,
.btn_delete:active {
  background: #dcdcdc;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#ffffff');
  background: -moz-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdcdc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
input.btn_success,
.btn_success {
  color: #fff;
  background: #9dce62;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce62', endColorstr='#77ad36');
  background: -moz-linear-gradient(top, #9dce62 0%, #77ad36 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dce62), color-stop(100%, #77ad36));
  background: -webkit-linear-gradient(top, #9dce62 0%, #77ad36 100%);
  background: -o-linear-gradient(top, #9dce62 0%, #77ad36 100%);
  background: -ms-linear-gradient(top, #9dce62 0%, #77ad36 100%);
  background: linear-gradient(top, #9dce62 0%, #77ad36 100%);
  border-color: #77ad36;
  border-bottom-color: #5d872a;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
input.btn_success:hover,
.btn_success:hover {
  background: #b5da89;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5da89', endColorstr='#77ad36');
  background: -moz-linear-gradient(top, #b5da89 0%, #77ad36 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5da89), color-stop(100%, #77ad36));
  background: -webkit-linear-gradient(top, #b5da89 0%, #77ad36 100%);
  background: -o-linear-gradient(top, #b5da89 0%, #77ad36 100%);
  background: -ms-linear-gradient(top, #b5da89 0%, #77ad36 100%);
  background: linear-gradient(top, #b5da89 0%, #77ad36 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
input.btn_success:active,
.btn_success:active {
  background: #8cc647;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cc647', endColorstr='#aed67d');
  background: -moz-linear-gradient(top, #8cc647 0%, #aed67d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8cc647), color-stop(100%, #aed67d));
  background: -webkit-linear-gradient(top, #8cc647 0%, #aed67d 100%);
  background: -o-linear-gradient(top, #8cc647 0%, #aed67d 100%);
  background: -ms-linear-gradient(top, #8cc647 0%, #aed67d 100%);
  background: linear-gradient(top, #8cc647 0%, #aed67d 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
input.btn_info,
.btn_info {
  color: #fff;
  background: #479cd8;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#479cd8', endColorstr='#2575ae');
  background: -moz-linear-gradient(top, #479cd8 0%, #2575ae 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #479cd8), color-stop(100%, #2575ae));
  background: -webkit-linear-gradient(top, #479cd8 0%, #2575ae 100%);
  background: -o-linear-gradient(top, #479cd8 0%, #2575ae 100%);
  background: -ms-linear-gradient(top, #479cd8 0%, #2575ae 100%);
  background: linear-gradient(top, #479cd8 0%, #2575ae 100%);
  border-color: #2575ae;
  border-bottom-color: #1c5984;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
input.btn_info:hover,
.btn_info:hover {
  background: #71b3e1;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#71b3e1', endColorstr='#2575ae');
  background: -moz-linear-gradient(top, #71b3e1 0%, #2575ae 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #71b3e1), color-stop(100%, #2575ae));
  background: -webkit-linear-gradient(top, #71b3e1 0%, #2575ae 100%);
  background: -o-linear-gradient(top, #71b3e1 0%, #2575ae 100%);
  background: -ms-linear-gradient(top, #71b3e1 0%, #2575ae 100%);
  background: linear-gradient(top, #71b3e1 0%, #2575ae 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
input.btn_info:active,
.btn_info:active {
  background: #2c8ccf;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c8ccf', endColorstr='#64acde');
  background: -moz-linear-gradient(top, #2c8ccf 0%, #64acde 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c8ccf), color-stop(100%, #64acde));
  background: -webkit-linear-gradient(top, #2c8ccf 0%, #64acde 100%);
  background: -o-linear-gradient(top, #2c8ccf 0%, #64acde 100%);
  background: -ms-linear-gradient(top, #2c8ccf 0%, #64acde 100%);
  background: linear-gradient(top, #2c8ccf 0%, #64acde 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
input.btn_delete,
.btn_delete {
  color: #fff;
  background: #eb6363;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb6363', endColorstr='#e21f1f');
  background: -moz-linear-gradient(top, #eb6363 0%, #e21f1f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb6363), color-stop(100%, #e21f1f));
  background: -webkit-linear-gradient(top, #eb6363 0%, #e21f1f 100%);
  background: -o-linear-gradient(top, #eb6363 0%, #e21f1f 100%);
  background: -ms-linear-gradient(top, #eb6363 0%, #e21f1f 100%);
  background: linear-gradient(top, #eb6363 0%, #e21f1f 100%);
  border-color: #e21f1f;
  border-bottom-color: #b71717;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
input.btn_delete:hover,
.btn_delete:hover {
  background: #f19090;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f19090', endColorstr='#e21f1f');
  background: -moz-linear-gradient(top, #f19090 0%, #e21f1f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f19090), color-stop(100%, #e21f1f));
  background: -webkit-linear-gradient(top, #f19090 0%, #e21f1f 100%);
  background: -o-linear-gradient(top, #f19090 0%, #e21f1f 100%);
  background: -ms-linear-gradient(top, #f19090 0%, #e21f1f 100%);
  background: linear-gradient(top, #f19090 0%, #e21f1f 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
input.btn_delete:active,
.btn_delete:active {
  background: #e74343;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e74343', endColorstr='#ef8383');
  background: -moz-linear-gradient(top, #e74343 0%, #ef8383 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e74343), color-stop(100%, #ef8383));
  background: -webkit-linear-gradient(top, #e74343 0%, #ef8383 100%);
  background: -o-linear-gradient(top, #e74343 0%, #ef8383 100%);
  background: -ms-linear-gradient(top, #e74343 0%, #ef8383 100%);
  background: linear-gradient(top, #e74343 0%, #ef8383 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
#topbar h1 a {
  text-decoration: none!important;
}
