/*  |||||||||||||||||||||||||||||  Base Sizes   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* INK                   :TABLES */
/* Functions */
.ink-clearfix,
.ink-container,
.ink-space,
.ink-g100 {
  zoom: 1;
}
.h_navigation li {
  list-style: none!important;
  display: inline;
}
.block-alert-msg .close {
  position: absolute;
  right: 0px;
  top: 0px;
}
.block-alert-msg {
  border: 1px solid #eee;
  position: relative;
}
#topbar h1 a {
  text-decoration: none!important;
}
