/*  |||||||||||||||||||||||||||||  Base Sizes   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* Functions */
table.ink-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: none;
}
table.ink-table thead tr th {
  padding: 0 10px;
  border-bottom: #cccccc 1px solid;
  background: none;
  font-weight: 700;
  line-height: 2;
}
table.ink-table tbody tr td {
  padding: 0 10px;
  border-bottom: #cccccc 1px solid;
  background: none;
  line-height: 2;
}
table.ink-table.ink-zebra tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
table.ink-table.ink-hover tbody tr:hover {
  background: #f9f9f9;
  cursor: pointer;
}
table.ink-table.ink-columns thead tr th {
  border-left: #cccccc 1px solid;
}
table.ink-table.ink-columns tbody tr td {
  border-left: #cccccc 1px solid;
}
