* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  height: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: Ubuntu_monospaced, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  width: auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 650px) {
  .ink-grid {
    width: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1.5em;
  }

  .small-5 {
    width: 5%;
  }

  .small-10 {
    width: 10%;
  }

  .small-15 {
    width: 15%;
  }

  .small-20 {
    width: 20%;
  }

  .small-25 {
    width: 25%;
  }

  .small-30 {
    width: 30%;
  }

  .small-33 {
    width: 33.33%;
  }

  .small-35 {
    width: 35%;
  }

  .small-40 {
    width: 40%;
  }

  .small-45 {
    width: 45%;
  }

  .small-50 {
    width: 50%;
  }

  .small-55 {
    width: 55%;
  }

  .small-60 {
    width: 60%;
  }

  .small-65 {
    width: 65%;
  }

  .small-66 {
    width: 66.66%;
  }

  .small-70 {
    width: 70%;
  }

  .small-75 {
    width: 75%;
  }

  .small-80 {
    width: 80%;
  }

  .small-85 {
    width: 85%;
  }

  .small-90 {
    width: 90%;
  }

  .small-95 {
    width: 95%;
  }

  .small-100 {
    width: 100%;
  }

  .column-group {
    clear: both;
    zoom: 1;
  }
  .column-group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .column-group.gutters {
    margin-left: -1.5em;
  }

  .column-group.half-gutters {
    margin-left: -0.75em;
  }
}
@media screen and (min-width: 651px) and (max-width: 959px) {
  .ink-grid {
    width: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1.75em;
  }

  .medium-5 {
    width: 5%;
  }

  .medium-10 {
    width: 10%;
  }

  .medium-15 {
    width: 15%;
  }

  .medium-20 {
    width: 20%;
  }

  .medium-25 {
    width: 25%;
  }

  .medium-30 {
    width: 30%;
  }

  .medium-33 {
    width: 33.33%;
  }

  .medium-35 {
    width: 35%;
  }

  .medium-40 {
    width: 40%;
  }

  .medium-45 {
    width: 45%;
  }

  .medium-50 {
    width: 50%;
  }

  .medium-55 {
    width: 55%;
  }

  .medium-60 {
    width: 60%;
  }

  .medium-65 {
    width: 65%;
  }

  .medium-66 {
    width: 66.66%;
  }

  .medium-70 {
    width: 70%;
  }

  .medium-75 {
    width: 75%;
  }

  .medium-80 {
    width: 80%;
  }

  .medium-85 {
    width: 85%;
  }

  .medium-90 {
    width: 90%;
  }

  .medium-95 {
    width: 95%;
  }

  .medium-100 {
    width: 100%;
  }

  .column-group {
    clear: both;
    zoom: 1;
  }
  .column-group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .column-group.gutters {
    margin-left: -1.75em;
  }

  .column-group.half-gutters {
    margin-left: -0.875em;
  }
}
@media screen and (min-width: 1200px) {
  .ink-grid {
    width: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2.25em;
  }

  .extra-large-5 {
    width: 5%;
  }

  .extra-large-10 {
    width: 10%;
  }

  .extra-large-15 {
    width: 15%;
  }

  .extra-large-20 {
    width: 20%;
  }

  .extra-large-25 {
    width: 25%;
  }

  .extra-large-30 {
    width: 30%;
  }

  .extra-large-33 {
    width: 33.33%;
  }

  .extra-large-35 {
    width: 35%;
  }

  .extra-large-40 {
    width: 40%;
  }

  .extra-large-45 {
    width: 45%;
  }

  .extra-large-50 {
    width: 50%;
  }

  .extra-large-55 {
    width: 55%;
  }

  .extra-large-60 {
    width: 60%;
  }

  .extra-large-65 {
    width: 65%;
  }

  .extra-large-66 {
    width: 66.66%;
  }

  .extra-large-70 {
    width: 70%;
  }

  .extra-large-75 {
    width: 75%;
  }

  .extra-large-80 {
    width: 80%;
  }

  .extra-large-85 {
    width: 85%;
  }

  .extra-large-90 {
    width: 90%;
  }

  .extra-large-95 {
    width: 95%;
  }

  .extra-large-100 {
    width: 100%;
  }

  .column-group {
    clear: both;
    zoom: 1;
  }
  .column-group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .column-group.gutters {
    margin-left: -2.25em;
  }

  .column-group.half-gutters {
    margin-left: -1.125em;
  }
}
.ink-grid {
  width: auto;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2em;
}

.large-5 {
  width: 5%;
}

.large-10 {
  width: 10%;
}

.large-15 {
  width: 15%;
}

.large-20 {
  width: 20%;
}

.large-25 {
  width: 25%;
}

.large-30 {
  width: 30%;
}

.large-33 {
  width: 33.33%;
}

.large-35 {
  width: 35%;
}

.large-40 {
  width: 40%;
}

.large-45 {
  width: 45%;
}

.large-50 {
  width: 50%;
}

.large-55 {
  width: 55%;
}

.large-60 {
  width: 60%;
}

.large-65 {
  width: 65%;
}

.large-66 {
  width: 66.66%;
}

.large-70 {
  width: 70%;
}

.large-75 {
  width: 75%;
}

.large-80 {
  width: 80%;
}

.large-85 {
  width: 85%;
}

.large-90 {
  width: 90%;
}

.large-95 {
  width: 95%;
}

.large-100 {
  width: 100%;
}

.column-group {
  clear: both;
  zoom: 1;
}
.column-group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.column-group.gutters {
  margin-left: -2em;
}

.column-group.half-gutters {
  margin-left: -1em;
}
