// Import Compass Core
@import "contrib/compass/css3";
@import "contrib/compass/utilities";
@import "contrib/compass/typography";


// Import Ink
@import "config/common";
@import "config/colors"; 

// Variables
$themeBackground            : #DEEDF1;
$topbar-fontSize            : 14px;      
$topbar-bgColor             : #222;
$topbar-color               : #BBB;
$topbar-colorHover          : $white;
$img-path                   : "../img/";

.page-header {
    
    padding: 3em 0 2em;
    font-size: 1.25em;

    p {
        margin-top:.5em;
    }
}

#topbar {   
    position: fixed;
    width: 100%;
    background: $topbar-bgColor;
    z-index: $layer-100;
    -webkit-transform: scale3d(1,1,1); // Solves weird “redraw behavior” involving anchor links and fixed positioned elements in chrome.
    
    .ink-navigation {
    
        ul {
        
            li {
                font-size: $topbar-fontSize;
                a {
                    *height:auto;
                    color:$topbar-color;
                    padding: .7em 1em;
                    line-height: $base-line-height;
                    @include transition-property(color);
                    @include transition-duration(140ms);
                    @include transition-timing-function(ease-in);
                    font-weight: 300;
                    text-transform: uppercase;
                    
                    &:hover {
                        color:$topbar-colorHover;
                    }

                    &.logoPlaceholder {
                        font-size: 1.8em;
                        font-weight: bold;
                        padding: .4em 0;
                        margin-right: .5em;

                        &:hover {
                            background: none;
                        }                            
                    }

                    &.fa-bars {
                        font-size: 21px;
                        padding: .46em 0;
                        margin-right: .8em;

                        &:hover {
                            background: none;
                        }           
                    }
                }

                &.active {
                    a {
                        @include background-image(linear-gradient(darken($topbar-bgColor, 10%), lighten($topbar-bgColor, 10%) 100%));
                        @include box-shadow(rgba(255, 255, 255, 0.3) 0 0 2px 0);
                        color:$white;
                    }
                }
            }
            
            &.black {
                &.flat {
                    background:$topbar-bgColor;  
                    filter:none;
                    @include box-shadow(none);
                }
            }
        }
    
    }

    .border {
        height:.3em;
        background: url("#{$img-path}home_bkg.png") center 0px;
        @include background-image(linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57));
        margin: 0;
        clear: both;
    }
}

.sidebar {
    &.ink-navigation {
        ul.menu.vertical {
            li {

                text-transform: uppercase;
                
                &.heading {
                    font-weight: normal;
                    margin-top: 1em;
                    padding: 1em 0 .3em;
                    border-top: 1px solid #ddd;
                }

                &.search {
                
                    position: relative;
                    
                    input[type=search] {
                        width: 100%;
                        border: 1px solid #DDD;
                        padding: .4em .6em .4em 1.9em;
                        font-size: 14px;
                        @include border-radius(2px);
                        @include box-sizing(border-box);
                    }

                    .fa-search {
                        font-size: 14px;
                        position: absolute;
                        top: .7em;
                        left: .6em;
                    }

                    #search-dropdown {
                        width: 100%;
                        .dropdown-menu {                            
                            li {
                                float: none;
                                width: 100%;
                            }
                        }
                    }
                }

                a {
                    font-size: .875em;
                    padding: .3em 0;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-bottom: none;
                }
            }
        }
    }
}

.panel {
    @include border-radius($border-radius);
    @include box-shadow(#DDD 0 1px 1px 0);
    border:1px solid #BBB;
    background-color: #FFF;
    padding: 1em;
    margin-top:1em;
}

body.ink-drawer {
    .left-drawer,
    .right-drawer {
        background: #222;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    li {
        display: block;
        margin: 0;
        font-weight: 300;

        &.search {
                
            position: relative;
            margin: 15px;
            
            input[type=search] {
                width: 100%;
                border: 1px solid #DDD;
                padding: .4em .6em .4em 1.9em;
                font-size: 14px;
                @include border-radius(2px);
                @include box-sizing(border-box);
            }

            .fa-search {
                font-size: 14px;
                position: absolute;
                top: .7em;
                left: .6em;
            }

            #search-dropdown {
                width: 100%;
                .dropdown-menu {                            
                    li {
                        float: none;
                        width: 100%;
                    }
                }
            }
        }

        &.heading {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            text-transform: uppercase;
            color: #f0f0f0;
            font-size: 1.125em;
            padding: 15px;
            margin-top: 1em;
            font-weight: 400;

            &:first-child {
                border-top: none;
                margin-top: 0;
            }
        }
        
        & > a {
            display: block;
            padding: 6px 15px;
            text-shadow: 0 1px 0 #000;
            text-decoration: none;
            text-transform: uppercase;
            color: #bbb;
            @include transition-property(color, background);
            @include transition-duration(140ms);
            @include transition-timing-function(ease-in);

            &:hover {
                color: #FFF;
                background: #333;
            }
        }
    }
    }
}
