.ink-form {

    fieldset {
        border: none;
        margin-bottom: 1.5em;
        padding: 0;

        legend {
            font-size: 1.438em;
            font-weight: 700;
            width: 100%;
            border-bottom:1px solid #ddd;

            & + * {
                -webkit-margin-top-collapse: separate; // webkit hack that makes the legend margins work like they should
                margin: 2em 0;
            }
        }
    }

    input,
    textarea,
    select {
        #ink > #border-radius > .all (@border-radius);
        padding: @form-field-padding;
        border: 1px solid darken(@form-field-borderColor,10%);
        resize: none;
        font-size: @form-field-fontSize;
        background: @form-field-bg;
        vertical-align: middle;

        &:focus {
            #ink > #forms > .input_focus (@focusBlurSize, @focusColor);
            outline: 0 none;
        }
    }

    button {
        margin: 0 5px;
    }

    select {
        line-height: 2;
    }

    textarea {
        min-height: 5em;
    }

    .control,
    .control-group {
        p.tip {
            font-size: .875em;
            color: lighten(@text-color,35%);
            position: relative;
            margin: .3em 0 0 0.1em;
        }
    }


    .control {          

        line-height: 2;
        margin-bottom: 0.5em;

        span {
            display:block;

            & > input,
            & > select,
            & > textarea {
                width:100%;
            }
        }

        &.required {
            label:after {
                content: "\f069";
                color: @error-bg;
                font-size: 0.8em;
                margin-left: .8em;
                font-family: FontAwesome;
                width: 1.25em;
            }
        }

        &.validation {

            &.error {
                input, textarea, select {
                    #ink > #forms > .input_focus (@focusBlurSize, @errorColor);
                }

                p {
                    &.tip {
                        color: darken(@errorColor,10%);
                    }
                }
            }

            &.warning {
                input, textarea, select {
                    #ink > #forms > .input_focus (@focusBlurSize, @warningColor);
                }

                p {
                    &.tip {
                        color: darken(@warningColor,10%);
                    }
                }
            }
        }
    }

    .control-group {

        input[type="radio"],
        input[type="checkbox"] {
            line-height: 2;
            padding: 0;
            border: none;
            margin-top: 0.55em;
            clear: left;
            float: left;

            & + label,
            & + label {
                float: left;
                line-height: 2.5;
                margin-left: 0.55em;
                margin-top: -.4em;
            }
        }

        p.label {
            color: @text-color;
        }

        &.validation {  

            &.error {

                input, textarea, select {
                    #ink > #forms > .input_focus (@focusBlurSize, @errorColor);
                }

                & + p {

                    &.tip {
                        color: darken(@errorColor,10%);
                    }
                }
            }

            &.warning {
                input, textarea, select {
                    #ink > #forms > .input_focus (@focusBlurSize, @warningColor);
                }

                & + p {

                    &.tip {
                        color: darken(@warningColor,10%);                               
                    }
                }
            }
        }

        &.required {
            
            p {
 
                &.label {
                    color: @text-color;

                    &:after {
                        content: "\f069";
                        color: @error-bg;
                        margin-left: 0.8em;
                        font-family: FontAwesome;
                        width: 1.25em;
                    }
                }
            }
        }
    }
}