body {
	background: @body-background
}

.ink-container {
	width: @ink-site-width;
	padding: 0 @ink-grid-gutter;
	margin: @ink-container-margin;
	overflow:visible;
}

caption, th { text-align:left; } 

.ink-row:after,
.ink-clear:after,
.ink-container:after,
.ink-section:after,
.ink-space:after,
.ink-hspace:after,
.ink-vspace:after,
.ink-l100:after,
.ink-m100:after,
.ink-s100:after,
.ink-navigation:after {
	content: "."; 
	display: block;
	height: 0; 
	clear: both; 
	visibility: hidden; 
	zoom: 1
}

.ink-space 	{ margin: @ink-grid-gutter; *overflow:hidden; *clear:both}
.ink-vspace { margin-top: @ink-grid-gutter; margin-bottom: @ink-grid-gutter; *zoom: 1;}
.ink-hspace { margin-left: @ink-grid-gutter; margin-right: @ink-grid-gutter; *zoom: 1;}
.ink-gutter { margin-left: @ink-grid-gutter; *overflow: hidden; *zoom: 1;}

.ink-row { 
	margin-left: -@ink-grid-gutter; 
	*zoom: 1;
}

.ink-section 			{ margin: 1em 0; padding-bottom: 1em; border-bottom: 1px solid #ccc; *overflow:hidden; *clear:both;}
.ink-section:last-child { border-bottom: none;}

.ink-clear,
.ink-section		{ clear: both; }
.ink-clear-left		{ clear: left; }
.ink-clear-right	{ clear: right; }
.ink-float-left		{ float:left; }
.ink-float-right	{ float:right; }