.ink-navigation {

	.breadcrumbs {

		#ink > #border-radius > .all (8px);
		#ink > #shadows > .box-shadow (0,1px,2px,0,fade(@grey-50,50%));
		#ink > #gradients > .gradient (@white, darken(@white,5%), 150%);
		background: @white;

		li {

			line-height: 2.5;
			display: inline;

			a {

				display: inline;
				padding: 0;


				&:hover {
					background: transparent;
					color: @link-hover-color;
					text-decoration: underline;
				}
			}

			&.active {
				a {
					color: @grey-50;
					cursor: default;
					text-decoration: none;
				}
			}

			&:first-child {
				a {
					padding-left: 1.2em;
				}
			}

			&:after {
				content: '/';
	            display: inline;
	            margin: 0 1em;
	            color: #b3b3b3;
			}
			
			&:last-child:after {
	            content: '';
	            display: none;
			}
		}
	}
}