@import url('conf.less');
@import url('lib.less');

@media only screen and (max-device-width: 320px) {
	html body {font-size: 16px; width: 100%;}
	.siteWidth {width: 100%; padding:0px}
	
	html {-webkit-text-size-adjust: none;}
	.megaheader {display: none;}
	.topbar {position:fixed}
	.topbar .nav {
		display: none;
		width: auto;
		position:absolute;
		right:10px;
		top:110px;
		width: 60%;
		background: #000;
		padding:0px!important;
		.round-corners(14px);
		.box-shadow("0 4px 10px #000");
				
	}
	.topbar .nav li{display: block; padding:0px !important}
	.topbar .nav li a {font-size: 45px; display: block;	padding:.8em 1.8em!important;  margin:0px!important; border-bottom: 1px solid #444;}
	.topbar .content{.gradient(darken(@tobBar-Bg-Color, 10%), lighten(@tobBar-Bg-Color, 10%), 100%);}
	.topbar #toggleNavigation {
		float:right;
		display: block;
		padding:0em 1.5em; 
		line-height: 2.4em;
		.gradient(lighten(@tobBar-Bg-Color, 10%), darken(@tobBar-Bg-Color, 10%),  100%);
		border-right: 1px solid #292929;
		border-left: 1px solid #292929;
		.box-shadow("0 -4px 10px #000, 0 0px 2px rgba( 255, 255, 255, 0.3)");
		font-weight: bold;
		margin:5px 10px;
		.i-round-corners(.2em, .2em, 0,0);
	}
	.topbar #toggleNavigation.active {background-color: #000;}

	.topbar h1 {background: transparent!important; padding:5px 15px!important }
	.topbar h1 a{ color:#fff!important; }
	.topbar.fixed {position:static}
	
	.g90, .g80, .g75, .g70, .g66, .g60, .g50, .g40,.g33, .g30, .g25, .g20, .g10 {float:none; width: 100%!important;}
	


}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	html body {width: 480px;}
}