---
layout: js-documentation
title: Ink.Util.Date_1
description: Date utility functions
site_root:  ../
---
    <section><p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please read how to use it at <a href="/javascript/Ink/#Ink_1-Ink_1-requireModules">Ink.requireModules section</a></p>

    <h2 class="fw-300 class-name">
        Ink.Util.Date_1 <i>class</i>
        
    </h2><table class="props bottom-space"><caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>
                    <a href="#Ink_Util_Date_1-Ink_Util_Date_1-get">.get(format, [_date])
</a>
                </td>
                <td> Formats a date object.</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Date_1-Ink_Util_Date_1-set">.set([format], str_date)
</a>
                </td>
                <td> Creates a date object based on a format string.</td>
            </tr></tbody>
    </table>
    
</section>



    <section id="Ink_Util_Date_1-Ink_Util_Date_1-get" class="box box-function">
    <h1 class="fw-300 function-desc">.get(format, [_date])

    <i>method</i></h1><p class="text">Formats a date object.<br>This works exactly as php date() function. <a href="http://php.net/manual/en/function.date.php">http://php.net/manual/en/function.date.php</a></p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1">
                <p>format
                    <span class="label mandatory"></span><span class="label string"></span></p>
                The format in which the date it will be formatted.</li>
            <li class="level1">
                <p>_date
                    <span class="label date"></span></p>
                The date to format. Can receive unix timestamp or a date object. Defaults to current time.</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><span class="label string"></span> </p>Formatted date
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Date_get.html %}
	</section>

    <section id="Ink_Util_Date_1-Ink_Util_Date_1-set" class="box box-function">
    <h1 class="fw-300 function-desc">.set([format], str_date)

    <i>method</i></h1><p class="text">Creates a date object based on a format string.<br>This works exactly as php date() function. <a href="http://php.net/manual/en/function.date.php">http://php.net/manual/en/function.date.php</a></p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1">
                <p>format
                    <span class="label string"></span></p>
                The format in which the date will be formatted. Defaults to 'Y-m-d'</li>
            <li class="level1">
                <p>str_date
                    <span class="label mandatory"></span><span class="label string"></span></p>
                The date formatted.</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><span class="label date"></span> </p>Date object based on the formatted date and format
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Date_set.html %}
	</section>



    
