{
	"env": {
		"browser": true,
		"node": false,
		"amd": false,
		"mocha": false,
		"jasmine": false
		},
	"rules": {
		"no-alert": false,
		"no-array-constructor": false,
		"no-bitwise": false,
		"no-caller": false,
		"no-catch-shadow": false,
		"no-comma-dangle": false,
		"no-cond-assign": false,
		"no-console": false,
		"no-constant-condition": false,
		"no-control-regex": false,
		"no-debugger": false,
		"no-delete-var": false,
		"no-div-regex": false,
		"no-dupe-keys": false,
		"no-else-return": false,
		"no-empty": false,
		"no-empty-class": false,
		"no-empty-label": false,
		"no-eq-null": false,
		"no-eval": false,
		"no-ex-assign": false,
		"no-extend-native": false,
		"no-extra-bind": false,
		"no-extra-boolean-cast": false,
		"no-extra-parens": false,
		"no-extra-semi": false,
		"no-extra-strict": false,
		"no-fallthrough": false,
		"no-floating-decimal": false,
		"no-func-assign": false,
		"no-implied-eval": false,
		"no-inner-declarations": false,
		"no-invalid-regexp": false,
		"no-iterator": false,
		"no-label-var": false,
		"no-labels": false,
		"no-lone-blocks": false,
		"no-lonely-if": false,
		"no-loop-func": false,
		"no-mixed-requires": false,
		"no-mixed-spaces-and-tabs": false,
		"no-multi-spaces": false,
		"no-multi-str": false,
		"no-multiple-empty-lines": false,
		"no-native-reassign": false,
		"no-negated-in-lhs": false,
		"no-nested-ternary": false,
		"no-new": false,
		"no-new-func": false,
		"no-new-object": false,
		"no-new-require": false,
		"no-new-wrappers": false,
		"no-obj-calls": false,
		"no-octal": false,
		"no-octal-escape": false,
		"no-path-concat": false,
		"no-plusplus": false,
		"no-process-env": false,
		"no-process-exit": false,
		"no-proto": false,
		"no-redeclare": false,
		"no-regex-spaces": false,
		"no-reserved-keys": false,
		"no-restricted-modules": false,
		"no-return-assign": false,
		"no-script-url": false,
		"no-self-compare": false,
		"no-sequences": false,
		"no-shadow": false,
		"no-shadow-restricted-names": false,
		"no-space-before-semi": false,
		"no-spaced-func": false,
		"no-sparse-arrays": false,
		"no-sync": false,
		"no-ternary": false,
		"no-trailing-spaces": false,
		"no-undef": false,
		"no-undef-init": false,
		"no-undefined": false,
		"no-underscore-dangle": false,
		"no-unreachable": false,
		"no-unused-expressions": false,
		"no-unused-vars": false,
		"no-use-before-define": false,
		"no-void": false,
		"no-warning-comments": false,
		"no-with": false,
		"no-wrap-func": false,
		"block-scoped-var": false,
		"brace-style": false,
		"camelcase": false,
		"comma-style": false,
		"complexity": false,
		"consistent-return": false,
		"consistent-this": false,
		"curly": false,
		"default-case": false,
		"dot-notation": false,
		"eol-last": false,
		"eqeqeq": false,
		"func-names": false,
		"func-style": false,
		"global-strict": false,
		"guard-for-in": false,
		"handle-callback-err": false,
		"key-spacing": false,
		"max-depth": false,
		"max-len": false,
		"max-nested-callbacks": false,
		"max-params": false,
		"max-statements": false,
		"new-cap": false,
		"new-parens": false,
		"one-var": false,
		"padded-blocks": false,
		"quote-props": false,
		"quotes": false,
		"radix": false,
		"semi": false,
		"sort-vars": false,
		"space-after-keywords": false,
		"space-before-blocks": false,
		"space-in-brackets": false,
		"space-in-parens": false,
		"space-infix-ops": false,
		"space-return-throw-case": false,
		"space-unary-word-ops": false,
		"spaced-line-comment": false,
		"strict": false,
		"use-isnan": false,
		"valid-jsdoc": 2,
		"valid-typeof": false,
		"vars-on-top": false,
		"wrap-iife": false,
		"wrap-regex": false,
		"yoda": false
	}
}