/* INK GRID *//*  |||||||||||||||||||||||||||||  Default dimensions   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* INK > TABLES */
/* Functions */
.alert-msg,
.block-alert-msg h4 {
  background: #fbe8bc;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbe8bc', endColorstr='#f7d88c');
  background: -moz-linear-gradient(top, #fbe8bc 0%, #f7d88c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbe8bc), color-stop(100%, #f7d88c));
  background: -webkit-linear-gradient(top, #fbe8bc 0%, #f7d88c 100%);
  background: -o-linear-gradient(top, #fbe8bc 0%, #f7d88c 100%);
  background: -ms-linear-gradient(top, #fbe8bc 0%, #f7d88c 100%);
  background: linear-gradient(top, #fbe8bc 0%, #f7d88c 100%);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.8),  inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.8),  inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.8),  inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  padding: 1em;
  padding-top: 1.1em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: .9em;
  color: #666;
}
.block-alert-msg,
.alert-msg {
  margin: 1em 0;
}
.alert-msg.success,
.block-alert-msg.success h4 {
  background: #9dce62;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce62', endColorstr='#85c13c');
  background: -moz-linear-gradient(top, #9dce62 0%, #85c13c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dce62), color-stop(100%, #85c13c));
  background: -webkit-linear-gradient(top, #9dce62 0%, #85c13c 100%);
  background: -o-linear-gradient(top, #9dce62 0%, #85c13c 100%);
  background: -ms-linear-gradient(top, #9dce62 0%, #85c13c 100%);
  background: linear-gradient(top, #9dce62 0%, #85c13c 100%);
  color: #fff;
}
.alert-msg.error,
.block-alert-msg.error h4 {
  background: #eb6363;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb6363', endColorstr='#e53636');
  background: -moz-linear-gradient(top, #eb6363 0%, #e53636 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb6363), color-stop(100%, #e53636));
  background: -webkit-linear-gradient(top, #eb6363 0%, #e53636 100%);
  background: -o-linear-gradient(top, #eb6363 0%, #e53636 100%);
  background: -ms-linear-gradient(top, #eb6363 0%, #e53636 100%);
  background: linear-gradient(top, #eb6363 0%, #e53636 100%);
  color: #fff;
}
.alert-msg.info,
.block-alert-msg.info h4 {
  background: #5ca7dc;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ca7dc', endColorstr='#2983c3');
  background: -moz-linear-gradient(top, #5ca7dc 0%, #2983c3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5ca7dc), color-stop(100%, #2983c3));
  background: -webkit-linear-gradient(top, #5ca7dc 0%, #2983c3 100%);
  background: -o-linear-gradient(top, #5ca7dc 0%, #2983c3 100%);
  background: -ms-linear-gradient(top, #5ca7dc 0%, #2983c3 100%);
  background: linear-gradient(top, #5ca7dc 0%, #2983c3 100%);
  color: #fff;
}
.alert-msg p,
.block-alert-msg p {
  margin-right: 20px;
  margin-bottom: 0em;
}
.alert-msg .close,
.block-alert-msg .close {
  color: #000;
  display: block;
  text-decoration: none;
  float: right;
  font-family: Arial, sans-serif;
  font-weight: bold;
  width: 13px;
  height: 12px;
  line-height: .56em;
  font-size: 1.8em;
  opacity: 0.2;
  text-shadow: white 0px 1px 0px;
  padding: 5px;
  margin-top: -0.15em;
  margin-right: -0.25em;
  text-align: center;
  /*	background-color: #ddd;
	.round-corners(@alertMsg-border-radius);*/

}
.block-alert-msg h4 {
  font-size: 1em;
  margin: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #f6d074;
}
.block-alert-msg {
  background: #FEFBF3;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  font-size: .9em;
}
.block-alert-msg p,
.block-alert-msg ul,
.block-alert-msg ol {
  padding: 1em;
}
.block-alert-msg .close {
  margin: 0.4em 0.2em 0 0;
}
.block-alert-msg ul {
  list-style: inside;
}
.block-alert-msg.success h4 {
  border-bottom: 1px solid #85c13c;
}
.block-alert-msg.error h4 {
  border-bottom: 1px solid #e53636;
}
.block-alert-msg.info h4 {
  border-bottom: 1px solid #2983c3;
}
