/* INK GRID *//*  |||||||||||||||||||||||||||||  Default dimensions   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Default dimensions   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* INK > TABLES */
/* Functions */
/**
	* InK Buttons
*/
.ink-button,
button,
input[type="button"],
input[type="submit"],
a.ink-button {
  -webkit-appearance: menuitem;
  font-weight: bold;
  font-size: 0.90em;
  padding: 0.45em 0.8em;
  float: none;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #fff;
  background: #eeeeee;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#c8c8c8');
  background: -moz-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  border-color: #c8c8c8;
  border-bottom-color: #aeaeae;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0 #ffffff;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
}
.ink-button:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
a.ink-button:hover {
  background: #ffffff;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c8c8c8');
  background: -moz-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
.ink-button:active,
button:active,
input[type="button"]:active,
input[type="submit"]:active,
a.ink-button:active {
  background: #dcdcdc;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#ffffff');
  background: -moz-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdcdc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
.ink-button[disabled],
button[disabled],
input[type="button"][disabled],
input[type="submit"][disabled],
a.ink-button[disabled],
.ink-button .ink-disabled,
button .ink-disabled,
input[type="button"] .ink-disabled,
input[type="submit"] .ink-disabled,
a.ink-button .ink-disabled {
  background: #eeeeee;
  box-shadow: none;
  border: none;
}
.ink-button[disabled]:hover,
button[disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][disabled]:hover,
a.ink-button[disabled]:hover,
.ink-button .ink-disabled:hover,
button .ink-disabled:hover,
input[type="button"] .ink-disabled:hover,
input[type="submit"] .ink-disabled:hover,
a.ink-button .ink-disabled:hover {
  background: #eeeeee;
  cursor: not-allowed;
}
.ink-button.ink-warning,
button.ink-warning,
input[type="button"].ink-warning,
input[type="submit"].ink-warning,
a.ink-button.ink-warning {
  color: #fff;
  background: #ff9c00;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9c00', endColorstr='#b36d00');
  background: -moz-linear-gradient(top, #ff9c00 0%, #b36d00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9c00), color-stop(100%, #b36d00));
  background: -webkit-linear-gradient(top, #ff9c00 0%, #b36d00 100%);
  background: -o-linear-gradient(top, #ff9c00 0%, #b36d00 100%);
  background: -ms-linear-gradient(top, #ff9c00 0%, #b36d00 100%);
  background: linear-gradient(top, #ff9c00 0%, #b36d00 100%);
  border-color: #b36d00;
  border-bottom-color: #804e00;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.ink-button.ink-warning:hover,
button.ink-warning:hover,
input[type="button"].ink-warning:hover,
input[type="submit"].ink-warning:hover,
a.ink-button.ink-warning:hover {
  background: #ffb033;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb033', endColorstr='#b36d00');
  background: -moz-linear-gradient(top, #ffb033 0%, #b36d00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb033), color-stop(100%, #b36d00));
  background: -webkit-linear-gradient(top, #ffb033 0%, #b36d00 100%);
  background: -o-linear-gradient(top, #ffb033 0%, #b36d00 100%);
  background: -ms-linear-gradient(top, #ffb033 0%, #b36d00 100%);
  background: linear-gradient(top, #ffb033 0%, #b36d00 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
.ink-button.ink-warning:active,
button.ink-warning:active,
input[type="button"].ink-warning:active,
input[type="submit"].ink-warning:active,
a.ink-button.ink-warning:active {
  background: #db8600;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db8600', endColorstr='#ffaa24');
  background: -moz-linear-gradient(top, #db8600 0%, #ffaa24 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #db8600), color-stop(100%, #ffaa24));
  background: -webkit-linear-gradient(top, #db8600 0%, #ffaa24 100%);
  background: -o-linear-gradient(top, #db8600 0%, #ffaa24 100%);
  background: -ms-linear-gradient(top, #db8600 0%, #ffaa24 100%);
  background: linear-gradient(top, #db8600 0%, #ffaa24 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
.ink-button.ink-warning[disabled],
button.ink-warning[disabled],
input[type="button"].ink-warning[disabled],
input[type="submit"].ink-warning[disabled],
a.ink-button.ink-warning[disabled],
.ink-button.ink-warning .ink-disabled,
button.ink-warning .ink-disabled,
input[type="button"].ink-warning .ink-disabled,
input[type="submit"].ink-warning .ink-disabled,
a.ink-button.ink-warning .ink-disabled {
  background: #dfc69f;
  box-shadow: none;
  border: none;
}
.ink-button.ink-warning[disabled]:hover,
button.ink-warning[disabled]:hover,
input[type="button"].ink-warning[disabled]:hover,
input[type="submit"].ink-warning[disabled]:hover,
a.ink-button.ink-warning[disabled]:hover,
.ink-button.ink-warning .ink-disabled:hover,
button.ink-warning .ink-disabled:hover,
input[type="button"].ink-warning .ink-disabled:hover,
input[type="submit"].ink-warning .ink-disabled:hover,
a.ink-button.ink-warning .ink-disabled:hover {
  background: #dfc69f;
  cursor: not-allowed;
}
.ink-button.ink-caution,
button.ink-caution,
input[type="button"].ink-caution,
input[type="submit"].ink-caution,
a.ink-button.ink-caution {
  color: #fff;
  background: #cd0000;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd0000', endColorstr='#810000');
  background: -moz-linear-gradient(top, #cd0000 0%, #810000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cd0000), color-stop(100%, #810000));
  background: -webkit-linear-gradient(top, #cd0000 0%, #810000 100%);
  background: -o-linear-gradient(top, #cd0000 0%, #810000 100%);
  background: -ms-linear-gradient(top, #cd0000 0%, #810000 100%);
  background: linear-gradient(top, #cd0000 0%, #810000 100%);
  border-color: #810000;
  border-bottom-color: #4e0000;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.ink-button.ink-caution:hover,
button.ink-caution:hover,
input[type="button"].ink-caution:hover,
input[type="submit"].ink-caution:hover,
a.ink-button.ink-caution:hover {
  background: #ff0101;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0101', endColorstr='#810000');
  background: -moz-linear-gradient(top, #ff0101 0%, #810000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff0101), color-stop(100%, #810000));
  background: -webkit-linear-gradient(top, #ff0101 0%, #810000 100%);
  background: -o-linear-gradient(top, #ff0101 0%, #810000 100%);
  background: -ms-linear-gradient(top, #ff0101 0%, #810000 100%);
  background: linear-gradient(top, #ff0101 0%, #810000 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
.ink-button.ink-caution:active,
button.ink-caution:active,
input[type="button"].ink-caution:active,
input[type="submit"].ink-caution:active,
a.ink-button.ink-caution:active {
  background: #a90000;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90000', endColorstr='#f10000');
  background: -moz-linear-gradient(top, #a90000 0%, #f10000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90000), color-stop(100%, #f10000));
  background: -webkit-linear-gradient(top, #a90000 0%, #f10000 100%);
  background: -o-linear-gradient(top, #a90000 0%, #f10000 100%);
  background: -ms-linear-gradient(top, #a90000 0%, #f10000 100%);
  background: linear-gradient(top, #a90000 0%, #f10000 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
.ink-button.ink-caution[disabled],
button.ink-caution[disabled],
input[type="button"].ink-caution[disabled],
input[type="submit"].ink-caution[disabled],
a.ink-button.ink-caution[disabled],
.ink-button.ink-caution .ink-disabled,
button.ink-caution .ink-disabled,
input[type="button"].ink-caution .ink-disabled,
input[type="submit"].ink-caution .ink-disabled,
a.ink-button.ink-caution .ink-disabled {
  background: #d37a7a;
  box-shadow: none;
  border: none;
}
.ink-button.ink-caution[disabled]:hover,
button.ink-caution[disabled]:hover,
input[type="button"].ink-caution[disabled]:hover,
input[type="submit"].ink-caution[disabled]:hover,
a.ink-button.ink-caution[disabled]:hover,
.ink-button.ink-caution .ink-disabled:hover,
button.ink-caution .ink-disabled:hover,
input[type="button"].ink-caution .ink-disabled:hover,
input[type="submit"].ink-caution .ink-disabled:hover,
a.ink-button.ink-caution .ink-disabled:hover {
  background: #d37a7a;
  cursor: not-allowed;
}
.ink-button.ink-success,
button.ink-success,
input[type="button"].ink-success,
input[type="submit"].ink-success,
a.ink-button.ink-success {
  color: #fff;
  background: #85bd11;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85bd11', endColorstr='#54770b');
  background: -moz-linear-gradient(top, #85bd11 0%, #54770b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85bd11), color-stop(100%, #54770b));
  background: -webkit-linear-gradient(top, #85bd11 0%, #54770b 100%);
  background: -o-linear-gradient(top, #85bd11 0%, #54770b 100%);
  background: -ms-linear-gradient(top, #85bd11 0%, #54770b 100%);
  background: linear-gradient(top, #85bd11 0%, #54770b 100%);
  border-color: #54770b;
  border-bottom-color: #334806;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.ink-button.ink-success:hover,
button.ink-success:hover,
input[type="button"].ink-success:hover,
input[type="submit"].ink-success:hover,
a.ink-button.ink-success:hover {
  background: #a5ea17;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5ea17', endColorstr='#54770b');
  background: -moz-linear-gradient(top, #a5ea17 0%, #54770b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5ea17), color-stop(100%, #54770b));
  background: -webkit-linear-gradient(top, #a5ea17 0%, #54770b 100%);
  background: -o-linear-gradient(top, #a5ea17 0%, #54770b 100%);
  background: -ms-linear-gradient(top, #a5ea17 0%, #54770b 100%);
  background: linear-gradient(top, #a5ea17 0%, #54770b 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
.ink-button.ink-success:active,
button.ink-success:active,
input[type="button"].ink-success:active,
input[type="submit"].ink-success:active,
a.ink-button.ink-success:active {
  background: #6e9c0e;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6e9c0e', endColorstr='#9cde14');
  background: -moz-linear-gradient(top, #6e9c0e 0%, #9cde14 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6e9c0e), color-stop(100%, #9cde14));
  background: -webkit-linear-gradient(top, #6e9c0e 0%, #9cde14 100%);
  background: -o-linear-gradient(top, #6e9c0e 0%, #9cde14 100%);
  background: -ms-linear-gradient(top, #6e9c0e 0%, #9cde14 100%);
  background: linear-gradient(top, #6e9c0e 0%, #9cde14 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
.ink-button.ink-success[disabled],
button.ink-success[disabled],
input[type="button"].ink-success[disabled],
input[type="submit"].ink-success[disabled],
a.ink-button.ink-success[disabled],
.ink-button.ink-success .ink-disabled,
button.ink-success .ink-disabled,
input[type="button"].ink-success .ink-disabled,
input[type="submit"].ink-success .ink-disabled,
a.ink-button.ink-success .ink-disabled {
  background: #b1c489;
  box-shadow: none;
  border: none;
}
.ink-button.ink-success[disabled]:hover,
button.ink-success[disabled]:hover,
input[type="button"].ink-success[disabled]:hover,
input[type="submit"].ink-success[disabled]:hover,
a.ink-button.ink-success[disabled]:hover,
.ink-button.ink-success .ink-disabled:hover,
button.ink-success .ink-disabled:hover,
input[type="button"].ink-success .ink-disabled:hover,
input[type="submit"].ink-success .ink-disabled:hover,
a.ink-button.ink-success .ink-disabled:hover {
  background: #b1c489;
  cursor: not-allowed;
}
.ink-button.ink-info,
button.ink-info,
input[type="button"].ink-info,
input[type="submit"].ink-info,
a.ink-button.ink-info {
  color: #fff;
  background: #0f8bda;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f8bda', endColorstr='#0a5d92');
  background: -moz-linear-gradient(top, #0f8bda 0%, #0a5d92 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0f8bda), color-stop(100%, #0a5d92));
  background: -webkit-linear-gradient(top, #0f8bda 0%, #0a5d92 100%);
  background: -o-linear-gradient(top, #0f8bda 0%, #0a5d92 100%);
  background: -ms-linear-gradient(top, #0f8bda 0%, #0a5d92 100%);
  background: linear-gradient(top, #0f8bda 0%, #0a5d92 100%);
  border-color: #0a5d92;
  border-bottom-color: #073f63;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 125ms;
  -moz-transition-duration: 125ms;
  -o-transition-duration: 125ms;
  -ms-transition-duration: 125ms;
  transition-duration: 125ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.ink-button.ink-info:hover,
button.ink-info:hover,
input[type="button"].ink-info:hover,
input[type="submit"].ink-info:hover,
a.ink-button.ink-info:hover {
  background: #2ca4f0;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ca4f0', endColorstr='#0a5d92');
  background: -moz-linear-gradient(top, #2ca4f0 0%, #0a5d92 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2ca4f0), color-stop(100%, #0a5d92));
  background: -webkit-linear-gradient(top, #2ca4f0 0%, #0a5d92 100%);
  background: -o-linear-gradient(top, #2ca4f0 0%, #0a5d92 100%);
  background: -ms-linear-gradient(top, #2ca4f0 0%, #0a5d92 100%);
  background: linear-gradient(top, #2ca4f0 0%, #0a5d92 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
.ink-button.ink-info:active,
button.ink-info:active,
input[type="button"].ink-info:active,
input[type="submit"].ink-info:active,
a.ink-button.ink-info:active {
  background: #0d76b9;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d76b9', endColorstr='#1d9eef');
  background: -moz-linear-gradient(top, #0d76b9 0%, #1d9eef 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0d76b9), color-stop(100%, #1d9eef));
  background: -webkit-linear-gradient(top, #0d76b9 0%, #1d9eef 100%);
  background: -o-linear-gradient(top, #0d76b9 0%, #1d9eef 100%);
  background: -ms-linear-gradient(top, #0d76b9 0%, #1d9eef 100%);
  background: linear-gradient(top, #0d76b9 0%, #1d9eef 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
.ink-button.ink-info[disabled],
button.ink-info[disabled],
input[type="button"].ink-info[disabled],
input[type="submit"].ink-info[disabled],
a.ink-button.ink-info[disabled],
.ink-button.ink-info .ink-disabled,
button.ink-info .ink-disabled,
input[type="button"].ink-info .ink-disabled,
input[type="submit"].ink-info .ink-disabled,
a.ink-button.ink-info .ink-disabled {
  background: #98bad0;
  box-shadow: none;
  border: none;
}
.ink-button.ink-info[disabled]:hover,
button.ink-info[disabled]:hover,
input[type="button"].ink-info[disabled]:hover,
input[type="submit"].ink-info[disabled]:hover,
a.ink-button.ink-info[disabled]:hover,
.ink-button.ink-info .ink-disabled:hover,
button.ink-info .ink-disabled:hover,
input[type="button"].ink-info .ink-disabled:hover,
input[type="submit"].ink-info .ink-disabled:hover,
a.ink-button.ink-info .ink-disabled:hover {
  background: #98bad0;
  cursor: not-allowed;
}
/*|||||||||||||||||||||| Buttons Styles ||||||||||||||||||||||*/
