/* INK GRID *//*  |||||||||||||||||||||||||||||  Default dimensions   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* INK > TABLES */
/* Functions */
form.ink-labels-above label {
  font-weight: bold;
  display: block;
  margin-bottom: .1em;
  vertical-align: top;
}
form.ink-labels-left label {
  font-weight: bold;
  display: block;
  margin-bottom: .5em;
  vertical-align: top;
  float: left;
  margin-right: 0.5em;
}
form label {
  line-height: 1.3em;
}
form input[type=text],
form input[type=password],
form input[type=file],
form input[type=reset],
form textarea,
form select {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 5px #e5e5e5;
  -moz-box-shadow: inset 0 1px 5px #e5e5e5;
  box-shadow: inset 0 1px 5px #e5e5e5;
  background: rgba(220, 220, 220, 0.2);
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(220, 220, 220, 0.2)', endColorstr='rgba(255, 255, 255, 0)');
  background: -moz-linear-gradient(top, rgba(220, 220, 220, 0.2) 0%, rgba(255, 255, 255, 0) 20%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(220, 220, 220, 0.2)), color-stop(20%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(220, 220, 220, 0.2) 0%, rgba(255, 255, 255, 0) 20%);
  background: -o-linear-gradient(top, rgba(220, 220, 220, 0.2) 0%, rgba(255, 255, 255, 0) 20%);
  background: -ms-linear-gradient(top, rgba(220, 220, 220, 0.2) 0%, rgba(255, 255, 255, 0) 20%);
  background: linear-gradient(top, rgba(220, 220, 220, 0.2) 0%, rgba(255, 255, 255, 0) 20%);
  padding: 6px;
  border: 1px solid #e5e5e5;
  resize: none;
  width: 100%;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
form div.ink-control-group {
  display: block;
  margin: 1.5em 0;
  line-height: 2;
}
form div.ink-control-group.ink-required-field label:after {
  content: "*";
  color: #cd0000;
  font-size: 1.2em;
  margin-left: 0.3em;
  font-weight: 500;
}
form div.ink-control-group p.ink-field-tip {
  margin: 0.5em 0;
  font-size: 0.8em;
}
form div.ink-control-group:first-child {
  margin-top: 0;
}
form div.ink-control-group:last-child {
  margin-bottom: 0;
}
/* Form Styles */
