/* INK GRID *//*  |||||||||||||||||||||||||||||  Default dimensions   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* INK > TABLES */
/* Functions */
form fieldset {
  border: none;
  width: 100%;
  margin-bottom: 1.5em;
}
form fieldset legend {
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 1px solid #DDD;
  padding-bottom: 0.40em;
  margin-top: 32px;
  text-shadow: 0 1px 0 white;
  display: block;
  width: 100%;
}
form.ink-labels-above label {
  font-weight: bold;
  display: block;
  margin-left: 0.1em;
}
form.ink-labels-above input[type=text],
form.ink-labels-above input[type=password],
form.ink-labels-above input[type=file],
form.ink-labels-above input[type=reset],
form.ink-labels-above select {
  width: 100%;
}
form.ink-labels-above textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 5em;
}
form.ink-labels-above input[type="checkbox"] {
  margin-top: 0.1em;
}
form.ink-labels-above input[type="checkbox"] + label {
  display: inline;
  line-height: 0;
  margin-left: 0.35em;
}
form.ink-labels-left label {
  font-weight: bold;
  display: block;
  margin-bottom: .5em;
  vertical-align: top;
  float: left;
  margin-right: 0.5em;
  line-height: 2.2;
}
form label {
  line-height: 1.5;
  font-size: 0.80em;
}
form .ink-form-validation.ink-success,
form .ink-form-validation.ink-caution {
  font-size: 0.75em;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
form input[type=text],
form input[type=password],
form input[type=file],
form input[type=reset],
form textarea,
form select {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px;
  border: 1px solid #dddddd;
  resize: none;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
form select[multiple] {
  line-height: 2;
}
form select[multiple] option {
  padding: 654px;
}
form input:empty,
form textarea:empty,
form select:empty {
  background: rgba(178, 199, 212, 0.1);
}
form input:focus,
form textarea:focus,
form select:focus {
  background: none;
}
form div.ink-form-row {
  display: block;
  margin: 1.5em 0;
  line-height: 2;
}
form div.ink-form-row.ink-required-field label:after {
  content: "*";
  color: #cd0000;
  font-size: 1.5em;
  line-height: 1;
  margin-left: 0.1em;
  font-weight: 500;
}
form div.ink-form-row p.ink-field-tip {
  margin: 0;
  line-height: 2.0;
  font-size: 0.8em;
  color: #aeaeae;
}
form div.ink-form-row:first-child {
  margin-top: 0;
}
form div.ink-form-row:last-child {
  margin-bottom: 0;
}
/* Form Styles */
