/* INK GRID *//*  |||||||||||||||||||||||||||||  Default dimensions   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Default dimensions   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* INK > TABLES */
/* Functions */
form fieldset {
  border: none;
  width: 100%;
  margin-bottom: 1.5em;
  padding: 0;
}
form fieldset legend {
  margin: 1em 0;
  font-size: 1.2em;
  font-weight: 700;
  border-bottom: 1px solid #DDD;
  padding-bottom: 0.40em;
  margin-top: 32px;
  text-shadow: 0 1px 0 white;
  display: block;
  width: 100%;
}
form label {
  line-height: 1.5;
  font-size: 0.80em;
}
form .ink-form-validation {
  margin: 0.5em 0.2em;
}
form .ink-form-validation.ink-success,
form .ink-form-validation.ink-caution {
  font-size: 0.75em;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
form input[type=text],
form input[type=password],
form input[type=file],
form input[type=reset],
form input[type=number],
form input[type=range],
form input[type=search],
form input[type=email],
form textarea,
form select {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  padding: 6px;
  border: 1px solid #dddddd;
  resize: none;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
form select[multiple] {
  line-height: 2;
}
form select[multiple] option {
  padding: 654px;
}
form .ink-form-validation {
  font-weight: 700;
}
form .ink-form-validation.ink-caution {
  background-color: #fff;
  color: #cd0000;
  padding: 0;
}
form .ink-form-validation.ink-success {
  color: #85bd11;
  background-color: #fff;
  color: #85bd11;
  background-color: #fff;
  padding: 0;
}
form div.ink-form-row {
  display: block;
  margin-bottom: 0.8em;
  line-height: 2;
}
form div.ink-form-row.ink-required-field label:after {
  content: "*";
  color: #cd0000;
  font-size: 1.5em;
  line-height: 1;
  margin-left: 0.1em;
  font-weight: 500;
}
form div.ink-form-row p.ink-field-tip {
  margin: 0;
  line-height: 2.2;
  font-size: 0.8em;
  color: #aeaeae;
  position: relative;
  margin-left: 0.1em;
}
form div.ink-form-row:first-child {
  margin-top: 0;
}
form div.ink-form-row:last-child {
  margin-bottom: 0;
}
form.ink-labels-above label {
  font-weight: bold;
  display: block;
  margin: 0.5em 0 0 0.2em;
}
form.ink-labels-above input[type=text],
form.ink-labels-above input[type=password],
form.ink-labels-above input[type=file],
form.ink-labels-above input[type=reset],
form.ink-labels-above select {
  width: 100%;
}
form.ink-labels-above textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 5em;
}
form.ink-labels-above input[type="checkbox"],
form.ink-labels-above input[type="radio"] {
  line-height: 2;
  margin-top: 0.55em;
  float: left;
  clear: left;
}
form.ink-labels-above input[type="checkbox"] + label,
form.ink-labels-above input[type="radio"] + label {
  float: left;
  line-height: 2.5;
  margin-left: 0.55em;
  margin-top: 0;
}
form.ink-labels-left label {
  font-weight: bold;
  display: block;
  margin-bottom: .5em;
  vertical-align: top;
  float: left;
  margin-top: 0.5em;
  margin-right: 0.5em;
  line-height: 1.51;
  min-width: 20%;
  width: 20%;
  max-width: 20%;
  text-align: right;
}
form.ink-labels-left input[type=text],
form.ink-labels-left input[type=password],
form.ink-labels-left input[type=file],
form.ink-labels-left input[type=reset],
form.ink-labels-left select {
  min-width: 40%;
  width: 78%;
}
form.ink-labels-left textarea {
  min-width: 40%;
  width: 78%;
  min-height: 5em;
}
form.ink-labels-left input[type="checkbox"],
form.ink-labels-left input[type="radio"] {
  line-height: 2;
  margin-top: 0.55em;
  float: left;
}
form.ink-labels-left input[type="checkbox"] + label,
form.ink-labels-left input[type="radio"] + label {
  line-height: 2.5;
  margin: 0 1.55em 0 0.55em;
  margin-top: 0;
  width: auto;
  min-width: auto;
}
form.ink-labels-left fieldset div.ink-form-row {
  margin-bottom: 1em;
}
form.ink-labels-left fieldset div.ink-form-row  > input + p.ink-field-tip,
form.ink-labels-left fieldset div.ink-form-row  > select + p.ink-field-tip {
  margin-left: 21%;
}
form.ink-labels-left fieldset div.ink-form-row  > input + p.ink-form-validation,
form.ink-labels-left fieldset div.ink-form-row  > select + p.ink-form-validation {
  margin-left: 21%;
}
/* Form Styles */
