/* INK GRID *//*  |||||||||||||||||||||||||||||  Default dimensions   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Default dimensions   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* INK > TABLES */
/* Functions */
.ink-h-navigation {
  height: 43px;
  display: block;
  font-size: 0em;
}
.ink-h-navigation li {
  font-size: 14px;
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  margin: 0;
}
.ink-h-navigation a {
  line-height: 43px;
  padding: 0 1.5em;
  display: block;
  text-decoration: none;
  color: #000000;
}
.ink-h-navigation a:hover {
  background: #e6e6e6;
}
.ink-h-navigation .submenu {
  display: none;
  width: 14em;
  position: absolute;
  overflow: hidden;
  padding-left: 0;
  margin-left: -1px;
  z-index: 8;
  background-color: #fff;
  border-top: 1px solid #CACACA;
}
.ink-h-navigation .submenu li {
  display: block;
  float: none;
  border-right: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  border-left: 1px solid #CACACA;
}
.ink-h-navigation li:hover .submenu {
  display: block;
  height: auto;
}
.ink-h-navigation:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
#topbar {
  height: 40px;
  background: #222222;
  font-size: 0.875em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  margin: auto;
  vertical-align: top;
  position: relative;
  overflow: visible;
}
#topbar a.logoPlaceholder {
  padding: 0;
}
#topbar a.logoPlaceholder:hover {
  color: #FFF;
  text-decoration: none;
}
#topbar a {
  padding: 0 1em;
  line-height: 40px;
  color: #bbbbbb;
}
#topbar h1 {
  font-size: 1.625em;
  float: left;
  margin: 0 .8em 0 0;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}
#topbar h1 small {
  margin-left: 0.5em;
}
#topbar ul li a:hover {
  background: #313131;
  color: #ffffff;
}
#topbar ul li.active a {
  background: #080808;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#080808', endColorstr='#3c3c3c');
  background: -moz-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #080808), color-stop(100%, #3c3c3c));
  background: -webkit-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -o-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: -ms-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background: linear-gradient(top, #080808 0%, #3c3c3c 100%);
  -webkit-box-shadow: 0 0px 2px rgba( 255, 255, 255, 0.3);
  -moz-box-shadow: 0 0px 2px rgba( 255, 255, 255, 0.3);
  box-shadow: 0 0px 2px rgba( 255, 255, 255, 0.3);
  color: #ffffff;
}
.menu {
  border-top: 1px solid #cacaca;
  vertical-align: top;
  position: relative;
  overflow: visible;
}
.menu a {
  padding: 0 .8em;
  font-size: 1.143em;
}
.menu ul li {
  border-right: 1px solid #CACACA;
}
.menu ul li.active {
  border-right: none;
  background: #2e2e2e;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#222222');
  background: -moz-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2e2e), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background: -o-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background: -ms-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background: linear-gradient(top, #2e2e2e 0%, #222222 100%);
}
.menu ul .active a {
  color: #fff;
}
.menu ul li a.home {
  width: 1em;
  text-indent: -5555px;
  background: url(../demo/styles/imgs/home_Sprite.png) 0 0 no-repeat;
}
.menu ul li.active a.home {
  background: url(../demo/styles/imgs/home_Sprite.png) 0 -43px no-repeat;
}
