/*  |||||||||||||||||||||||||||||  Base Sizes   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/*  |||||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*@borderRadius*/
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* Functions */
.datepicker-Bg-Color {
  background: #eaeaea;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#d0d0d0');
  background: -moz-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #d0d0d0));
  background: -webkit-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -o-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -ms-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
}
.sapo_component_datepicker {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-align: center;
  padding: 5px;
  font-size: 13px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #fff;
  background: #eaeaea;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#d0d0d0');
  background: -moz-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #d0d0d0));
  background: -webkit-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -o-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: -ms-linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  background: linear-gradient(top, #eaeaea 0%, #d0d0d0 100%);
  position: absolute;
  display: none;
  z-index: 1;
}
.sapo_component_datepicker a {
  text-decoration: none;
}
.sapo_component_datepicker li {
  list-style: none inside;
}
.sapo_cal_top_options {
  padding: 5px;
  font-size: .8em;
  color: #aaa;
}
.sapo_cal_top_options .clean {
  float: left;
}
.sapo_cal_top_options .close {
  float: right;
}
.sapo_cal_top {
  line-height: 2em;
  background-color: rgba(255, 255, 255, 0.7);
  vertical-align: middle;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.sapo_cal_top div {
  float: left;
  color: #999999;
}
.sapo_cal_top .sapo_cal_prev,
.sapo_cal_top .sapo_cal_next {
  width: 10%;
}
.sapo_cal_top .sapo_cal_month_desc {
  width: 80%;
}
.sapo_cal_top div a {
  color: #00c1f9;
}
.sapo_cal_month,
.sapo_cal_year_selector,
.sapo_cal_month_selector {
  margin-top: .5em;
  padding-left: 0;
}
.sapo_cal_month ul,
.sapo_cal_year_selector ul,
.sapo_cal_month_selector ul {
  clear: both;
  padding-left: 0;
}
.sapo_cal_month .sapo_cal_header {
  color: #aaa;
}
.sapo_cal_month li,
.sapo_cal_year_selector ul li,
.sapo_cal_month_selector ul li {
  width: 2.4em;
  float: left;
  text-align: center;
  padding: 0;
  margin: 0;
}
.sapo_cal_year_selector ul li {
  width: 4em;
}
.sapo_cal_month_selector ul li {
  width: 3.4em;
}
.sapo_cal_month li a,
.sapo_cal_year_selector li a,
.sapo_cal_month_selector li a {
  margin: 0px;
  line-height: 2em;
  vertical-align: middle;
  display: block;
}
.sapo_cal_month .sapo_cal_header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}
.sapo_cal_month li a:hover,
.sapo_cal_year_selector li a:hover,
.sapo_cal_month_selector li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.sapo_cal_month li a,
.sapo_cal_year_selector li a,
.sapo_cal_month_selector li a {
  color: #444444;
}
.sapo_cal_month.sapo_cal_header {
  width: 100%;
}
.sapo_cal_top:after,
.sapo_cal_top_options:after,
.sapo_cal_middle:after,
.sapo_component_datepicker:after,
.sapo_cal_month .sapo_cal_middle ul:after,
.sapo_cal_month .sapo_cal_header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
.sapo_cal_on,
.sapo_cal_on:hover {
  background-color: #00c1f9;
  color: #000000;
}
.sapo_cal_year_selector,
.sapo_cal_month_selector {
  display: none;
}
