

    
        <section>
        <h1 class="fw-300">Ink.Util.Json_1 </h1>
    

    

    


    


    

    



    
            

    
    <p>Use this class to convert JSON strings to JavaScript objects
`(Json.parse)` and also to do the opposite operation `(Json.stringify)`.
Internally, the standard JSON implementation is used if available
Otherwise, the functions mimic the standard implementation.

Here's how to produce JSON from an existing object:

     Ink.requireModules(['Ink.Util.Json_1'], function (Json) {
         var obj = {
             key1: 'value1',
             key2: 'value2',
             keyArray: ['arrayValue1', 'arrayValue2', 'arrayValue3']
         };
         Json.stringify(obj);  // The above object as a JSON string
     });

And here is how to parse JSON:

     Ink.requireModules(['Ink.Util.Json_1'], function (Json) {
         var source = '{"key": "value", "array": [true, null, false]}';
         Json.parse(source);  // The above JSON string as an object
     });</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>

        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Json_1-Ink_Util_Json-parse">
                        
                            .parse
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Json_1-Ink_Util_Json-stringify">
                        
                            .stringify
                        
                        
                    </a>
                </td>
                <td>
                    

                    serializes a JSON object into a string.

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_Util_Json_1-Ink_Util_Json-parse" class="box box-function">

    <h1 class="fw-300">
    
        
            .parse
        
    
    (text, reviver)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        text
        
        
        </li>
        
        <li class="prop">
        
        
        reviver
        
        
        </li>
        
    </ul>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label>text
                

                
                </label>
                
                    {String}    Input string
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label>reviver
                

                
                </label>
                
                    {Function}  Function receiving `(key, value)`, and `this`=(containing object), used to walk objects.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
Simple example:

     Json.parse('{"a": "3","numbers":false}',
         function (key, value) {
             if (!this.numbers && key === 'a') {
                 return "NO NUMBERS";
             } else {
                 return value;
             }
         }); // -> object: {a: 'NO NUMBERS', numbers: false}
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Json_1-Ink_Util_Json-stringify" class="box box-function">

    <h1 class="fw-300">
    
        
            .stringify
        
    
    (input, convertToUnicode)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        input
        
        
        </li>
        
        <li class="prop">
        
        
        convertToUnicode
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">serializes a JSON object into a string.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>input
                

                
                </label>
                
                    Data to be serialized into JSON
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label>convertToUnicode
                

                
                </label>
                
                    When `true`, converts string contents to unicode \uXXXX
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     Json.stringify({a:1.23}); // -> string: '{"a": 1.23}'
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

