

    
        <section>
        <h1 class="fw-300">Ink.UI.Droppable_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Droppable_1-Ink_UI_Droppable-add">
                        
                            .add
                        
                        
                    </a>
                </td>
                <td>
                    

                    Makes an element droppable and adds it to the stack of droppable elements.
Can consider it a constructor of droppable elements, but where no Droppable object is returned.

In the following arguments, any events/callbacks you may pass, can be either functions or strings. If the 'move' or 'copy' strings are passed, the draggable gets moved into this droppable. If 'revert' is passed, an acceptable droppable is moved back to the element it came from.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Droppable_1-Ink_UI_Droppable-remove">
                        
                            .remove
                        
                        
                    </a>
                </td>
                <td>
                    

                    Removes an element from the droppable stack and removes the droppable behavior

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>










    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Droppable.add
        
    
    (element, [options], )
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String|DOMElement</pre>
                

                
                    <label>element
                

                
                </label>

                
                    <span class="description">Target element</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[options]
                

                
                </label>

                
                    <span class="description">options object</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.hoverClass]
                

                
                </label>

                
                    <span class="description">Classname(s) applied when an acceptable draggable element is hovering the element</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.accept]
                

                
                </label>

                
                    <span class="description">Selector for choosing draggables which can be dropped in this droppable.</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onHover]
                

                
                </label>

                
                    <span class="description">callback called when an acceptable draggable element is hovering the droppable. Gets the draggable and the droppable element as parameters.</span>
                
            </li>
        
            <li>
                
                    <pre>Function|String</pre>
                

                
                    <label class="optional">[options.onDrop]
                

                
                </label>

                
                    <span class="description">callback called when an acceptable draggable element is dropped. Gets the draggable, the droppable and the event as parameters.</span>
                
            </li>
        
            <li>
                
                    <pre>Function|String</pre>
                

                
                    <label class="optional">[options.onDropOut]
                

                
                </label>

                
                    <span class="description">callback called when a droppable is dropped outside this droppable. Gets the draggable, the droppable and the event as parameters. (see above for string options).</span>
                
            </li>
        
        </ul>
    

    

    
        <p class="text">Makes an element droppable and adds it to the stack of droppable elements.
Can consider it a constructor of droppable elements, but where no Droppable object is returned.

In the following arguments, any events/callbacks you may pass, can be either functions or strings. If the 'move' or 'copy' strings are passed, the draggable gets moved into this droppable. If 'revert' is passed, an acceptable droppable is moved back to the element it came from.</p>
    

    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}

      <style type="text/css">
          .hover {
              border: 1px solid red;
          }
          .left, .right {
              float: left; width: 50%;
              outline: 1px solid gray;
              min-height: 2em;
          }
      </style>
       <ul class="left">
           <li>Draggable 1</li>
           <li>Draggable 2</li>
           <li>Draggable 3</li>
       </ul>
       <ul class="right">
       </ul>
       <script type="text/javascript">
           Ink.requireModules(['Ink.UI.Draggable_1', 'Ink.UI.Droppable_1'], function (Draggable, Droppable) {
               new Draggable('.left li:eq(0)', {});
               new Draggable('.left li:eq(1)', {});
               new Draggable('.left li:eq(2)', {});
               Droppable.add('.left', {onDrop: 'move', onDropOut: 'revert'});
               Droppable.add('.right', {onDrop: 'move', onDropOut: 'revert'});
           })
       </script>

{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Droppable.remove
        
    
    (elOrSelector)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String|DOMElement</pre>
                

                
                    <label>elOrSelector
                

                
                </label>

                
                    <span class="description">Droppable element to disable.</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Removes an element from the droppable stack and removes the droppable behavior</p>
    

    


    

</section>



    

    

    

