

    
        <section>
        <h1 class="fw-300">Ink.Namespace.StaticModule_1 <small>version: 1</small></h1>
    

    

    


    


    

    



    
            

    
    <p><p>This is a awesome set of methods to paint the sky.</p>
</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>

        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Namespace_StaticModule_1-Ink_Namespace_StaticModule-publicMethod">
                        
                            .publicMethod
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Description of the method</p>


                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
    <table class="props">
        <caption>Properties</caption>
        <thead>
            <tr>
                <th>Property name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td><a href="#Ink_Namespace_StaticModule_1-Ink_Namespace_StaticModule-publicProperty">.publicProperty</a></td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
            
        </tbody>
    </table>
    
</section>







    <section id="Ink_Namespace_StaticModule_1-Ink_Namespace_StaticModule-publicMethod" class="box box-function">

    <h1 class="fw-300">
    
        
            .publicMethod
        
    
    (name, number)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        name
        
        
        </li>
        
        <li class="prop">
        
        
        number
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Description of the method</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>name
                

                
                </label>
                
                    bla ble bi
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>number
                

                
                </label>
                
                    blo blu
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>



    <section class="box box-attribute">

    <h1 class="fw-300">
    
       Ink.Namespace.StaticModule.publicProperty
    
    <i>attribute</i></h1>

    

    

    

    <label>publicProperty</label>

    

</section>

    

    

    

