

    
        <section>
        <h1 class="fw-300">Ink.UI.Tabs_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-Tabs">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeContentTab">
                        
                            .activeContentTab
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns the current active Content Tab

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeMenuLink">
                        
                            .activeMenuLink
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns the current active Menu anchorChanges to the desired tag

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeMenuTab">
                        
                            .activeMenuTab
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns the current active Menu LI

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeTab">
                        
                            .activeTab
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns the active tab id

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-changeTab">
                        
                            .changeTab
                        
                        
                    </a>
                </td>
                <td>
                    

                    Changes to the desired tag

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-destroy">
                        
                            .destroy
                        
                        
                    </a>
                </td>
                <td>
                    

                    Unregisters the component and removes its markup from the DOM

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-disable">
                        
                            .disable
                        
                        
                    </a>
                </td>
                <td>
                    

                    Disables the desired tag

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-enable">
                        
                            .enable
                        
                        
                    </a>
                </td>
                <td>
                    

                    Enables the desired tag

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Tabs component</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Tabs
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options]
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.preventUrlChange]
                

                
                </label>
                
                    Flag that determines if follows the link on click or stops the event
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.active]
                

                
                </label>
                
                    ID of the tab to activate on creation
                
            </dd>
        
            <dt>
                
                    <code>Array</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.disabled]
                

                
                </label>
                
                    IDs of the tabs that will be disabled on creation
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.onBeforeChange]
                

                
                </label>
                
                    Callback to be executed before changing tabs
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.onChange]
                

                
                </label>
                
                    Callback to be executed after changing tabs
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.triggerEventsOnLoad]
                

                
                </label>
                
                    Trigger the above events when the page is loaded.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <div class="ink-tabs top"> <!-- replace 'top' with 'bottom', 'left' or 'right' to place navigation -->
         
         <!-- put navigation first if using top, left or right positioning -->
         <ul class="tabs-nav">
             <li><a href="#home">Home</a></li>
             <li><a href="#news">News</a></li>
             <li><a href="#description">Description</a></li>
             <li><a href="#stuff">Stuff</a></li>
             <li><a href="#more_stuff">More stuff</a></li>
         </ul>
         
         <!-- Put your content second if using top, left or right navigation -->
         <div id="home" class="tabs-content"><p>Content</p></div>
         <div id="news" class="tabs-content"><p>Content</p></div>
         <div id="description" class="tabs-content"><p>Content</p></div>
         <div id="stuff" class="tabs-content"><p>Content</p></div>
         <div id="more_stuff" class="tabs-content"><p>Content</p></div>
         <!-- If you're using bottom navigation, switch the nav block with the content blocks -->
      
     </div>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Tabs_1'], function( Selector, Tabs ){
             var tabsElement = Ink.s('.ink-tabs');
             var tabsObj = new Tabs( tabsElement );
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Tabs.activeContentTab
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Returns the current active Content Tab</p>
    

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Tabs.activeMenuLink
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Returns the current active Menu anchorChanges to the desired tag</p>
    

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Tabs.activeMenuTab
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Returns the current active Menu LI</p>
    

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Tabs.activeTab
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Returns the active tab id</p>
    

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Tabs.changeTab
        
    
    (selector)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Changes to the desired tag</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
                    the id of the desired tab or the link that links to it
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Tabs.destroy
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Unregisters the component and removes its markup from the DOM</p>
    

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Tabs.disable
        
    
    (selector)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Disables the desired tag</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
                    the id of the desired tab or the link that links to it
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Tabs.enable
        
    
    (selector)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Enables the desired tag</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
                    the id of the desired tab or the link that links to it
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

