

    
        <h1 class="fw-300">Ink.UI.SortableList_1 <small>version: 1</small></h1>
    

    

    

    


    


    

    



    
        <section>

    
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SortableList_1-Ink_UI_SortableList-SortableList">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SortableList_1-Ink_UI_SortableList-destroy">
                        
                            .destroy
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Unregisters the component and removes its markup from the DOM</p>


                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    


    
        <div class="text"><p>Adds sortable behaviour to any list!</p>
</div>
    

    
    



    
        <div class="box box-function">

    <h2><a name="Ink_UI_SortableList_1-Ink_UI_SortableList-SortableList">
    
        Ink.UI.SortableList
    
    (selector, )
    
        <i>constructor</i>
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String|DOMElement</pre>
                

                
                    <label>selector
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.placeholderClass]
                

                
                    =&#x27;placeholder&#x27;
                
                </label>

                
                    <span class="description">CSS class to be added to the "ghost" element being dragged around</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.draggedClass]
                

                
                    =&#x27;hide-all&#x27;
                
                </label>

                
                    <span class="description">CSS class added to the original element.</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.draggingClass]
                

                
                    =&#x27;dragging&#x27;
                
                </label>

                
                    <span class="description">CSS class added to the html element when the user is dragging.</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.dragSelector]
                

                
                    =&#x27;li&#x27;
                
                </label>

                
                    <span class="description">CSS selector for the drag enabled nodes.</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.handleSelector]
                

                
                    =null
                
                </label>

                
                    <span class="description">CSS selector for the drag handle. If present, you can only drag nodes by this selector.</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.moveSelector]
                

                
                    =null
                
                </label>

                
                    <span class="description">CSS selector to validate a node move. If present, you can only move nodes into this selector.</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[options.swap]
                

                
                    =false
                
                </label>

                
                    <span class="description">Flag to swap moving element with target element instead of changing its order.</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[options.cancelMouseOut]
                

                
                    =false
                
                </label>

                
                    <span class="description">Flag to cancel moving if mouse leaves the container element.</span>
                
            </li>
        
        </ul>
    

    

    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
     <ul class="unstyled ink-sortable-list" id="slist" data-handle-selector=".ink-label">
         <li><span class="ink-label info">drag here</span>primeiro</li>
         <li><span class="ink-label info">drag here</span>segundo</li>
         <li><span class="ink-label info">drag here</span>terceiro</li>
     </ul>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.SortableList_1'], function( Selector, SortableList ){
             var sortableListElement = Ink.s('.ink-sortable-list');
             var sortableListObj = new SortableList( sortableListElement );
         });
     <\/script>
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_UI_SortableList_1-Ink_UI_SortableList-destroy">
    
        
            Ink.UI.SortableList.destroy
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    

    
        <span class="text"><p>Unregisters the component and removes its markup from the DOM</p>
</span>
    

    


    

</div>

    

    
</section>
    

    

    

