

    
        <section>
        <h1 class="fw-300">Ink.UI.SmoothScroller_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SmoothScroller_1-Ink_UI_SmoothScroller-add">
                        
                            .add
                        
                        
                    </a>
                </td>
                <td>
                    

                    Attaches an event for an element

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SmoothScroller_1-Ink_UI_SmoothScroller-end">
                        
                            .end
                        
                        
                    </a>
                </td>
                <td>
                    

                    Kill an event of an element

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SmoothScroller_1-Ink_UI_SmoothScroller-getTop">
                        
                            .getTop
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns the Y position of an element, relative to the document

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SmoothScroller_1-Ink_UI_SmoothScroller-init">
                        
                            .init
                        
                        
                    </a>
                </td>
                <td>
                    

                    Has smooth scrolling applied to relevant elements upon page load.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SmoothScroller_1-Ink_UI_SmoothScroller-onClick">
                        
                            .onClick
                        
                        
                    </a>
                </td>
                <td>
                    

                    Click handler

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SmoothScroller_1-Ink_UI_SmoothScroller-render">
                        
                            .render
                        
                        
                    </a>
                </td>
                <td>
                    

                    This method extracts all the anchors and validates them as # and attaches the events

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SmoothScroller_1-Ink_UI_SmoothScroller-scroll">
                        
                            .scroll
                        
                        
                    </a>
                </td>
                <td>
                    

                    Moves the scrollbar to the target element. This is the function
which animates the scroll position bit by bit. It calls itself in
the end through requestAnimationFrame

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SmoothScroller_1-Ink_UI_SmoothScroller-scrollTop">
                        
                            .scrollTop
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns the current scroll position

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
    <table class="props">
        <caption>PROPERTIES</caption>
        <thead>
            <tr>
                <th>Property name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td><a href="#Ink_UI_SmoothScroller_1-Ink_UI_SmoothScroller-speed">.speed</a></td>
                <td>
                    

                    
                        Sets the speed of the scrolling
                    

                    
                        <code>Number</code>
                    
                    
                </td>
            </tr>
            
        </tbody>
    </table>
    
</section>










    <section class="box box-function">

    <h2>
    
        
            Ink.UI.SmoothScroller.add
        
    
    (el, event, fn)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>DOMElement</pre>
                

                
                    <label>el
                

                
                </label>

                
                    <span class="description">DOMElement to make the listening of the event</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>event
                

                
                </label>

                
                    <span class="description">Event name to be listened</span>
                
            </li>
        
            <li>
                
                    <pre>DOMElement</pre>
                

                
                    <label>fn
                

                
                </label>

                
                    <span class="description">Callback function to run when the event is triggered.</span>
                
            </li>
        
        </ul>
    

    

    
        <p class="text">Attaches an event for an element</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.SmoothScroller.end
        
    
    (e)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>e
                

                
                </label>

                
                    <span class="description">Event to be killed/stopped</span>
                
            </li>
        
        </ul>
    

    

    
        <p class="text">Kill an event of an element</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.SmoothScroller.getTop
        
    
    (d)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>DOMElement</pre>
                

                
                    <label>d
                

                
                </label>

                
                    <span class="description">DOMElement to get the Y position from</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Number</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns the Y position of an element, relative to the document</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.SmoothScroller.init
        
    
    ([selector])
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                

                
                    <label class="optional">[selector]
                

                
                    =&#x27;a.scrollableLink,a.ink-smooth-scroll&#x27;
                
                </label>

                
                    <span class="description">Selector string for finding links with smooth scrolling enabled.</span>
                
            </li>
        
        </ul>
    

    

    
        <p class="text">Has smooth scrolling applied to relevant elements upon page load.</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.SmoothScroller.onClick
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    

    
        <p class="text">Click handler</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.SmoothScroller.render
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    

    
        <p class="text">This method extracts all the anchors and validates them as # and attaches the events</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.SmoothScroller.scroll
        
    
    (d)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>d
                

                
                </label>

                
                    <span class="description">Y coordinate value to stop</span>
                
            </li>
        
        </ul>
    

    

    
        <p class="text">Moves the scrollbar to the target element. This is the function
which animates the scroll position bit by bit. It calls itself in
the end through requestAnimationFrame</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.SmoothScroller.scrollTop
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Number</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns the current scroll position</p>
    

    


    

</section>



    <section class="box box-attribute">

     <h2>
    
       Ink.UI.SmoothScroller.speed
    
    <i>attribute</i></h2>

    

    
        <p class="text">Sets the speed of the scrolling</p>
    

    
        <pre>Number</pre>
    

    <label>speed</label>

    

</section>

    

    

    

