

    
        <h1 class="fw-300">Ink.UI.Close_1 </h1>
    

    

    

    


    


    

    



    
        <section>

    
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Close_1-Ink_UI_Close-Close">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    


    
        <div class="text"><p>Subscribes clicks on the document.body. If and only if you clicked on an element
having class &quot;ink-close&quot; or &quot;ink-dismiss&quot;, will go up the DOM hierarchy looking for an element with any
of the following classes: &quot;ink-alert&quot;, &quot;ink-alert-block&quot;.
If it is found, it is removed from the DOM.</p>
<p>One should call close once per page (full page refresh).</p>
</div>
    

    
    



    
        <div class="box box-function">

    <h2><a name="Ink_UI_Close_1-Ink_UI_Close-Close">
    
        Ink.UI.Close
    
    ()
    
        <i>constructor</i>
    
    </a></h2>

    
    

    

    

    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    <script>
        Ink.requireModules(['Ink.UI.Close_1'],function( Close ){
            new Close();
        });
    </script>
{% endraw %}{% endhighlight %}
</div>




    

</div>

    

    
</section>
    

    

    

