

    <div class="box box-module">

        
            <h2><a name="Ink_UI_Dropdown_1">Ink.UI.Dropdown_1 <i>module</i></a></h2>
        

        

        
            <p><label>author:</label>inkdev AT sapo.pt</p>
        
        
        
            <p><label>version:</label>1</p>
        

        

        

        

        




        
            <h3>Defined classes and namespaces:</h3>
            <ul>
            
                
                    <li><a href="#Ink_UI_Dropdown_1-Ink_UI_Dropdown">(C) Ink.UI.Dropdown</a></li>
                
            
            </ul>
        

        

        

    </div>

    
        <div class="box box-class">

    <h2><a name="Ink_UI_Dropdown_1-Ink_UI_Dropdown">Ink.UI.Dropdown <i>
    
        class
    
    </i></a></h2>

    

    
    
    

    
        <div class="text"><p>Use this UI module to achieve a dropdown menu.</p>
</div>
    

    

    




    
        
            <h3>Defined methods:</h3>
        
        
        <table>
        
            <tr>
                <td><a href="#Ink_UI_Dropdown_1-Ink_UI_Dropdown-Dropdown">
                
                    Ink.UI.Dropdown
                
                (trigger, options, )</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_UI_Dropdown_1-Ink_UI_Dropdown-dismiss">
                
                    Ink.UI.Dropdown.dismiss
                
                ([callHandler])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_UI_Dropdown_1-Ink_UI_Dropdown-open">
                
                    Ink.UI.Dropdown.open
                
                ([callHandler])</a></td>
            </tr>
        
        </table>
    

    

</div>


    <div class="box box-function">

    <h2><a name="Ink_UI_Dropdown_1-Ink_UI_Dropdown-Dropdown">
    
        Ink.UI.Dropdown
    
    (trigger, options, )
    
        <i>constructor</i>
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>DOMElement|String</pre>
                

                
                    <label>trigger
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>options
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>DOMElement|String</pre>
                

                
                    <label>options.target
                

                
                </label>

                
                    <span class="description">Target of the dropdown action.</span>
                
            </li>
        
        </ul>
    

    

    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_UI_Dropdown_1-Ink_UI_Dropdown-dismiss">
    
        
            Ink.UI.Dropdown.dismiss
        
    
    ([callHandler])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                

                
                    <label class="optional">[callHandler]
                

                
                    =false
                
                </label>

                
                    <span class="description">call onDismiss handler</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Dismiss the dropdown.</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_UI_Dropdown_1-Ink_UI_Dropdown-open">
    
        
            Ink.UI.Dropdown.open
        
    
    ([callHandler])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                

                
                    <label class="optional">[callHandler]
                

                
                    =false
                
                </label>

                
                    <span class="description">call onOpen handler</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Open the dropdown</p>
</span>
    

    

    



</div>





    

    

    

