

    
        <h1 class="fw-300">Ink.Namespace.ClassModule_1 <small>version: 1</small></h1>
    

    

    

    


    


    

    



    
        <section>

    
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Namespace_ClassModule_1-Ink_Namespace_ClassModule-ClassModule">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Namespace_ClassModule_1-Ink_Namespace_ClassModule-bake">
                        
                            .bake
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Namespace_ClassModule_1-Ink_Namespace_ClassModule-bake">
                        
                            .bake
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    


    
        <div class="text"><p>Use this to bake cakes.</p>
</div>
    

    
    



    
        <div class="box box-function">

    <h2><a name="Ink_Namespace_ClassModule_1-Ink_Namespace_ClassModule-ClassModule">
    
        Ink.Namespace.ClassModule
    
    (options, )
    
        <i>constructor</i>
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>options
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.opt1]
                

                
                </label>

                
                    <span class="description">asda sdas d</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.opt2]
                

                
                </label>

                
                    <span class="description">asda sdas d</span>
                
            </li>
        
        </ul>
    

    

    

    


    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Namespace_ClassModule_1-Ink_Namespace_ClassModule-bake">
    
        
            Ink.Namespace.ClassModule.bake
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Number</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    

    


    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Namespace_ClassModule_1-Ink_Namespace_ClassModule-bake">
    
        
            Ink.Namespace.ClassModule.bake
        
    
    (ingredient, time)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>ingredient
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>time
                

                
                </label>

                
            </li>
        
        </ul>
    

    

    

    


    

</div>

    

    
</section>
    

    

    

