

    
        <h1 class="fw-300">Ink.UI.ImageQuery_1 <small>version: 1</small></h1>
    

    

    

    


    


    

    



    
        <section>

    
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_ImageQuery_1-Ink_UI_ImageQuery-ImageQuery">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    


    

    
    



    
        <div class="box box-function">

    <h2><a name="Ink_UI_ImageQuery_1-Ink_UI_ImageQuery-ImageQuery">
    
        Ink.UI.ImageQuery
    
    (selector, [options], queries, allowFirstLoad)
    
        <i>constructor</i>
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String|DOMElement</pre>
                

                
                    <label>selector
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[options]
                

                
                </label>

                
                    <span class="description">Options</span>
                
            </li>
        
            <li>
                
                    <pre>String|Function</pre>
                

                
                    <label class="optional">[options.src]
                

                
                </label>

                
                    <span class="description">String or Callback function (that returns a string) with the path to be used to get the images.</span>
                
            </li>
        
            <li>
                
                    <pre>String|Function</pre>
                

                
                    <label class="optional">[options.retina]
                

                
                </label>

                
                    <span class="description">String or Callback function (that returns a string) with the path to be used to get RETINA specific images.</span>
                
            </li>
        
            <li>
                
                    <pre>Array</pre>
                

                
                    <label class="optional">[options.queries]
                

                
                </label>

                
                    <span class="description">Array of queries</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.queries.label]
                

                
                </label>

                
                    <span class="description">Label of the query. Ex. 'small'</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[options.queries.width]
                

                
                </label>

                
                    <span class="description">Min-width to use this query</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onLoad]
                

                
                </label>

                
                    <span class="description">Date format string</span>
                
            </li>
        
            <li>
                
                    <pre>array</pre>
                

                
                    <label>queries
                

                
                </label>

                
                    <span class="description">Array of objects that determine the label/name and its min-width to be applied.</span>
                
            </li>
        
            <li>
                
                    <pre>boolean</pre>
                

                
                    <label>allowFirstLoad
                

                
                </label>

                
                    <span class="description">Boolean flag to allow the loading of the first element.</span>
                
            </li>
        
        </ul>
    

    

    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
     <div class="imageQueryExample large-100 medium-100 small-100 content-center clearfix vspace">
         <img src="/assets/imgs/imagequery/small/image.jpg" />
     </div>
     <script type="text/javascript">
     Ink.requireModules( ['Ink.Dom.Selector_1', 'Ink.UI.ImageQuery_1'], function( Selector, ImageQuery ){
         var imageQueryElement = Ink.s('.imageQueryExample img');
         var imageQueryObj = new ImageQuery('.imageQueryExample img',{
             src: '/assets/imgs/imagequery/{:label}/{:file}',
             queries: [
                 {
                     label: 'small',
                     width: 480
                 },
                 {
                     label: 'medium',
                     width: 640
                 },
                 {
                     label: 'large',
                     width: 1024
                 }   
             ]
         });
     } );
     </script>
{% endraw %}{% endhighlight %}
</div>




    

</div>

    

    
</section>
    

    

    

