

    <div class="box box-module">

        
            <h2><a name="Ink_UI_Droppable_1">Ink.UI.Droppable_1 <i>module</i></a></h2>
        

        

        
            <p><label>author:</label>inkdev AT sapo.pt</p>
        
        
        
            <p><label>version:</label>1</p>
        

        

        

        


        


        
            <h3>Defined classes and namespaces:</h3>
            <ul>
            
                
                    <li><a href="#Ink_UI_Droppable_1-Ink_UI_Droppable">(C) Ink.UI.Droppable</a></li>
                
            
            </ul>
        

        

        

    </div>

    
        <div class="box box-class">

    <h2><a name="Ink_UI_Droppable_1-Ink_UI_Droppable">Ink.UI.Droppable <i>
    
        class
    
    </i></a></h2>

    

    
    
    
        <p><label>version:</label>1</p>
    

    

    


    


    
        
            <h3>Defined methods:</h3>
        
        
        <ul>
        
            <li><a href="#Ink_UI_Droppable_1-Ink_UI_Droppable-add">
            
                Ink.UI.Droppable.add
            
            (element, [options], )</a></li>
        
            <li><a href="#Ink_UI_Droppable_1-Ink_UI_Droppable-remove">
            
                Ink.UI.Droppable.remove
            
            (elOrSelector)</a></li>
        
        </ul>
    

    

</div>


    <div class="box box-function">

    <h2><a name="Ink_UI_Droppable_1-Ink_UI_Droppable-add">
    
        
            Ink.UI.Droppable.add
        
    
    (element, [options], )
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String|DOMElement</pre>
                

                
                    <label>element
                

                
                </label>

                
                    <span class="description">Target element</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[options]
                

                
                </label>

                
                    <span class="description">options object</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.hoverClass]
                

                
                </label>

                
                    <span class="description">Classname(s) applied when an acceptable draggable element is hovering the element</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.accept]
                

                
                </label>

                
                    <span class="description">Selector for choosing draggables which can be dropped in this droppable.</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onHover]
                

                
                </label>

                
                    <span class="description">callback called when an acceptable draggable element is hovering the droppable. Gets the draggable and the droppable element as parameters.</span>
                
            </li>
        
            <li>
                
                    <pre>Function|String</pre>
                

                
                    <label class="optional">[options.onDrop]
                

                
                </label>

                
                    <span class="description">callback called when an acceptable draggable element is dropped. Gets the draggable, the droppable and the event as parameters.</span>
                
            </li>
        
            <li>
                
                    <pre>Function|String</pre>
                

                
                    <label class="optional">[options.onDropOut]
                

                
                </label>

                
                    <span class="description">callback called when a droppable is dropped outside this droppable. Gets the draggable, the droppable and the event as parameters. (see above for string options).</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Makes an element droppable and adds it to the stack of droppable elements.
Can consider it a constructor of droppable elements, but where no Droppable object is returned.</p>
<p>In the following arguments, any events/callbacks you may pass, can be either functions or strings. If the &#39;move&#39; or &#39;copy&#39; strings are passed, the draggable gets moved into this droppable. If &#39;revert&#39; is passed, an acceptable droppable is moved back to the element it came from.</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example">
{% highlight html %}
{% raw %}

      <style type="text/css">
          .hover {
              border: 1px solid red;
          }
          .left, .right {
              float: left; width: 50%;
              outline: 1px solid gray;
              min-height: 2em;
          }
      </style>
       <ul class="left">
           <li>Draggable 1</li>
           <li>Draggable 2</li>
           <li>Draggable 3</li>
       </ul>
       <ul class="right">
       </ul>
       <script type="text/javascript">
           Ink.requireModules(['Ink.UI.Draggable_1', 'Ink.UI.Droppable_1'], function (Draggable, Droppable) {
               new Draggable('.left li:eq(0)', {});
               new Draggable('.left li:eq(1)', {});
               new Draggable('.left li:eq(2)', {});
               Droppable.add('.left', {onDrop: 'move', onDropOut: 'revert'});
               Droppable.add('.right', {onDrop: 'move', onDropOut: 'revert'});
           })
       </script>

{% endraw %}
{% endhighlight %}
</div>




    

</div>


    <div class="box box-function">

    <h2><a name="Ink_UI_Droppable_1-Ink_UI_Droppable-remove">
    
        
            Ink.UI.Droppable.remove
        
    
    (elOrSelector)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String|DOMElement</pre>
                

                
                    <label>elOrSelector
                

                
                </label>

                
                    <span class="description">Droppable element to disable.</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Removes an element from the droppable stack and removes the droppable behavior</p>
</span>
    

    


    

</div>





    

    

    

