

    <div class="box box-module">

        
            <h2><a name="Ink_Dom_Browser_1">Ink.Dom.Browser_1 <i>module</i></a></h2>
        

        

        
            <p><label>author:</label>inkdev AT sapo.pt</p>
        
        
        
            <p><label>version:</label>1</p>
        

        

        

        


        
            <h3>Defined classes and namespaces:</h3>
            <ul>
            
                
                    <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser">(C) Ink.Dom.Browser</a></li>
                
            
            </ul>
        

        

        

    </div>

    
        <div class="box box-class">

    <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser">Ink.Dom.Browser <i>
    
        class
    
    </i></a></h2>

    

    
    
    
        <p><label>version:</label>1</p>
    

    

    
	<h3>Examples:</h3>

	
		<pre class="example"><code>
			
    &lt;input type=&quot;text&quot; id=&quot;dPicker&quot; /&gt;
    &lt;script&gt;
        Ink.requireModules([&#x27;Ink.Dom.Browser_1&#x27;],function( InkBrowser ){
            if( InkBrowser.CHROME ){
                console.log( &#x27;This is a CHROME browser.&#x27; );
            }
        });
    &lt;/script&gt;

		</code></pre>
	



    
        
            <h3>Defined methods:</h3>
        
        
        <ul>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-debug">
            
                Ink.Dom.Browser.debug
            
            ()</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-detectBrowser">
            
                Ink.Dom.Browser.detectBrowser
            
            ()</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-init">
            
                Ink.Dom.Browser.init
            
            ()</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-setDimensions">
            
                Ink.Dom.Browser.setDimensions
            
            ()</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-setReferrer">
            
                Ink.Dom.Browser.setReferrer
            
            ()</a></li>
        
        </ul>
    

    
        <h3>Defined attributes:</h3>
        <ul>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-CHROME">Ink.Dom.Browser.CHROME</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-GECKO">Ink.Dom.Browser.GECKO</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-IE">Ink.Dom.Browser.IE</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-KONQUEROR">Ink.Dom.Browser.KONQUEROR</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-OPERA">Ink.Dom.Browser.OPERA</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-SAFARI">Ink.Dom.Browser.SAFARI</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-model">Ink.Dom.Browser.model</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-userAgent">Ink.Dom.Browser.userAgent</a></li>
        
            <li><a href="#Ink_Dom_Browser_1-Ink_Dom_Browser-version">Ink.Dom.Browser.version</a></li>
        
        </ul>
    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-debug">
    
        
            Ink.Dom.Browser.debug
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    

    
        <span class="text"><p>Debug function which displays browser (and Ink.Dom.Browser) information as an alert message.</p>
</span>
    

    
	<h3>Examples:</h3>

	
		<pre class="example"><code>
			
 
 The following code

     Ink.requireModules([&#x27;Ink.Dom.Browser_1&#x27;], function (Browser) {
         Browser.debug();
     });

 Alerts (On Firefox 22):

     known browsers: (ie, gecko, opera, safari, konqueror) 
     false,true,false,false,false
     model -&gt; firefox
     version -&gt; 22.0
     
     original UA -&gt; Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:22.0) Gecko/20100101 Firefox/22.0

		</code></pre>
	



</div>


    <div class="box box-function">

    <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-detectBrowser">
    
        
            Ink.Dom.Browser.detectBrowser
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    

    
        <span class="text"><p>Detects the browser and stores the found properties. Called automatically when this module is loaded.</p>
</span>
    

    


</div>


    <div class="box box-function">

    <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-init">
    
        
            Ink.Dom.Browser.init
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    

    
        <span class="text"><p>Initialization function for the Browser object.</p>
<p>Is called automatically when this module is loaded, and calls setDimensions, setBrowser and setReferrer.</p>
</span>
    

    


</div>


    <div class="box box-function">

    <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-setDimensions">
    
        
            Ink.Dom.Browser.setDimensions
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    

    
        <span class="text"><p>Retrieves and stores window dimensions in this object. Called automatically when this module is loaded.</p>
</span>
    

    


</div>


    <div class="box box-function">

    <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-setReferrer">
    
        
            Ink.Dom.Browser.setReferrer
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    

    
        <span class="text"><p>Stores the referrer. Called automatically when this module is loaded.</p>
</span>
    

    


</div>




    <div class="box box-attribute">

     <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-CHROME">
    
       Ink.Dom.Browser.CHROME
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>True if browser is Chrome</p>
</p>
    

    
        <pre>Boolean</pre>
    

    <label>CHROME</label>

    

</div>


    <div class="box box-attribute">

     <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-GECKO">
    
       Ink.Dom.Browser.GECKO
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>True if the browser is Gecko based</p>
</p>
    

    
        <pre>Boolean</pre>
    

    <label>GECKO</label>

    

</div>


    <div class="box box-attribute">

     <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-IE">
    
       Ink.Dom.Browser.IE
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>True if the browser is Internet Explorer</p>
</p>
    

    
        <pre>Boolean</pre>
    

    <label>IE</label>

    

</div>


    <div class="box box-attribute">

     <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-KONQUEROR">
    
       Ink.Dom.Browser.KONQUEROR
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>True if the browser is Konqueror</p>
</p>
    

    
        <pre>Boolean</pre>
    

    <label>KONQUEROR</label>

    

</div>


    <div class="box box-attribute">

     <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-OPERA">
    
       Ink.Dom.Browser.OPERA
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>True if the browser is Opera</p>
</p>
    

    
        <pre>Boolean</pre>
    

    <label>OPERA</label>

    

</div>


    <div class="box box-attribute">

     <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-SAFARI">
    
       Ink.Dom.Browser.SAFARI
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>True if the browser is Safari</p>
</p>
    

    
        <pre>Boolean</pre>
    

    <label>SAFARI</label>

    

</div>


    <div class="box box-attribute">

     <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-model">
    
       Ink.Dom.Browser.model
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>The specific browser model. False if it is unavailable.</p>
</p>
    

    
        <pre>Boolean|String</pre>
    

    <label>model</label>

    

</div>


    <div class="box box-attribute">

     <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-userAgent">
    
       Ink.Dom.Browser.userAgent
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>The user agent string. False if it is unavailable.</p>
</p>
    

    
        <pre>Boolean|String</pre>
    

    <label>userAgent</label>

    

</div>


    <div class="box box-attribute">

     <h2><a name="Ink_Dom_Browser_1-Ink_Dom_Browser-version">
    
       Ink.Dom.Browser.version
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>The browser version. False if it is unavailable.</p>
</p>
    

    
        <pre>Boolean|String</pre>
    

    <label>version</label>

    

</div>



    

    

    

