

    
        <section>
        <h1 class="fw-300">Ink.Util.BinPack_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>

        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Util_BinPack_1-Ink_Util_BinPack-binPack">
                        
                            .binPack
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Binary Packing algorithm implementation

Based on the work of Jake Gordon

see https://github.com/jakesgordon/bin-packing/</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.BinPack.binPack
        
    
    (o, )
    
        
            <i>method</i>
        
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>o
                

                
                </label>
                
                    options
                
            </dd>
        
            <dt>
                
                    <code>Object[]</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label>o.blocks
                

                
                </label>
                
                    array of items with w and h integer attributes.
                
            </dd>
        
            <dt>
                
                    <code>Number[2]</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[o.dimensions]
                

                
                </label>
                
                    if passed, container has fixed dimensions
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[o.sorter]
                

                
                </label>
                
                    sorter function. one of: random, height, width, area, maxside
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>



    

    

    

