

    
        <h1 class="fw-300">Ink.UI.Dropdown_1 <small>version: 1</small></h1>
    

    

    

    


    


    

    



    
        <section>

    
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Dropdown_1-Ink_UI_Dropdown-Dropdown">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Dropdown_1-Ink_UI_Dropdown-dismiss">
                        
                            .dismiss
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Dismiss the dropdown.</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Dropdown_1-Ink_UI_Dropdown-open">
                        
                            .open
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Open the dropdown</p>


                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    


    
        <div class="text"><p>Use this UI module to achieve a dropdown menu.</p>
</div>
    

    
    



    
        <div class="box box-function">

    <h2><a name="Ink_UI_Dropdown_1-Ink_UI_Dropdown-Dropdown">
    
        Ink.UI.Dropdown
    
    (trigger, options, )
    
        <i>constructor</i>
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>DOMElement|String</pre>
                

                
                    <label>trigger
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>options
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>DOMElement|String</pre>
                

                
                    <label>options.target
                

                
                </label>

                
                    <span class="description">Target of the dropdown action.</span>
                
            </li>
        
        </ul>
    

    

    

    


    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_UI_Dropdown_1-Ink_UI_Dropdown-dismiss">
    
        
            Ink.UI.Dropdown.dismiss
        
    
    ([callHandler])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                

                
                    <label class="optional">[callHandler]
                

                
                    =false
                
                </label>

                
                    <span class="description">call onDismiss handler</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Dismiss the dropdown.</p>
</span>
    

    


    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_UI_Dropdown_1-Ink_UI_Dropdown-open">
    
        
            Ink.UI.Dropdown.open
        
    
    ([callHandler])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                

                
                    <label class="optional">[callHandler]
                

                
                    =false
                
                </label>

                
                    <span class="description">call onOpen handler</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Open the dropdown</p>
</span>
    

    


    

</div>

    

    
</section>
    

    

    

