

    
        <section>
        <h1 class="fw-300">Ink.Dom.Css_1 <small>version: 1
CSS Utilities and toolbox</small></h1>
    



    
        <ul class="props inline">
            <li class="heading">Uses:</li>
            
            <li class="prop">addRemoveClassName</li>
            
            <li class="prop">addRemoveClassName</li>
            
        </ul>
    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-addClassName">
                        
                            .addClassName
                        
                        
                    </a>
                </td>
                <td>
                    

                    Adds a class to a given element

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-addRemoveClassName">
                        
                            .addRemoveClassName
                        
                        
                    </a>
                </td>
                <td>
                    

                    Adds of removes a class.
Depending on addRemState, this method either adds a class if it's true or removes if if false.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-appendStyleTag">
                        
                            .appendStyleTag
                        
                        
                    </a>
                </td>
                <td>
                    

                    Injects style tags with rules to the page.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-appendStylesheet">
                        
                            .appendStylesheet
                        
                        
                    </a>
                </td>
                <td>
                    

                    Injects an external link tag.
This method add a stylesheet to the head of a page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-appendStylesheetCb">
                        
                            .appendStylesheetCb
                        
                        
                    </a>
                </td>
                <td>
                    

                    Injects an external link tag.
Loads CSS via LINK element inclusion in HEAD (skips append if already there)

Works similarly to appendStylesheet but:
  a) supports all browsers;
  b) supports optional callback which gets invoked once the CSS has been applied

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-blinkClass">
                        
                            .blinkClass
                        
                        
                    </a>
                </td>
                <td>
                    

                    Blinks a class from an element
Add and removes the class from the element with a timeout, so it blinks

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-changeFontSize">
                        
                            .changeFontSize
                        
                        
                    </a>
                </td>
                <td>
                    

                    Change the font size of elements.
Changes the font size of the elements which match the given CSS rule
For this function to work, the CSS file must be in the same domain than the host page, otherwise JS can't access it.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-decToHex">
                        
                            .decToHex
                        
                        
                    </a>
                </td>
                <td>
                    

                    Converts decimal to hexadecimal values
Useful to convert colors to their hexadecimal representation.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-getPropertyFromStylesheet">
                        
                            .getPropertyFromStylesheet
                        
                        
                    </a>
                </td>
                <td>
                    

                    Get a single property from a stylesheet.
Use this to obtain the value of a CSS property (searched from loaded CSS documents)

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-getStyle">
                        
                            .getStyle
                        
                        
                    </a>
                </td>
                <td>
                    

                    Gets the value for an element's style attribute

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-hasClassName">
                        
                            .hasClassName
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if an element has a class.
This method verifies if an element has ONE of a list of classes. If the last argument is flagged as true, instead checks if the element has ALL the classes

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-hexToDec">
                        
                            .hexToDec
                        
                        
                    </a>
                </td>
                <td>
                    

                    Converts hexadecimal values to decimal
Useful to use with CSS colors

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-hide">
                        
                            .hide
                        
                        
                    </a>
                </td>
                <td>
                    

                    Hides an element.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-removeClassName">
                        
                            .removeClassName
                        
                        
                    </a>
                </td>
                <td>
                    

                    Removes a class from a given element

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-setClassName">
                        
                            .setClassName
                        
                        
                    </a>
                </td>
                <td>
                    

                    Alias to addRemoveClassName. 
Utility function, saves many if/elses.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-setOpacity">
                        
                            .setOpacity
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets the opacity of given element

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-setStyle">
                        
                            .setStyle
                        
                        
                    </a>
                </td>
                <td>
                    

                    Adds CSS rules to an element's style attribute.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-show">
                        
                            .show
                        
                        
                    </a>
                </td>
                <td>
                    

                    Shows an element.
Internally it unsets the display property of an element. You can force a specific display property using forceDisplayProperty

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-showHide">
                        
                            .showHide
                        
                        
                    </a>
                </td>
                <td>
                    

                    Shows or hides an element.
If the show parameter is true, it shows the element. Otherwise, hides it.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-toggle">
                        
                            .toggle
                        
                        
                    </a>
                </td>
                <td>
                    

                    Toggles an element visibility.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Css_1-Ink_Dom_Css-toggleClassName">
                        
                            .toggleClassName
                        
                        
                    </a>
                </td>
                <td>
                    

                    Toggles a class name from a given element

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>










    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.addClassName
        
    
    (elm, className)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Adds a class to a given element</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>String|Array</code>
                
            </dt>
            <dd>
                
                <label>className
                

                
                </label>
                
                    Classes
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.addRemoveClassName
        
    
    (elm, className, addRemState)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Adds of removes a class.
Depending on addRemState, this method either adds a class if it's true or removes if if false.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|string</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>string</code>
                
            </dt>
            <dd>
                
                <label>className
                

                
                </label>
                
                    class name to add or remove.
                
            </dd>
        
            <dt>
                
                    <code>boolean</code>
                
            </dt>
            <dd>
                
                <label>addRemState
                

                
                </label>
                
                    Whether to add or remove. `true` to add, `false` to remove.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     Ink.requireModules(['Ink.Dom.Css_1'], function (Css) {
         Css.addRemoveClassName(myElm, 'classss', true);  // Adds the `classss` class.
         Css.addRemoveClassName(myElm, 'classss', false);  // Removes the `classss` class.
     });
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.appendStyleTag
        
    
    (selector, style, options, )
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Injects style tags with rules to the page.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
                    The css selector for the rule
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>style
                

                
                </label>
                
                    The content of the style rule
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label>options
                

                
                </label>
                
                    Options for the tag
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.type]
                

                
                    &#x27;text/css&#x27;
                
                </label>
                
                    File type
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.force]
                

                
                    false
                
                </label>
                
                    If true, the style tag will be appended to end of head
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.appendStylesheet
        
    
    (path, options, )
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Injects an external link tag.
This method add a stylesheet to the head of a page</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>path
                

                
                </label>
                
                    File path
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label>options
                

                
                </label>
                
                    Options for the tag
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.media]
                

                
                    &#x27;screen&#x27;
                
                </label>
                
                    Media type
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.type]
                

                
                    &#x27;text/css&#x27;
                
                </label>
                
                    File type
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.force]
                

                
                    false
                
                </label>
                
                    If true, tag will be appended to end of head
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.appendStylesheetCb
        
    
    (cssURI, [callback])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Injects an external link tag.
Loads CSS via LINK element inclusion in HEAD (skips append if already there)

Works similarly to appendStylesheet but:
  a) supports all browsers;
  b) supports optional callback which gets invoked once the CSS has been applied</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>cssURI
                

                
                </label>
                
                    URI of the CSS to load, if empty ignores and just calls back directly
                
            </dd>
        
            <dt>
                
                    <code>Function(cssURI)</code>
                
            </dt>
            <dd>
                
                <label class="optional">[callback]
                

                
                </label>
                
                    optional callback which will be called once the CSS is loaded
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.blinkClass
        
    
    (elm, className, timeout, negate)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Blinks a class from an element
Add and removes the class from the element with a timeout, so it blinks</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>String|Array</code>
                
            </dt>
            <dd>
                
                <label>className
                

                
                </label>
                
                    Class name(s) to blink
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label>timeout
                

                
                </label>
                
                    timeout in ms between adding and removing, default 100 ms
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label>negate
                

                
                </label>
                
                    is true, class is removed then added
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.changeFontSize
        
    
    (selector, delta, [op], [minVal], [maxVal])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Change the font size of elements.
Changes the font size of the elements which match the given CSS rule
For this function to work, the CSS file must be in the same domain than the host page, otherwise JS can't access it.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
                    CSS selector rule
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                <label>delta
                

                
                </label>
                
                    Number of pixels to change on font-size
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[op]
                

                
                </label>
                
                    Supported operations are '+' and '*'. defaults to '+'
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                <label class="optional">[minVal]
                

                
                </label>
                
                    If result gets smaller than minVal, change does not occurr
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                <label class="optional">[maxVal]
                

                
                </label>
                
                    If result gets bigger  than maxVal, change does not occurr
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.decToHex
        
    
    (dec)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Converts decimal to hexadecimal values
Useful to convert colors to their hexadecimal representation.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>dec
                

                
                </label>
                
                    Either a single decimal value, an rgb(r, g, b) string or an Object with r, g and b properties
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.getPropertyFromStylesheet
        
    
    (selector, property)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Get a single property from a stylesheet.
Use this to obtain the value of a CSS property (searched from loaded CSS documents)</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
                    a CSS rule. must be an exact match
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>property
                

                
                </label>
                
                    a CSS property
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.getStyle
        
    
    (elm, style)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Gets the value for an element's style attribute</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>style
                

                
                </label>
                
                    Which css attribute to fetch
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.hasClassName
        
    
    (elm, className, [all])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Checks if an element has a class.
This method verifies if an element has ONE of a list of classes. If the last argument is flagged as true, instead checks if the element has ALL the classes</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>String|Array</code>
                
            </dt>
            <dd>
                
                <label>className
                

                
                </label>
                
                    Class names to test
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[all]
                

                
                    false
                
                </label>
                
                    If flagged as true, it will check if the element contains ALL the CSS classes
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.hexToDec
        
    
    (hex)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Converts hexadecimal values to decimal
Useful to use with CSS colors</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>hex
                

                
                </label>
                
                    hexadecimal Value with 6, 3, 2 or 1 characters
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Number</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.hide
        
    
    (elm)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Hides an element.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.removeClassName
        
    
    (elm, className)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Removes a class from a given element</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>String|Array</code>
                
            </dt>
            <dd>
                
                <label>className
                

                
                </label>
                
                    Class names to remove. You can either use a space separated string of classnames, comma-separated list or an array
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.setClassName
        
    
    (elm, className, [add])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Alias to addRemoveClassName. 
Utility function, saves many if/elses.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>String|Array</code>
                
            </dt>
            <dd>
                
                <label>className
                

                
                </label>
                
                    Class names to add\remove. Comma separated, space separated or simply an Array
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[add]
                

                
                    false
                
                </label>
                
                    Flag to switch behavior from removal to addition. true to add, false to remove
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.setOpacity
        
    
    (elm, value)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Sets the opacity of given element</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                <label>value
                

                
                </label>
                
                    allows 0 to 1(default mode decimal) or percentage (warning using 0 or 1 will reset to default mode)
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.setStyle
        
    
    (elm, style)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Adds CSS rules to an element's style attribute.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>style
                

                
                </label>
                
                    Which css attribute to set
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <a href="#" class="change-color">Change his color</a>
    <p class="him">"He" is me</p>
    <script type="text/javascript">
        Ink.requireModules(['Ink.Dom.Css_1', 'Ink.Dom.Event_1', 'Ink.Dom.Selector_1'], function (Css, InkEvent, Selector) {
            var btn = Selector.select('.change-color')[0];
            var other = Selector.select('.him')[0];
            InkEvent.observe(btn, 'click', function () {
                Css.setStyle(other, 'background-color: black');
                Css.setStyle(other, 'color: white');
            });
        });
    </script>

{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.show
        
    
    (elm, [forceDisplayProperty])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Shows an element.
Internally it unsets the display property of an element. You can force a specific display property using forceDisplayProperty</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[forceDisplayProperty]
                

                
                </label>
                
                    Css display property to apply on show
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.showHide
        
    
    (elm, [show])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Shows or hides an element.
If the show parameter is true, it shows the element. Otherwise, hides it.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[show]
                

                
                    false
                
                </label>
                
                    Whether to show or hide `elm`.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.toggle
        
    
    (elm, forceShow)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Toggles an element visibility.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label>forceShow
                

                
                </label>
                
                    Forces showing if element is hidden
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Css.toggleClassName
        
    
    (elm, className, [forceAdd])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Toggles a class name from a given element</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>elm
                

                
                </label>
                
                    DOM element or element id
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>className
                

                
                </label>
                
                    Class name
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[forceAdd]
                

                
                </label>
                
                    Flag to force adding the the classe names if they don't exist yet.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

