

    
        <section>
        <h1 class="fw-300">Ink.UI.SortableList_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SortableList_1-Ink_UI_SortableList-SortableList">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_SortableList_1-Ink_UI_SortableList-destroy">
                        
                            .destroy
                        
                        
                    </a>
                </td>
                <td>
                    

                    Unregisters the component and removes its markup from the DOM

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Adds sortable behaviour to any list!</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.SortableList
    
    (selector, )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.placeholderClass]
                

                
                    &#x27;placeholder&#x27;
                
                </label>
                
                    CSS class to be added to the "ghost" element being dragged around
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.draggedClass]
                

                
                    &#x27;hide-all&#x27;
                
                </label>
                
                    CSS class added to the original element.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.draggingClass]
                

                
                    &#x27;dragging&#x27;
                
                </label>
                
                    CSS class added to the html element when the user is dragging.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.dragSelector]
                

                
                    &#x27;li&#x27;
                
                </label>
                
                    CSS selector for the drag enabled nodes.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.handleSelector]
                

                
                    null
                
                </label>
                
                    CSS selector for the drag handle. If present, you can only drag nodes by this selector.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.moveSelector]
                

                
                    null
                
                </label>
                
                    CSS selector to validate a node move. If present, you can only move nodes into this selector.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.swap]
                

                
                    false
                
                </label>
                
                    Flag to swap moving element with target element instead of changing its order.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.cancelMouseOut]
                

                
                    false
                
                </label>
                
                    Flag to cancel moving if mouse leaves the container element.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <ul class="unstyled ink-sortable-list" id="slist" data-handle-selector=".ink-label">
         <li><span class="ink-label info">drag here</span>primeiro</li>
         <li><span class="ink-label info">drag here</span>segundo</li>
         <li><span class="ink-label info">drag here</span>terceiro</li>
     </ul>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.SortableList_1'], function( Selector, SortableList ){
             var sortableListElement = Ink.s('.ink-sortable-list');
             var sortableListObj = new SortableList( sortableListElement );
         });
     <\/script>
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.SortableList.destroy
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Unregisters the component and removes its markup from the DOM</p>
    

    


    


    

</section>



    

    

    

