

    
        <section>
        <h1 class="fw-300">Ink.UI.Sticky_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Sticky_1-Ink_UI_Sticky-Sticky">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">The Sticky component takes an element and transforms it's behavior in order to, when the user scrolls he sets its position
to fixed and maintain it until the user scrolls back to the same place.</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Sticky
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options]
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.offsetBottom]
                

                
                    0
                
                </label>
                
                    Number of pixels of distance from the bottomElement.
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.offsetTop]
                

                
                    0
                
                </label>
                
                    Number of pixels of distance from the topElement.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.inlineDimensions]
                

                
                    true
                
                </label>
                
                    Whether to set "style.height" and "style.width" in the stuck element. Turn this off when your `stickyClass` has its own height and width and you don't want this to be dealt with through javascript.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.inlinePosition]
                

                
                    true
                
                </label>
                
                    Whether to set "style.left" in the stuck element. Turn this off when your `stickyClass` has its own "left" position and you don't want this to be dealt with through javascript.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.wrapperClass]
                

                
                    &quot;ink-sticky-wrapper&quot;
                
                </label>
                
                    Css class for the wrapper element.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.stickyClass]
                

                
                    &quot;ink-sticky-stuck&quot;
                
                </label>
                
                    Css class for sticking the sticky to the screen. Add your own "stuck" class to define your own sticky behaviour.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.topElement]
                

                
                </label>
                
                    CSS Selector that specifies a top element with which the component could collide.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.bottomElement]
                

                
                </label>
                
                    CSS Selector that specifies a bottom element with which the component could collide.
                
            </dd>
        
            <dt>
                
                    <code>Array|String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.activateInLayouts]
                

                
                    &#x27;medium,large&#x27;
                
                </label>
                
                    Layouts in which the sticky behaviour is present. Pass an array or comma-separated string.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Sticky_1'], function( Selector, Sticky ) {
             var menuElement = Ink.s('#menu');
             var stickyObj = new Sticky( menuElement );
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

