

    
        <section>
        <h1 class="fw-300">Ink.UI.Droppable_1 <small>version: 1</small></h1>
    

    

    


    


    

    



    
            

    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>

        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Droppable_1-Ink_UI_Droppable-add">
                        
                            .add
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Makes an element droppable.
This method adds it to the stack of droppable elements.
Can consider it a constructor of droppable elements, but where no Droppable object is returned.</p>
<p>In the following arguments, any events/callbacks you may pass, can be either functions or strings. If the &#39;move&#39; or &#39;copy&#39; strings are passed, the draggable gets moved into this droppable. If &#39;revert&#39; is passed, an acceptable droppable is moved back to the element it came from.</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Droppable_1-Ink_UI_Droppable-remove">
                        
                            .remove
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Removes an element from the droppable stack and removes the droppable behavior</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Droppable_1-Ink_UI_Droppable-update">
                        
                            .update
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Updates location and size of droppable element</p>


                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_UI_Droppable_1-Ink_UI_Droppable-add" class="box box-function">

    <h1 class="fw-300">
    
        
            .add
        
    
    (element, [options], )
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        element
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Makes an element droppable.
This method adds it to the stack of droppable elements.
Can consider it a constructor of droppable elements, but where no Droppable object is returned.</p>
<p>In the following arguments, any events/callbacks you may pass, can be either functions or strings. If the &#39;move&#39; or &#39;copy&#39; strings are passed, the draggable gets moved into this droppable. If &#39;revert&#39; is passed, an acceptable droppable is moved back to the element it came from.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">element
                

                
                </label>
                
                    Target element
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options]
                

                
                </label>
                
                    Options object
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.hoverClass]
                

                
                </label>
                
                    Classname(s) applied when an acceptable draggable element is hovering the element
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.accept]
                

                
                </label>
                
                    Selector for choosing draggables which can be dropped in this droppable.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.onHover]
                

                
                </label>
                
                    Callback when an acceptable draggable element is hovering the droppable. Gets the draggable and the droppable element as parameters.
                
            </dd>
        
            <dt>
                
                    <code>Function|String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.onDrop]
                

                
                </label>
                
                    Callback when an acceptable draggable element is dropped. Gets the draggable, the droppable and the event as parameters.
                
            </dd>
        
            <dt>
                
                    <code>Function|String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.onDropOut]
                

                
                </label>
                
                    Callback when a droppable is dropped outside this droppable. Gets the draggable, the droppable and the event as parameters. (see above for string options).
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}

      <style type="text/css">
          .hover {
              border: 1px solid red;
          }
          .left, .right {
              float: left; width: 50%;
              outline: 1px solid gray;
              min-height: 2em;
          }
      </style>
       <ul class="left">
           <li>Draggable 1</li>
           <li>Draggable 2</li>
           <li>Draggable 3</li>
       </ul>
       <ul class="right">
       </ul>
       <script type="text/javascript">
           Ink.requireModules(['Ink.UI.Draggable_1', 'Ink.UI.Droppable_1'], function (Draggable, Droppable) {
               new Draggable('.left li:eq(0)', {});
               new Draggable('.left li:eq(1)', {});
               new Draggable('.left li:eq(2)', {});
               Droppable.add('.left', {onDrop: 'move', onDropOut: 'revert'});
               Droppable.add('.right', {onDrop: 'move', onDropOut: 'revert'});
           })
       </script>

{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_UI_Droppable_1-Ink_UI_Droppable-remove" class="box box-function">

    <h1 class="fw-300">
    
        
            .remove
        
    
    (elOrSelector)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        elOrSelector
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Removes an element from the droppable stack and removes the droppable behavior</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">elOrSelector
                

                
                </label>
                
                    Droppable element to disable.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_UI_Droppable_1-Ink_UI_Droppable-update" class="box box-function">

    <h1 class="fw-300">
    
        
            .update
        
    
    (element)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        element
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Updates location and size of droppable element</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">element
                

                
                </label>
                
                    Target element
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

