

    
        <h1 class="fw-300">Ink.Util.I18n_1 </h1>
    

    

    

    


    


    

    



    
        <section>

    
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-I18n">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-alias">
                        
                            .alias
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Returns an alias to <code>text()</code>, for convenience. The resulting function is
traditionally assigned to &quot;_&quot;.</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-append">
                        
                            .append
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Adds translation strings for this helper to use.</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-append">
                        
                            .append
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Reset I18n global state (global dictionaries, and default language for instances)</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-getKey">
                        
                            .getKey
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Return an arbitrary key from the current language dictionary</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-lang">
                        
                            .lang
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-lang">
                        
                            .lang
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Get or set the language. If there are more dictionaries available in cache, they will be loaded.</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-ntext">
                        
                            .ntext
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Given a singular string, a plural string, and a number, translates
either the singular or plural string.</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-ordinal">
                        
                            .ordinal
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Returns the ordinal suffix of <code>num</code> (For example, 1 &gt; &#39;st&#39;, 2 &gt; &#39;nd&#39;, 5 &gt; &#39;th&#39;, ...).</p>
<p>This works by using transforms (in the form of Objects or Functions) passed into the
function or found in the special key <code>_ordinals</code> in the active language dictionary.</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-reset">
                        
                            .reset
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-testMode">
                        
                            .testMode
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Sets or unsets test mode. In test mode, unknown strings are wrapped
in <code>[ ... ]</code>. This is useful for debugging your application and
making sure all your translation keys are in place.</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_I18n_1-Ink_Util_I18n-text">
                        
                            .text
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Given a translation key, return a translated string, with replaced parameters.
When a translated string is not available, the original string is returned unchanged.</p>


                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    


    
        <div class="text"><p>Creates a new internationalization helper object</p>
</div>
    

    
    



    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-I18n">
    
        Ink.Util.I18n
    
    (dict, [lang])
    
        <i>constructor</i>
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>dict
                

                
                </label>

                
                    <span class="description">object mapping language codes (in the form of `pt_PT`, `pt_BR`, `fr`, `en_US`, etc.) to their Object dictionaries.</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>dict.DICTIONARIES
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[lang]
                

                
                    =&#x27;pt_PT&#x27;s
                
                </label>

                
                    <span class="description">language code of the target language</span>
                
            </li>
        
        </ul>
    

    

    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
     var dictionaries = {    // This could come from a JSONP request from your server
         'pt_PT': {
             'hello': 'olá',
             'me': 'eu',
             'i have a {} for you': 'tenho um {} para ti' // Old syntax using `{%s}` tokens still available
         },
         'pt_BR': {
             'hello': 'oi',
             'me': 'eu',
             'i have a {} for you': 'tenho um {} para você'
         }
     };
     Ink.requireModules(['Ink.Util.I18n_1'], function (I18n) {
         var i18n = new I18n(dictionaries, 'pt_PT');
         i18n.text('hello');  // returns 'olá'
         i18n.text('i have a {} for you', 'IRON SWORD'); // returns 'tenho um IRON SWORD' para ti
         
         i18n.lang('pt_BR');  // Changes language. pt_BR dictionary is loaded
         i18n.text('hello');  // returns 'oi'

         i18n.lang('en_US');  // Missing language.
         i18n.text('hello');  // returns 'hello'. If testMode is on, returns '[hello]'
     });
     
 {% endraw %}{% endhighlight %}
</div>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
     // The old {%s} syntax from libsapo's i18n is still supported
     i18n.text('hello, {%s}!', 'someone'); // -> 'olá, someone!'
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-alias">
    
        
            Ink.Util.I18n.alias
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Function</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Returns an alias to <code>text()</code>, for convenience. The resulting function is
traditionally assigned to &quot;_&quot;.</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    var i18n = new I18n({
        'pt_PT': {
            'hi': 'olá',
            '{} day': '{} dia',
            '{} days': '{} dias',
            '_ordinals': {
                'default': 'º'
            }
        }
    }, 'pt_PT');
    var _ = i18n.alias();
    _('hi');  // -> 'olá'
    _('{} days', 3);  // -> '3 dias'
    _.ntext('{} day', '{} days', 2);  // -> '2 dias'
    _.ntext('{} day', '{} days', 1);  // -> '1 dia'
    _.ordinal(3);  // -> 'º'
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-append">
    
        
            Ink.Util.I18n.append
        
    
    (dict)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>dict
                

                
                </label>

                
                    <span class="description">object containing language objects identified by their language code</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Adds translation strings for this helper to use.</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    var i18n = new I18n({}, 'pt_PT');
    i18n.append({'pt_PT': {
        'sfraggles': 'braggles'
    }});
    i18n.text('sfraggles') // -> 'braggles'
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-append">
    
        
            Ink.Util.I18n.append
        
    
    (dict, lang)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                

                
                    <label>dict
                

                
                </label>

                
                    <span class="description">{Object}     Dictionary to be added</span>
                
            </li>
        
            <li>
                

                
                    <label>lang
                

                
                </label>

                
                    <span class="description">{String}     Language to be added to</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Reset I18n global state (global dictionaries, and default language for instances)</p>
</span>
    

    


    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-getKey">
    
        
            Ink.Util.I18n.getKey
        
    
    (key)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>key
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Any</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Return an arbitrary key from the current language dictionary</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
     _.getKey('astring'); // -> 'a translated string'
     _.getKey('anobject'); // -> {'a': 'translated object'}
     _.getKey('afunction'); // -> function () { return 'this is a localized function' }
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-lang">
    
        
            Ink.Util.I18n.lang
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    

    


    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-lang">
    
        
            Ink.Util.I18n.lang
        
    
    (lang)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                

                
                    <label>lang
                

                
                </label>

                
                    <span class="description">{String} Language code to set this instance to.</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Get or set the language. If there are more dictionaries available in cache, they will be loaded.</p>
</span>
    

    


    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-ntext">
    
        
            Ink.Util.I18n.ntext
        
    
    (strSin, strPlur, count, [args*])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>strSin
                

                
                </label>

                
                    <span class="description">word to use when count is 1</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>strPlur
                

                
                </label>

                
                    <span class="description">word to use otherwise</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>count
                

                
                </label>

                
                    <span class="description">number which defines which word to use</span>
                
            </li>
        
            <li>
                

                
                    <label class="optional">[args*]
                

                
                </label>

                
                    <span class="description">extra arguments, to be passed to `text()`</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
        </div>
    

    
        <span class="text"><p>Given a singular string, a plural string, and a number, translates
either the singular or plural string.</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    i18n.ntext('platypus', 'platypuses', 1); // returns 'ornitorrinco'
    i18n.ntext('platypus', 'platypuses', 2); // returns 'ornitorrincos'

{% endraw %}{% endhighlight %}
</div>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    // The "count" argument is passed to text()
    i18n.ntext('{} platypus', '{} platypuses', 1); // returns '1 ornitorrinco'
    i18n.ntext('{} platypus', '{} platypuses', 2); // returns '2 ornitorrincos'
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-ordinal">
    
        
            Ink.Util.I18n.ordinal
        
    
    (num, [options], )
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>num
                

                
                </label>

                
                    <span class="description">Input number</span>
                
            </li>
        
            <li>
                
                    <pre>Object|Function</pre>
                

                
                    <label class="optional">[options]
                

                
                    ={}
                
                </label>

                
                    <span class="description">Maps for translating. Each of these options' fallback is found in the current</span>
                
            </li>
        
            <li>
                
                    <pre>Object|Function</pre>
                

                
                    <label class="optional">[options.byLastDigit]
                

                
                    ={}
                
                </label>

                
                    <span class="description">If the language requires the last digit to be considered, mappings of last digits</span>
                
            </li>
        
            <li>
                
                    <pre>Object|Function</pre>
                

                
                    <label class="optional">[options.exceptions]
                

                
                    ={}
                
                </label>

                
                    <span class="description">Map unique, special cases to their ordinal suffixes.</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Returns the ordinal suffix of <code>num</code> (For example, 1 &gt; &#39;st&#39;, 2 &gt; &#39;nd&#39;, 5 &gt; &#39;th&#39;, ...).</p>
<p>This works by using transforms (in the form of Objects or Functions) passed into the
function or found in the special key <code>_ordinals</code> in the active language dictionary.</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    var i18n = new I18n({
        pt_PT: {  // 1º, 2º, 3º, 4º, ...
            _ordinal: {  // The _ordinals key each translation dictionary is special.
                'default': "º" // Usually the suffix is "º" in portuguese...
            }
        },
        fr: {  // 1er, 2e, 3e, 4e, ...
            _ordinal: {  // The _ordinals key is special.
                'default': "e", // Usually the suffix is "e" in french...
                exceptions: {
                    1: "er"   // ... Except for the number one.
                }
            }
        },
        en_US: {  // 1st, 2nd, 3rd, 4th, ..., 11th, 12th, ... 21st, 22nd...
            _ordinal: {
                'default': "th",// Usually the digit is "th" in english...
                byLastDigit: {
                    1: "st",  // When the last digit is 1, use "th"...
                    2: "nd",  // When the last digit is 2, use "nd"...
                    3: "rd"   // When the last digit is 3, use "rd"...
                },
                exceptions: { // But these numbers are special
                    0: "",
                    11: "th",
                    12: "th",
                    13: "th"
                }
            }
        }
    }, 'pt_PT');

    i18n.ordinal(1);    // returns 'º'
    i18n.ordinal(2);    // returns 'º'
    i18n.ordinal(11);   // returns 'º'

    i18n.lang('fr');
    i18n.ordinal(1);    // returns 'er'
    i18n.ordinal(2);    // returns 'e'
    i18n.ordinal(11);   // returns 'e'

    i18n.lang('en_US');
    i18n.ordinal(1);    // returns 'st'
    i18n.ordinal(2);    // returns 'nd'
    i18n.ordinal(12);   // returns 'th'
    i18n.ordinal(22);   // returns 'nd'
    i18n.ordinal(3);    // returns 'rd'
    i18n.ordinal(4);    // returns 'th'
    i18n.ordinal(5);    // returns 'th'

{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-reset">
    
        
            Ink.Util.I18n.reset
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    

    

    


    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-testMode">
    
        
            Ink.Util.I18n.testMode
        
    
    (bool)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label>bool
                

                
                </label>

                
                    <span class="description">boolean value to set the test mode to.</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Sets or unsets test mode. In test mode, unknown strings are wrapped
in <code>[ ... ]</code>. This is useful for debugging your application and
making sure all your translation keys are in place.</p>
</span>
    

    


    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_I18n_1-Ink_Util_I18n-text">
    
        
            Ink.Util.I18n.text
        
    
    (str, [namedParms], [arg1], [arg2], [argn*])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>str
                

                
                </label>

                
                    <span class="description">key to look for in i18n dictionary (which is returned verbatim if unknown)</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[namedParms]
                

                
                </label>

                
                    <span class="description">named replacements. Replaces {named} with values in this object.</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[arg1]
                

                
                </label>

                
                    <span class="description">replacement #1 (replaces first {} and all {1})</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[arg2]
                

                
                </label>

                
                    <span class="description">replacement #2 (replaces second {} and all {2})</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[argn*]
                

                
                </label>

                
                    <span class="description">replacement #n (replaces nth {} and all {n})</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Given a translation key, return a translated string, with replaced parameters.
When a translated string is not available, the original string is returned unchanged.</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
     _('Gosto muito de {} e o céu é {}.', 'carros', 'azul');
     // returns 'Gosto muito de carros e o céu é azul.'

{% endraw %}{% endhighlight %}
</div>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
     _('O {1} é {2} como {2} é a cor do {3}.', 'carro', 'azul', 'FCP');
     // returns 'O carro é azul como azul é o FCP.'

 {% endraw %}{% endhighlight %}
</div>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
     _('O {person1} dava-se com a {person2}', {person1: 'coisinho', person2: 'coisinha'});
     // -> 'O coisinho dava-se com a coisinha'

 {% endraw %}{% endhighlight %}
</div>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
     // This is a bit more complex
     var i18n = make().lang('pt_PT').append({
         pt_PT: {
             array: [1, 2],
             object: {'a': '-a-', 'b': '-b-'},
             func: function (a, b) {return '[[' + a + ',' + b + ']]';}
         }
     });
     i18n.text('array', 0); // -> '1'
     i18n.text('object', 'a'); // -> '-a-'
     i18n.text('func', 'a', 'b'); // -> '[[a,b]]'
{% endraw %}{% endhighlight %}
</div>




    

</div>

    

    
</section>
    

    

    

