

    
        <section>
        <h1 class="fw-300">Ink.UI.Carousel_1 <small>version: 1</small></h1>
    

    

    


    


    

    



    
            

    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Carousel_1-Ink_UI_Carousel_1-Carousel_1">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Carousel_1-Ink_UI_Carousel_1-getPage">
                        
                            .getPage
                        
                        
                    </a>
                </td>
                <td>
                    

                    Get the currently displayed page.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Carousel_1-Ink_UI_Carousel_1-nextPage">
                        
                            .nextPage
                        
                        
                    </a>
                </td>
                <td>
                    

                    Change to the next page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Carousel_1-Ink_UI_Carousel_1-previousPage">
                        
                            .previousPage
                        
                        
                    </a>
                </td>
                <td>
                    

                    Change to the previous page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Carousel_1-Ink_UI_Carousel_1-refit">
                        
                            .refit
                        
                        
                    </a>
                </td>
                <td>
                    

                    Measure the carousel once again, adjusting the involved elements'
sizes. Called automatically when the window resizes, in order to
cater for changes from responsive media queries, for instance.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Carousel_1-Ink_UI_Carousel_1-setPage">
                        
                            .setPage
                        
                        
                    </a>
                </td>
                <td>
                    

                    Set the current page to `page`

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_UI_Carousel_1-Ink_UI_Carousel_1-Carousel_1" class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Carousel_1
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>
    

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Integer</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.autoAdvance]
                

                
                    0
                
                </label>
                
                    The number of milliseconds to wait between auto-advancing pages. Set to 0 to disable auto-advance.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.axis]
                

                
                    &#x27;x&#x27;
                
                </label>
                
                    Can be `'x'` or `'y'`, for a horizontal or vertical carousel
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.center]
                

                
                    false
                
                </label>
                
                    Center the carousel.
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.initialPage]
                

                
                    0
                
                </label>
                
                    When initialized, set the page to this.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.keyboardSupport]
                

                
                    false
                
                </label>
                
                    Enable keyboard support
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.swipe]
                

                
                    true
                
                </label>
                
                    Enable swipe support where available
                
            </dd>
        
            <dt>
                
                    <code>String|DOMElement|Ink.UI.Pagination_1</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.pagination]
                

                
                </label>
                
                    Either an `<ul>` element to add pagination markup to, or an `Ink.UI.Pagination` instance to use.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onChange]
                

                
                </label>
                
                    Callback for when the page is changed.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_UI_Carousel_1-Ink_UI_Carousel_1-getPage" class="box box-function">

    <h1 class="fw-300">
    
        
            .getPage
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Get the currently displayed page.</p>
    

    


    


    

</section>

    <section id="Ink_UI_Carousel_1-Ink_UI_Carousel_1-nextPage" class="box box-function">

    <h1 class="fw-300">
    
        
            .nextPage
        
    
    ([wrap])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        [
        wrap
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Change to the next page</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[wrap]
                

                
                    false
                
                </label>
                
                    If true, going to the page after the last page takes you to the first page.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_UI_Carousel_1-Ink_UI_Carousel_1-previousPage" class="box box-function">

    <h1 class="fw-300">
    
        
            .previousPage
        
    
    ([wrap])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        [
        wrap
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Change to the previous page</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[wrap]
                

                
                    false
                
                </label>
                
                    If true, going to the page after the last page takes you to the first page.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_UI_Carousel_1-Ink_UI_Carousel_1-refit" class="box box-function">

    <h1 class="fw-300">
    
        
            .refit
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Measure the carousel once again, adjusting the involved elements'
sizes. Called automatically when the window resizes, in order to
cater for changes from responsive media queries, for instance.</p>
    

    


    


    

</section>

    <section id="Ink_UI_Carousel_1-Ink_UI_Carousel_1-setPage" class="box box-function">

    <h1 class="fw-300">
    
        
            .setPage
        
    
    (page, [wrap])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        page
        
        
        </li>
        
        <li class="prop">
        
        [
        wrap
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Set the current page to `page`</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label>page
                

                
                </label>
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[wrap]
                

                
                    false
                
                </label>
                
                    Wrap over the first and last pages. (For example, going to the 5th page when there are only 4 pages goes to the 1st page)
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

