

    
        <section>
        <h1 class="fw-300">Ink.Util.Validator_1 <small>version: 1</small></h1>
    

    

    


    


    
        <h2>Defined functions:</h2>
        <ul class="unstyled">
        
            <li><a href="#Ink_Util_Validator_1-ascii">
            
                Ink.Util.Validator_1.ascii
            
            (s, [options])</a></li>
        
            <li><a href="#Ink_Util_Validator_1-checkCharacterGroups">
            
                Ink.Util.Validator_1.checkCharacterGroups
            
            (s, [groups])</a></li>
        
            <li><a href="#Ink_Util_Validator_1-codPostal">
            
                Ink.Util.Validator_1.codPostal
            
            (cp1, cp2, returnBothResults)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-createRegExp">
            
                Ink.Util.Validator_1.createRegExp
            
            (Groups*)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-isAOPhone">
            
                Ink.Util.Validator_1.isAOPhone
            
            (phone)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-isCVPhone">
            
                Ink.Util.Validator_1.isCVPhone
            
            (phone)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-isColor">
            
                Ink.Util.Validator_1.isColor
            
            (str)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-isCreditCard">
            
                Ink.Util.Validator_1.isCreditCard
            
            (num, creditCardType)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-isDate">
            
                Ink.Util.Validator_1.isDate
            
            (format, dateStr)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-isIP">
            
                Ink.Util.Validator_1.isIP
            
            (value, ipType)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-isMZPhone">
            
                Ink.Util.Validator_1.isMZPhone
            
            (phone)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-isPTPhone">
            
                Ink.Util.Validator_1.isPTPhone
            
            (phone)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-isPhone">
            
                Ink.Util.Validator_1.isPhone
            
            (phone, [countryCode])</a></li>
        
            <li><a href="#Ink_Util_Validator_1-isPortuguesePhone">
            
                Ink.Util.Validator_1.isPortuguesePhone
            
            (phone)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-isTLPhone">
            
                Ink.Util.Validator_1.isTLPhone
            
            (phone)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-latin1">
            
                Ink.Util.Validator_1.latin1
            
            (s, [options])</a></li>
        
            <li><a href="#Ink_Util_Validator_1-mail">
            
                Ink.Util.Validator_1.mail
            
            (email)</a></li>
        
            <li><a href="#Ink_Util_Validator_1-number">
            
                Ink.Util.Validator_1.number
            
            (numb, [options], )</a></li>
        
            <li><a href="#Ink_Util_Validator_1-unicode">
            
                Ink.Util.Validator_1.unicode
            
            (s, [options])</a></li>
        
            <li><a href="#Ink_Util_Validator_1-url">
            
                Ink.Util.Validator_1.url
            
            (url, [full])</a></li>
        
        </ul>
    

    



    

    
        <section id="Ink_Util_Validator_1-ascii" class="box box-function">

    <h1 class="fw-300">
    
        
            .ascii
        
    
    (s, [options])
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        s
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a field only contains only ASCII alphanumeric characters. 
Takes options for allowing singleline whitespace, cross-line whitespace and punctuation.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>s
                

                
                </label>
                
                    The validation string
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                    {}
                
                </label>
                
                    Optional configuration object. See createRegexp
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>
    
        <section id="Ink_Util_Validator_1-checkCharacterGroups" class="box box-function">

    <h1 class="fw-300">
    
        
            .checkCharacterGroups
        
    
    (s, [groups])
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        s
        
        
        </li>
        
        <li class="prop">
        
        [
        groups
        ]
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a field has the required groups.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>s
                

                
                </label>
                
                    The validation string
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[groups]
                

                
                    {}
                
                </label>
                
                    What groups are included. See createRegexp
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>
    
        <section id="Ink_Util_Validator_1-codPostal" class="box box-function">

    <h1 class="fw-300">
    
        
            .codPostal
        
    
    (cp1, cp2, returnBothResults)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        cp1
        
        
        </li>
        
        <li class="prop">
        
        
        cp2
        
        
        </li>
        
        <li class="prop">
        
        
        returnBothResults
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Validates if a zip code is valid in Portugal</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number|String</code>
                
            </dt>
            <dd>
                
                
                
                <label>cp1
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>optional Number|String</code>
                
            </dt>
            <dd>
                
                
                
                <label>cp2
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>optional Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label>returnBothResults
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.codPostal( '1069', '300' ) );        // Result: true
        console.log( InkValidator.codPostal( '1069', '300', true ) );  // Result: [true, true]
    });

{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_Util_Validator_1-createRegExp" class="box box-function">

    <h1 class="fw-300">
    
        
            .createRegExp
        
    
    (Groups*)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        Groups*
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Creates a regular expression for several character groups.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label>Groups*
                

                
                </label>
                
                    {Object}
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>
    
        <section id="Ink_Util_Validator_1-isAOPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isAOPhone
        
    
    (phone)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a phone is valid in Angola</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isAOPhone( '244222396385' ) );     // Result: true
        console.log( InkValidator.isAOPhone( '00244222396385' ) );   // Result: true
        console.log( InkValidator.isAOPhone( '+244222396385' ) );    // Result: true
        console.log( InkValidator.isAOPhone( '1' ) );                // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_Util_Validator_1-isCVPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isCVPhone
        
    
    (phone)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a phone is valid in Cabo Verde</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isCVPhone( '2610303' ) );        // Result: true
        console.log( InkValidator.isCVPhone( '002382610303' ) );   // Result: true
        console.log( InkValidator.isCVPhone( '+2382610303' ) );    // Result: true
        console.log( InkValidator.isCVPhone( '1' ) );              // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_Util_Validator_1-isColor" class="box box-function">

    <h1 class="fw-300">
    
        
            .isColor
        
    
    (str)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        str
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a string is a valid color</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str
                

                
                </label>
                
                    Color string to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isColor( '#FF00FF' ) );        // Result: true
        console.log( InkValidator.isColor( 'amdafasfs' ) );      // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_Util_Validator_1-isCreditCard" class="box box-function">

    <h1 class="fw-300">
    
        
            .isCreditCard
        
    
    (num, creditCardType)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        num
        
        
        </li>
        
        <li class="prop">
        
        
        creditCardType
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a number is of a specific credit card type</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>num
                

                
                </label>
                
                    Number to be validates
                
            </dd>
        
            <dt>
                
                    <code>String|Array</code>
                
            </dt>
            <dd>
                
                
                
                <label>creditCardType
                

                
                </label>
                
                    Credit card type. See _creditCardSpecs for the list of supported values.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
            </dd>
        </dl>
        
        

    


    


    

</section>
    
        <section id="Ink_Util_Validator_1-isDate" class="box box-function">

    <h1 class="fw-300">
    
        
            .isDate
        
    
    (format, dateStr)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        format
        
        
        </li>
        
        <li class="prop">
        
        
        dateStr
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a date is valid in a given format</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>format
                

                
                </label>
                
                    Format defined in _dateParsers
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>dateStr
                

                
                </label>
                
                    Date string
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isDate( 'yyyy-mm-dd', '2012-05-21' ) );        // Result: true
    });
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_Util_Validator_1-isIP" class="box box-function">

    <h1 class="fw-300">
    
        
            .isIP
        
    
    (value, ipType)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        value
        
        
        </li>
        
        <li class="prop">
        
        
        ipType
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if the value is a valid IP.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>value
                

                
                </label>
                
                    Value to be checked
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>ipType
                

                
                </label>
                
                    Type of IP to be validated. The values are: ipv4, ipv6. By default is ipv4.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>
    
        <section id="Ink_Util_Validator_1-isMZPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isMZPhone
        
    
    (phone)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a phone is valid in Mozambique</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isMZPhone( '21426861' ) );        // Result: true
        console.log( InkValidator.isMZPhone( '0025821426861' ) );   // Result: true
        console.log( InkValidator.isMZPhone( '+25821426861' ) );    // Result: true
        console.log( InkValidator.isMZPhone( '1' ) );              // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_Util_Validator_1-isPTPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isPTPhone
        
    
    (phone)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a phone is valid in Portugal</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isPTPhone( '213919264' ) );        // Result: true
        console.log( InkValidator.isPTPhone( '00351213919264' ) );   // Result: true
        console.log( InkValidator.isPTPhone( '+351213919264' ) );    // Result: true
        console.log( InkValidator.isPTPhone( '1' ) );                // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_Util_Validator_1-isPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isPhone
        
    
    (phone, [countryCode])
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
        <li class="prop">
        
        [
        countryCode
        ]
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a number is a phone number.
This method validates the number in all country codes available the ones set in the second param</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to validate
                
            </dd>
        
            <dt>
                
                    <code>String|Array</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[countryCode]
                

                
                </label>
                
                    Country code or  array of countries to validate
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isPhone( '6703331234' ) );        // Result: true
    });
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_Util_Validator_1-isPortuguesePhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isPortuguesePhone
        
    
    (phone)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Alias function for isPTPhone</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isPortuguesePhone( '213919264' ) );        // Result: true
        console.log( InkValidator.isPortuguesePhone( '00351213919264' ) );   // Result: true
        console.log( InkValidator.isPortuguesePhone( '+351213919264' ) );    // Result: true
        console.log( InkValidator.isPortuguesePhone( '1' ) );                // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_Util_Validator_1-isTLPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isTLPhone
        
    
    (phone)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a phone is valid in Timor</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isTLPhone( '6703331234' ) );     // Result: true
        console.log( InkValidator.isTLPhone( '006703331234' ) );   // Result: true
        console.log( InkValidator.isTLPhone( '+6703331234' ) );    // Result: true
        console.log( InkValidator.isTLPhone( '1' ) );              // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_Util_Validator_1-latin1" class="box box-function">

    <h1 class="fw-300">
    
        
            .latin1
        
    
    (s, [options])
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        s
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a field only contains latin-1 alphanumeric characters. 
Takes options for allowing singleline whitespace, cross-line whitespace and punctuation.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>s
                

                
                </label>
                
                    The validation string
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                    {}
                
                </label>
                
                    Optional configuration object. See createRegexp
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>
    
        <section id="Ink_Util_Validator_1-mail" class="box box-function">

    <h1 class="fw-300">
    
        
            .mail
        
    
    (email)
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        email
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if an email is valid</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>email
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.email( 'agfsdfgfdsgdsf' ) ); // Result: false
        console.log( InkValidator.email( 'inkdev\u0040sapo.pt' ) ); // Result: true (where \u0040 is at sign)
    });
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_Util_Validator_1-number" class="box box-function">

    <h1 class="fw-300">
    
        
            .number
        
    
    (numb, [options], )
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        numb
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a number is a valid</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>numb
                

                
                </label>
                
                    The number
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                </label>
                
                    Further options
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.decimalSep]
                

                
                    &#x27;.&#x27;
                
                </label>
                
                    Allow decimal separator.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.thousandSep]
                

                
                    &quot;,&quot;
                
                </label>
                
                    Strip this character from the number.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.negative]
                

                
                    false
                
                </label>
                
                    Allow negative numbers.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.decimalPlaces]
                

                
                    null
                
                </label>
                
                    Maximum number of decimal places. Use `0` for an integer number.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.max]
                

                
                    null
                
                </label>
                
                    Maximum number
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.min]
                

                
                    null
                
                </label>
                
                    Minimum number
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.returnNumber]
                

                
                    false
                
                </label>
                
                    When this option is true, return the number itself when the value is valid.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>
    
        <section id="Ink_Util_Validator_1-unicode" class="box box-function">

    <h1 class="fw-300">
    
        
            .unicode
        
    
    (s, [options])
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        s
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a field contains unicode printable characters.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>s
                

                
                </label>
                
                    The validation string
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                    {}
                
                </label>
                
                    Optional configuration object. See createRegexp
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>
    
        <section id="Ink_Util_Validator_1-url" class="box box-function">

    <h1 class="fw-300">
    
        
            .url
        
    
    (url, [full])
    
        
            <i>function</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        url
        
        
        </li>
        
        <li class="prop">
        
        [
        full
        ]
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if an url is valid</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>url
                

                
                </label>
                
                    URL to be checked
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[full]
                

                
                </label>
                
                    If true, validates a full URL (one that should start with 'http')
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.url( 'www.sapo.pt' ) );                // Result: true
        console.log( InkValidator.url( 'http://www.sapo.pt', true ) );   // Result: true
        console.log( InkValidator.url( 'meh' ) );                        // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>
    

    

