

    
        <section>
        <h1 class="fw-300">Ink.UI.Tabs_1 <small>version: 1

Display tabbed content</small></h1>
    

    

    


    


    

    



    
            

    
    <p><p>The Tabs Component offers a simple way to build a tab-separated
layout, allowing you to offer multiple content in the same space
with intuitive navigation.</p>
<p>This component requires your markup to have:</p>
<ul>
<li>A container element (this is what you call the Ink.UI.Tabs constructor on), containing everything.<ul>
<li>An element with the <code>tabs-nav</code> class, to contain links.<ul>
<li>Your links with <code>href=&quot;#ID_OF_SECTION&quot;</code></li>
</ul>
</li>
<li>Your sections with the corresponding <code>id</code> attributes.<ul>
<li>The content for each section.</li>
</ul>
</li>
</ul>
</li>
</ul>
<p>When the user clicks in the links inside <code>tabs-nav</code>, the tab with
the corresponding ID is then activated.</p>
<p>The tab which is active when the tab component is initialized has
its hash in the browser URL. If there is no hash, then the <code>active</code>
option kicks in. Otherwise, Tabs will fall back to showing the tab
corresponding to the first link.</p>
<p>You can disable some (or all) tabs by passing an array for the
<code>disabled</code> option</p>
</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-Tabs">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeContentTab">
                        
                            .activeContentTab
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Returns the currently active section</p>
<p>(Each section contains content for a tab, and must have an <code>id</code> attribute)</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeMenuLink">
                        
                            .activeMenuLink
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Returns the currently active Menu link (the links which the user clicks on to change tabs)</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeMenuTab">
                        
                            .activeMenuTab
                        
                        
                    </a>
                </td>
                <td>
                    
                        <span class="tag">deprecated</span>
                    

                    <p>(This method is deprecated)</p>
<p>Returns the parent of the currently active menu link.</p>
<p>This is useful if you want to have <code>li</code> elements wrapping your links
and want to access the currently visible one.</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeTab">
                        
                            .activeTab
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Returns the active tab id</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-changeTab">
                        
                            .changeTab
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Changes to the desired tag</p>
<p>Pass a selector/element identifying what tab you want</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-destroy">
                        
                            .destroy
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Unregisters the component and removes its markup from the DOM</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-disable">
                        
                            .disable
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Disables the desired tag</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-enable">
                        
                            .enable
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Enables the desired tag</p>


                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-Tabs" class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Tabs
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>
    

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.preventUrlChange]
                

                
                </label>
                
                    Flag that determines if follows the link on click or stops the event
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.active]
                

                
                </label>
                
                    ID of the tab to activate on creation
                
            </dd>
        
            <dt>
                
                    <code>Array</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.disabled]
                

                
                </label>
                
                    IDs of the tabs that will be disabled on creation
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.onBeforeChange]
                

                
                </label>
                
                    Callback to be executed before changing tabs
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.onChange]
                

                
                </label>
                
                    Callback to be executed after changing tabs
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.triggerEventsOnLoad]
                

                
                </label>
                
                    Trigger the above events when the page is loaded.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <div class="ink-tabs top"> <!-- replace 'top' with 'bottom', 'left' or 'right' to place navigation -->
         
         <!-- put navigation first if using top, left or right positioning -->
         <ul class="tabs-nav">
             <li><a href="#home">Home</a></li>
             <li><a href="#news">News</a></li>
             <li><a href="#description">Description</a></li>
             <li><a href="#stuff">Stuff</a></li>
             <li><a href="#more_stuff">More stuff</a></li>
         </ul>
         
         <!-- Put your content second if using top, left or right navigation -->
         <div id="home" class="tabs-content"><p>Content</p></div>
         <div id="news" class="tabs-content"><p>Content</p></div>
         <div id="description" class="tabs-content"><p>Content</p></div>
         <div id="stuff" class="tabs-content"><p>Content</p></div>
         <div id="more_stuff" class="tabs-content"><p>Content</p></div>
         <!-- If you're using bottom navigation, switch the nav block with the content blocks -->
      
     </div>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Tabs_1'], function( Selector, Tabs ){
             var tabsElement = Ink.s('.ink-tabs');
             var tabsObj = new Tabs( tabsElement );
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-activeContentTab" class="box box-function">

    <h1 class="fw-300">
    
        
            .activeContentTab
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text"><p>Returns the currently active section</p>
<p>(Each section contains content for a tab, and must have an <code>id</code> attribute)</p>
</p>
    

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-activeMenuLink" class="box box-function">

    <h1 class="fw-300">
    
        
            .activeMenuLink
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text"><p>Returns the currently active Menu link (the links which the user clicks on to change tabs)</p>
</p>
    

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-activeMenuTab" class="box box-function">

    <h1 class="fw-300">
    
        
            .activeMenuTab
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    
        <span class="tag">deprecated</span>
    

    
        <p class="text"><p>(This method is deprecated)</p>
<p>Returns the parent of the currently active menu link.</p>
<p>This is useful if you want to have <code>li</code> elements wrapping your links
and want to access the currently visible one.</p>
</p>
    

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-activeTab" class="box box-function">

    <h1 class="fw-300">
    
        
            .activeTab
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text"><p>Returns the active tab id</p>
</p>
    

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-changeTab" class="box box-function">

    <h1 class="fw-300">
    
        
            .changeTab
        
    
    (selector)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Changes to the desired tag</p>
<p>Pass a selector/element identifying what tab you want</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
                    Selector of the desired tab or the link that links to it
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-destroy" class="box box-function">

    <h1 class="fw-300">
    
        
            .destroy
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text"><p>Unregisters the component and removes its markup from the DOM</p>
</p>
    

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-disable" class="box box-function">

    <h1 class="fw-300">
    
        
            .disable
        
    
    (selector)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Disables the desired tag</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
                    the id of the desired tab or the link that links to it
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-enable" class="box box-function">

    <h1 class="fw-300">
    
        
            .enable
        
    
    (selector)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Enables the desired tag</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
                    The id of the desired tab or the link that links to it
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

