

    
        <section>
        <h1 class="fw-300">Ink.UI.Common_1 <small>version: 1</small></h1>
    

    

    


    


    
        <h2>Defined functions:</h2>
        <ul class="unstyled">
        
            <li><a href="#Ink_UI_Common_1-ajaxJSON">
            
                Ink.UI.Common_1.ajaxJSON
            
            (endpoint, params, cb)</a></li>
        
            <li><a href="#Ink_UI_Common_1-childIndex">
            
                Ink.UI.Common_1.childIndex
            
            (childEl)</a></li>
        
            <li><a href="#Ink_UI_Common_1-cleanChildren">
            
                Ink.UI.Common_1.cleanChildren
            
            (parentEl)</a></li>
        
            <li><a href="#Ink_UI_Common_1-clone">
            
                Ink.UI.Common_1.clone
            
            (o)</a></li>
        
            <li><a href="#Ink_UI_Common_1-currentLayout">
            
                Ink.UI.Common_1.currentLayout
            
            ()</a></li>
        
            <li><a href="#Ink_UI_Common_1-destroyComponent">
            
                Ink.UI.Common_1.destroyComponent
            
            ()</a></li>
        
            <li><a href="#Ink_UI_Common_1-elOrSelector">
            
                Ink.UI.Common_1.elOrSelector
            
            (elOrSelector, fieldName)</a></li>
        
            <li><a href="#Ink_UI_Common_1-elsOrSelector">
            
                Ink.UI.Common_1.elsOrSelector
            
            (elOrSelector, fieldName, required)</a></li>
        
            <li><a href="#Ink_UI_Common_1-getInstance">
            
                Ink.UI.Common_1.getInstance
            
            (instanceIdOrElement)</a></li>
        
            <li><a href="#Ink_UI_Common_1-getInstanceFromSelector">
            
                Ink.UI.Common_1.getInstanceFromSelector
            
            (selector)</a></li>
        
            <li><a href="#Ink_UI_Common_1-getInstanceIds">
            
                Ink.UI.Common_1.getInstanceIds
            
            ()</a></li>
        
            <li><a href="#Ink_UI_Common_1-getInstances">
            
                Ink.UI.Common_1.getInstances
            
            ()</a></li>
        
            <li><a href="#Ink_UI_Common_1-hashSet">
            
                Ink.UI.Common_1.hashSet
            
            (o)</a></li>
        
            <li><a href="#Ink_UI_Common_1-isDOMElement">
            
                Ink.UI.Common_1.isDOMElement
            
            (o)</a></li>
        
            <li><a href="#Ink_UI_Common_1-isInteger">
            
                Ink.UI.Common_1.isInteger
            
            (n)</a></li>
        
            <li><a href="#Ink_UI_Common_1-options">
            
                Ink.UI.Common_1.options
            
            ([fieldId], defaults, overrides, [element])</a></li>
        
            <li><a href="#Ink_UI_Common_1-registerInstance">
            
                Ink.UI.Common_1.registerInstance
            
            (inst, el, [optionalPrefix])</a></li>
        
            <li><a href="#Ink_UI_Common_1-restoreIdAndClasses">
            
                Ink.UI.Common_1.restoreIdAndClasses
            
            (toEl, inObj)</a></li>
        
            <li><a href="#Ink_UI_Common_1-storeIdAndClasses">
            
                Ink.UI.Common_1.storeIdAndClasses
            
            (fromEl, inObj)</a></li>
        
            <li><a href="#Ink_UI_Common_1-unregisterInstance">
            
                Ink.UI.Common_1.unregisterInstance
            
            (id)</a></li>
        
        </ul>
    

    
        <h2>Defined attributes:</h2>
        <ul class="unstyled">
        
            <li><a href="#Ink_UI_Common_1-Layouts">Layouts</a></li>
        
        </ul>
    



    

    
        <section id="Ink_UI_Common_1-ajaxJSON" class="box box-function">

    <h1 class="fw-300">
    
        
            .ajaxJSON
        
    
    (endpoint, params, cb)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        endpoint
        
        
        </li>
        
        <li class="prop">
        
        
        params
        
        
        </li>
        
        <li class="prop">
        
        
        cb
        
        
        </li>
        
    </ul>
    

    
        <span class="tag">async</span>
    
    

    
        <p class="text"><p>AJAX JSON request shortcut method
It provides a more convenient way to do an AJAX request and expect a JSON response.
It offers a callback option, as third parameter, for better async handling.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>endpoint
                

                
                </label>
                
                    Valid URL to be used as target by the request.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>params
                

                
                </label>
                
                    This field is used in the thrown Exception to identify the parameter.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label>cb
                

                
                </label>
                
                    Callback for the request.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    // In case there are several .myInput, it will retrieve the first found
    var el = Ink.UI.Common.elOrSelector('.myInput','My Input');
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-childIndex" class="box box-function">

    <h1 class="fw-300">
    
        
            .childIndex
        
    
    (childEl)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        childEl
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Gets an element&#39;s one-base index relative to its parent.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>childEl
                

                
                </label>
                
                    Valid DOM Element.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Number</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <!-- Imagine the following HTML: -->
    <ul>
      <li>One</li>
      <li>Two</li>
      <li id="test">Three</li>
      <li>Four</li>
    </ul>

    <script>
        var testLi = Ink.s('#test');
        Ink.UI.Common.childIndex( testLi ); // Returned value: 3
    </script>
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-cleanChildren" class="box box-function">

    <h1 class="fw-300">
    
        
            .cleanChildren
        
    
    (parentEl)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        parentEl
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Removes children nodes from a given object.
This method was initially created to help solve a problem in Internet Explorer(s) that occurred when trying to set the innerHTML of some specific elements like &#39;table&#39;.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>parentEl
                

                
                </label>
                
                    Valid DOM Element
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <!-- Imagine the following HTML: -->
    <ul id="myUl">
      <li>One</li>
      <li>Two</li>
      <li>Three</li>
      <li>Four</li>
    </ul>

    <script>
    Ink.UI.Common.cleanChildren( Ink.s( '#myUl' ) );
    </script>

    <!-- After running it, the HTML changes to: -->
    <ul id="myUl"></ul>
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-clone" class="box box-function">

    <h1 class="fw-300">
    
        
            .clone
        
    
    (o)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        o
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Deep copy (clone) an object.
Note: The object cannot have referece loops.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>o
                

                
                </label>
                
                    The object to be cloned/copied.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    var originalObj = {
        key1: 'value1',
        key2: 'value2',
        key3: 'value3'
    };
    var cloneObj = Ink.UI.Common.clone( originalObj );
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-currentLayout" class="box box-function">

    <h1 class="fw-300">
    
        
            .currentLayout
        
    
    ()
    
        
            <i>function</i>
        
    
    </h1>

    

    
    

    
        <p class="text"><p>Gets the current Ink layout.</p>
</p>
    

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     var inkLayout = Ink.UI.Common.currentLayout();
     if (inkLayout === 'small') {
         // ...
     }
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-destroyComponent" class="box box-function">

    <h1 class="fw-300">
    
        
            .destroyComponent
        
    
    ()
    
        
            <i>function</i>
        
    
    </h1>

    

    
    

    
        <p class="text"><p>Boilerplate method to destroy a component.
Components should copy this method as its destroy method and modify it.</p>
</p>
    

    


    


    

</section>
    
        <section id="Ink_UI_Common_1-elOrSelector" class="box box-function">

    <h1 class="fw-300">
    
        
            .elOrSelector
        
    
    (elOrSelector, fieldName)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        elOrSelector
        
        
        </li>
        
        <li class="prop">
        
        
        fieldName
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Gets a DOM Element.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                
                
                <label>elOrSelector
                

                
                </label>
                
                    DOM Element or CSS Selector
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>fieldName
                

                
                </label>
                
                    The name of the field. Commonly used for debugging.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>DOMElement</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    // In case there are several .myInput, it will retrieve the first found
    var el = Ink.UI.Common.elOrSelector('.myInput','My Input');
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-elsOrSelector" class="box box-function">

    <h1 class="fw-300">
    
        
            .elsOrSelector
        
    
    (elOrSelector, fieldName, required)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        elOrSelector
        
        
        </li>
        
        <li class="prop">
        
        
        fieldName
        
        
        </li>
        
        <li class="prop">
        
        
        required
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Alias for <code>elOrSelector</code> but returns an array of elements.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                
                
                <label>elOrSelector
                

                
                </label>
                
                    DOM Element or CSS Selector
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>fieldName
                

                
                </label>
                
                    The name of the field. Commonly used for debugging.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label>required
                

                
                </label>
                
                    Flag to accept an empty array as output.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Array</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    var elements = Ink.UI.Common.elsOrSelector('input.my-inputs', 'My Input');
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-getInstance" class="box box-function">

    <h1 class="fw-300">
    
        
            .getInstance
        
    
    (instanceIdOrElement)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        instanceIdOrElement
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Gets an UI instance from an element or instance id.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>instanceIdOrElement
                

                
                </label>
                
                    Instance's id or DOM Element from which we want the instances.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object|Array</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>
    
        <section id="Ink_UI_Common_1-getInstanceFromSelector" class="box box-function">

    <h1 class="fw-300">
    
        
            .getInstanceFromSelector
        
    
    (selector)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Gets an instance based on a selector.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
                    CSS selector to get the instances from.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object|Array</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>
    
        <section id="Ink_UI_Common_1-getInstanceIds" class="box box-function">

    <h1 class="fw-300">
    
        
            .getInstanceIds
        
    
    ()
    
        
            <i>function</i>
        
    
    </h1>

    

    
    

    
        <p class="text"><p>Gets all the instance ids</p>
</p>
    

    


    


    

</section>
    
        <section id="Ink_UI_Common_1-getInstances" class="box box-function">

    <h1 class="fw-300">
    
        
            .getInstances
        
    
    ()
    
        
            <i>function</i>
        
    
    </h1>

    

    
    

    
        <p class="text"><p>Gets all the instances</p>
</p>
    

    


    


    

</section>
    
        <section id="Ink_UI_Common_1-hashSet" class="box box-function">

    <h1 class="fw-300">
    
        
            .hashSet
        
    
    (o)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        o
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Sets the location&#39;s hash (window.location.hash).</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>o
                

                
                </label>
                
                    Object with the info to be placed in the location's hash.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    // It will set the location's hash like: <url>#key1=value1&key2=value2&key3=value3
    Ink.UI.Common.hashSet({
        key1: 'value1',
        key2: 'value2',
        key3: 'value3'
    });
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-isDOMElement" class="box box-function">

    <h1 class="fw-300">
    
        
            .isDOMElement
        
    
    (o)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        o
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Checks if an item is a valid DOM Element.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Mixed</code>
                
            </dt>
            <dd>
                
                
                
                <label>o
                

                
                </label>
                
                    The object to be checked.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    var el = Ink.s('#element');
    if( Ink.UI.Common.isDOMElement( el ) === true ){
        // It is a DOM Element.
    } else {
        // It is NOT a DOM Element.
    }
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-isInteger" class="box box-function">

    <h1 class="fw-300">
    
        
            .isInteger
        
    
    (n)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        n
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Checks if an item is a valid integer.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Mixed</code>
                
            </dt>
            <dd>
                
                
                
                <label>n
                

                
                </label>
                
                    The value to be checked.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    var value = 1;
    if( Ink.UI.Common.isInteger( value ) === true ){
        // It is an integer.
    } else {
        // It is NOT an integer.
    }
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-options" class="box box-function">

    <h1 class="fw-300">
    
        
            .options
        
    
    ([fieldId], defaults, overrides, [element])
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        [
        fieldId
        ]
        
        </li>
        
        <li class="prop">
        
        
        defaults
        
        
        </li>
        
        <li class="prop">
        
        
        overrides
        
        
        </li>
        
        <li class="prop">
        
        [
        element
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Gets options an object and element&#39;s metadata.</p>
<p>The element&#39;s data attributes take precedence. Values from the element&#39;s data-atrributes are coerced into the required type.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[fieldId]
                

                
                </label>
                
                    Name to be used in debugging features.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>defaults
                

                
                </label>
                
                    Object with the options' types and defaults.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>overrides
                

                
                </label>
                
                    Options to override the defaults. Usually passed when instantiating an UI module.
                
            </dd>
        
            <dt>
                
                    <code>DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[element]
                

                
                </label>
                
                    Element with data-attributes
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}

     this._options = Ink.UI.Common.options('MyComponent', {
         'anobject': ['Object', null],  // Defaults to null
         'target': ['Element', null],
         'stuff': ['Number', 0.1],
         'stuff2': ['Integer', 0],
         'doKickFlip': ['Boolean', false],
         'targets': ['Elements'], // Required option since no default was given
         'onClick': ['Function', null]
     }, options || {}, elm)

{% endraw %}{% endhighlight %}
  
{% highlight html %}{% raw %}

### Note about booleans

Here is how options are read from the markup
data-attributes, for several values`data-a-boolean`.

Options considered true:

  - `data-a-boolean="true"`
  - (Every other value which is not on the list below.)

Options considered false:

  - `data-a-boolean="false"`
  - `data-a-boolean=""`
  - `data-a-boolean`

Options which go to default:

  - (no attribute). When `data-a-boolean` is ommitted, the
  option is not considered true nor false, and as such
  defaults to what is in the `defaults` argument.

{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-registerInstance" class="box box-function">

    <h1 class="fw-300">
    
        
            .registerInstance
        
    
    (inst, el, [optionalPrefix])
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        inst
        
        
        </li>
        
        <li class="prop">
        
        
        el
        
        
        </li>
        
        <li class="prop">
        
        [
        optionalPrefix
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Saves a component&#39;s instance reference for later retrieval.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>inst
                

                
                </label>
                
                    Object that holds the instance.
                
            </dd>
        
            <dt>
                
                    <code>DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>el
                

                
                </label>
                
                    DOM Element to associate with the object.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[optionalPrefix]
                

                
                </label>
                
                    Defaults to 'instance'
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>
    
        <section id="Ink_UI_Common_1-restoreIdAndClasses" class="box box-function">

    <h1 class="fw-300">
    
        
            .restoreIdAndClasses
        
    
    (toEl, inObj)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        toEl
        
        
        </li>
        
        <li class="prop">
        
        
        inObj
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Sets the id and className properties of an element based</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>toEl
                

                
                </label>
                
                    Valid DOM Element to set the id and classes on.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>inObj
                

                
                </label>
                
                    Object where the id and classes to be set are. This method uses the same format as the one given in `storeIdAndClasses`
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <div></div>

    <script>
        var storageObj = {
          _id: 'myDiv',
          _classes: 'aClass'
        };

        Ink.UI.Common.storeIdAndClasses( Ink.s('div'), storageObj );
    </script>

    <!-- After the code runs the div element changes to: -->
    <div id="myDiv" class="aClass"></div>
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-storeIdAndClasses" class="box box-function">

    <h1 class="fw-300">
    
        
            .storeIdAndClasses
        
    
    (fromEl, inObj)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        fromEl
        
        
        </li>
        
        <li class="prop">
        
        
        inObj
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Stores the id and/or classes of an element in an object.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>fromEl
                

                
                </label>
                
                    Valid DOM Element to get the id and classes from.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>inObj
                

                
                </label>
                
                    Object where the id and classes will be saved.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <div id="myDiv" class="aClass"></div>

    <script>
        var storageObj = {};
        Ink.UI.Common.storeIdAndClasses( Ink.s('#myDiv'), storageObj );
        // storageObj changes to:
        {
          _id: 'myDiv',
          _classes: 'aClass'
        }
    </script>
{% endraw %}{% endhighlight %}




    

</section>
    
        <section id="Ink_UI_Common_1-unregisterInstance" class="box box-function">

    <h1 class="fw-300">
    
        
            .unregisterInstance
        
    
    (id)
    
        
            <i>function</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        id
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Deletes an instance with a given id.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>id
                

                
                </label>
                
                    Id of the instance to be destroyed.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>
    

    
        <section class="box box-attribute">

    <h1 class="fw-300">
    
        Layouts
    
    <i>attribute</i></h1>

    

    
        <p class="text"><p>Supported Ink Layouts</p>
</p>
    

    
        <pre>Object</pre>
    

    <label>Layouts</label>

    

</section>
    

