

    
        <section>
        <h1 class="fw-300">Ink.Dom.FormSerialize </h1>
    



    

    

    


    


    
        <h2>Defined functions:</h2>
        <ul class="unstyled">
        
            <li><a href="#Ink_Dom_FormSerialize-fillIn">
            
                Ink.Dom.FormSerialize.fillIn
            
            (form, map2)</a></li>
        
            <li><a href="#Ink_Dom_FormSerialize-serialize">
            
                Ink.Dom.FormSerialize.serialize
            
            (form)</a></li>
        
        </ul>
    

    



    

    
        <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.FormSerialize.fillIn
        
    
    (form, map2)
    
        
            <i>function</i>
        
    
    </h1>

    
    

    
        <p class="text">Sets form elements' values with values from an object

Note: You can't set the values of an input with `type="file"` (browser prohibits it)</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>form
                

                
                </label>
                
                    Form element to be populated
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label>map2
                

                
                </label>
                
                    Map of fieldName -> String|String[]|Boolean
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <form id="frm">
        <input type="text" name="field1">
        <button type="submit">Submit</button>
    </form>
    <script type="text/javascript">
        Ink.requireModules(['Ink.Dom.FormSerialize_1'], function (FormSerialize) {
            var values = {field1: 'CTHULHU'};
            FormSerialize.fillIn('frm', values);
            // At this point the form is pre-filled with the values above.
        });
    </script>
{% endraw %}{% endhighlight %}




    

</section>
    
        <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.FormSerialize.serialize
        
    
    (form)
    
        
            <i>function</i>
        
    
    </h1>

    
    

    
        <p class="text">Serializes a form element into a JS object
It turns field names into keys and field values into values.

note: Multi-select and checkboxes with multiple values will result in arrays</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>form
                

                
                </label>
                
                    Form element to extract data
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <form id="frm">
        <input type="text" name="field1">
        <button type="submit">Submit</button>
    </form>
    <script type="text/javascript">
        Ink.requireModules(['Ink.Dom.FormSerialize_1', 'Ink.Dom.Event_1'], function (FormSerialize, InkEvent) {
            InkEvent.observe('frm', 'submit', function (event) {
                var formData = FormSerialize.serialize('frm'); // -> {field1:"123"}
                InkEvent.stop(event);
            });
        });
    </script>
{% endraw %}{% endhighlight %}




    

</section>
    

    

