

    
        <section>
        <h1 class="fw-300">Ink.UI.Close_1 </h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Close_1-Ink_UI_Close-Close">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Subscribes clicks on the document.body. If and only if you clicked on an element
having class "ink-close" or "ink-dismiss", will go up the DOM hierarchy looking for an element with any
of the following classes: "ink-alert", "ink-alert-block".
If it is found, it is removed from the DOM.

One should call close once per page (full page refresh).</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Close
    
    ()
    
        <i>constructor</i>
    
    </h1>

    
    

    

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <script>
        Ink.requireModules(['Ink.UI.Close_1'],function( Close ){
            new Close();
        });
    </script>
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

