

    
        <section>
        <h1 class="fw-300">Ink.UI.DatePicker_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_DatePicker_1-Ink_UI_DatePicker-DatePicker">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_DatePicker_1-Ink_UI_DatePicker-getDate">
                        
                            .getDate
                        
                        
                    </a>
                </td>
                <td>
                    

                    Get the current date as a JavaScript date.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_DatePicker_1-Ink_UI_DatePicker-setDate">
                        
                            .setDate
                        
                        
                    </a>
                </td>
                <td>
                    

                    This method allows the user to set the DatePicker's date on run-time.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_DatePicker_1-Ink_UI_DatePicker-show">
                        
                            .show
                        
                        
                    </a>
                </td>
                <td>
                    

                    Shows the calendar

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_DatePicker_1-Ink_UI_DatePicker-showMonth">
                        
                            .showMonth
                        
                        
                    </a>
                </td>
                <td>
                    

                    This calls the rendering of the selected month. (Deprecated: use show() instead)

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>










    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.DatePicker
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options]
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.autoOpen]
                

                
                    false
                
                </label>
                
                    set to `true` to automatically open the datepicker.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.cleanText]
                

                
                </label>
                
                    text to display on clean button. defaults to 'Limpar'
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.closeText]
                

                
                </label>
                
                    text to display on close button. defaults to 'Fechar'
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.cssClass]
                

                
                </label>
                
                    CSS class to be applied to the datepicker
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.dateRange]
                

                
                </label>
                
                    enforce limits to year, month and day for the Date, ex: '1990-08-25:2020-11'
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.displayInSelect]
                

                
                </label>
                
                    whether to display the component in a select. defaults to false.
                
            </dd>
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.dayField]
                

                
                </label>
                
                    (if using options.displayInSelect) `<select>` field with days.
                
            </dd>
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.monthField]
                

                
                </label>
                
                    (if using options.displayInSelect)  `<select>` field with months.
                
            </dd>
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.yearField]
                

                
                </label>
                
                    (if using options.displayInSelect)  `<select>` field with years.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.format]
                

                
                </label>
                
                    Date format string
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.instance]
                

                
                </label>
                
                    unique id for the datepicker
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.month]
                

                
                </label>
                
                    Hash of month names. Defaults to portuguese month names. January is 1.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.nextLinkText]
                

                
                </label>
                
                    text to display on the previous button. defaults to '«'
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.ofText]
                

                
                </label>
                
                    text to display between month and year. defaults to ' of '
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.onFocus]
                

                
                    true
                
                </label>
                
                    if the datepicker should open when the target element is focused
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.onMonthSelected]
                

                
                </label>
                
                    callback function to execute when the month is selected
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.onSetDate]
                

                
                </label>
                
                    callback to execute when set date
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.onYearSelected]
                

                
                </label>
                
                    callback function to execute when the year is selected
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.position]
                

                
                </label>
                
                    position the datepicker. Accept right or bottom, default is right
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.prevLinkText]
                

                
                </label>
                
                    text to display on the previous button. defaults to '«'
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.showClean]
                

                
                </label>
                
                    whether to display the clean button or not. defaults to true.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.showClose]
                

                
                </label>
                
                    whether to display the close button or not. defaults to true.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.shy]
                

                
                    true
                
                </label>
                
                    whether the datepicker starts automatically.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.startDate]
                

                
                </label>
                
                    Date to define init month. Must be in yyyy-mm-dd format
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.startWeekDay]
                

                
                </label>
                
                    day to use as first column on the calendar view. Sunday is zero. Defaults to Monday (1).
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.validYearFn]
                

                
                </label>
                
                    callback function to execute when 'rendering' the month (in the month view)
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.validMonthFn]
                

                
                </label>
                
                    callback function to execute when 'rendering' the month (in the month view)
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.validDayFn]
                

                
                </label>
                
                    callback function to execute when 'rendering' the day (in the month view)
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.nextValidDateFn]
                

                
                </label>
                
                    Find the next valid date, given the current Date. Necessary when the calendar has a lot of "holes", and not many dates are valid and they are separated by many months or years so it doesn't make sense to have the user click the "next" button too many times and not see any valid date.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.prevValidDateFn]
                

                
                </label>
                
                    See nextValidDateFn. Find the previous valid date.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.wDay]
                

                
                </label>
                
                    Hash of weekdays. Defaults to portuguese month names. Sunday is 0.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.yearRange]
                

                
                </label>
                
                    enforce limits to year for the Date, ex: '1990:2020' (deprecated)
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <input type="text" id="dPicker" />
    <script>
        Ink.requireModules(['Ink.Dom.Selector_1','Ink.UI.DatePicker_1'],function( Selector, DatePicker ){
            var datePickerElement = Ink.s('#dPicker');
            var datePickerObj = new DatePicker( datePickerElement );
        });
    </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.DatePicker.getDate
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Get the current date as a JavaScript date.</p>
    

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.DatePicker.setDate
        
    
    (dateString)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">This method allows the user to set the DatePicker's date on run-time.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>dateString
                

                
                </label>
                
                    A date string in yyyy-mm-dd format.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.DatePicker.show
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Shows the calendar</p>
    

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.DatePicker.showMonth
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">This calls the rendering of the selected month. (Deprecated: use show() instead)</p>
    

    


    


    

</section>



    

    

    

