

    
        <h1 class="fw-300">Ink.UI.Table_1 <small>version: 1</small></h1>
    

    

    

    


    


    

    



    
        <section>

    
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Table_1-Ink_UI_Table-Table">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    


    
        <div class="text"><p>The Table component transforms the native/DOM table element into a
sortable, paginated component.</p>
</div>
    

    
    



    
        <div class="box box-function">

    <h2><a name="Ink_UI_Table_1-Ink_UI_Table-Table">
    
        Ink.UI.Table
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String|DOMElement</pre>
                

                
                    <label>selector
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[options]
                

                
                </label>

                
                    <span class="description">Options</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[options.pageSize]
                

                
                </label>

                
                    <span class="description">Number of rows per page. Omit to avoid paginating.</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.endpoint]
                

                
                </label>

                
                    <span class="description">Endpoint to get the records via AJAX. Omit if you don't want to do AJAX</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.createEndpointUrl]
                

                
                </label>

                
                    <span class="description">Callback to customise what URL the AJAX endpoint is at. Receives three</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.getDataFromEndPoint]
                

                
                </label>

                
                    <span class="description">Callback to allow the user to retrieve the data himself given an URL.</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.processJSONRows]
                

                
                </label>

                
                    <span class="description">Retrieve an array of rows from the data which came from AJAX.</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.processJSONHeaders]
                

                
                </label>

                
                    <span class="description">Get an object with all the headers' names as keys, and a { label, sortable }</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.processJSONRow]
                

                
                </label>

                
                    <span class="description">Process a row object before it gets on the table.</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.processJSONField]
                

                
                </label>

                
                    <span class="description">Process the field data before putting it on the table.</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.processJSONField.FIELD_NAME]
                

                
                </label>

                
                    <span class="description">The same as processJSONField, but for a particular field.</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.processJSONTotalRows]
                

                
                </label>

                
                    <span class="description">A callback where you have a chance to say how many rows</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.getSortKey]
                

                
                    =null
                
                </label>

                
                    <span class="description">A function taking a `{ columnIndex, columnName, data, element }`</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.getSortKey.FIELD_NAME]
                

                
                </label>

                
                    <span class="description">Same as `options.getSortKey`, but for a particular field.</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[options.tdClassNames]
                

                
                </label>

                
                    <span class="description">An object mapping each field to what classes it gets.</span>
                
            </li>
        
            <li>
                
                    <pre>String|DomElement|Ink.UI.Pagination</pre>
                

                
                    <label class="optional">[options.pagination]
                

                
                </label>

                
                    <span class="description">Pagination instance or element.</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[options.paginationOptions]
                

                
                </label>

                
                    <span class="description">Override the options with which we instantiate the Ink.UI.Pagination.</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[options.allowResetSorting]
                

                
                </label>

                
                    <span class="description">Allow sort order to be set to "none" in addition to "ascending" and "descending"</span>
                
            </li>
        
            <li>
                
                    <pre>String|Array</pre>
                

                
                    <label class="optional">[options.visibleFields]
                

                
                </label>

                
                    <span class="description">Set of fields which get shown on the table</span>
                
            </li>
        
        </ul>
    

    

    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
     <table class="ink-table alternating" data-page-size="6">
         <thead>
             <tr>
                 <th data-sortable="true" width="75%">Pepper</th>
                 <th data-sortable="true" width="25%">Scoville Rating</th>
             </tr>
         </thead>
         <tbody>
             <tr>
                 <td>Trinidad Moruga Scorpion</td>
                 <td>1500000</td>
             </tr>
             <tr>
                 <td>Bhut Jolokia</td>
                 <td>1000000</td>
             </tr>
             <tr>
                 <td>Naga Viper</td>
                 <td>1463700</td>
             </tr>
             <tr>
                 <td>Red Savina Habanero</td>
                 <td>580000</td>
             </tr>
             <tr>
                 <td>Habanero</td>
                 <td>350000</td>
             </tr>
             <tr>
                 <td>Scotch Bonnet</td>
                 <td>180000</td>
             </tr>
             <tr>
                 <td>Malagueta</td>
                 <td>50000</td>
             </tr>
             <tr>
                 <td>Tabasco</td>
                 <td>35000</td>
             </tr>
             <tr>
                 <td>Serrano Chili</td>
                 <td>27000</td>
             </tr>
             <tr>
                 <td>Jalapeño</td>
                 <td>8000</td>
             </tr>
             <tr>
                 <td>Poblano</td>
                 <td>1500</td>
             </tr>
             <tr>
                 <td>Peperoncino</td>
                 <td>500</td>
             </tr>
         </tbody>
     </table>
     <nav class="ink-navigation"><ul class="pagination"></ul></nav>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Table_1'], function( Selector, Table ){
             var tableElement = Ink.s('.ink-table');
             var tableObj = new Table( tableElement );
         });
     </script>
{% endraw %}{% endhighlight %}
</div>




    

</div>

    

    
</section>
    

    

    

