

    
        <section>
        <h1 class="fw-300">Ink.Util.Date_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>

        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Date_1-Ink_Util_Date-get">
                        
                            .get
                        
                        
                    </a>
                </td>
                <td>
                    

                    Function that works exactly as php date() function
Works like PHP 5.2.2 <a href="http://php.net/manual/en/function.date.php" target="_blank">PHP Date function</a>

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Date_1-Ink_Util_Date-set">
                        
                            .set
                        
                        
                    </a>
                </td>
                <td>
                    

                    Functions that works like php date() function but return a date based on the formatted string
Works like PHP 5.2.2 <a href="http://php.net/manual/en/function.date.php" target="_blank">PHP Date function</a>

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Class to provide the same features that php date does</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Date.get
        
    
    (format, [_date])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Function that works exactly as php date() function
Works like PHP 5.2.2 <a href="http://php.net/manual/en/function.date.php" target="_blank">PHP Date function</a></p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>format
                

                
                </label>
                
                    - as the string in which the date it will be formatted - mandatory
                
            </dd>
        
            <dt>
                
                    <code>Date</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[_date]
                

                
                </label>
                
                    - the date to format. If undefined it will do it on now() date. Can receive unix timestamp or a date object
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <script>
        Ink.requireModules( ['Ink.Util.Date_1'], function( InkDate ){
            console.log( InkDate.get('Y-m-d') ); // Result (at the time of writing): 2013-05-07
        });
    </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Date.set
        
    
    ([format], str_date)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Functions that works like php date() function but return a date based on the formatted string
Works like PHP 5.2.2 <a href="http://php.net/manual/en/function.date.php" target="_blank">PHP Date function</a></p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[format]
                

                
                </label>
                
                    As the string in which the date it will be formatted. By default is 'Y-m-d'
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str_date
                

                
                </label>
                
                    The date formatted - Mandatory.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Date</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>



    

    

    

