

    
        <section>
        <h1 class="fw-300">Ink.UI.Table_1 <small>version: 1

Sort and paginate tabular data</small></h1>
    

    

    


    


    

    



    
            

    
    <p><p>The Table component transforms the native/DOM table element into a
sortable, paginated component.</p>
<p>You can use this component to display data from a JSON endpoint, or
from table rows in the DOM. Displaying from the DOM is more practical,
but sometimes you don&#39;t want to load everything at once (if you have
a HUGE table). In those cases, you should configure Ink.UI.Table to
get data from JSON endpoint.</p>
<p>To enable sorting, just set the <code>data-sortable</code> attribute of your
table headers (they must be in the <code>thead</code> of the table) to &quot;true&quot;.</p>
<p>To enable pagination, set the <code>pageSize</code> option to the amount of table
rows you want to show at once, and choose an <code>Ink.UI.Pagination</code>
component to use. To do this, you can do one of the following:</p>
<ul>
<li>Pass an <code>Ink.UI.Pagination</code> instance as the <code>pagination</code> option, or...</li>
<li>Pass a selector as the <code>pagination</code> option which selects an element to create the Ink.UI.Paginate element on.</li>
</ul>
</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Table_1-Ink_UI_Table-Table">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Table_1-Ink_UI_Table-setEndpoint">
                        
                            .setEndpoint
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Sets the AJAX endpoint. Useful for changing the endpoint in runtime.</p>


                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_UI_Table_1-Ink_UI_Table-Table" class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Table
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>
    

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.pageSize]
                

                
                </label>
                
                    Number of rows per page. Omit to avoid paginating.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.endpoint]
                

                
                </label>
                
                    Endpoint to get the records via AJAX. Omit if you don't want to do AJAX
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.createEndpointUrl]
                

                
                </label>
                
                    Callback to customise what URL the AJAX endpoint is at. Receives three arguments: base (the "endpoint" option), sort (`{ order: 'asc' or 'desc', field: fieldname }`) and page ({ page: page number, size: items per page })
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.getDataFromEndPoint]
                

                
                </label>
                
                    Callback to allow the user to retrieve the data himself given an URL.  Must accept two arguments: `url` and `callback`. This `callback` will take as a single argument a JavaScript object.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.processJSONRows]
                

                
                </label>
                
                    Retrieve an array of rows from the data which came from AJAX.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.processJSONHeaders]
                

                
                </label>
                
                    Get an object with all the headers' names as keys, and a { label, sortable } object as value.  Example: `{col1: {label: "Column 1"}, col2: {label: "Column 2", sortable: true}`.  Takes a single argument, the JSON response.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.processJSONRow]
                

                
                </label>
                
                    Process a row object before it gets on the table.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.processJSONField]
                

                
                </label>
                
                    Process the field data before putting it on the table.  You can return HTML, a DOM element, or a string here.  Arguments you receive: `(column, fieldData, rowIndex)`.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.processJSONField.FIELD_NAME]
                

                
                </label>
                
                    The same as processJSONField, but for a particular field.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.processJSONTotalRows]
                

                
                </label>
                
                    A callback where you have a chance to say how many rows are in the dataset (not only on this page) you have on the collection. You get as an argument the JSON response.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.getSortKey]
                

                
                    null
                
                </label>
                
                    A function taking a `{ columnIndex, columnName, data, element }` object and returning a value which serves as a sort key for the sorting operation. For example, if you want to sort by a `data-sort-key` atribute, set `getSortKey` to: function (cell) { return cell.element.getAttribute('data-sort-key'); }
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.getSortKey.FIELD_NAME]
                

                
                </label>
                
                    Same as `options.getSortKey`, but for a particular field.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.tdClassNames]
                

                
                </label>
                
                    An object mapping each field to what classes it gets.  Example: `{ name: "large-10", isBoss: "hide-small" }`
                
            </dd>
        
            <dt>
                
                    <code>String|DomElement|Ink.UI.Pagination</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.pagination]
                

                
                </label>
                
                    Pagination instance or element.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.paginationOptions]
                

                
                </label>
                
                    Override the options with which we instantiate the Ink.UI.Pagination.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.allowResetSorting]
                

                
                </label>
                
                    Allow sort order to be set to "none" in addition to "ascending" and "descending"
                
            </dd>
        
            <dt>
                
                    <code>String|Array</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options.visibleFields]
                

                
                </label>
                
                    Set of fields which get shown on the table
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <table class="ink-table alternating" data-page-size="6">
         <thead>
             <tr>
                 <th data-sortable="true" width="75%">Pepper</th>
                 <th data-sortable="true" width="25%">Scoville Rating</th>
             </tr>
         </thead>
         <tbody>
             <tr>
                 <td>Trinidad Moruga Scorpion</td>
                 <td>1500000</td>
             </tr>
             <tr>
                 <td>Bhut Jolokia</td>
                 <td>1000000</td>
             </tr>
             <tr>
                 <td>Naga Viper</td>
                 <td>1463700</td>
             </tr>
             <tr>
                 <td>Red Savina Habanero</td>
                 <td>580000</td>
             </tr>
             <tr>
                 <td>Habanero</td>
                 <td>350000</td>
             </tr>
             <tr>
                 <td>Scotch Bonnet</td>
                 <td>180000</td>
             </tr>
             <tr>
                 <td>Malagueta</td>
                 <td>50000</td>
             </tr>
             <tr>
                 <td>Tabasco</td>
                 <td>35000</td>
             </tr>
             <tr>
                 <td>Serrano Chili</td>
                 <td>27000</td>
             </tr>
             <tr>
                 <td>Jalapeño</td>
                 <td>8000</td>
             </tr>
             <tr>
                 <td>Poblano</td>
                 <td>1500</td>
             </tr>
             <tr>
                 <td>Peperoncino</td>
                 <td>500</td>
             </tr>
         </tbody>
     </table>
     <nav class="ink-navigation"><ul class="pagination"></ul></nav>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Table_1'], function( Selector, Table ){
             var tableElement = Ink.s('.ink-table');
             var tableObj = new Table( tableElement );
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_UI_Table_1-Ink_UI_Table-setEndpoint" class="box box-function">

    <h1 class="fw-300">
    
        
            .setEndpoint
        
    
    (endpoint)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        endpoint
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text"><p>Sets the AJAX endpoint. Useful for changing the endpoint in runtime.</p>
</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>endpoint
                

                
                </label>
                
                    New endpoint
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

