

    
        <section>
        <h1 class="fw-300">Ink.Dom.Selector_1 <small>version: 1</small></h1>
    



    

    

    


    


    
        <h2>Defined functions:</h2>
        <ul class="unstyled">
        
            <li><a href="#Ink_Dom_Selector_1-matches">
            
                Ink.Dom.Selector_1.matches
            
            (selector, matches)</a></li>
        
            <li><a href="#Ink_Dom_Selector_1-matchesSelector">
            
                Ink.Dom.Selector_1.matchesSelector
            
            (element, selector)</a></li>
        
            <li><a href="#Ink_Dom_Selector_1-select">
            
                Ink.Dom.Selector_1.select
            
            (selector, [context], [results])</a></li>
        
        </ul>
    

    



    

    
        <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Selector_1.matches
        
    
    (selector, matches)
    
        
            <i>function</i>
        
    
    </h1>

    
    

    
        <p class="text">Filters elements that match a CSS selector.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
                    CSS selector to search for elements
                
            </dd>
        
            <dt>
                
                    <code>Array</code>
                
            </dt>
            <dd>
                
                
                
                <label>matches
                

                
                </label>
                
                    Elements to be 'matched' with
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Array</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>
    
        <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Selector_1.matchesSelector
        
    
    (element, selector)
    
        
            <i>function</i>
        
    
    </h1>

    
    

    
        <p class="text">Checks if an element matches a given selector</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>element
                

                
                </label>
                
                    Element to test
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
                    CSS selector to test the element with
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>
    
        <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Dom.Selector_1.select
        
    
    (selector, [context], [results])
    
        
            <i>function</i>
        
    
    </h1>

    
    

    
        <p class="text">Alias for the Sizzle selector engine</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
                    CSS selector to search for elements
                
            </dd>
        
            <dt>
                
                    <code>DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[context]
                

                
                </label>
                
                    By default the search is done in the document element. However, you can specify an element as search context
                
            </dd>
        
            <dt>
                
                    <code>Array</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[results]
                

                
                </label>
                
                    By default this is considered an empty array. But if you want to merge it with other searches you did, pass their result array through here.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Array</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>
    

    

