

    
        <section>
        <h1 class="fw-300">Ink.UI.Drawer_1 <small>version: 1</small></h1>
    

    

    


    


    

    



    
            

    
    <p>Displays off-canvas (to the left and to the right) content which can be triggered by clicking elements with the 'left-drawer-trigger' and 'right-drawer-trigger', respectively.

The left drawer has the 'left-drawer' class, and the right drawer has the 'right-drawer' class.

The content drawer (EG your `<div id="main">`) must have the 'content-drawer' class.

For more, see the example below, or try the sample.</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Drawer_1-Ink_UI_Drawer_1-Drawer_1">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_UI_Drawer_1-Ink_UI_Drawer_1-Drawer_1" class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Drawer_1
    
    ([options], )
    
        <i>constructor</i>
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                </label>
                
                    {Object} object containing the following options:
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.closeOnContentClick]
                

                
                    true
                
                </label>
                
                    {Boolean}
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.mode]
                

                
                    &#x27;push&#x27;
                
                </label>
                
                    {String}
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.sides]
                

                
                    &#x27;both&#x27;
                
                </label>
                
                    {String}
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}

     <body class="ink-drawer">
         <div class="left-drawer">
             Right drawer content...
         </div>
         <div class="right-drawer">
             Left drawer content...
         </div>
         <div id="main-content" class="content-drawer ink-grid">
             <a class="left-drawer-trigger" href="">Open left drawer</a>
             <a class="right-drawer-trigger" href="">Open right drawer</a>
             Content...
         </div>
     </body>

     <script>
         Ink.requireModules(['Ink.UI.Drawer_1'], function (Drawer) {
             new Drawer();
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

