

    
        <section>
        <h1 class="fw-300">Ink.UI.Table_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Table_1-Ink_UI_Table-Table">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">The Table component transforms the native/DOM table element into a
sortable, paginated component.</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Table
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options]
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.pageSize]
                

                
                </label>
                
                    Number of rows per page. Omit to avoid paginating.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.endpoint]
                

                
                </label>
                
                    Endpoint to get the records via AJAX. Omit if you don't want to do AJAX
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.createEndpointUrl]
                

                
                </label>
                
                    Callback to customise what URL the AJAX endpoint is at. Receives three
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.getDataFromEndPoint]
                

                
                </label>
                
                    Callback to allow the user to retrieve the data himself given an URL.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.processJSONRows]
                

                
                </label>
                
                    Retrieve an array of rows from the data which came from AJAX.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.processJSONHeaders]
                

                
                </label>
                
                    Get an object with all the headers' names as keys, and a { label, sortable }
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.processJSONRow]
                

                
                </label>
                
                    Process a row object before it gets on the table.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.processJSONField]
                

                
                </label>
                
                    Process the field data before putting it on the table.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.processJSONField.FIELD_NAME]
                

                
                </label>
                
                    The same as processJSONField, but for a particular field.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.processJSONTotalRows]
                

                
                </label>
                
                    A callback where you have a chance to say how many rows
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.getSortKey]
                

                
                    null
                
                </label>
                
                    A function taking a `{ columnIndex, columnName, data, element }`
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.getSortKey.FIELD_NAME]
                

                
                </label>
                
                    Same as `options.getSortKey`, but for a particular field.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.tdClassNames]
                

                
                </label>
                
                    An object mapping each field to what classes it gets.
                
            </dd>
        
            <dt>
                
                    <code>String|DomElement|Ink.UI.Pagination</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.pagination]
                

                
                </label>
                
                    Pagination instance or element.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.paginationOptions]
                

                
                </label>
                
                    Override the options with which we instantiate the Ink.UI.Pagination.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.allowResetSorting]
                

                
                </label>
                
                    Allow sort order to be set to "none" in addition to "ascending" and "descending"
                
            </dd>
        
            <dt>
                
                    <code>String|Array</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.visibleFields]
                

                
                </label>
                
                    Set of fields which get shown on the table
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <table class="ink-table alternating" data-page-size="6">
         <thead>
             <tr>
                 <th data-sortable="true" width="75%">Pepper</th>
                 <th data-sortable="true" width="25%">Scoville Rating</th>
             </tr>
         </thead>
         <tbody>
             <tr>
                 <td>Trinidad Moruga Scorpion</td>
                 <td>1500000</td>
             </tr>
             <tr>
                 <td>Bhut Jolokia</td>
                 <td>1000000</td>
             </tr>
             <tr>
                 <td>Naga Viper</td>
                 <td>1463700</td>
             </tr>
             <tr>
                 <td>Red Savina Habanero</td>
                 <td>580000</td>
             </tr>
             <tr>
                 <td>Habanero</td>
                 <td>350000</td>
             </tr>
             <tr>
                 <td>Scotch Bonnet</td>
                 <td>180000</td>
             </tr>
             <tr>
                 <td>Malagueta</td>
                 <td>50000</td>
             </tr>
             <tr>
                 <td>Tabasco</td>
                 <td>35000</td>
             </tr>
             <tr>
                 <td>Serrano Chili</td>
                 <td>27000</td>
             </tr>
             <tr>
                 <td>Jalapeño</td>
                 <td>8000</td>
             </tr>
             <tr>
                 <td>Poblano</td>
                 <td>1500</td>
             </tr>
             <tr>
                 <td>Peperoncino</td>
                 <td>500</td>
             </tr>
         </tbody>
     </table>
     <nav class="ink-navigation"><ul class="pagination"></ul></nav>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Table_1'], function( Selector, Table ){
             var tableElement = Ink.s('.ink-table');
             var tableObj = new Table( tableElement );
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

