

    
        <section>
        <h1 class="fw-300">Ink.Util.Cookie_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>

        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Cookie_1-Ink_Util_Cookie-get">
                        
                            .get
                        
                        
                    </a>
                </td>
                <td>
                    

                    Gets an object with current page cookies

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Cookie_1-Ink_Util_Cookie-remove">
                        
                            .remove
                        
                        
                    </a>
                </td>
                <td>
                    

                    Delete a cookie

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Cookie_1-Ink_Util_Cookie-set">
                        
                            .set
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets a cookie

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Utilities for Cookie handling</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Cookie.get
        
    
    (name)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Gets an object with current page cookies</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>name
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String|Object</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Cookie_1'], function( InkCookie ){
        var myCookieValue = InkCookie.get('someVarThere');
        console.log( myCookieValue ); // This will output the value of the cookie 'someVarThere', from the cookie object.
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Cookie.remove
        
    
    (cookieName, [path], [domain])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Delete a cookie</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>cookieName
                

                
                </label>
                
                    Cookie name
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[path]
                

                
                </label>
                
                    Path of the cookie (default '/')
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[domain]
                

                
                </label>
                
                    Domain of the cookie (default current hostname)
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Cookie_1'], function( InkCookie ){
        InkCookie.remove( 'someVarThere' );
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Cookie.set
        
    
    (name, value, [expires], [path], [domain], [secure])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Sets a cookie</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>name
                

                
                </label>
                
                    Cookie name
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>value
                

                
                </label>
                
                    Cookie value
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[expires]
                

                
                </label>
                
                    Number to add to current Date in seconds
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[path]
                

                
                </label>
                
                    Path to sets cookie (default '/')
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[domain]
                

                
                </label>
                
                    Domain to sets cookie (default current hostname)
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[secure]
                

                
                </label>
                
                    True if wants secure, default 'false'
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Cookie_1'], function( InkCookie ){
        var expireDate = new Date( 2014,00,01, 0,0,0);
        InkCookie.set( 'someVarThere', 'anyValueHere', expireDate.getTime() );
    });
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

