

    
        <section>
        <h1 class="fw-300">Ink.Dom.Loaded_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Loaded_1-Ink_Dom_Loaded-run">
                        
                            .run
                        
                        
                    </a>
                </td>
                <td>
                    

                    Adds a new function that will be invoked once the document is ready

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">The Loaded class provides a method that allows developers to queue functions to run when
the page is loaded (document is ready).</div>








    <section class="box box-function">

    <h2>
    
        
            Ink.Dom.Loaded.run
        
    
    ([win], fn)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[win]
                

                
                    =window
                
                </label>

                
                    <span class="description">Window object to attach/add the event</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label>fn
                

                
                </label>

                
                    <span class="description">Callback function to be run after the page is loaded</span>
                
            </li>
        
        </ul>
    

    

    
        <p class="text">Adds a new function that will be invoked once the document is ready</p>
    

    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Dom.Loaded_1'], function(Loaded){
        Loaded.run(function(){
            console.log('This will run when the page/document is ready/loaded');
        });
    });
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

