

    <div class="box box-module">

        
            <h2><a name="Ink_1">Ink_1 <i>module</i></a></h2>
        

        

        
        
        

        
            <h3>uses:</h3>
            <ul>
            
                <li>requireModules</li>
            
                <li>createModule</li>
            
                <li>bind</li>
            
            </ul>
        

        

        

        




        
            <h3>Defined classes and namespaces:</h3>
            <ul>
            
                
                    <li><a href="#Ink_1-Ink">(C) Ink</a></li>
                
            
            </ul>
        

        

        

    </div>

    
        <div class="box box-class">

    <h2><a name="Ink_1-Ink">Ink <i>
    
        class
    
    </i></a></h2>

    

    
    
    

    
        <div class="text"><p>global object</p>
</div>
    

    

    




    
        
            <h3>Defined methods:</h3>
        
        
        <table>
        
            <tr>
                <td><a href="#Ink_1-Ink-bind">
                
                    Ink.bind
                
                (fn, context, [args*])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-bindEvent">
                
                    Ink.bindEvent
                
                (fn, context, [args*])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-bindMethod">
                
                    Ink.bindMethod
                
                (object, methodName, [args*])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-createExt">
                
                    Ink.createExt
                
                (moduleName, version, dependencies, modFn)</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-createModule">
                
                    Ink.createModule
                
                (mod, version, deps, modFn)</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-error">
                
                    Ink.error
                
                ([args*])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-extendObj">
                
                    Ink.extendObj
                
                (destination, source, [args*])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-getModule">
                
                    Ink.getModule
                
                (mod, [version])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-getModuleScripts">
                
                    Ink.getModuleScripts
                
                ()</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-getModulesLoadOrder">
                
                    Ink.getModulesLoadOrder
                
                ()</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-getPath">
                
                    Ink.getPath
                
                (key, [noLib])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-i">
                
                    Ink.i
                
                (id)</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-loadScript">
                
                    Ink.loadScript
                
                (uri, [contentType])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-log">
                
                    Ink.log
                
                ([args*])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-namespace">
                
                    Ink.namespace
                
                (ns, [returnParentAndKey])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-requireModules">
                
                    Ink.requireModules
                
                (deps, cbFn)</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-s">
                
                    Ink.s
                
                (rule, [from])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-setPath">
                
                    Ink.setPath
                
                (key, rootURI)</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-ss">
                
                    Ink.ss
                
                (rule, [from])</a></td>
            </tr>
        
            <tr>
                <td><a href="#Ink_1-Ink-warn">
                
                    Ink.warn
                
                ([args*])</a></td>
            </tr>
        
        </table>
    

    

</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-bind">
    
        
            Ink.bind
        
    
    (fn, context, [args*])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label>fn
                

                
                </label>

                
                    <span class="description">The function</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>context
                

                
                </label>

                
                    <span class="description">The value to be passed as the this parameter to the target function when the bound function is called. If used as false, it preserves the original context and just binds the arguments.</span>
                
            </li>
        
            <li>
                
                    <pre>Any</pre>
                

                
                    <label class="optional">[args*]
                

                
                </label>

                
                    <span class="description">Additional arguments will be sent to the original function as prefix arguments.</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Function</pre>
            
            
        </div>
    

    
        <span class="text"><p>Function.prototype.bind alternative.
Creates a new function that, when called, has its this keyword set to the provided value, with a given sequence of arguments preceding any provided when the new function is called.</p>
</span>
    

    

    
	<h3>Samples:</h3>

	
  <p class="example-title">Code</p>
{% highlight html %}
{% include js_samples/Ink_1_bind.html %}
{% endhighlight %}
	




</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-bindEvent">
    
        
            Ink.bindEvent
        
    
    (fn, context, [args*])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label>fn
                

                
                </label>

                
                    <span class="description">The function</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>context
                

                
                </label>

                
                    <span class="description">The value to be passed as the this parameter to the target</span>
                
            </li>
        
            <li>
                
                    <pre>Any</pre>
                

                
                    <label class="optional">[args*]
                

                
                </label>

                
                    <span class="description">Additional arguments will be sent to the original function as prefix arguments</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Function</pre>
            
            
        </div>
    

    
        <span class="text"><p>Function.prototype.bind alternative for event handlers.
Same as bind but keeps first argument of the call the original event.
Set &quot;context&quot; to <code>false</code> to preserve the original context of the function and just bind the arguments.</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-bindMethod">
    
        
            Ink.bindMethod
        
    
    (object, methodName, [args*])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>object
                

                
                </label>

                
                    <span class="description">The object that contains the method to bind</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>methodName
                

                
                </label>

                
                    <span class="description">The name of the method that will be bound</span>
                
            </li>
        
            <li>
                
                    <pre>Any</pre>
                

                
                    <label class="optional">[args*]
                

                
                </label>

                
                    <span class="description">Additional arguments will be sent to the new method as prefix arguments.</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Function</pre>
            
            
        </div>
    

    
        <span class="text"><p>Function.prototype.bind alternative for class methods
Creates a new function that, when called, has this k</p>
</span>
    

    
{% raw %}
	<h3>Examples:</h3>

	
		<pre class="example"><code>
			
 // Build a function which calls Ink.Dom.Element.remove on an element.
 var removeMyElem = Ink.bindMethod(Ink.Dom.Element, &#x27;remove&#x27;, someElement);

 removeMyElem();  // no arguments, nor Ink.Dom.Element, needed

		</code></pre>
	
		<pre class="example"><code>
			
 // (comparison with using Ink.bind to the same effect).
 // The following two calls are equivalent

 Ink.bind(this.remove, this, myElem);
 Ink.bindMethod(this, &#x27;remove&#x27;, myElem);

		</code></pre>
	
  {% endraw %}


    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-createExt">
    
        
            Ink.createExt
        
    
    (moduleName, version, dependencies, modFn)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>moduleName
                

                
                </label>

                
                    <span class="description">Extension name</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>version
                

                
                </label>

                
                    <span class="description">Extension version</span>
                
            </li>
        
            <li>
                
                    <pre>Array</pre>
                

                
                    <label>dependencies
                

                
                </label>

                
                    <span class="description">Extension dependencies</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label>modFn
                

                
                </label>

                
                    <span class="description">Function returning the extension</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Creates an Ink.Ext module</p>
<p>Does exactly the same as createModule but creates the module in the Ink.Ext namespace</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-createModule">
    
        
            Ink.createModule
        
    
    (mod, version, deps, modFn)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>mod
                

                
                </label>

                
                    <span class="description">Module name, separated by dots. Like Ink.Dom.Selector, Ink.UI.Modal</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>version
                

                
                </label>

                
                    <span class="description">Version number</span>
                
            </li>
        
            <li>
                
                    <pre>Array</pre>
                

                
                    <label>deps
                

                
                </label>

                
                    <span class="description">Array of module names which are dependencies of the module being created. The order in which they are passed here will define the order they will be passed to the callback function.</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label>modFn
                

                
                </label>

                
                    <span class="description">The callback function to be executed when all the dependencies are resolved. The dependencies are passed as arguments, in the same order they were declared. The function itself should return the module.</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Creates a new Ink Module. Use this to wrap your code and benefit from the module loading used throughout the Ink library</p>
</span>
    

    

    
	<h3>Samples:</h3>

	
  <p class="example-title">Code</p>
{% highlight html %}
{% include js_samples/Ink_1_createModule.html %}
{% endhighlight %}
	




</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-error">
    
        
            Ink.error
        
    
    ([args*])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Any</pre>
                

                
                    <label class="optional">[args*]
                

                
                </label>

                
                    <span class="description">Arguments to be evaluated</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Calls native console.error if available.</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-extendObj">
    
        
            Ink.extendObj
        
    
    (destination, source, [args*])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>destination
                

                
                </label>

                
                    <span class="description">The object that will receive the new/updated properties</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>source
                

                
                </label>

                
                    <span class="description">The object whose properties will be copied over to the destination object</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[args*]
                

                
                </label>

                
                    <span class="description">Additional source objects. The last source will override properties of the same name in the previous defined sources</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Copy all of the properties in one or more source objects over to the destination object, and return the destination object. It&#39;s in-order, so the last source will override properties of the same name in previous arguments.</p>
</span>
    

    

    
	<h3>Samples:</h3>

	
  <p class="example-title">Code</p>
{% highlight html %}
{% include js_samples/Ink_1_extendObj.html %}
{% endhighlight %}
	




</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-getModule">
    
        
            Ink.getModule
        
    
    (mod, [version])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>mod
                

                
                </label>

                
                    <span class="description">Module name</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[version]
                

                
                </label>

                
                    <span class="description">Version number of the module</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object|Function</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>A synchronous method to get the module from the registry. It assumes the module is defined and loaded already!</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-getModuleScripts">
    
        
            Ink.getModuleScripts
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Get the markup needed to load all the modules.
This method builds the script tags needed to load the currently used modules</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-getModulesLoadOrder">
    
        
            Ink.getModulesLoadOrder
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Array</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>List of module names, ordered by loaded time (oldest module comes first)</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-getPath">
    
        
            Ink.getPath
        
    
    (key, [noLib])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>key
                

                
                </label>

                
                    <span class="description">Name of the module you want to get the path</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[noLib]
                

                
                </label>

                
                    <span class="description">Flag to skip appending 'lib.js' to the returned path.</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Get the full path of a certain module by looking up the paths given in setPath (and ultimately the default Ink path)</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-i">
    
        
            Ink.i
        
    
    (id)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>id
                

                
                </label>

                
                    <span class="description">Element ID</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>DOMElement</pre>
            
            
        </div>
    

    
        <span class="text"><p>Alias to document.getElementById</p>
</span>
    

    

    
	<h3>Samples:</h3>

	
  <p class="example-title">Code</p>
{% highlight html %}
{% include js_samples/Ink_1_i.html %}
{% endhighlight %}
	




</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-loadScript">
    
        
            Ink.loadScript
        
    
    (uri, [contentType])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>uri
                

                
                </label>

                
                    <span class="description">Can be an external URL or a module name</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[contentType]
                

                
                    =&#x27;text/javascript&#x27;
                
                </label>

                
                    <span class="description">The `type` attribute of the new script tag.</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Loads a script by creating a <code>&lt;script&gt;</code> tag in the <code>&lt;head&gt;</code> of the document.</p>
<p>Reports errors by listening to &#39;error&#39; and &#39;readystatechange&#39; events.</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-log">
    
        
            Ink.log
        
    
    ([args*])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Any</pre>
                

                
                    <label class="optional">[args*]
                

                
                </label>

                
                    <span class="description">Arguments to be evaluated</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Calls native console.log if available.</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-namespace">
    
        
            Ink.namespace
        
    
    (ns, [returnParentAndKey])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>ns
                

                
                </label>

                
                    <span class="description">Namespace to define.</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[returnParentAndKey]
                

                
                </label>

                
                    <span class="description">Flag to change the return value to an array containing the namespace parent and the namespace key</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object|Array</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Defines a module namespace.</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-requireModules">
    
        
            Ink.requireModules
        
    
    (deps, cbFn)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Array</pre>
                

                
                    <label>deps
                

                
                </label>

                
                    <span class="description">Array of module names. The order in which they are passed here will define the order they will be passed to the callback function.</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label>cbFn
                

                
                </label>

                
                    <span class="description">The callback function to be executed when all the dependencies are resolved. The dependencies are passed as arguments, in the same order they were declared.</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Use this to get modules, even if they&#39;re not loaded yet</p>
</span>
    

    

    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-s">
    
        
            Ink.s
        
    
    (rule, [from])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>rule
                

                
                </label>

                
                    <span class="description">Selector string</span>
                
            </li>
        
            <li>
                
                    <pre>DOMElement</pre>
                

                
                    <label class="optional">[from]
                

                
                </label>

                
                    <span class="description">Context element. If set to a DOM element, the rule will only look for descendants of this DOM Element.</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>DOMElement</pre>
            
            
        </div>
    

    
        <span class="text"><p>Alias for Ink.Dom.Selector first result</p>
</span>
    

    

    
	<h3>Samples:</h3>

	
  <p class="example-title">Code</p>
{% highlight html %}
{% include js_samples/Ink_1_s.html %}
{% endhighlight %}
	




</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-setPath">
    
        
            Ink.setPath
        
    
    (key, rootURI)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>key
                

                
                </label>

                
                    <span class="description">Module or namespace</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>rootURI
                

                
                </label>

                
                    <span class="description">Base URL path and schema to be appended to the module or namespace</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Sets the URL path for a namespace or module. Use this to customize where requireModules (and createModule) will load dependencies from.
This can be useful to set your own CDN for dynamic module loading or simply to avoi</p>
</span>
    

    
{% raw %}
	<h3>Examples:</h3>

	
		<pre class="example"><code>
			
     Ink.setPath(&#x27;Ink&#x27;, &#x27;http://my-cdn/Ink/&#x27;);
     Ink.setPath(&#x27;Lol&#x27;, &#x27;http://my-cdn/Lol/&#x27;);

     // Loads from http://my-cdn/Ink/Dom/Whatever/lib.js
     Ink.requireModules([&#x27;Ink.Dom.Whatever&#x27;], function () { ... });
     // Loads from http://my-cdn/Lol/Whatever/lib.js
     Ink.requireModules([&#x27;Lol.Whatever&#x27;], function () { ... });

		</code></pre>
	
  {% endraw %}


    



</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-ss">
    
        
            Ink.ss
        
    
    (rule, [from])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>rule
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>DOMElement</pre>
                

                
                    <label class="optional">[from]
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Array</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Alias for Ink.Dom.Selector</p>
</span>
    

    

    
	<h3>Samples:</h3>

	
  <p class="example-title">Code</p>
{% highlight html %}
{% include js_samples/Ink_1_ss.html %}
{% endhighlight %}
	




</div>


    <div class="box box-function">

    <h2><a name="Ink_1-Ink-warn">
    
        
            Ink.warn
        
    
    ([args*])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Any</pre>
                

                
                    <label class="optional">[args*]
                

                
                </label>

                
                    <span class="description">Arguments to be evaluated</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Calls native console.warn if available.</p>
</span>
    

    

    



</div>





    

    

    

