

    
        <section>
        <h1 class="fw-300">Ink.UI.Dropdown_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Dropdown_1-Ink_UI_Dropdown-Dropdown">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Dropdown_1-Ink_UI_Dropdown-dismiss">
                        
                            .dismiss
                        
                        
                    </a>
                </td>
                <td>
                    

                    Dismiss the dropdown.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Dropdown_1-Ink_UI_Dropdown-open">
                        
                            .open
                        
                        
                    </a>
                </td>
                <td>
                    

                    Open the dropdown

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Use this UI module to achieve a dropdown menu.</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Dropdown
    
    (trigger, options, )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>trigger
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label>options
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>options.target
                

                
                </label>
                
                    Target of the dropdown action.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Dropdown.dismiss
        
    
    ([callHandler])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Dismiss the dropdown.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
            </dt>
            <dd>
                
                <label class="optional">[callHandler]
                

                
                    false
                
                </label>
                
                    call onDismiss handler
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Dropdown.open
        
    
    ([callHandler])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Open the dropdown</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
            </dt>
            <dd>
                
                <label class="optional">[callHandler]
                

                
                    false
                
                </label>
                
                    call onOpen handler
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

