

    
        <section>
        <h1 class="fw-300">Ink.UI.Pagination_1 <small>version: 1</small></h1>
    



    

    

    


    


    
        <h2>Defined functions:</h2>
        <ul class="unstyled">
        
            <li><a href="#Ink_UI_Pagination_1-genAel">
            
                Ink.UI.Pagination_1.genAel
            
            (inner)</a></li>
        
        </ul>
    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-Pagination">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-destroy">
                        
                            .destroy
                        
                        
                    </a>
                </td>
                <td>
                    

                    Unregisters the component and removes its markup from the DOM

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-getCurrent">
                        
                            .getCurrent
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns current page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-getSize">
                        
                            .getSize
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns the number of pages

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-hasNext">
                        
                            .hasNext
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif has pages ahead

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-hasNextPage">
                        
                            .hasNextPage
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif has set of page(s) ahead

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-hasPrevious">
                        
                            .hasPrevious
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif has prior pages

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-hasPreviousPage">
                        
                            .hasPreviousPage
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif has prior set of page(s)

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-isFirst">
                        
                            .isFirst
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif at first page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-isLast">
                        
                            .isLast
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif at last page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-setCurrent">
                        
                            .setCurrent
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets the current page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-setOnChange">
                        
                            .setOnChange
                        
                        
                    </a>
                </td>
                <td>
                    

                    Allows you to subscribe to the onChange event

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-setSize">
                        
                            .setSize
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets the number of pages

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>










    <section class="box box-function">

    <h2>
    
        Ink.UI.Pagination
    
    (selector, options, )
    
        <i>constructor</i>
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String|DOMElement</pre>
                

                
                    <label>selector
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>options
                

                
                </label>

                
                    <span class="description">Options</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[options.size]
                

                
                </label>

                
                    <span class="description">number of pages.</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[options.totalItemCount]
                

                
                </label>

                
                    <span class="description">Total numeber of items to display</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[options.itemsPerPage]
                

                
                </label>

                
                    <span class="description">number of items per page.</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[options.maxSize]
                

                
                </label>

                
                    <span class="description">If passed, only shows at most maxSize items. displays also first|prev page and next page|last buttons</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[options.start]
                

                
                </label>

                
                    <span class="description">start page. defaults to 1</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[options.chevron]
                

                
                    =false
                
                </label>

                
                    <span class="description">whether the pagination is has chevron buttons.</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[options.dotted]
                

                
                    =false
                
                </label>

                
                    <span class="description">whether the pagination is dotted. Implies sideButtons=false</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[options.sideButtons]
                

                
                    =true
                
                </label>

                
                    <span class="description">whether to show the first, last, previous, next, previousPage and lastPage buttons. Do not use together with maxSize.</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.firstLabel]
                

                
                </label>

                
                    <span class="description">label to display on first page button</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.lastLabel]
                

                
                </label>

                
                    <span class="description">label to display on last page button</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.previousLabel]
                

                
                </label>

                
                    <span class="description">label to display on previous button</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.nextLabel]
                

                
                </label>

                
                    <span class="description">label to display on next button</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.previousPageLabel]
                

                
                </label>

                
                    <span class="description">label to display on previous page button</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.nextPageLabel]
                

                
                </label>

                
                    <span class="description">label to display on next page button</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onChange]
                

                
                </label>

                
                    <span class="description">optional callback. Called with `(thisPaginator, newPageNumber)`.</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.hashParameter]
                

                
                </label>

                
                    <span class="description">parameter to use on setHash. by default uses 'page'</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.parentTag]
                

                
                </label>

                
                    <span class="description">HTML Tag used as the parent node.</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.childTag]
                

                
                </label>

                
                    <span class="description">HTML Tag used as the child nodes.</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.wrapperClass]
                

                
                </label>

                
                    <span class="description">CSS Class used in the wrapper element</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.paginationClass]
                

                
                </label>

                
                    <span class="description">CSS Class used in the pagination element</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.activeClass]
                

                
                </label>

                
                    <span class="description">CSS Class used to mark page as active</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.disabledClass]
                

                
                </label>

                
                    <span class="description">CSS Class used to mark page as disabled</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.hideClass]
                

                
                </label>

                
                    <span class="description">CSS Class used to hide elements</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.previousClass]
                

                
                </label>

                
                    <span class="description">CSS Class used in the previous element</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.previousPageClass]
                

                
                </label>

                
                    <span class="description">CSS Class used in the previous page element</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.nextClass]
                

                
                </label>

                
                    <span class="description">CSS Class used in the next element</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.nextPageClass]
                

                
                </label>

                
                    <span class="description">CSS Class used in the next page element</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.numberFormatter]
                

                
                </label>

                
                    <span class="description">optional function which takes and 0-indexed number and returns the string which appears on a numbered button</span>
                
            </li>
        
        </ul>
    

    

    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.destroy
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    

    
        <p class="text">Unregisters the component and removes its markup from the DOM</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.getCurrent
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Number</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns current page</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.getSize
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Number</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns the number of pages</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.hasNext
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns true iif has pages ahead</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.hasNextPage
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns true iif has set of page(s) ahead</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.hasPrevious
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns true iif has prior pages</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.hasPreviousPage
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns true iif has prior set of page(s)</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.isFirst
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns true iif at first page</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.isLast
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns true iif at last page</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.setCurrent
        
    
    (nr, isRelative)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>nr
                

                
                </label>

                
                    <span class="description">sets the current page to given number</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label>isRelative
                

                
                </label>

                
                    <span class="description">trueish to set relative change instead of absolute (default)</span>
                
            </li>
        
        </ul>
    

    

    
        <p class="text">Sets the current page</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.setOnChange
        
    
    (cb)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                

                
                    <label>cb
                

                
                </label>

                
                    <span class="description">{Function} Callback called with `(thisPaginator, newPageNumber)`.</span>
                
            </li>
        
        </ul>
    

    

    
        <p class="text">Allows you to subscribe to the onChange event</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination.setSize
        
    
    (sz, setSizeInItems, totalItems, itemsPerPage)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>sz
                

                
                </label>

                
                    <span class="description">number of pages</span>
                
            </li>
        
            <li>
                

                
                    <label>setSizeInItems
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>totalItems
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>itemsPerPage
                

                
                </label>

                
            </li>
        
        </ul>
    

    

    
        <p class="text">Sets the number of pages</p>
    

    


    

</section>



    

    
        <section class="box box-function">

    <h2>
    
        
            Ink.UI.Pagination_1.genAel
        
    
    (inner)
    
        
            <i>function</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>inner
                

                
                </label>

                
                    <span class="description">HTML to be placed inside the anchor.</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>DOMElement</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Function to create the pagination anchors</p>
    

    


    

</section>
    

    

