

    
        <section>
        <h1 class="fw-300">Ink.UI.TreeView_1 <small>version: 1</small></h1>
    

    

    


    


    

    



    
            

    
    <p>Shows elements in a tree-like hierarchical structure.</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_TreeView_1-Ink_UI_TreeView-TreeView">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_UI_TreeView_1-Ink_UI_TreeView-TreeView" class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.TreeView
    
    (selector, )
    
        <i>constructor</i>
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>
    

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.node]
                

                
                    &#x27;li&#x27;
                
                </label>
                
                    Selector to define which elements are seen as nodes.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.children]
                

                
                    &#x27;ul&#x27;
                
                </label>
                
                    Selector to define which elements are represented as children.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.parentClass]
                

                
                    &#x27;parent&#x27;
                
                </label>
                
                    Classes to be added to the parent node.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.openClass]
                

                
                    &#x27;f
                
                </label>
                
                    fa-minus-circle'] Classes to be added to the icon when a parent is open.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.closedClass]
                

                
                    &#x27;f
                
                </label>
                
                    fa-plus-circle'] Classes to be added to the icon when a parent is closed.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.hideClass]
                

                
                    &#x27;hide-all&#x27;
                
                </label>
                
                    Class to toggle visibility of the children.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.iconTag]
                

                
                    &#x27;i&#x27;
                
                </label>
                
                    The name of icon tag. The component tries to find a tag with that name as a direct child of the node. If it doesn't find it, it creates it.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.stopDefault]
                

                
                    true
                
                </label>
                
                    Stops the default behavior of the click handler.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <ul class="ink-tree-view">
       <li data-open="true"><a href="#">root</a>
         <ul>
           <li><a href="#">child 1</a></li>
           <li><a href="#">child 2</a>
             <ul>
               <li><a href="#">grandchild 2a</a></li>
               <li><a href="#">grandchild 2b</a>
                 <ul>
                   <li><a href="#">grandgrandchild 1bA</a></li>
                   <li><a href="#">grandgrandchild 1bB</a></li>
                 </ul>
               </li>
             </ul>
           </li>
           <li><a href="#">child 3</a></li>
         </ul>
       </li>
     </ul>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.TreeView_1'], function( Selector, TreeView ){
             var treeViewElement = Ink.s('.ink-tree-view');
             var treeViewObj = new TreeView( treeViewElement );
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

