

    
        <section>
        <h1 class="fw-300">Ink.Util.BinPack_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Util_BinPack_1-Ink_Util_BinPack-binPack">
                        
                            .binPack
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Binary Packing algorithm implementation

Based on the work of Jake Gordon

see https://github.com/jakesgordon/bin-packing/</div>








    <section class="box box-function">

    <h2>
    
        
            Ink.Util.BinPack.binPack
        
    
    (o, )
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>o
                

                
                </label>

                
                    <span class="description">options</span>
                
            </li>
        
            <li>
                
                    <pre>Object[]</pre>
                

                
                    <label>o.blocks
                

                
                </label>

                
                    <span class="description">array of items with w and h integer attributes.</span>
                
            </li>
        
            <li>
                
                    <pre>Number[2]</pre>
                

                
                    <label class="optional">[o.dimensions]
                

                
                </label>

                
                    <span class="description">if passed, container has fixed dimensions</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[o.sorter]
                

                
                </label>

                
                    <span class="description">sorter function. one of: random, height, width, area, maxside</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    

    


    

</section>



    

    

    

