

    <div class="box box-module">

        
            <h2><a name="Ink_Util_String_1">Ink.Util.String_1 <i>module</i></a></h2>
        

        

        
            <p><label>author:</label>inkdev AT sapo.pt</p>
        
        
        
            <p><label>version:</label>1</p>
        

        

        

        


        


        
            <h3>Defined classes and namespaces:</h3>
            <ul>
            
                
                    <li><a href="#Ink_Util_String_1-Ink_Util_String">(C) Ink.Util.String</a></li>
                
            
            </ul>
        

        

        

    </div>

    
        <div class="box box-class">

    <h2><a name="Ink_Util_String_1-Ink_Util_String">Ink.Util.String <i>
    
        class
    
    </i></a></h2>

    

    
    
    
        <p><label>version:</label>1</p>
    

    
        <div class="text"><p>String Manipulation Utilities</p>
</div>
    

    


    


    
        
            <h3>Defined methods:</h3>
        
        
        <ul>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-escape">
            
                Ink.Util.String.escape
            
            (c, c)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-escapeText">
            
                Ink.Util.String.escapeText
            
            (txt, [whiteList])</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-evalJSON">
            
                Ink.Util.String.evalJSON
            
            (strJSON, sanitize)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-htmlEntitiesDecode">
            
                Ink.Util.String.htmlEntitiesDecode
            
            (string)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-htmlEntitiesEncode">
            
                Ink.Util.String.htmlEntitiesEncode
            
            (string)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-htmlEscapeUnsafe">
            
                Ink.Util.String.htmlEscapeUnsafe
            
            (str)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-isJSON">
            
                Ink.Util.String.isJSON
            
            (str)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-normalizeWhitespace">
            
                Ink.Util.String.normalizeWhitespace
            
            (str)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-packetize">
            
                Ink.Util.String.packetize
            
            (string, maxLen)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-removeAccentedChars">
            
                Ink.Util.String.removeAccentedChars
            
            (string)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-shortString">
            
                Ink.Util.String.shortString
            
            (str, n)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-strcmp">
            
                Ink.Util.String.strcmp
            
            (str1, str2)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-stripTags">
            
                Ink.Util.String.stripTags
            
            (string, allowed)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-substrCount">
            
                Ink.Util.String.substrCount
            
            (haystack, needle)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-toUnicode">
            
                Ink.Util.String.toUnicode
            
            (str)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-trim">
            
                Ink.Util.String.trim
            
            (string)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-truncateString">
            
                Ink.Util.String.truncateString
            
            (str, length)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-ucFirst">
            
                Ink.Util.String.ucFirst
            
            (string, [firstWordOnly])</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-unescape">
            
                Ink.Util.String.unescape
            
            (es)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-unescapeText">
            
                Ink.Util.String.unescapeText
            
            (txt)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-utf8Decode">
            
                Ink.Util.String.utf8Decode
            
            (string)</a></li>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-utf8Encode">
            
                Ink.Util.String.utf8Encode
            
            (string)</a></li>
        
        </ul>
    

    
        <h3>Defined attributes:</h3>
        <ul>
        
            <li><a href="#Ink_Util_String_1-Ink_Util_String-escapedCharRegex">Ink.Util.String.escapedCharRegex</a></li>
        
        </ul>
    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-escape">
    
        
            Ink.Util.String.escape
        
    
    (c, c)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>c
                

                
                </label>

                
                    <span class="description">Char</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>c
                

                
                </label>

                
                    <span class="description">char</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Escapes a unicode character. returns \xXX if hex smaller than 0x100, otherwise \uXXXX</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-escapeText">
    
        
            Ink.Util.String.escapeText
        
    
    (txt, [whiteList])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>txt
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Array</pre>
                

                
                    <label class="optional">[whiteList]
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Escapes a string to unicode characters</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-evalJSON">
    
        
            Ink.Util.String.evalJSON
        
    
    (strJSON, sanitize)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>strJSON
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label>sanitize
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Eval a JSON string to a JS object</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-htmlEntitiesDecode">
    
        
            Ink.Util.String.htmlEntitiesDecode
        
    
    (string)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>string
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Convert listed HTML entities to character</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-htmlEntitiesEncode">
    
        
            Ink.Util.String.htmlEntitiesEncode
        
    
    (string)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>string
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Convert listed characters to HTML entities</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-htmlEscapeUnsafe">
    
        
            Ink.Util.String.htmlEscapeUnsafe
        
    
    (str)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>str
                

                
                </label>

                
                    <span class="description">String to escape</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Escapes unsafe html chars to their entities</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-isJSON">
    
        
            Ink.Util.String.isJSON
        
    
    (str)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>str
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
        </div>
    

    
        <span class="text"><p>Checks if a string is a valid JSON object (string encoded)</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-normalizeWhitespace">
    
        
            Ink.Util.String.normalizeWhitespace
        
    
    (str)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>str
                

                
                </label>

                
                    <span class="description">String to normalize</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Normalizes whitespace in string.
String is trimmed and sequences of many
Whitespaces are collapsed.</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-packetize">
    
        
            Ink.Util.String.packetize
        
    
    (string, maxLen)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>string
                

                
                </label>

                
                    <span class="description">string to divide</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>maxLen
                

                
                </label>

                
                    <span class="description">packet size</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Array</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Splits long string into string of, at most, maxLen (that is, all but last have length maxLen,
last can measure maxLen or less)</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-removeAccentedChars">
    
        
            Ink.Util.String.removeAccentedChars
        
    
    (string)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>string
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Convert all accented chars to char without accent.</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-shortString">
    
        
            Ink.Util.String.shortString
        
    
    (str, n)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>str
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>n
                

                
                </label>

                
                    <span class="description">- number of chars of the short string</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Make a string shorter without cutting words</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-strcmp">
    
        
            Ink.Util.String.strcmp
        
    
    (str1, str2)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>str1
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>str2
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Number</pre>
            
            
        </div>
    

    
        <span class="text"><p>Compares two strings</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-stripTags">
    
        
            Ink.Util.String.stripTags
        
    
    (string, allowed)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>string
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>allowed
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Removes HTML tags of string</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example">
{% highlight html %}
{% raw %}
    <script>
         var myvar='isto e um texto <b>bold</b> com imagem <img src=""> e br <br /> um <p>paragrafo</p>';
         SAPO.Utility.String.stripTags(myvar, 'b,u');
    </script>
{% endraw %}
{% endhighlight %}
</div>




    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-substrCount">
    
        
            Ink.Util.String.substrCount
        
    
    (haystack, needle)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>haystack
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>needle
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Number</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Count the number of occurrences of a specific needle in a haystack</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-toUnicode">
    
        
            Ink.Util.String.toUnicode
        
    
    (str)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>str
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Converts string to unicode</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-trim">
    
        
            Ink.Util.String.trim
        
    
    (string)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>string
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Remove spaces and new line from biggin and ends of string</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-truncateString">
    
        
            Ink.Util.String.truncateString
        
    
    (str, length)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>str
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>length
                

                
                </label>

                
                    <span class="description">- length limit for the string. String will be</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Truncates a string, breaking words and adding ... at the end</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-ucFirst">
    
        
            Ink.Util.String.ucFirst
        
    
    (string, [firstWordOnly])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>string
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[firstWordOnly]
                

                
                    =false
                
                </label>

                
                    <span class="description">capitalize only first word.</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Convert first letter of a word to upper case <br />
If param as more than one word, it converts first letter of all words that have more than 2 letters</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example">
{% highlight html %}
{% raw %}
     InkString.ucFirst('hello world'); // -> 'Hello World'
     InkString.ucFirst('hello world', true); // -> 'Hello world'
{% endraw %}
{% endhighlight %}
</div>




    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-unescape">
    
        
            Ink.Util.String.unescape
        
    
    (es)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>es
                

                
                </label>

                
                    <span class="description">Escape sequence</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Unescapes a unicode character escape sequence</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-unescapeText">
    
        
            Ink.Util.String.unescapeText
        
    
    (txt)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>txt
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Unescapes a string</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-utf8Decode">
    
        
            Ink.Util.String.utf8Decode
        
    
    (string)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>string
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Decode a string from UTF8</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_String_1-Ink_Util_String-utf8Encode">
    
        
            Ink.Util.String.utf8Encode
        
    
    (string)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>string
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Encode a string to UTF8</p>
</span>
    

    


    

</div>




    <div class="box box-attribute">

     <h2><a name="Ink_Util_String_1-Ink_Util_String-escapedCharRegex">
    
       Ink.Util.String.escapedCharRegex
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>Regex to check escaped strings</p>
</p>
    

    
        <pre>Regex</pre>
    

    <label>escapedCharRegex</label>

    

</div>



    

    

    

