

    
        <section>
        <h1 class="fw-300">Ink.Net.Ajax_1 <small>version: 1</small></h1>
    

    

    


    


    

    



    
            

    
    <p>Creates a new XMLHttpRequest object</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-Ajax">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-abort">
                        
                            .abort
                        
                        
                    </a>
                </td>
                <td>
                    

                    Aborts the request if still running. No callbacks are called

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-evalJSON">
                        
                            .evalJSON
                        
                        
                    </a>
                </td>
                <td>
                    

                    Evaluates a given string as JSON

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-finish">
                        
                            .finish
                        
                        
                    </a>
                </td>
                <td>
                    

                    Last step after XHR is complete. Call onComplete and cleanup object

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-getAllHeaders">
                        
                            .getAllHeaders
                        
                        
                    </a>
                </td>
                <td>
                    

                    Gets all the HTTP headers from the response

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-getHeader">
                        
                            .getHeader
                        
                        
                    </a>
                </td>
                <td>
                    

                    Gets an HTTP header from the response

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-getResponse">
                        
                            .getResponse
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets the response object

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-getTransport">
                        
                            .getTransport
                        
                        
                    </a>
                </td>
                <td>
                    

                    Creates the appropriate XMLHttpRequest object

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-isJSON">
                        
                            .isJSON
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a given string is valid JSON

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-load">
                        
                            .load
                        
                        
                    </a>
                </td>
                <td>
                    

                    Loads content from a given url through an XMLHttpRequest.

Shortcut function for simple AJAX use cases. Works with JSON, XML and plain text.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-makeError">
                        
                            .makeError
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns a new exception object that can be thrown

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-paramsObjToStr">
                        
                            .paramsObjToStr
                        
                        
                    </a>
                </td>
                <td>
                    

                    Converts an object with parameters to a querystring

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-ping">
                        
                            .ping
                        
                        
                    </a>
                </td>
                <td>
                    

                    Loads content from a given url through an XMLHttpRequest.
Shortcut function for simple AJAX use cases.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-request">
                        
                            .request
                        
                        
                    </a>
                </td>
                <td>
                    

                    Executes the request

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-runStateChange">
                        
                            .runStateChange
                        
                        
                    </a>
                </td>
                <td>
                    

                    Executes the state changing phase of an ajax request

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-safeCall">
                        
                            .safeCall
                        
                        
                    </a>
                </td>
                <td>
                    

                    Safely calls a callback function.
Verifies that the callback is well defined and traps errors

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-setHeaders">
                        
                            .setHeaders
                        
                        
                    </a>
                </td>
                <td>
                    

                    Set the necessary headers for an ajax request

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-setParams">
                        
                            .setParams
                        
                        
                    </a>
                </td>
                <td>
                    

                    Set the url parameters for a GET request

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-setRequestHeader">
                        
                            .setRequestHeader
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets a new request header for the next http request

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-Ajax" class="box box-function">

    <h1 class="fw-300">
    
        Ink.Net.Ajax
    
    (url, options, )
    
        <i>constructor</i>
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        url
        
        
        </li>
        
        <li class="prop">
        
        
        options
        
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>
    

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>url
                

                
                </label>
                
                    Request URL
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>options
                

                
                </label>
                
                    Request options
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.asynchronous]
                

                
                    true
                
                </label>
                
                    If false, the request synchronous.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.cors]
                

                
                </label>
                
                    Flag to activate CORS. Set this to true if you're doing a cross-origin request
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.method]
                

                
                    &#x27;POST&#x27;
                
                </label>
                
                    HTTP request method. POST by default.
                
            </dd>
        
            <dt>
                
                    <code>Object|String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.parameters]
                

                
                </label>
                
                    Request parameters to be sent with the request
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.timeout]
                

                
                </label>
                
                    Request timeout in seconds
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.delay]
                

                
                </label>
                
                    Artificial delay. If the request is completed faster than this delay, wait the remaining time before executing the callbacks
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.postBody]
                

                
                </label>
                
                    POST request body. If not specified, it's filled with the contents from parameters
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.contentType]
                

                
                </label>
                
                    Content-type header to be sent. Defaults to 'application/x-www-form-urlencoded'
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.requestHeaders]
                

                
                </label>
                
                    Key-value pairs for additional request headers
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onComplete]
                

                
                </label>
                
                    Callback executed after the request is completed, regardless of what happened during the request.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onSuccess]
                

                
                </label>
                
                    Callback executed if the request is successful (requests with 2xx status codes)
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onFailure]
                

                
                </label>
                
                    Callback executed if the request fails (requests with status codes different from 2xx)
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onException]
                

                
                </label>
                
                    Callback executed if an exception occurs. Receives the exception as a parameter.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onCreate]
                

                
                </label>
                
                    Callback executed after object initialization but before the request is made
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onInit]
                

                
                </label>
                
                    Callback executed before any initialization
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onTimeout]
                

                
                </label>
                
                    Callback executed if the request times out
                
            </dd>
        
            <dt>
                
                    <code>Boolean|String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.evalJS]
                

                
                    true
                
                </label>
                
                    If the request Content-type header is application/json, evaluates the response and populates responseJSON. Use 'force' if you want to force the response evaluation, no matter what Content-type it's using.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.sanitizeJSON]
                

                
                </label>
                
                    Flag to sanitize the content of responseText before evaluation
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.xhrProxy]
                

                
                </label>
                
                    URI for proxy service hosted on the same server as the web app, that can fetch documents from other domains. The service must pipe all input and output untouched (some input sanitization is allowed, like clearing cookies). e.g., requesting http://example.org/doc can become /proxy/http%3A%2F%2Fexample.org%2Fdoc The proxy service will be used for cross-domain requests, if set, else a network error is returned as exception.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    new Ajax('test.json', {
        method: 'get',
        onSuccess: function (ajx, responseJSON) {
            // Do stuff with responseJSON or ajx.responseText
            console.log(responseJSON.something.length);
        },
        onFailure: function (ajx, errorResponse) {
            // Deal with it
            alert(ajx.status);  // The HTTP response code
        }
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-abort" class="box box-function">

    <h1 class="fw-300">
    
        
            .abort
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Aborts the request if still running. No callbacks are called</p>
    

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-evalJSON" class="box box-function">

    <h1 class="fw-300">
    
        
            .evalJSON
        
    
    (str, sanitize)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        str
        
        
        </li>
        
        <li class="prop">
        
        
        sanitize
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Evaluates a given string as JSON</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str
                

                
                </label>
                
                    String to be evaluated
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label>sanitize
                

                
                </label>
                
                    Flag to sanitize the content
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-finish" class="box box-function">

    <h1 class="fw-300">
    
        
            .finish
        
    
    (response, responseContent)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        response
        
        
        </li>
        
        <li class="prop">
        
        
        responseContent
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Last step after XHR is complete. Call onComplete and cleanup object</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Any</code>
                
            </dt>
            <dd>
                
                
                
                <label>response
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Any</code>
                
            </dt>
            <dd>
                
                
                
                <label>responseContent
                

                
                </label>
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-getAllHeaders" class="box box-function">

    <h1 class="fw-300">
    
        
            .getAllHeaders
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Gets all the HTTP headers from the response</p>
    

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-getHeader" class="box box-function">

    <h1 class="fw-300">
    
        
            .getHeader
        
    
    (name)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        name
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Gets an HTTP header from the response</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>name
                

                
                </label>
                
                    Header name
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-getResponse" class="box box-function">

    <h1 class="fw-300">
    
        
            .getResponse
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Sets the response object</p>
    

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-getTransport" class="box box-function">

    <h1 class="fw-300">
    
        
            .getTransport
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Creates the appropriate XMLHttpRequest object</p>
    

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-isJSON" class="box box-function">

    <h1 class="fw-300">
    
        
            .isJSON
        
    
    (str)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        str
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Checks if a given string is valid JSON</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str
                

                
                </label>
                
                    String to be evaluated
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-load" class="box box-function">

    <h1 class="fw-300">
    
        
            .load
        
    
    (url, callback)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        url
        
        
        </li>
        
        <li class="prop">
        
        
        callback
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Loads content from a given url through an XMLHttpRequest.

Shortcut function for simple AJAX use cases. Works with JSON, XML and plain text.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>url
                

                
                </label>
                
                    Request URL
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label>callback
                

                
                </label>
                
                    Callback to be executed if the request is successful
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     Ajax.load('some/text/file', function (responseText) {
         doSomething(responseText);
     });
     Ajax.load('some/xml/file', function (responseXML) {
         doSomething(responseXML);
     });
     Ajax.load('some/json/file', function (responseJSON) {
         doSomething(responseJSON);
     });

{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-makeError" class="box box-function">

    <h1 class="fw-300">
    
        
            .makeError
        
    
    (code, message)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        code
        
        
        </li>
        
        <li class="prop">
        
        
        message
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Returns a new exception object that can be thrown</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label>code
                

                
                </label>
                
                    Error Code
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label>message
                

                
                </label>
                
                    Message
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object</code>
            </dt>                
            <dd>   
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-paramsObjToStr" class="box box-function">

    <h1 class="fw-300">
    
        
            .paramsObjToStr
        
    
    (optParams)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        optParams
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Converts an object with parameters to a querystring</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Object|String</code>
                
            </dt>
            <dd>
                
                
                
                <label>optParams
                

                
                </label>
                
                    parameters object
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-ping" class="box box-function">

    <h1 class="fw-300">
    
        
            .ping
        
    
    (url, callback)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        url
        
        
        </li>
        
        <li class="prop">
        
        
        callback
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Loads content from a given url through an XMLHttpRequest.
Shortcut function for simple AJAX use cases.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>url
                

                
                </label>
                
                    Request url
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label>callback
                

                
                </label>
                
                    Callback to be executed if the request is successful
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-request" class="box box-function">

    <h1 class="fw-300">
    
        
            .request
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Executes the request</p>
    

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-runStateChange" class="box box-function">

    <h1 class="fw-300">
    
        
            .runStateChange
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Executes the state changing phase of an ajax request</p>
    

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-safeCall" class="box box-function">

    <h1 class="fw-300">
    
        
            .safeCall
        
    
    (listener)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        listener
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Safely calls a callback function.
Verifies that the callback is well defined and traps errors</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label>listener
                

                
                </label>
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-setHeaders" class="box box-function">

    <h1 class="fw-300">
    
        
            .setHeaders
        
    
    (url)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        url
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Set the necessary headers for an ajax request</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>url
                

                
                </label>
                
                    The url for the request
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-setParams" class="box box-function">

    <h1 class="fw-300">
    
        
            .setParams
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Set the url parameters for a GET request</p>
    

    


    


    

</section>

    <section id="Ink_Net_Ajax_1-Ink_Net_Ajax-setRequestHeader" class="box box-function">

    <h1 class="fw-300">
    
        
            .setRequestHeader
        
    
    (name, value)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        name
        
        
        </li>
        
        <li class="prop">
        
        
        value
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Sets a new request header for the next http request</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>name
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>value
                

                
                </label>
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

