

    
        <section>
        <h1 class="fw-300">Ink.UI.Spy_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Spy_1-Ink_UI_Spy-Spy">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Spy is a component that 'spies' an element (or a group of elements) and when they leave the viewport (through the top),
highlight an option - related to that element being spied - that resides in a menu, initially identified as target.</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Spy
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options]
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                <label>options.target
                

                
                </label>
                
                    Target menu on where the spy will highlight the right option.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Spy_1'], function( Selector, Spy ){
             var menuElement = Ink.s('#menu');
             var specialAnchorToSpy = Ink.s('#specialAnchor');
             var spyObj = new Spy( specialAnchorToSpy, {
                 target: menuElement
             });
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

