

    
        <section>
        <h1 class="fw-300">Ink.UI.Spy_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Spy_1-Ink_UI_Spy-Spy">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Spy is a component that 'spies' an element (or a group of elements) and when they leave the viewport (through the top),
highlight an option - related to that element being spied - that resides in a menu, initially identified as target.</div>








    <section class="box box-function">

    <h2>
    
        Ink.UI.Spy
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String|DOMElement</pre>
                

                
                    <label>selector
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[options]
                

                
                </label>

                
                    <span class="description">Options</span>
                
            </li>
        
            <li>
                
                    <pre>DOMElement|String</pre>
                

                
                    <label>options.target
                

                
                </label>

                
                    <span class="description">Target menu on where the spy will highlight the right option.</span>
                
            </li>
        
        </ul>
    

    

    

    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Spy_1'], function( Selector, Spy ){
             var menuElement = Ink.s('#menu');
             var specialAnchorToSpy = Ink.s('#specialAnchor');
             var spyObj = new Spy( specialAnchorToSpy, {
                 target: menuElement
             });
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

