

    
        <section>
        <h1 class="fw-300">Ink.UI.Tooltip_1 </h1>
    

    

    


    


    

    



    
            

    
    <p><p>Tooltips are useful as a means to display information about functionality while avoiding clutter.</p>
<p>Tooltips show up when you hover elements which &quot;have&quot; tooltips.</p>
<p>This class will &quot;give&quot; a tooltip to many elements, selected by its first argument (<code>target</code>). This is contrary to the other UI modules in Ink, which are created once per element.</p>
<p>You can define options either through the second argument of the Tooltip constructor, or as data-attributes in each <code>target</code> element. Options set through data-attributes all start with &quot;data-tip&quot;, and override options passed into the Tooltip constructor.</p>
</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tooltip_1-Ink_UI_Tooltip-Tooltip">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tooltip_1-Ink_UI_Tooltip-destroy">
                        
                            .destroy
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Destroys the tooltips created by this instance</p>


                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_UI_Tooltip_1-Ink_UI_Tooltip-Tooltip" class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Tooltip
    
    (target, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        target
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>
    

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>DOMElement|String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">target
                

                
                </label>
                
                    Target element or selector of elements, to display the tooltips on.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options]
                

                
                </label>
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.text]
                

                
                    &#x27;&#x27;
                
                </label>
                
                    Text content for the tooltip.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.html]
                

                
                    &#x27;&#x27;
                
                </label>
                
                    HTML for the tooltip. Same as above, but won't escape HTML.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.where]
                

                
                    &#x27;up&#x27;
                
                </label>
                
                    Positioning for the tooltip. Options are 'up', 'down', 'left', 'right', which place the tooltip in the corresponding direction (and show an arrow), 'mousemove', which follows the mouse as it moves, and 'mousefix', which stays in one place.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.color]
                

                
                    &#x27;&#x27;
                
                </label>
                
                    Color of the tooltip. Options are red, orange, blue, green and black. Default is white.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.fade]
                

                
                    0.3
                
                </label>
                
                    Fade time; Duration of the fade in/out effect.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.forever]
                

                
                    0
                
                </label>
                
                    Set to 1/true to prevent the tooltip from being erased when the mouse hovers away from the target
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.timeout]
                

                
                    0
                
                </label>
                
                    Time for the tooltip to live. Useful together with [options.forever].
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.delay]
                

                
                </label>
                
                    Time the tooltip waits until it is displayed. Useful to avoid getting the attention of the user unnecessarily
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.template]
                

                
                    null
                
                </label>
                
                    Element or selector containing HTML to be cloned into the tooltips. Can be a hidden element, because CSS `display` is set to `block`.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.templatefield]
                

                
                    null
                
                </label>
                
                    Selector within the template element to choose where the text is inserted into the tooltip. Useful when a wrapper DIV is required.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.left]
                

                
                    10
                
                </label>
                
                    (Nitty-gritty) Spacing from the target to the tooltip, when `where` is `mousemove` or `mousefix`
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.top]
                

                
                    10
                
                </label>
                
                    (Nitty-gritty) Spacing from the target to the tooltip, when `where` is `mousemove` or `mousefix`
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options.spacing]
                

                
                    8
                
                </label>
                
                    (Nitty-gritty) Spacing between the tooltip and the target element, when `where` is `up`, `down`, `left`, or `right`
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <ul class="buttons">
        <li class="button" data-tip-text="Create a new document">New</li>
        <li class="button" data-tip-text="Exit the program">Quit</li>
        <li class="button" data-tip-text="Save the document you are working on">Save</li>
    </ul>
    
    [...]

    <script>
        Ink.requireModules(['Ink.UI.Tooltip_1'], function (Tooltip) {
            new Tooltip('.button', {where: 'mousefix'});
        });
    </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_UI_Tooltip_1-Ink_UI_Tooltip-destroy" class="box box-function">

    <h1 class="fw-300">
    
        
            .destroy
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text"><p>Destroys the tooltips created by this instance</p>
</p>
    

    


    


    

</section>



    

    

    

