

    
        <section>
        <h1 class="fw-300">Ink.Namespace.ClassModule_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Namespace_ClassModule_1-Ink_Namespace_ClassModule-ClassModule">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Namespace_ClassModule_1-Ink_Namespace_ClassModule-bake">
                        
                            .bake
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Namespace_ClassModule_1-Ink_Namespace_ClassModule-bake">
                        
                            .bake
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Use this to bake cakes.</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.Namespace.ClassModule
    
    (options, )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>options
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.opt1]
                

                
                </label>
                
                    asda sdas d
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.opt2]
                

                
                </label>
                
                    asda sdas d
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Namespace.ClassModule.bake
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Namespace.ClassModule.bake
        
    
    (ingredient, time)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>ingredient
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>time
                

                
                </label>
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

