

    
        <h1 class="fw-300">Ink.Util.Url_1 <small>version: 1</small></h1>
    

    

    

    


    


    

    



    
        <section>

    
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-currentScriptElement">
                        
                            .currentScriptElement
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Get last loaded script element</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-format">
                        
                            .format
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Take a URL object from Ink.Util.Url.parseUrl or a window.location
object and returns a URL string.</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-genQueryString">
                        
                            .genQueryString
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Generates an uri with query string based on the parameters object given</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-getAnchor">
                        
                            .getAnchor
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Get URL hash</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-getAnchorString">
                        
                            .getAnchorString
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Get anchor string of current or passed URL</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-getQueryString">
                        
                            .getQueryString
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Get query string of current or passed URL</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-getUrl">
                        
                            .getUrl
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Get current URL of page</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-parseUrl">
                        
                            .parseUrl
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Parse passed URL</p>


                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    


    
        <div class="text"><p>Utility functions to use with URLs</p>
</div>
    

    
    



    
        <div class="box box-function">

    <h2><a name="Ink_Util_Url_1-Ink_Util_Url-currentScriptElement">
    
        
            Ink.Util.Url.currentScriptElement
        
    
    ([match])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[match]
                

                
                </label>

                
                    <span class="description">String to match against the script src attribute</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>DOMElement|Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Get last loaded script element</p>
</span>
    

    


    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_Url_1-Ink_Util_Url-format">
    
        
            Ink.Util.Url.format
        
    
    (urlObj)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                

                
                    <label>urlObj
                

                
                </label>

                
                    <span class="description">window.location, a.href, or parseUrl object to format</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Take a URL object from Ink.Util.Url.parseUrl or a window.location
object and returns a URL string.</p>
</span>
    

    


    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_Url_1-Ink_Util_Url-genQueryString">
    
        
            Ink.Util.Url.genQueryString
        
    
    (uri, params)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>uri
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>params
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Generates an uri with query string based on the parameters object given</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        var queryString = InkUrl.genQueryString( 'http://www.sapo.pt/', {
            'param1': 'valueParam1',
            'param2': 'valueParam2'
        });

        console.log( queryString ); // Result: http://www.sapo.pt/?param1=valueParam1&param2=valueParam2
    });
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_Url_1-Ink_Util_Url-getAnchor">
    
        
            Ink.Util.Url.getAnchor
        
    
    ([str])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[str]
                

                
                </label>

                
                    <span class="description">URL String. If not set, it will get the current URL.</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String|Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Get URL hash</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        var anchor = InkUrl.getAnchor( 'http://www.sapo.pt/page.php#TEST' );
        console.log( anchor ); // Result: TEST
    });
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_Url_1-Ink_Util_Url-getAnchorString">
    
        
            Ink.Util.Url.getAnchorString
        
    
    ([string])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[string]
                

                
                </label>

                
                    <span class="description">If not provided it uses the current URL.</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Get anchor string of current or passed URL</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        var hashParams = InkUrl.getAnchorString( 'http://www.sapo.pt/#var1=valueVar1&var2=valueVar2' );
        console.log( hashParams );
        // Result:
        // {
        //    var1: 'valueVar1',
        //    var2: 'valueVar2'
        // }
    });
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_Url_1-Ink_Util_Url-getQueryString">
    
        
            Ink.Util.Url.getQueryString
        
    
    ([str])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[str]
                

                
                </label>

                
                    <span class="description">URL String. When not specified it uses the current URL.</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Get query string of current or passed URL</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        var queryStringParams = InkUrl.getQueryString( 'http://www.sapo.pt/?var1=valueVar1&var2=valueVar2' );
        console.log( queryStringParams );
        // Result:
        // {
        //    var1: 'valueVar1',
        //    var2: 'valueVar2'
        // }
    });
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_Url_1-Ink_Util_Url-getUrl">
    
        
            Ink.Util.Url.getUrl
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Get current URL of page</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        console.log( InkUrl.getUrl() ); // Will return it's window URL
    });
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_Url_1-Ink_Util_Url-parseUrl">
    
        
            Ink.Util.Url.parseUrl
        
    
    (url)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>url
                

                
                </label>

                
                    <span class="description">URL to be parsed</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Parse passed URL</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        var parsedURL = InkUrl.parseUrl( 'http://www.sapo.pt/index.html?var1=value1#anchor' )
        console.log( parsedURL );
        // Result:
        // {
        //   'scheme'    => 'http',
        //   'host'      => 'www.sapo.pt',
        //   'path'      => '/index.html',
        //   'query'     => 'var1=value1',
        //   'fragment'  => 'anchor'
        // }
    });

{% endraw %}{% endhighlight %}
</div>




    

</div>

    

    
</section>
    

    

    

