

    <div class="box box-module">

        
            <h2><a name="Ink_Util_BinPack_1">Ink.Util.BinPack_1 <i>module</i></a></h2>
        

        

        
            <p><label>author:</label>inkdev AT sapo.pt</p>
        
        
        
            <p><label>version:</label>1</p>
        

        

        

        

        


        
            <h3>Defined classes and namespaces:</h3>
            <ul>
            
                
                    <li><a href="#Ink_Util_BinPack_1-Ink_Util_BinPack">(C) Ink.Util.BinPack</a></li>
                
            
            </ul>
        

        

        

    </div>

    
        <div class="box box-class">

    <h2><a name="Ink_Util_BinPack_1-Ink_Util_BinPack">Ink.Util.BinPack <i>
    
        class
    
    </i></a></h2>

    

    
    
    
        <p><label>version:</label>1</p>
    

    
        <div class="text"><p>Binary Packing algorithm implementation</p>
<p>Based on the work of Jake Gordon</p>
<p>see <a href="https://github.com/jakesgordon/bin-packing/">https://github.com/jakesgordon/bin-packing/</a></p>
</div>
    

    

    


    
        
            <h3>Defined methods:</h3>
        
        
        <ul>
        
            <li><a href="#Ink_Util_BinPack_1-Ink_Util_BinPack-binPack">
            
                Ink.Util.BinPack.binPack
            
            (o, )</a></li>
        
        </ul>
    

    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Util_BinPack_1-Ink_Util_BinPack-binPack">
    
        
            Ink.Util.BinPack.binPack
        
    
    (o, )
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>o
                

                
                </label>

                
                    <span class="description">options</span>
                
            </li>
        
            <li>
                
                    <pre>Object[]</pre>
                

                
                    <label>o.blocks
                

                
                </label>

                
                    <span class="description">array of items with w and h integer attributes.</span>
                
            </li>
        
            <li>
                
                    <pre>Number[2]</pre>
                

                
                    <label class="optional">[o.dimensions]
                

                
                </label>

                
                    <span class="description">if passed, container has fixed dimensions</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[o.sorter]
                

                
                </label>

                
                    <span class="description">sorter function. one of: random, height, width, area, maxside</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    

    

    

</div>





    

    

    

