

    
        <section>
        <h1 class="fw-300">Ink.UI.ProgressBar_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_ProgressBar_1-Ink_UI_ProgressBar-ProgressBar">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_ProgressBar_1-Ink_UI_ProgressBar-setValue">
                        
                            .setValue
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets the value of the Progressbar

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Associated to a .ink-progress-bar element, it provides the necessary
method - setValue() - for the user to change the element's value.</div>








    <section class="box box-function">

    <h2>
    
        Ink.UI.ProgressBar
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String|DOMElement</pre>
                

                
                    <label>selector
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[options]
                

                
                </label>

                
                    <span class="description">Options</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[options.startValue]
                

                
                </label>

                
                    <span class="description">Percentage of the bar that is filled. Range between 0 and 100. Default: 0</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onStart]
                

                
                </label>

                
                    <span class="description">Callback that is called when a change of value is started</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onEnd]
                

                
                </label>

                
                    <span class="description">Callback that is called when a change of value ends</span>
                
            </li>
        
        </ul>
    

    

    

    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <div class="ink-progress-bar grey" data-start-value="70%">
         <span class="caption">I am a grey progress bar</span>
         <div class="bar grey"></div>
     </div>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.ProgressBar_1'], function( Selector, ProgressBar ){
             var progressBarElement = Ink.s('.ink-progress-bar');
             var progressBarObj = new ProgressBar( progressBarElement );
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.UI.ProgressBar.setValue
        
    
    (newValue)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>newValue
                

                
                </label>

                
                    <span class="description">Numeric value, between 0 and 100, that represents the percentage of the bar.</span>
                
            </li>
        
        </ul>
    

    

    
        <p class="text">Sets the value of the Progressbar</p>
    

    


    

</section>



    

    

    

