

    
        <section>
        <h1 class="fw-300">Ink_1 </h1>
    

    

    


    


    

    



    
            

    
    <p>Ink Core.
This module provides the necessary methods to create and load the modules using Ink.</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>

        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-bind">
                        
                            .bind
                        
                        
                    </a>
                </td>
                <td>
                    

                    Function.prototype.bind alternative.
Creates a new function that, when called, has its this keyword set to the provided value, with a given sequence of arguments preceding any provided when the new function is called.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-bindEvent">
                        
                            .bindEvent
                        
                        
                    </a>
                </td>
                <td>
                    

                    Function.prototype.bind alternative for event handlers.
Same as bind but keeps first argument of the call the original event.
Set "context" to `false` to preserve the original context of the function and just bind the arguments.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-bindMethod">
                        
                            .bindMethod
                        
                        
                    </a>
                </td>
                <td>
                    

                    Function.prototype.bind alternative for class methods
Creates a new function that, when called, has this k

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-createExt">
                        
                            .createExt
                        
                        
                    </a>
                </td>
                <td>
                    

                    Creates an Ink.Ext module

Does exactly the same as createModule but creates the module in the Ink.Ext namespace

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-createModule">
                        
                            .createModule
                        
                        
                    </a>
                </td>
                <td>
                    

                    Creates a new module. 
Use this to wrap your code and benefit from the module loading used throughout the Ink library

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-error">
                        
                            .error
                        
                        
                    </a>
                </td>
                <td>
                    

                    Calls native console.error if available.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-extendObj">
                        
                            .extendObj
                        
                        
                    </a>
                </td>
                <td>
                    

                    Extends an object with another
Copy all of the properties in one or more source objects over to the destination object, and return the destination object. It's in-order, so the last source will override properties of the same name in previous arguments.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-getModule">
                        
                            .getModule
                        
                        
                    </a>
                </td>
                <td>
                    

                    Loads a module.
A synchronous method to get the module from the registry. It assumes the module is defined and loaded already!

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-getModuleScripts">
                        
                            .getModuleScripts
                        
                        
                    </a>
                </td>
                <td>
                    

                    Builds the markup needed to load the modules.
This method builds the script tags needed to load the currently used modules

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-getModulesLoadOrder">
                        
                            .getModulesLoadOrder
                        
                        
                    </a>
                </td>
                <td>
                    

                    Lists loaded module names.
The list is ordered by loaded time (oldest module comes first)

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-getPath">
                        
                            .getPath
                        
                        
                    </a>
                </td>
                <td>
                    

                    Get the full path of a module.
This method looks up the paths given in setPath (and ultimately the default Ink's path).

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-i">
                        
                            .i
                        
                        
                    </a>
                </td>
                <td>
                    

                    Alias to document.getElementById

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-loadScript">
                        
                            .loadScript
                        
                        
                    </a>
                </td>
                <td>
                    

                    Loads a script URL.
This creates a `script` tag in the `head` of the document.
Reports errors by listening to 'error' and 'readystatechange' events.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-log">
                        
                            .log
                        
                        
                    </a>
                </td>
                <td>
                    

                    Calls native console.log if available.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-namespace">
                        
                            .namespace
                        
                        
                    </a>
                </td>
                <td>
                    

                    Defines a module namespace.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-requireModules">
                        
                            .requireModules
                        
                        
                    </a>
                </td>
                <td>
                    

                    Requires modules asynchronously 
Use this to get modules, even if they're not loaded yet

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-s">
                        
                            .s
                        
                        
                    </a>
                </td>
                <td>
                    

                    Alias for Ink.Dom.Selector first result

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-setPath">
                        
                            .setPath
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets the URL path for a namespace.
Use this to customize where requireModules and createModule will load dependencies from.
This can be useful to set your own CDN for dynamic module loading or simply to change your module folder structure

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-ss">
                        
                            .ss
                        
                        
                    </a>
                </td>
                <td>
                    

                    Alias for Ink.Dom.Selector

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_1-Ink_1-warn">
                        
                            .warn
                        
                        
                    </a>
                </td>
                <td>
                    

                    Calls native console.warn if available.

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_1-Ink_1-bind" class="box box-function">

    <h1 class="fw-300">
    
        
            .bind
        
    
    (fn, context, [args*])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        fn
        
        
        </li>
        
        <li class="prop">
        
        
        context
        
        
        </li>
        
        <li class="prop">
        
        [
        args*
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Function.prototype.bind alternative.
Creates a new function that, when called, has its this keyword set to the provided value, with a given sequence of arguments preceding any provided when the new function is called.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">fn
                

                
                </label>
                
                    The function
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">context
                

                
                </label>
                
                    The value to be passed as the this parameter to the target function when the bound function is called. If used as false, it preserves the original context and just binds the arguments.
                
            </dd>
        
            <dt>
                
                    <code>Any</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[args*]
                

                
                </label>
                
                    Additional arguments will be sent to the original function as prefix arguments.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Function</code>
            </dt>                
            <dd>   
                
            </dd>
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_bind.html %}
	


</section>

    <section id="Ink_1-Ink_1-bindEvent" class="box box-function">

    <h1 class="fw-300">
    
        
            .bindEvent
        
    
    (fn, context, [args*])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        fn
        
        
        </li>
        
        <li class="prop">
        
        
        context
        
        
        </li>
        
        <li class="prop">
        
        [
        args*
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Function.prototype.bind alternative for event handlers.
Same as bind but keeps first argument of the call the original event.
Set "context" to `false` to preserve the original context of the function and just bind the arguments.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">fn
                

                
                </label>
                
                    The function
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">context
                

                
                </label>
                
                    The value to be passed as the this parameter to the target
                
            </dd>
        
            <dt>
                
                    <code>Any</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[args*]
                

                
                </label>
                
                    Additional arguments will be sent to the original function as prefix arguments
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Function</code>
            </dt>                
            <dd>   
                
            </dd>
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_bindEvent.html %}
	


</section>

    <section id="Ink_1-Ink_1-bindMethod" class="box box-function">

    <h1 class="fw-300">
    
        
            .bindMethod
        
    
    (object, methodName, [args*])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        object
        
        
        </li>
        
        <li class="prop">
        
        
        methodName
        
        
        </li>
        
        <li class="prop">
        
        [
        args*
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Function.prototype.bind alternative for class methods
Creates a new function that, when called, has this k</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">object
                

                
                </label>
                
                    The object that contains the method to bind
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">methodName
                

                
                </label>
                
                    The name of the method that will be bound
                
            </dd>
        
            <dt>
                
                    <code>Any</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[args*]
                

                
                </label>
                
                    Additional arguments will be sent to the new method as prefix arguments.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Function</code>
            </dt>                
            <dd>   
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
 // Build a function which calls Ink.Dom.Element.remove on an element.
 var removeMyElem = Ink.bindMethod(Ink.Dom.Element, 'remove', someElement);

 removeMyElem();  // no arguments, nor Ink.Dom.Element, needed
{% endraw %}{% endhighlight %}
  
{% highlight html %}{% raw %}
 // (comparison with using Ink.bind to the same effect).
 // The following two calls are equivalent

 Ink.bind(this.remove, this, myElem);
 Ink.bindMethod(this, 'remove', myElem);
{% endraw %}{% endhighlight %}




    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_bindMethod.html %}
	


</section>

    <section id="Ink_1-Ink_1-createExt" class="box box-function">

    <h1 class="fw-300">
    
        
            .createExt
        
    
    (moduleName, version, dependencies, modFn)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        moduleName
        
        
        </li>
        
        <li class="prop">
        
        
        version
        
        
        </li>
        
        <li class="prop">
        
        
        dependencies
        
        
        </li>
        
        <li class="prop">
        
        
        modFn
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Creates an Ink.Ext module

Does exactly the same as createModule but creates the module in the Ink.Ext namespace</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">moduleName
                

                
                </label>
                
                    Extension name
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">version
                

                
                </label>
                
                    Extension version
                
            </dd>
        
            <dt>
                
                    <code>Array</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">dependencies
                

                
                </label>
                
                    Extension dependencies
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">modFn
                

                
                </label>
                
                    Function returning the extension
                
            </dd>
        
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_createExt.html %}
	


</section>

    <section id="Ink_1-Ink_1-createModule" class="box box-function">

    <h1 class="fw-300">
    
        
            .createModule
        
    
    (mod, version, deps, modFn)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        mod
        
        
        </li>
        
        <li class="prop">
        
        
        version
        
        
        </li>
        
        <li class="prop">
        
        
        deps
        
        
        </li>
        
        <li class="prop">
        
        
        modFn
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Creates a new module. 
Use this to wrap your code and benefit from the module loading used throughout the Ink library</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">mod
                

                
                </label>
                
                    Module name, separated by dots. Like Ink.Dom.Selector, Ink.UI.Modal
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">version
                

                
                </label>
                
                    Version number
                
            </dd>
        
            <dt>
                
                    <code>Array</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">deps
                

                
                </label>
                
                    Array of module names which are dependencies of the module being created. The order in which they are passed here will define the order they will be passed to the callback function.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">modFn
                

                
                </label>
                
                    The callback function to be executed when all the dependencies are resolved. The dependencies are passed as arguments, in the same order they were declared. The function itself should return the module.
                
            </dd>
        
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_createModule.html %}
	


</section>

    <section id="Ink_1-Ink_1-error" class="box box-function">

    <h1 class="fw-300">
    
        
            .error
        
    
    ([args*])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        [
        args*
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Calls native console.error if available.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Any</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[args*]
                

                
                </label>
                
                    Arguments to be evaluated
                
            </dd>
        
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_error.html %}
	


</section>

    <section id="Ink_1-Ink_1-extendObj" class="box box-function">

    <h1 class="fw-300">
    
        
            .extendObj
        
    
    (destination, source, [args*])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        destination
        
        
        </li>
        
        <li class="prop">
        
        
        source
        
        
        </li>
        
        <li class="prop">
        
        [
        args*
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Extends an object with another
Copy all of the properties in one or more source objects over to the destination object, and return the destination object. It's in-order, so the last source will override properties of the same name in previous arguments.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">destination
                

                
                </label>
                
                    The object that will receive the new/updated properties
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">source
                

                
                </label>
                
                    The object whose properties will be copied over to the destination object
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[args*]
                

                
                </label>
                
                    Additional source objects. The last source will override properties of the same name in the previous defined sources
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_extendObj.html %}
	


</section>

    <section id="Ink_1-Ink_1-getModule" class="box box-function">

    <h1 class="fw-300">
    
        
            .getModule
        
    
    (mod, [version])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        mod
        
        
        </li>
        
        <li class="prop">
        
        [
        version
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Loads a module.
A synchronous method to get the module from the registry. It assumes the module is defined and loaded already!</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">mod
                

                
                </label>
                
                    Module name
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[version]
                

                
                </label>
                
                    Version number of the module
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object|Function</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_1-Ink_1-getModuleScripts" class="box box-function">

    <h1 class="fw-300">
    
        
            .getModuleScripts
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Builds the markup needed to load the modules.
This method builds the script tags needed to load the currently used modules</p>
    

    


    


    

</section>

    <section id="Ink_1-Ink_1-getModulesLoadOrder" class="box box-function">

    <h1 class="fw-300">
    
        
            .getModulesLoadOrder
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Lists loaded module names.
The list is ordered by loaded time (oldest module comes first)</p>
    

    


    


    

</section>

    <section id="Ink_1-Ink_1-getPath" class="box box-function">

    <h1 class="fw-300">
    
        
            .getPath
        
    
    (key, [noLib])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        key
        
        
        </li>
        
        <li class="prop">
        
        [
        noLib
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Get the full path of a module.
This method looks up the paths given in setPath (and ultimately the default Ink's path).</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">key
                

                
                </label>
                
                    Name of the module you want to get the path
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[noLib]
                

                
                </label>
                
                    Flag to skip appending 'lib.js' to the returned path.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_1-Ink_1-i" class="box box-function">

    <h1 class="fw-300">
    
        
            .i
        
    
    (id)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        id
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Alias to document.getElementById</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">id
                

                
                </label>
                
                    Element ID
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>DOMElement</code>
            </dt>                
            <dd>   
                
            </dd>
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_i.html %}
	


</section>

    <section id="Ink_1-Ink_1-loadScript" class="box box-function">

    <h1 class="fw-300">
    
        
            .loadScript
        
    
    (uri, [contentType])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        uri
        
        
        </li>
        
        <li class="prop">
        
        [
        contentType
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Loads a script URL.
This creates a `script` tag in the `head` of the document.
Reports errors by listening to 'error' and 'readystatechange' events.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">uri
                

                
                </label>
                
                    Can be an external URL or a module name
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[contentType]
                

                
                    &#x27;text/javascript&#x27;
                
                </label>
                
                    The `type` attribute of the new script tag.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_1-Ink_1-log" class="box box-function">

    <h1 class="fw-300">
    
        
            .log
        
    
    ([args*])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        [
        args*
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Calls native console.log if available.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Any</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[args*]
                

                
                </label>
                
                    Arguments to be evaluated
                
            </dd>
        
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_log.html %}
	


</section>

    <section id="Ink_1-Ink_1-namespace" class="box box-function">

    <h1 class="fw-300">
    
        
            .namespace
        
    
    (ns, [returnParentAndKey])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        ns
        
        
        </li>
        
        <li class="prop">
        
        [
        returnParentAndKey
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Defines a module namespace.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">ns
                

                
                </label>
                
                    Namespace to define.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[returnParentAndKey]
                

                
                </label>
                
                    Flag to change the return value to an array containing the namespace parent and the namespace key
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object|Array</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_1-Ink_1-requireModules" class="box box-function">

    <h1 class="fw-300">
    
        
            .requireModules
        
    
    (deps, cbFn)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        deps
        
        
        </li>
        
        <li class="prop">
        
        
        cbFn
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Requires modules asynchronously 
Use this to get modules, even if they're not loaded yet</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Array</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">deps
                

                
                </label>
                
                    Array of module names. The order in which they are passed here will define the order they will be passed to the callback function.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">cbFn
                

                
                </label>
                
                    The callback function to be executed when all the dependencies are resolved. The dependencies are passed as arguments, in the same order they were declared.
                
            </dd>
        
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_requireModules.html %}
	


</section>

    <section id="Ink_1-Ink_1-s" class="box box-function">

    <h1 class="fw-300">
    
        
            .s
        
    
    (rule, [from])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        rule
        
        
        </li>
        
        <li class="prop">
        
        [
        from
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Alias for Ink.Dom.Selector first result</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">rule
                

                
                </label>
                
                    Selector string
                
            </dd>
        
            <dt>
                
                    <code>DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[from]
                

                
                </label>
                
                    Context element. If set to a DOM element, the rule will only look for descendants of this DOM Element.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>DOMElement</code>
            </dt>                
            <dd>   
                
            </dd>
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_s.html %}
	


</section>

    <section id="Ink_1-Ink_1-setPath" class="box box-function">

    <h1 class="fw-300">
    
        
            .setPath
        
    
    (key, rootURI)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        key
        
        
        </li>
        
        <li class="prop">
        
        
        rootURI
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Sets the URL path for a namespace.
Use this to customize where requireModules and createModule will load dependencies from.
This can be useful to set your own CDN for dynamic module loading or simply to change your module folder structure</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">key
                

                
                </label>
                
                    Module or namespace
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">rootURI
                

                
                </label>
                
                    Base URL path and schema to be appended to the module or namespace
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     Ink.setPath('Ink', 'http://my-cdn/Ink/');
     Ink.setPath('Lol', 'http://my-cdn/Lol/');

     // Loads from http://my-cdn/Ink/Dom/Whatever/lib.js
     Ink.requireModules(['Ink.Dom.Whatever'], function () { ... });
     // Loads from http://my-cdn/Lol/Whatever/lib.js
     Ink.requireModules(['Lol.Whatever'], function () { ... });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_1-Ink_1-ss" class="box box-function">

    <h1 class="fw-300">
    
        
            .ss
        
    
    (rule, [from])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        rule
        
        
        </li>
        
        <li class="prop">
        
        [
        from
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Alias for Ink.Dom.Selector</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">rule
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[from]
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Array</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_ss.html %}
	


</section>

    <section id="Ink_1-Ink_1-warn" class="box box-function">

    <h1 class="fw-300">
    
        
            .warn
        
    
    ([args*])
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        [
        args*
        ]
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Calls native console.warn if available.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Any</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[args*]
                

                
                </label>
                
                    Arguments to be evaluated
                
            </dd>
        
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_1_warn.html %}
	


</section>



    

    

    

