

    
        <section>
        <h1 class="fw-300">Ink.UI.Toggle_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Toggle_1-Ink_UI_Toggle-Toggle">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Toggle_1-Ink_UI_Toggle-getState">
                        
                            .getState
                        
                        
                    </a>
                </td>
                <td>
                    

                    Gets the state of the toggle. (on/off)

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Toggle_1-Ink_UI_Toggle-setState">
                        
                            .setState
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Toggle component</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Toggle
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options]
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>options.target
                

                
                </label>
                
                    CSS Selector that specifies the elements that this component will toggle
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.classNameOn]
                

                
                    &#x27;show-all&#x27;
                
                </label>
                
                    className when toggle is On
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.classNameOff]
                

                
                    &#x27;hide-all&#x27;
                
                </label>
                
                    className when toggle is Off.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.triggerEvent]
                

                
                    &#x27;click&#x27;
                
                </label>
                
                    Event that will trigger the toggling.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.closeOnClick]
                

                
                    true
                
                </label>
                
                    When this is on, if the user clicks outside of the toggled content, the target is toggled off.
                
            </dd>
        
            <dt>
                
                    <code>Selector</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.closeOnInsideClick]
                

                
                    &#x27;a[href]&#x27;
                
                </label>
                
                    Toggle off when an element matching this selector is clicked. Set to null to deactivate the check. Default: 'a[href]' (finds links)
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.initialState]
                

                
                    null
                
                </label>
                
                    Whether to start toggled off, on, or as found in the markup. (false: off, true: on, null: markup)
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.onChangeState]
                

                
                    null
                
                </label>
                
                    Callback to be called when the toggle state changes. Return `false` to cancel the event.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <div class="ink-dropdown">
         <button class="ink-button toggle" data-target="#dropdown">Dropdown <span class="fa fa-caret-down"></span></button>
         <ul id="dropdown" class="dropdown-menu">
             <li class="heading">Heading</li>
             <li class="separator-above"><a href="#">Option</a></li>
             <li><a href="#">Option</a></li>
             <li class="separator-above disabled"><a href="#">Disabled option</a></li>
             <li class="submenu">
                 <a href="#" class="toggle" data-target="#submenu1">A longer option name</a>
                 <ul id="submenu1" class="dropdown-menu">
                     <li class="submenu">
                         <a href="#" class="toggle" data-target="#ultrasubmenu">Sub option</a>
                         <ul id="ultrasubmenu" class="dropdown-menu">
                             <li><a href="#">Sub option</a></li>
                             <li><a href="#" data-target="ultrasubmenu">Sub option</a></li>
                             <li><a href="#">Sub option</a></li>
                         </ul>
                     </li>
                     <li><a href="#">Sub option</a></li>
                     <li><a href="#">Sub option</a></li>
                 </ul>
             </li>
             <li><a href="#">Option</a></li>
         </ul>
     </div>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Toggle_1'], function( Selector, Toggle ){
             var toggleElement = Ink.s('.toggle');
             var toggleObj = new Toggle( toggleElement );
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Toggle.getState
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Gets the state of the toggle. (on/off)</p>
    

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Toggle.setState
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    

    


    


    

</section>



    

    

    

