

    
        <section>
        <h1 class="fw-300">Ink.UI.Draggable_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Draggable_1-Ink_UI_Draggable-Draggable">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Draggable_1-Ink_UI_Draggable-destroy">
                        
                            .destroy
                        
                        
                    </a>
                </td>
                <td>
                    

                    Removes the ability of the element of being dragged

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>










    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Draggable
    
    (target, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>target
                

                
                </label>
                
                    Target element.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                </label>
                
                    Optional object for configuring the component
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.constraint]
                

                
                </label>
                
                    Movement constraint. None by default. Can be `vertical`, `horizontal`, or `both`.
                
            </dd>
        
            <dt>
                
                    <code>String|DomElement</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.constraintElm]
                

                
                </label>
                
                    Constrain dragging to be within this element. None by default.
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.top]
                

                
                </label>
                
                    Limits for constraining draggable movement.
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.right]
                

                
                </label>
                
                    Limits for constraining draggable movement.
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.bottom]
                

                
                </label>
                
                    Limits for constraining draggable movement.
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.left]
                

                
                </label>
                
                    Limits for constraining draggable movement.
                
            </dd>
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.handle]
                

                
                </label>
                
                    if specified, this element will be used as a handle for dragging.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.revert]
                

                
                </label>
                
                    if true, reverts the draggable to the original position when dragging stops
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.cursor]
                

                
                </label>
                
                    cursor type (CSS `cursor` value) used when the mouse is over the draggable object
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.zIndex]
                

                
                </label>
                
                    zindex applied to the draggable element while dragged
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.fps]
                

                
                </label>
                
                    if defined, on drag will run every n frames per second only
                
            </dd>
        
            <dt>
                
                    <code>DomElement</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.droppableProxy]
                

                
                </label>
                
                    if set, a shallow copy of the droppableProxy will be put on document.body with transparent bg
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.mouseAnchor]
                

                
                </label>
                
                    defaults to mouse cursor. can be 'left|center|right top|center|bottom'
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.dragClass]
                

                
                    &#x27;drag&#x27;
                
                </label>
                
                    class to add when the draggable is being dragged.
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onStart]
                

                
                </label>
                
                    callback called when dragging starts
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onEnd]
                

                
                </label>
                
                    callback called when dragging stops
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onDrag]
                

                
                </label>
                
                    callback called while dragging, prior to position updates
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onChange]
                

                
                </label>
                
                    callback called while dragging, after position updates
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules( ['Ink.UI.Draggable_1'], function( Draggable ){
        new Draggable( '#myElementId' );
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.Draggable.destroy
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Removes the ability of the element of being dragged</p>
    

    


    


    

</section>



    

    

    

