

    
        <section>
        <h1 class="fw-300">Ink.Namespace.StaticModule_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Namespace_StaticModule_1-Ink_Namespace_StaticModule-publicMethod">
                        
                            .publicMethod
                        
                        
                    </a>
                </td>
                <td>
                    

                    Description of the method

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
    <table class="props">
        <caption>Properties</caption>
        <thead>
            <tr>
                <th>Property name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td><a href="#Ink_Namespace_StaticModule_1-Ink_Namespace_StaticModule-publicProperty">.publicProperty</a></td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
            
        </tbody>
    </table>
    
</section>



    <div class="text">This is a awesome set of methods to paint the sky.</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Namespace.StaticModule.publicMethod
        
    
    (name, number)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Description of the method</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>name
                

                
                </label>
                
                    bla ble bi
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                <label>number
                

                
                </label>
                
                    blo blu
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>



    <section class="box box-attribute">

    <h1 class="fw-300">
    
       Ink.Namespace.StaticModule.publicProperty
    
    <i>attribute</i></h1>

    

    

    

    <label>publicProperty</label>

    

</section>

    

    

    

