

    
        <section>
        <h1 class="fw-300">Ink.Dom.Selector_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Selector_1-Ink_Dom_Selector-matches">
                        
                            .matches
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns elements which match with the second argument to the function.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Selector_1-Ink_Dom_Selector-matchesSelector">
                        
                            .matchesSelector
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif element matches given selector

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_Selector_1-Ink_Dom_Selector-select">
                        
                            .select
                        
                        
                    </a>
                </td>
                <td>
                    

                    Alias for the Sizzle selector engine

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>










    <section class="box box-function">

    <h2>
    
        
            Ink.Dom.Selector.matches
        
    
    (selector, matches)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>selector
                

                
                </label>

                
                    <span class="description">CSS selector to search for elements</span>
                
            </li>
        
            <li>
                
                    <pre>Array</pre>
                

                
                    <label>matches
                

                
                </label>

                
                    <span class="description">Elements to be 'matched' with</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Array</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns elements which match with the second argument to the function.</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Dom.Selector.matchesSelector
        
    
    (element, selector)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>DOMElement</pre>
                

                
                    <label>element
                

                
                </label>

                
                    <span class="description">to test</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>selector
                

                
                </label>

                
                    <span class="description">CSS selector to test the element with</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns true iif element matches given selector</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Dom.Selector.select
        
    
    (selector, [context], [results], [seed])
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>selector
                

                
                </label>

                
                    <span class="description">CSS selector to search for elements</span>
                
            </li>
        
            <li>
                
                    <pre>DOMElement</pre>
                

                
                    <label class="optional">[context]
                

                
                </label>

                
                    <span class="description">By default the search is done in the document element. However, you can specify an element as search context</span>
                
            </li>
        
            <li>
                
                    <pre>Array</pre>
                

                
                    <label class="optional">[results]
                

                
                </label>

                
                    <span class="description">By default this is considered an empty array. But if you want to merge it with other searches you did, pass their result array through here.</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[seed]
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Array</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Alias for the Sizzle selector engine</p>
    

    


    

</section>



    

    

    

