

    
        <section>
        <h1 class="fw-300">Ink.UI.ImageQuery_1 <small>version: 1</small></h1>
    

    

    


    


    

    



    
            

    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_ImageQuery_1-Ink_UI_ImageQuery-ImageQuery">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_UI_ImageQuery_1-Ink_UI_ImageQuery-ImageQuery" class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.ImageQuery
    
    (selector, [options], queries, allowFirstLoad)
    
        <i>constructor</i>
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        
        queries
        
        
        </li>
        
        <li class="prop">
        
        
        allowFirstLoad
        
        
        </li>
        
    </ul>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>String|Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.src]
                

                
                </label>
                
                    String or Callback function (that returns a string) with the path to be used to get the images.
                
            </dd>
        
            <dt>
                
                    <code>String|Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.retina]
                

                
                </label>
                
                    String or Callback function (that returns a string) with the path to be used to get RETINA specific images.
                
            </dd>
        
            <dt>
                
                    <code>Array</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.queries]
                

                
                </label>
                
                    Array of queries
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.queries.label]
                

                
                </label>
                
                    Label of the query. Ex. 'small'
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.queries.width]
                

                
                </label>
                
                    Min-width to use this query
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onLoad]
                

                
                </label>
                
                    Date format string
                
            </dd>
        
            <dt>
                
                    <code>array</code>
                
            </dt>
            <dd>
                
                
                
                <label>queries
                

                
                </label>
                
                    Array of objects that determine the label/name and its min-width to be applied.
                
            </dd>
        
            <dt>
                
                    <code>boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label>allowFirstLoad
                

                
                </label>
                
                    Boolean flag to allow the loading of the first element.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <div class="imageQueryExample all-100 content-center clearfix vspace">
         <img src="/assets/imgs/imagequery/small/image.jpg" />
     </div>
     <script type="text/javascript">
     Ink.requireModules( ['Ink.Dom.Selector_1', 'Ink.UI.ImageQuery_1'], function( Selector, ImageQuery ){
         var imageQueryElement = Ink.s('.imageQueryExample img');
         var imageQueryObj = new ImageQuery('.imageQueryExample img',{
             src: '/assets/imgs/imagequery/{:label}/{:file}',
             queries: [
                 {
                     label: 'small',
                     width: 480
                 },
                 {
                     label: 'medium',
                     width: 640
                 },
                 {
                     label: 'large',
                     width: 1024
                 }   
             ]
         });
     } );
     </script>
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

