

    
        <section>
        <h1 class="fw-300">Ink.UI.Toggle_1 <small>version: 1</small></h1>
    

    

    


    


    

    



    
            

    
    <p>Toggle the visibility of DOM Elements.

You need two elements to use Toggle: the `trigger` element, and
the `target` element (or elements). The default behaviour is to
toggle the `target`(s) when you click the `trigger`.

The toggle has a state. It is either "on" or "off". It works by
switching between the CSS classes in `classNameOn` and `classNameOff`
according to the current state.

When you initialize the Toggle, it will check whether the targets
are visible to figure out what the initial state is. You can force
the toggle to consider itself turned "on" or "off" by setting the
`initialState` option to `true` or `false`, respectively.

You can get the current state of the Toggle by calling `getState`,
or by checking if your `trigger` element has the "active" class.
The state can be changed through JavaScript. Just call  `setState(true)` 
to turn the Toggle on (or `setState(false)` to turn it off).</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Toggle_1-Ink_UI_Toggle-Toggle">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Toggle_1-Ink_UI_Toggle-getState">
                        
                            .getState
                        
                        
                    </a>
                </td>
                <td>
                    

                    Gets the state of the toggle. (on/off)

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Toggle_1-Ink_UI_Toggle-setState">
                        
                            .setState
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets the state of the toggle. (on/off)

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_UI_Toggle_1-Ink_UI_Toggle-Toggle" class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Toggle
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>
    

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">selector
                

                
                </label>
                
                    Trigger element. By clicking this, the target (or targets) are triggered.
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options]
                

                
                </label>
                
                    Options object, containing:
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">options.target
                

                
                </label>
                
                    CSS Selector that specifies the elements that this component will toggle
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.classNameOn]
                

                
                    &#x27;show-all&#x27;
                
                </label>
                
                    className when toggle is On
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.classNameOff]
                

                
                    &#x27;hide-all&#x27;
                
                </label>
                
                    className when toggle is Off.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.triggerEvent]
                

                
                    &#x27;click&#x27;
                
                </label>
                
                    Event that will trigger the toggling.
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.closeOnClick]
                

                
                    true
                
                </label>
                
                    When this is on, if the user clicks outside of the toggled content, the target is toggled off.
                
            </dd>
        
            <dt>
                
                    <code>Selector</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.closeOnInsideClick]
                

                
                    &#x27;a[href]&#x27;
                
                </label>
                
                    Toggle off when an element matching this selector is clicked. Set to null to deactivate the check. Default: 'a[href]' (finds links)
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.initialState]
                

                
                    null
                
                </label>
                
                    Whether to start toggled off, on, or as found in the markup. (false: off, true: on, null: markup)
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.onChangeState]
                

                
                    null
                
                </label>
                
                    Callback (`function (currentState) {...}`) to be called when the toggle state changes. Return `false` to cancel the event.
                
            </dd>
        
        </dl>
        
        

    


    


    
	<h3>Samples</h3>

	
		{% include js_samples/Ink_UI_Toggle_1_constructor.html %}
	


</section>

    <section id="Ink_UI_Toggle_1-Ink_UI_Toggle-getState" class="box box-function">

    <h1 class="fw-300">
    
        
            .getState
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Gets the state of the toggle. (on/off)</p>
    

    


    


    

</section>

    <section id="Ink_UI_Toggle_1-Ink_UI_Toggle-setState" class="box box-function">

    <h1 class="fw-300">
    
        
            .setState
        
    
    (newState)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        newState
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Sets the state of the toggle. (on/off)</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">newState
                

                
                </label>
                
                    {Boolean} New state (on/off)
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

