

    <div class="box box-module">

        
            <h2><a name="Ink_UI_FormValidator_1">Ink.UI.FormValidator_1 <i>module</i></a></h2>
        

        

        
            <p><label>author:</label>inkdev AT sapo.pt</p>
        
        
        
            <p><label>version:</label>1</p>
        

        

        

        


        


        
            <h3>Defined classes and namespaces:</h3>
            <ul>
            
                
                    <li><a href="#Ink_UI_FormValidator_1-Ink_UI_FormValidator">(C) Ink.UI.FormValidator</a></li>
                
            
            </ul>
        

        

        

    </div>

    
        <div class="box box-class">

    <h2><a name="Ink_UI_FormValidator_1-Ink_UI_FormValidator">Ink.UI.FormValidator <i>
    
        class
    
    </i></a></h2>

    

    
    
    
        <p><label>version:</label>1</p>
    

    

    


    


    
        
            <h3>Defined methods:</h3>
        
        
        <ul>
        
            <li><a href="#Ink_UI_FormValidator_1-Ink_UI_FormValidator-reset">
            
                Ink.UI.FormValidator.reset
            
            ()</a></li>
        
            <li><a href="#Ink_UI_FormValidator_1-Ink_UI_FormValidator-validate">
            
                Ink.UI.FormValidator.validate
            
            (elm, options, )</a></li>
        
        </ul>
    

    
        <h3>Defined attributes:</h3>
        <ul>
        
            <li><a href="#Ink_UI_FormValidator_1-Ink_UI_FormValidator-confirmElms">Ink.UI.FormValidator.confirmElms</a></li>
        
            <li><a href="#Ink_UI_FormValidator_1-Ink_UI_FormValidator-elements">Ink.UI.FormValidator.elements</a></li>
        
            <li><a href="#Ink_UI_FormValidator_1-Ink_UI_FormValidator-hasConfirm">Ink.UI.FormValidator.hasConfirm</a></li>
        
            <li><a href="#Ink_UI_FormValidator_1-Ink_UI_FormValidator-version">Ink.UI.FormValidator.version</a></li>
        
        </ul>
    

</div>


    <div class="box box-function">

    <h2><a name="Ink_UI_FormValidator_1-Ink_UI_FormValidator-reset">
    
        
            Ink.UI.FormValidator.reset
        
    
    ()
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    

    

    
        <span class="text"><p>Reset previously generated validation errors</p>
</span>
    

    


    

</div>


    <div class="box box-function">

    <h2><a name="Ink_UI_FormValidator_1-Ink_UI_FormValidator-validate">
    
        
            Ink.UI.FormValidator.validate
        
    
    (elm, options, )
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>DOMElement|String</pre>
                

                
                    <label>elm
                

                
                </label>

                
                    <span class="description">DOM form element or form id</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>options
                

                
                </label>

                
                    <span class="description">Options for</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onSuccess]
                

                
                </label>

                
                    <span class="description">function to run when form is valid</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onError]
                

                
                </label>

                
                    <span class="description">function to run when form is not valid</span>
                
            </li>
        
            <li>
                
                    <pre>Array</pre>
                

                
                    <label class="optional">[options.customFlag]
                

                
                </label>

                
                    <span class="description">custom flags to use to validate form fields</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Check if a form is valid or not</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example">
{% highlight html %}
{% raw %}

## What markup do I need?

Besides the markup structure you can see in
<a href="http://ink.sapo.pt/forms#building"></a>, you need to add
the `ink-fv-*` classes to your inputs, which correspond to validation
rules in this component. Available classes are:

- `ink-fv-required` : Required field
- `ink-fv-email`    : Valid e-mail
- `ink-fv-url`      : Valid URL address
- `ink-fv-number`   : Valid number
- `ink-fv-phone_pt`, `ink-fv-phone_cv`, `ink-fv-phone_mz`, `ink-fv-phone_ao` : Valid telephone number in Portugal, Cape Verde, Mozambique or Angola.
- `ink-fv-date`     : Valid date
- `ink-fv-confirm`  : Make the user type the same thing twice. Common rule for confirming passwords.
- `ink-fv-custom`   : Custom rule (see below example "Custom rule")

          E-mail field: <input class="ink-fv-required ink-fv-email"><br>
          Phone number field: <input class="ink-fv-number ink-fv-required"><br>
          Website field (optional): <input class="ink-fv-url">

## Simple usage

So you have a form and would like to validate it? This example shows
how to validate a form and stop it from being submitted when invalid.
To use this, add the several ink-fv-* classes to your input elements.

The validate() function will also add "invalid" classes to each of
your elements so the user gets a color feedback and an error message
below each element (control-group, really).

        var myForm = Ink.i('my-form');
        InkEvent.observe(myForm, 'submit', function (ev) {
            var formIsValid = FormValidator.validate(myForm);
            if (!formIsValid) {
                InkEvent.stop(ev);  // Cancel submission of form.
            }
        });

{% endraw %}
{% endhighlight %}
</div>
  
<div class="example">
{% highlight html %}
{% raw %}

## Custom rule.

The following code validates using a custom rule named `minthree`,
which fails if the input string has less than three characters.
To do this, you must add the `ink-fv-custom` and `minthree` classes
to the input elements you want to validate, and pass the `customFlag`
option to this function, like so:

        var isValid = FormValidator.validate(myForm, {
            customFlag: [
                {
                    flag: 'minthree',  // The name of this rule (add this class to your <input>s
                    msg: 'Please input at least three characters',  // Error message when rule fails
                    callback: function (el) {
                        return el.value.length >= 3  // Return true when okay, false when not
                    }
                }
            ]
        });
{% endraw %}
{% endhighlight %}
</div>




    

</div>




    <div class="box box-attribute">

     <h2><a name="Ink_UI_FormValidator_1-Ink_UI_FormValidator-confirmElms">
    
       Ink.UI.FormValidator.confirmElms
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>This property holds the objects needed to cross-check for the &#39;confirm&#39; rule</p>
</p>
    

    
        <pre>Object</pre>
    

    <label>confirmElms</label>

    

</div>


    <div class="box box-attribute">

     <h2><a name="Ink_UI_FormValidator_1-Ink_UI_FormValidator-elements">
    
       Ink.UI.FormValidator.elements
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>This property holds all form elements for later validation</p>
</p>
    

    
        <pre>Object</pre>
    

    <label>elements</label>

    

</div>


    <div class="box box-attribute">

     <h2><a name="Ink_UI_FormValidator_1-Ink_UI_FormValidator-hasConfirm">
    
       Ink.UI.FormValidator.hasConfirm
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>This property holds the previous elements in the confirmElms property, but with a
true/false specifying if it has the class ink-fv-confirm.</p>
</p>
    

    
        <pre>Object</pre>
    

    <label>hasConfirm</label>

    

</div>


    <div class="box box-attribute">

     <h2><a name="Ink_UI_FormValidator_1-Ink_UI_FormValidator-version">
    
       Ink.UI.FormValidator.version
    
    <i>attribute</i></a></h2>

    

    
        <p class="text"><p>Specifies the version of the component</p>
</p>
    

    
        <pre>String</pre>
    

    <label>version</label>

    

</div>



    

    

    

