

    
        <section>
        <h1 class="fw-300">Ink.UI.Pagination_1 <small>version: 1</small></h1>
    

    

    


    


    

    



    
            

    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-Pagination">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-destroy">
                        
                            .destroy
                        
                        
                    </a>
                </td>
                <td>
                    

                    Unregisters the component and removes its markup from the DOM

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-getCurrent">
                        
                            .getCurrent
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns current page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-getSize">
                        
                            .getSize
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns the number of pages

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-hasNext">
                        
                            .hasNext
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif has pages ahead

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-hasNextPage">
                        
                            .hasNextPage
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif has set of page(s) ahead

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-hasPrevious">
                        
                            .hasPrevious
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif has prior pages

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-hasPreviousPage">
                        
                            .hasPreviousPage
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif has prior set of page(s)

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-isFirst">
                        
                            .isFirst
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif at first page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-isLast">
                        
                            .isLast
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns true iif at last page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-setCurrent">
                        
                            .setCurrent
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets the current page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-setOnChange">
                        
                            .setOnChange
                        
                        
                    </a>
                </td>
                <td>
                    

                    Allows you to subscribe to the onChange event

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Pagination_1-Ink_UI_Pagination-setSize">
                        
                            .setSize
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets the number of pages

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-Pagination" class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Pagination
    
    (selector, options, )
    
        <i>constructor</i>
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
        <li class="prop">
        
        
        options
        
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>options
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.size]
                

                
                </label>
                
                    number of pages.
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.totalItemCount]
                

                
                </label>
                
                    Total numeber of items to display
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.itemsPerPage]
                

                
                </label>
                
                    number of items per page.
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.maxSize]
                

                
                </label>
                
                    If passed, only shows at most maxSize items. displays also first|prev page and next page|last buttons
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.start]
                

                
                </label>
                
                    start page. defaults to 1
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.sideButtons]
                

                
                    true
                
                </label>
                
                    whether to show the first, last, previous, next, previousPage and lastPage buttons. Do not use together with maxSize.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.firstLabel]
                

                
                </label>
                
                    label to display on first page button
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.lastLabel]
                

                
                </label>
                
                    label to display on last page button
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.previousLabel]
                

                
                </label>
                
                    label to display on previous button
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.nextLabel]
                

                
                </label>
                
                    label to display on next button
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.previousPageLabel]
                

                
                </label>
                
                    label to display on previous page button
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.nextPageLabel]
                

                
                </label>
                
                    label to display on next page button
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onChange]
                

                
                </label>
                
                    optional callback. Called with `(thisPaginator, newPageNumber)`.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.hashParameter]
                

                
                </label>
                
                    parameter to use on setHash. by default uses 'page'
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.parentTag]
                

                
                </label>
                
                    HTML Tag used as the parent node.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.childTag]
                

                
                </label>
                
                    HTML Tag used as the child nodes.
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.wrapperClass]
                

                
                </label>
                
                    CSS Class used in the wrapper element
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.paginationClass]
                

                
                </label>
                
                    CSS Class used in the pagination element
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.activeClass]
                

                
                </label>
                
                    CSS Class used to mark page as active
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.disabledClass]
                

                
                </label>
                
                    CSS Class used to mark page as disabled
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.hideClass]
                

                
                </label>
                
                    CSS Class used to hide elements
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.previousClass]
                

                
                </label>
                
                    CSS Class used in the previous element
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.previousPageClass]
                

                
                </label>
                
                    CSS Class used in the previous page element
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.nextClass]
                

                
                </label>
                
                    CSS Class used in the next element
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.nextPageClass]
                

                
                </label>
                
                    CSS Class used in the next page element
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.numberFormatter]
                

                
                </label>
                
                    optional function which takes and 0-indexed number and returns the string which appears on a numbered button
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-destroy" class="box box-function">

    <h1 class="fw-300">
    
        
            .destroy
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
    </ul>

    
    

    
        <p class="text">Unregisters the component and removes its markup from the DOM</p>
    

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-getCurrent" class="box box-function">

    <h1 class="fw-300">
    
        
            .getCurrent
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
    </ul>

    
    

    
        <p class="text">Returns current page</p>
    

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-getSize" class="box box-function">

    <h1 class="fw-300">
    
        
            .getSize
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
    </ul>

    
    

    
        <p class="text">Returns the number of pages</p>
    

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-hasNext" class="box box-function">

    <h1 class="fw-300">
    
        
            .hasNext
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
    </ul>

    
    

    
        <p class="text">Returns true iif has pages ahead</p>
    

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-hasNextPage" class="box box-function">

    <h1 class="fw-300">
    
        
            .hasNextPage
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
    </ul>

    
    

    
        <p class="text">Returns true iif has set of page(s) ahead</p>
    

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-hasPrevious" class="box box-function">

    <h1 class="fw-300">
    
        
            .hasPrevious
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
    </ul>

    
    

    
        <p class="text">Returns true iif has prior pages</p>
    

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-hasPreviousPage" class="box box-function">

    <h1 class="fw-300">
    
        
            .hasPreviousPage
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
    </ul>

    
    

    
        <p class="text">Returns true iif has prior set of page(s)</p>
    

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-isFirst" class="box box-function">

    <h1 class="fw-300">
    
        
            .isFirst
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
    </ul>

    
    

    
        <p class="text">Returns true iif at first page</p>
    

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-isLast" class="box box-function">

    <h1 class="fw-300">
    
        
            .isLast
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
    </ul>

    
    

    
        <p class="text">Returns true iif at last page</p>
    

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-setCurrent" class="box box-function">

    <h1 class="fw-300">
    
        
            .setCurrent
        
    
    (nr, isRelative)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        nr
        
        
        </li>
        
        <li class="prop">
        
        
        isRelative
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Sets the current page</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>nr
                

                
                </label>
                
                    sets the current page to given number
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label>isRelative
                

                
                </label>
                
                    trueish to set relative change instead of absolute (default)
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-setOnChange" class="box box-function">

    <h1 class="fw-300">
    
        
            .setOnChange
        
    
    (cb)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        cb
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Allows you to subscribe to the onChange event</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label>cb
                

                
                </label>
                
                    {Function} Callback called with `(thisPaginator, newPageNumber)`.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_UI_Pagination_1-Ink_UI_Pagination-setSize" class="box box-function">

    <h1 class="fw-300">
    
        
            .setSize
        
    
    (sz, setSizeInItems, totalItems, itemsPerPage)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        sz
        
        
        </li>
        
        <li class="prop">
        
        
        setSizeInItems
        
        
        </li>
        
        <li class="prop">
        
        
        totalItems
        
        
        </li>
        
        <li class="prop">
        
        
        itemsPerPage
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Sets the number of pages</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>sz
                

                
                </label>
                
                    number of pages
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label>setSizeInItems
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>totalItems
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>itemsPerPage
                

                
                </label>
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

