

    
        <section>
        <h1 class="fw-300">Ink.Net.Ajax_1 </h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-Ajax">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-abort">
                        
                            .abort
                        
                        
                    </a>
                </td>
                <td>
                    

                    Aborts the request if still running. No callbacks are called

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-evalJSON">
                        
                            .evalJSON
                        
                        
                    </a>
                </td>
                <td>
                    

                    Evaluates a given string as JSON

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-finish">
                        
                            .finish
                        
                        
                    </a>
                </td>
                <td>
                    

                    Last step after XHR is complete. Call onComplete and cleanup object

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-getAllHeaders">
                        
                            .getAllHeaders
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns all http headers from the response

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-getHeader">
                        
                            .getHeader
                        
                        
                    </a>
                </td>
                <td>
                    

                    Retrieves HTTP header from response

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-getResponse">
                        
                            .getResponse
                        
                        
                    </a>
                </td>
                <td>
                    

                    Setup the response object

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-getTransport">
                        
                            .getTransport
                        
                        
                    </a>
                </td>
                <td>
                    

                    Creates the appropriate XMLHttpRequest object

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-isJSON">
                        
                            .isJSON
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a given string is valid JSON

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-load">
                        
                            .load
                        
                        
                    </a>
                </td>
                <td>
                    

                    Loads content from a given url through a XMLHttpRequest.

Shortcut function for simple AJAX use cases.

Works with JSON, XML and plain text.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-makeError">
                        
                            .makeError
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns new exception object that can be thrown

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-paramsObjToStr">
                        
                            .paramsObjToStr
                        
                        
                    </a>
                </td>
                <td>
                    

                    Converts an object with parameters to a querystring

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-ping">
                        
                            .ping
                        
                        
                    </a>
                </td>
                <td>
                    

                    Loads content from a given url through a XMLHttpRequest.
Shortcut function for simple AJAX use cases.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-request">
                        
                            .request
                        
                        
                    </a>
                </td>
                <td>
                    

                    Execute the request

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-runStateChange">
                        
                            .runStateChange
                        
                        
                    </a>
                </td>
                <td>
                    

                    Executes the state changing phase of an ajax request

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-safeCall">
                        
                            .safeCall
                        
                        
                    </a>
                </td>
                <td>
                    

                    Safely calls a callback function.
Verifies that the callback is well defined and traps errors

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-setHeaders">
                        
                            .setHeaders
                        
                        
                    </a>
                </td>
                <td>
                    

                    Set the necessary headers for an ajax request

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-setParams">
                        
                            .setParams
                        
                        
                    </a>
                </td>
                <td>
                    

                    set the url parameters for a GET request

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Net_Ajax_1-Ink_Net_Ajax-setRequestHeader">
                        
                            .setRequestHeader
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets new request header for the subsequent http request

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Creates a new cross browser XMLHttpRequest object</div>








    <section class="box box-function">

    <h2>
    
        Ink.Net.Ajax
    
    (url, options, )
    
        <i>constructor</i>
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>url
                

                
                </label>

                
                    <span class="description">request url</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>options
                

                
                </label>

                
                    <span class="description">request options</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[options.asynchronous]
                

                
                </label>

                
                    <span class="description">if the request should be asynchronous. true by default.</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[options.cors]
                

                
                </label>

                
                    <span class="description">set this to true if you're doing a cross-origin request</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.method]
                

                
                </label>

                
                    <span class="description">HTTP request method. POST by default.</span>
                
            </li>
        
            <li>
                
                    <pre>Object|String</pre>
                

                
                    <label class="optional">[options.parameters]
                

                
                </label>

                
                    <span class="description">Request parameters which should be sent with the request</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[options.timeout]
                

                
                </label>

                
                    <span class="description">Request timeout</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[options.delay]
                

                
                </label>

                
                    <span class="description">Artificial delay. If request is completed in time lower than this, then wait a bit before calling the callbacks</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.postBody]
                

                
                </label>

                
                    <span class="description">POST request body. If not specified, it's filled with the contents from parameters</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.contentType]
                

                
                </label>

                
                    <span class="description">Content-type header to be sent. Defaults to 'application/x-www-form-urlencoded'</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label class="optional">[options.requestHeaders]
                

                
                </label>

                
                    <span class="description">key-value pairs for additional request headers</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onComplete]
                

                
                </label>

                
                    <span class="description">Callback executed after the request is completed, no matter what happens during the request.</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onSuccess]
                

                
                </label>

                
                    <span class="description">Callback executed if the request is successful (requests with 2xx status codes)</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onFailure]
                

                
                </label>

                
                    <span class="description">Callback executed if the request fails (requests with status codes different from 2xx)</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onException]
                

                
                </label>

                
                    <span class="description">Callback executed if an exception  occurs. Receives the exception as a parameter.</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onCreate]
                

                
                </label>

                
                    <span class="description">Callback executed after object initialization but before the request is made</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onInit]
                

                
                </label>

                
                    <span class="description">Callback executed before any initialization</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label class="optional">[options.onTimeout]
                

                
                </label>

                
                    <span class="description">Callback executed if the request times out</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean|String</pre>
                

                
                    <label class="optional">[options.evalJS]
                

                
                </label>

                
                    <span class="description">If the request Content-type header is application/json, evaluates the response and populates responseJSON. Use 'force' if you want to force the response evaluation, no matter what Content-type it's using. Defaults to true.</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[options.sanitizeJSON]
                

                
                </label>

                
                    <span class="description">Sanitize the content of responseText before evaluation</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[options.xhrProxy]
                

                
                </label>

                
                    <span class="description">URI for proxy service hosted on the same server as the web app, that can fetch documents from other domains.</span>
                
            </li>
        
        </ul>
    

    

    

    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    new Ajax('test.json', {
        method: 'get',
        onSuccess: function (ajx, responseJSON) {
            // Do stuff with responseJSON or ajx.responseText
            console.log(responseJSON.something.length);
        },
        onFailure: function (ajx, errorResponse) {
            // Deal with it
            alert(ajx.status);  // The HTTP response code
        }
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.abort
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    

    
        <p class="text">Aborts the request if still running. No callbacks are called</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.evalJSON
        
    
    (str, sanitize)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>str
                

                
                </label>

                
                    <span class="description">String to be evaluated</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label>sanitize
                

                
                </label>

                
                    <span class="description">whether to sanitize the content or not</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Evaluates a given string as JSON</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.finish
        
    
    (response, responseContent)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                

                
                    <label>response
                

                
                </label>

                
            </li>
        
            <li>
                

                
                    <label>responseContent
                

                
                </label>

                
            </li>
        
        </ul>
    

    

    
        <p class="text">Last step after XHR is complete. Call onComplete and cleanup object</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.getAllHeaders
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Returns all http headers from the response</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.getHeader
        
    
    (name)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>name
                

                
                </label>

                
                    <span class="description">header name</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Retrieves HTTP header from response</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.getResponse
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Setup the response object</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.getTransport
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Creates the appropriate XMLHttpRequest object</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.isJSON
        
    
    (str)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>str
                

                
                </label>

                
                    <span class="description">String to be evaluated</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Boolean</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Checks if a given string is valid JSON</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.load
        
    
    (url, callback)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>url
                

                
                </label>

                
                    <span class="description">request url</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label>callback
                

                
                </label>

                
                    <span class="description">callback to be executed if the request is successful</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Loads content from a given url through a XMLHttpRequest.

Shortcut function for simple AJAX use cases.

Works with JSON, XML and plain text.</p>
    

    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     Ajax.load('some/text/file', function (responseText) {
         doSomething(responseText);
     });
     Ajax.load('some/xml/file', function (responseXML) {
         doSomething(responseXML);
     });
     Ajax.load('some/json/file', function (responseJSON) {
         doSomething(responseJSON);
     });

{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.makeError
        
    
    (code, message)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                

                
                    <label>code
                

                
                </label>

                
            </li>
        
            <li>
                

                
                    <label>message
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
        </div>
    

    
        <p class="text">Returns new exception object that can be thrown</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.paramsObjToStr
        
    
    (optParams)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Object|String</pre>
                

                
                    <label>optParams
                

                
                </label>

                
                    <span class="description">parameters object</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Converts an object with parameters to a querystring</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.ping
        
    
    (url, callback)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>url
                

                
                </label>

                
                    <span class="description">request url</span>
                
            </li>
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label>callback
                

                
                </label>

                
                    <span class="description">callback to be executed if the request is successful</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Loads content from a given url through a XMLHttpRequest.
Shortcut function for simple AJAX use cases.</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.request
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    

    
        <p class="text">Execute the request</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.runStateChange
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    

    
        <p class="text">Executes the state changing phase of an ajax request</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.safeCall
        
    
    (listener)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>Function</pre>
                

                
                    <label>listener
                

                
                </label>

                
            </li>
        
        </ul>
    

    

    
        <p class="text">Safely calls a callback function.
Verifies that the callback is well defined and traps errors</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.setHeaders
        
    
    (url)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>url
                

                
                </label>

                
                    <span class="description">- url for the request</span>
                
            </li>
        
        </ul>
    

    

    
        <p class="text">Set the necessary headers for an ajax request</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.setParams
        
    
    ()
    
        
            <i>method</i>
        
    
    </h2>

    
    

    

    

    
        <p class="text">set the url parameters for a GET request</p>
    

    


    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Net.Ajax.setRequestHeader
        
    
    (name, value)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>name
                

                
                </label>

                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>value
                

                
                </label>

                
            </li>
        
        </ul>
    

    

    
        <p class="text">Sets new request header for the subsequent http request</p>
    

    


    

</section>



    

    

    

