

    <div class="box box-module">

        
            <h2><a name="Ink_UI_Close_1">Ink.UI.Close_1 <i>module</i></a></h2>
        

        

        
            <p><label>author:</label>inkdev AT sapo.pt</p>
        
        
        

        

        

        

        




        
            <h3>Defined classes and namespaces:</h3>
            <ul>
            
                
                    <li><a href="#Ink_UI_Close_1-Ink_UI_Close">(C) Ink.UI.Close</a></li>
                
            
            </ul>
        

        

        

    </div>

    
        <div class="box box-class">

    <h2><a name="Ink_UI_Close_1-Ink_UI_Close">Ink.UI.Close <i>
    
        class
    
    </i></a></h2>

    

    
    
    

    
        <div class="text"><p>Subscribes clicks on the document.body. If and only if you clicked on an element
having class &quot;ink-close&quot; or &quot;ink-dismiss&quot;, will go up the DOM hierarchy looking for an element with any
of the following classes: &quot;ink-alert&quot;, &quot;ink-alert-block&quot;.
If it is found, it is removed from the DOM.</p>
<p>One should call close once per page (full page refresh).</p>
</div>
    

    

    




    
        
            <h3>Defined methods:</h3>
        
        
        <table>
        
            <tr>
                <td><a href="#Ink_UI_Close_1-Ink_UI_Close-Close">
                
                    Ink.UI.Close
                
                ()</a></td>
            </tr>
        
        </table>
    

    

</div>


    <div class="box box-function">

    <h2><a name="Ink_UI_Close_1-Ink_UI_Close-Close">
    
        Ink.UI.Close
    
    ()
    
        <i>constructor</i>
    
    </a></h2>

    
    

    

    

    

    
{% raw %}
	<h3>Examples:</h3>

	
		<pre class="example"><code>
			
    &lt;script&gt;
        Ink.requireModules([&#x27;Ink.UI.Close_1&#x27;],function( Close ){
            new Close();
        });
    &lt;/script&gt;

		</code></pre>
	
  {% endraw %}


    



</div>





    

    

    

