

    <div class="box box-module">

        
            <h2><a name="Ink_Namespace_StaticModule_1">Ink.Namespace.StaticModule_1 <i>module</i></a></h2>
        

        

        
            <p><label>author:</label>inkdev AT sapo.pt</p>
        
        
            <p><label>since:</label>April 2013</p>
        
        
            <p><label>version:</label>1</p>
        

        

        

        


        


        
            <h3>Defined classes and namespaces:</h3>
            <ul>
            
                
                    <li><a href="#Ink_Namespace_StaticModule_1-Ink_Namespace_StaticModule">(C) Ink.Namespace.StaticModule</a></li>
                
            
            </ul>
        

        

        

    </div>

    
        <div class="box box-class">

    <h2><a name="Ink_Namespace_StaticModule_1-Ink_Namespace_StaticModule">Ink.Namespace.StaticModule <i>
    
        class
    
    </i></a></h2>

    

    
    
    

    
        <div class="text"><p>This is a awesome set of methods to paint the sky.</p>
</div>
    

    


    


    
        
            <h3>Defined methods:</h3>
        
        
        <ul>
        
            <li><a href="#Ink_Namespace_StaticModule_1-Ink_Namespace_StaticModule-publicMethod">
            
                Ink.Namespace.StaticModule.publicMethod
            
            (name, number)</a></li>
        
        </ul>
    

    
        <h3>Defined attributes:</h3>
        <ul>
        
            <li><a href="#Ink_Namespace_StaticModule_1-Ink_Namespace_StaticModule-publicProperty">Ink.Namespace.StaticModule.publicProperty</a></li>
        
        </ul>
    

</div>


    <div class="box box-function">

    <h2><a name="Ink_Namespace_StaticModule_1-Ink_Namespace_StaticModule-publicMethod">
    
        
            Ink.Namespace.StaticModule.publicMethod
        
    
    (name, number)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>name
                

                
                </label>

                
                    <span class="description">bla ble bi</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label>number
                

                
                </label>

                
                    <span class="description">blo blu</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Description of the method</p>
</span>
    

    


    

</div>




    <div class="box box-attribute">

     <h2><a name="Ink_Namespace_StaticModule_1-Ink_Namespace_StaticModule-publicProperty">
    
       Ink.Namespace.StaticModule.publicProperty
    
    <i>attribute</i></a></h2>

    

    

    

    <label>publicProperty</label>

    

</div>



    

    

    

