

    
        <section>
        <h1 class="fw-300">Ink.Util.String_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>

        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-escape">
                        
                            .escape
                        
                        
                    </a>
                </td>
                <td>
                    

                    Escapes a unicode character. returns \xXX if hex smaller than 0x100, otherwise \uXXXX

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-escapeText">
                        
                            .escapeText
                        
                        
                    </a>
                </td>
                <td>
                    

                    Escapes a string to unicode characters

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-evalJSON">
                        
                            .evalJSON
                        
                        
                    </a>
                </td>
                <td>
                    

                    Eval a JSON string to a JS object

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-htmlEntitiesDecode">
                        
                            .htmlEntitiesDecode
                        
                        
                    </a>
                </td>
                <td>
                    

                    Convert listed HTML entities to character

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-htmlEntitiesEncode">
                        
                            .htmlEntitiesEncode
                        
                        
                    </a>
                </td>
                <td>
                    

                    Convert listed characters to HTML entities

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-htmlEscapeUnsafe">
                        
                            .htmlEscapeUnsafe
                        
                        
                    </a>
                </td>
                <td>
                    

                    Escapes unsafe html chars to their entities

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-isJSON">
                        
                            .isJSON
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a string is a valid JSON object (string encoded)

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-normalizeWhitespace">
                        
                            .normalizeWhitespace
                        
                        
                    </a>
                </td>
                <td>
                    

                    Normalizes whitespace in string.
String is trimmed and sequences of many
Whitespaces are collapsed.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-packetize">
                        
                            .packetize
                        
                        
                    </a>
                </td>
                <td>
                    

                    Splits long string into string of, at most, maxLen (that is, all but last have length maxLen,
last can measure maxLen or less)

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-removeAccentedChars">
                        
                            .removeAccentedChars
                        
                        
                    </a>
                </td>
                <td>
                    

                    Convert all accented chars to char without accent.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-shortString">
                        
                            .shortString
                        
                        
                    </a>
                </td>
                <td>
                    

                    Make a string shorter without cutting words

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-strcmp">
                        
                            .strcmp
                        
                        
                    </a>
                </td>
                <td>
                    

                    Compares two strings

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-stripTags">
                        
                            .stripTags
                        
                        
                    </a>
                </td>
                <td>
                    

                    Removes HTML tags of string

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-substrCount">
                        
                            .substrCount
                        
                        
                    </a>
                </td>
                <td>
                    

                    Count the number of occurrences of a specific needle in a haystack

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-toUnicode">
                        
                            .toUnicode
                        
                        
                    </a>
                </td>
                <td>
                    

                    Converts string to unicode

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-trim">
                        
                            .trim
                        
                        
                    </a>
                </td>
                <td>
                    

                    Remove spaces and new line from biggin and ends of string

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-truncateString">
                        
                            .truncateString
                        
                        
                    </a>
                </td>
                <td>
                    

                    Truncates a string, breaking words and adding ... at the end

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-ucFirst">
                        
                            .ucFirst
                        
                        
                    </a>
                </td>
                <td>
                    

                    Convert first letter of a word to upper case <br />
If param as more than one word, it converts first letter of all words that have more than 2 letters

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-unescape">
                        
                            .unescape
                        
                        
                    </a>
                </td>
                <td>
                    

                    Unescapes a unicode character escape sequence

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-unescapeText">
                        
                            .unescapeText
                        
                        
                    </a>
                </td>
                <td>
                    

                    Unescapes a string

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-utf8Decode">
                        
                            .utf8Decode
                        
                        
                    </a>
                </td>
                <td>
                    

                    Decode a string from UTF8

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_String_1-Ink_Util_String-utf8Encode">
                        
                            .utf8Encode
                        
                        
                    </a>
                </td>
                <td>
                    

                    Encode a string to UTF8

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
    <table class="props">
        <caption>Properties</caption>
        <thead>
            <tr>
                <th>Property name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td><a href="#Ink_Util_String_1-Ink_Util_String-escapedCharRegex">.escapedCharRegex</a></td>
                <td>
                    

                    
                        Regex to check escaped strings
                    

                    
                        <span class="ink-label orange uppercase">Regex</span>
                    
                    
                </td>
            </tr>
            
        </tbody>
    </table>
    
</section>



    <div class="text">String Manipulation Utilities</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.escape
        
    
    (c, c)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Escapes a unicode character. returns \xXX if hex smaller than 0x100, otherwise \uXXXX</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>c
                

                
                </label>
                
                    Char
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>c
                

                
                </label>
                
                    char
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.escapeText
        
    
    (txt, [whiteList])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Escapes a string to unicode characters</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>txt
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Array</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[whiteList]
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.evalJSON
        
    
    (strJSON, sanitize)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Eval a JSON string to a JS object</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>strJSON
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label>sanitize
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.htmlEntitiesDecode
        
    
    (string)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Convert listed HTML entities to character</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>string
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.htmlEntitiesEncode
        
    
    (string)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Convert listed characters to HTML entities</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>string
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.htmlEscapeUnsafe
        
    
    (str)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Escapes unsafe html chars to their entities</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str
                

                
                </label>
                
                    String to escape
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.isJSON
        
    
    (str)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Checks if a string is a valid JSON object (string encoded)</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.normalizeWhitespace
        
    
    (str)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Normalizes whitespace in string.
String is trimmed and sequences of many
Whitespaces are collapsed.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str
                

                
                </label>
                
                    String to normalize
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.packetize
        
    
    (string, maxLen)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Splits long string into string of, at most, maxLen (that is, all but last have length maxLen,
last can measure maxLen or less)</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>string
                

                
                </label>
                
                    string to divide
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>maxLen
                

                
                </label>
                
                    packet size
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Array</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.removeAccentedChars
        
    
    (string)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Convert all accented chars to char without accent.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>string
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.shortString
        
    
    (str, n)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Make a string shorter without cutting words</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>n
                

                
                </label>
                
                    - number of chars of the short string
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.strcmp
        
    
    (str1, str2)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Compares two strings</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str1
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str2
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Number</code>
            </dt>                
            <dd>   
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.stripTags
        
    
    (string, allowed)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Removes HTML tags of string</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>string
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>allowed
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <script>
         var myvar='isto e um texto <b>bold</b> com imagem <img src=""> e br <br /> um <p>paragrafo</p>';
         SAPO.Utility.String.stripTags(myvar, 'b,u');
    </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.substrCount
        
    
    (haystack, needle)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Count the number of occurrences of a specific needle in a haystack</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>haystack
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>needle
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Number</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.toUnicode
        
    
    (str)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Converts string to unicode</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.trim
        
    
    (string)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Remove spaces and new line from biggin and ends of string</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>string
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.truncateString
        
    
    (str, length)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Truncates a string, breaking words and adding ... at the end</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>length
                

                
                </label>
                
                    - length limit for the string. String will be
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.ucFirst
        
    
    (string, [firstWordOnly])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Convert first letter of a word to upper case <br />
If param as more than one word, it converts first letter of all words that have more than 2 letters</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>string
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[firstWordOnly]
                

                
                    false
                
                </label>
                
                    capitalize only first word.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     InkString.ucFirst('hello world'); // -> 'Hello World'
     InkString.ucFirst('hello world', true); // -> 'Hello world'
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.unescape
        
    
    (es)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Unescapes a unicode character escape sequence</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>es
                

                
                </label>
                
                    Escape sequence
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.unescapeText
        
    
    (txt)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Unescapes a string</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>txt
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.utf8Decode
        
    
    (string)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Decode a string from UTF8</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>string
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.String.utf8Encode
        
    
    (string)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Encode a string to UTF8</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>string
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>



    <section class="box box-attribute">

    <h1 class="fw-300">
    
       Ink.Util.String.escapedCharRegex
    
    <i>attribute</i></h1>

    

    
        <p class="text">Regex to check escaped strings</p>
    

    
        <pre>Regex</pre>
    

    <label>escapedCharRegex</label>

    

</section>

    

    

    

