

    
        <section>
        <h1 class="fw-300">Ink.Util.Url_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-currentScriptElement">
                        
                            .currentScriptElement
                        
                        
                    </a>
                </td>
                <td>
                    

                    Get last loaded script element

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-format">
                        
                            .format
                        
                        
                    </a>
                </td>
                <td>
                    

                    Take a URL object from Ink.Util.Url.parseUrl or a window.location
object and returns a URL string.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-genQueryString">
                        
                            .genQueryString
                        
                        
                    </a>
                </td>
                <td>
                    

                    Generates an uri with query string based on the parameters object given

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-getAnchor">
                        
                            .getAnchor
                        
                        
                    </a>
                </td>
                <td>
                    

                    Get URL hash

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-getAnchorString">
                        
                            .getAnchorString
                        
                        
                    </a>
                </td>
                <td>
                    

                    Get anchor string of current or passed URL

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-getQueryString">
                        
                            .getQueryString
                        
                        
                    </a>
                </td>
                <td>
                    

                    Get query string of current or passed URL

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-getUrl">
                        
                            .getUrl
                        
                        
                    </a>
                </td>
                <td>
                    

                    Get current URL of page

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Url_1-Ink_Util_Url-parseUrl">
                        
                            .parseUrl
                        
                        
                    </a>
                </td>
                <td>
                    

                    Parse passed URL

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Utility functions to use with URLs</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Url.currentScriptElement
        
    
    ([match])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Get last loaded script element</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[match]
                

                
                </label>
                
                    String to match against the script src attribute
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>DOMElement|Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Url.format
        
    
    (urlObj)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Take a URL object from Ink.Util.Url.parseUrl or a window.location
object and returns a URL string.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
            </dt>
            <dd>
                
                <label>urlObj
                

                
                </label>
                
                    window.location, a.href, or parseUrl object to format
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Url.genQueryString
        
    
    (uri, params)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Generates an uri with query string based on the parameters object given</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>uri
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label>params
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        var queryString = InkUrl.genQueryString( 'http://www.sapo.pt/', {
            'param1': 'valueParam1',
            'param2': 'valueParam2'
        });

        console.log( queryString ); // Result: http://www.sapo.pt/?param1=valueParam1&param2=valueParam2
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Url.getAnchor
        
    
    ([str])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Get URL hash</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[str]
                

                
                </label>
                
                    URL String. If not set, it will get the current URL.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>String|Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        var anchor = InkUrl.getAnchor( 'http://www.sapo.pt/page.php#TEST' );
        console.log( anchor ); // Result: TEST
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Url.getAnchorString
        
    
    ([string])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Get anchor string of current or passed URL</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[string]
                

                
                </label>
                
                    If not provided it uses the current URL.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        var hashParams = InkUrl.getAnchorString( 'http://www.sapo.pt/#var1=valueVar1&var2=valueVar2' );
        console.log( hashParams );
        // Result:
        // {
        //    var1: 'valueVar1',
        //    var2: 'valueVar2'
        // }
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Url.getQueryString
        
    
    ([str])
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Get query string of current or passed URL</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label class="optional">[str]
                

                
                </label>
                
                    URL String. When not specified it uses the current URL.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        var queryStringParams = InkUrl.getQueryString( 'http://www.sapo.pt/?var1=valueVar1&var2=valueVar2' );
        console.log( queryStringParams );
        // Result:
        // {
        //    var1: 'valueVar1',
        //    var2: 'valueVar2'
        // }
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Url.getUrl
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Get current URL of page</p>
    

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        console.log( InkUrl.getUrl() ); // Will return it's window URL
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.Util.Url.parseUrl
        
    
    (url)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Parse passed URL</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                <label>url
                

                
                </label>
                
                    URL to be parsed
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Object</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Url_1'], function( InkUrl ){
        var parsedURL = InkUrl.parseUrl( 'http://www.sapo.pt/index.html?var1=value1#anchor' )
        console.log( parsedURL );
        // Result:
        // {
        //   'scheme'    => 'http',
        //   'host'      => 'www.sapo.pt',
        //   'path'      => '/index.html',
        //   'query'     => 'var1=value1',
        //   'fragment'  => 'anchor'
        // }
    });

{% endraw %}{% endhighlight %}




    

</section>



    

    

    

