

    
        <section>
        <h1 class="fw-300">Ink.UI.Tabs_1 <small>version: 1

Display tabbed content</small></h1>
    

    

    


    


    

    



    
            

    
    <p>The Tabs Component offers a simple way to build a tab-separated
layout, allowing you to offer multiple content in the same space
with intuitive navigation.

This component requires your markup to have:

 - A container element (this is what you call the Ink.UI.Tabs constructor on), containing everything.
   - An element with the `tabs-nav` class, to contain links.
     - Your links with `href="#ID_OF_SECTION"`
   - Your sections with the corresponding `id` attributes.
     - The content for each section.

When the user clicks in the links inside `tabs-nav`, the tab with
the corresponding ID is then activated.

The tab which is active when the tab component is initialized has
its hash in the browser URL. If there is no hash, then the `active`
option kicks in. Otherwise, Tabs will fall back to showing the tab
corresponding to the first link.

You can disable some (or all) tabs by passing an array for the
`disabled` option</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-Tabs">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeContentTab">
                        
                            .activeContentTab
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns the currently active section

(Each section contains content for a tab, and must have an `id` attribute)

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeMenuLink">
                        
                            .activeMenuLink
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns the currently active Menu link (the links which the user clicks on to change tabs)

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeMenuTab">
                        
                            .activeMenuTab
                        
                        
                    </a>
                </td>
                <td>
                    
                        <span class="tag">deprecated</span>
                    

                    (This method is deprecated)

Returns the parent of the currently active menu link.

This is useful if you want to have `li` elements wrapping your links
and want to access the currently visible one.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-activeTab">
                        
                            .activeTab
                        
                        
                    </a>
                </td>
                <td>
                    

                    Returns the active tab id

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-changeTab">
                        
                            .changeTab
                        
                        
                    </a>
                </td>
                <td>
                    

                    Changes to the desired tag

Pass a selector/element identifying what tab you want

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-destroy">
                        
                            .destroy
                        
                        
                    </a>
                </td>
                <td>
                    

                    Unregisters the component and removes its markup from the DOM

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-disable">
                        
                            .disable
                        
                        
                    </a>
                </td>
                <td>
                    

                    Disables the desired tag

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_Tabs_1-Ink_UI_Tabs-enable">
                        
                            .enable
                        
                        
                    </a>
                </td>
                <td>
                    

                    Enables the desired tag

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-Tabs" class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.Tabs
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>
    

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">[options]
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.preventUrlChange]
                

                
                </label>
                
                    Flag that determines if follows the link on click or stops the event
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.active]
                

                
                </label>
                
                    ID of the tab to activate on creation
                
            </dd>
        
            <dt>
                
                    <code>Array</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.disabled]
                

                
                </label>
                
                    IDs of the tabs that will be disabled on creation
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.onBeforeChange]
                

                
                </label>
                
                    Callback to be executed before changing tabs
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.onChange]
                

                
                </label>
                
                    Callback to be executed after changing tabs
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="monospace">[options.triggerEventsOnLoad]
                

                
                </label>
                
                    Trigger the above events when the page is loaded.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <div class="ink-tabs top"> <!-- replace 'top' with 'bottom', 'left' or 'right' to place navigation -->
         
         <!-- put navigation first if using top, left or right positioning -->
         <ul class="tabs-nav">
             <li><a href="#home">Home</a></li>
             <li><a href="#news">News</a></li>
             <li><a href="#description">Description</a></li>
             <li><a href="#stuff">Stuff</a></li>
             <li><a href="#more_stuff">More stuff</a></li>
         </ul>
         
         <!-- Put your content second if using top, left or right navigation -->
         <div id="home" class="tabs-content"><p>Content</p></div>
         <div id="news" class="tabs-content"><p>Content</p></div>
         <div id="description" class="tabs-content"><p>Content</p></div>
         <div id="stuff" class="tabs-content"><p>Content</p></div>
         <div id="more_stuff" class="tabs-content"><p>Content</p></div>
         <!-- If you're using bottom navigation, switch the nav block with the content blocks -->
      
     </div>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Tabs_1'], function( Selector, Tabs ){
             var tabsElement = Ink.s('.ink-tabs');
             var tabsObj = new Tabs( tabsElement );
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-activeContentTab" class="box box-function">

    <h1 class="fw-300">
    
        
            .activeContentTab
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Returns the currently active section

(Each section contains content for a tab, and must have an `id` attribute)</p>
    

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-activeMenuLink" class="box box-function">

    <h1 class="fw-300">
    
        
            .activeMenuLink
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Returns the currently active Menu link (the links which the user clicks on to change tabs)</p>
    

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-activeMenuTab" class="box box-function">

    <h1 class="fw-300">
    
        
            .activeMenuTab
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    
        <span class="tag">deprecated</span>
    

    
        <p class="text">(This method is deprecated)

Returns the parent of the currently active menu link.

This is useful if you want to have `li` elements wrapping your links
and want to access the currently visible one.</p>
    

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-activeTab" class="box box-function">

    <h1 class="fw-300">
    
        
            .activeTab
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Returns the active tab id</p>
    

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-changeTab" class="box box-function">

    <h1 class="fw-300">
    
        
            .changeTab
        
    
    (selector)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Changes to the desired tag

Pass a selector/element identifying what tab you want</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">selector
                

                
                </label>
                
                    Selector of the desired tab or the link that links to it
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-destroy" class="box box-function">

    <h1 class="fw-300">
    
        
            .destroy
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    

    
    

    
        <p class="text">Unregisters the component and removes its markup from the DOM</p>
    

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-disable" class="box box-function">

    <h1 class="fw-300">
    
        
            .disable
        
    
    (selector)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Disables the desired tag</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">selector
                

                
                </label>
                
                    the id of the desired tab or the link that links to it
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_UI_Tabs_1-Ink_UI_Tabs-enable" class="box box-function">

    <h1 class="fw-300">
    
        
            .enable
        
    
    (selector)
    
        
            <i>method</i>
        
    
    </h1>

    
    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        selector
        
        
        </li>
        
    </ul>
    

    
    

    
        <p class="text">Enables the desired tag</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                
                
                <label class="monospace">selector
                

                
                </label>
                
                    The id of the desired tab or the link that links to it
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

