

    
        <section>
        <h1 class="fw-300">Ink.UI.ProgressBar_1 <small>version: 1</small></h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Methods</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_UI_ProgressBar_1-Ink_UI_ProgressBar-ProgressBar">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_UI_ProgressBar_1-Ink_UI_ProgressBar-setValue">
                        
                            .setValue
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets the value of the Progressbar

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Associated to a .ink-progress-bar element, it provides the necessary
method - setValue() - for the user to change the element's value.</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.UI.ProgressBar
    
    (selector, [options], )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String|DOMElement</code>
                
            </dt>
            <dd>
                
                <label>selector
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options]
                

                
                </label>
                
                    Options
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.startValue]
                

                
                </label>
                
                    Percentage of the bar that is filled. Range between 0 and 100. Default: 0
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.onStart]
                

                
                </label>
                
                    Callback that is called when a change of value is started
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                <label class="optional">[options.onEnd]
                

                
                </label>
                
                    Callback that is called when a change of value ends
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     <div class="ink-progress-bar grey" data-start-value="70%">
         <span class="caption">I am a grey progress bar</span>
         <div class="bar grey"></div>
     </div>
     <script>
         Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.ProgressBar_1'], function( Selector, ProgressBar ){
             var progressBarElement = Ink.s('.ink-progress-bar');
             var progressBarObj = new ProgressBar( progressBarElement );
         });
     </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h1 class="fw-300">
    
        
            Ink.UI.ProgressBar.setValue
        
    
    (newValue)
    
        
            <i>method</i>
        
    
    </h1>

    
    

    
        <p class="text">Sets the value of the Progressbar</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                <label>newValue
                

                
                </label>
                
                    Numeric value, between 0 and 100, that represents the percentage of the bar.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>



    

    

    

