

    
        <section>
        <h1 class="fw-300">Ink.Dom.FormSerialize </h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_FormSerialize-Ink_Dom_FormSerialize-fillIn">
                        
                            .fillIn
                        
                        
                    </a>
                </td>
                <td>
                    

                    Sets form elements's values with values given from object

One cannot restore the values of an input with `type="file"` (browser prohibits it)

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Dom_FormSerialize-Ink_Dom_FormSerialize-serialize">
                        
                            .serialize
                        
                        
                    </a>
                </td>
                <td>
                    

                    Serializes a form into an object, turning field names into keys, and field values into values.

note: Multi-select and checkboxes with multiple values will yield arrays

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">Supports serialization of form data to/from javascript Objects.

Valid applications are ad hoc AJAX/syndicated submission of forms, restoring form values from server side state, etc.</div>








    <section class="box box-function">

    <h2>
    
        
            Ink.Dom.FormSerialize.fillIn
        
    
    (form, map2)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>DomElement|String</pre>
                

                
                    <label>form
                

                
                </label>

                
                    <span class="description">form element which is to be populated</span>
                
            </li>
        
            <li>
                
                    <pre>Object</pre>
                

                
                    <label>map2
                

                
                </label>

                
                    <span class="description">map of fieldName -> String|String[]|Boolean</span>
                
            </li>
        
        </ul>
    

    

    
        <p class="text">Sets form elements's values with values given from object

One cannot restore the values of an input with `type="file"` (browser prohibits it)</p>
    

    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <form id="frm">
        <input type="text" name="field1">
        <button type="submit">Submit</button>
    </form>
    <script type="text/javascript">
        Ink.requireModules(['Ink.Dom.FormSerialize_1'], function (FormSerialize) {
            var values = {field1: 'CTHULHU'};
            FormSerialize.fillIn('frm', values);
            // At this point the form is pre-filled with the values above.
        });
    </script>
{% endraw %}{% endhighlight %}




    

</section>

    <section class="box box-function">

    <h2>
    
        
            Ink.Dom.FormSerialize.serialize
        
    
    (form)
    
        
            <i>method</i>
        
    
    </h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>DomElement|String</pre>
                

                
                    <label>form
                

                
                </label>

                
                    <span class="description">form element from which the extraction is to occur</span>
                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <p class="text">Serializes a form into an object, turning field names into keys, and field values into values.

note: Multi-select and checkboxes with multiple values will yield arrays</p>
    

    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    <form id="frm">
        <input type="text" name="field1">
        <button type="submit">Submit</button>
    </form>
    <script type="text/javascript">
        Ink.requireModules(['Ink.Dom.FormSerialize_1', 'Ink.Dom.Event_1'], function (FormSerialize, InkEvent) {
            InkEvent.observe('frm', 'submit', function (event) {
                var formData = FormSerialize.serialize('frm'); // -> {field1:"123"}
                InkEvent.stop(event);
            });
        });
    </script>
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

