

    
        <section>
        <h1 class="fw-300">Ink.Net.JsonP_1 </h1>
    



    

    

    


    


    

    



    
            
    <table class="props bottom-space">
        
        
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>

        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Net_JsonP_1-Ink_Net_JsonP-JsonP">
                        
                            
                        
                        
                    </a>
                </td>
                <td>
                    

                    

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>



    <div class="text">This class takes care of the nitty-gritty details of doing jsonp requests: Storing
a callback in a globally accessible manner, waiting for the timeout or completion
of the request, and passing extra GET parameters to the server, is not so complicated
but it's boring and repetitive to code and tricky to get right.</div>








    <section class="box box-function">

    <h1 class="fw-300">
    
        Ink.Net.JsonP
    
    (uri, options, )
    
        <i>constructor</i>
    
    </h1>

    
    

    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>uri
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label>options
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label>options.onSuccess
                

                
                </label>
                
                    success callback
                
            </dd>
        
            <dt>
                
                    <code>Function</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.onFailure]
                

                
                </label>
                
                    failure callback
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.failureObj]
                

                
                </label>
                
                    object to be passed as argument to failure callback
                
            </dd>
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.timeout]
                

                
                </label>
                
                    timeout for request fail, in seconds. defaults to 10
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.params]
                

                
                </label>
                
                    object with the parameters and respective values to unfold
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.callbackParam]
                

                
                </label>
                
                    parameter to use as callback. defaults to 'jsoncallback'
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.internalCallback]
                

                
                </label>
                
                    *Advanced*: name of the callback function stored in the Ink.Net.JsonP object.
                
            </dd>
        
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
     Ink.requireModules(['Ink.Net.JsonP_1'], function (JsonP) {
         var jsonp = new JsonP('http://path.to.jsonp/endpoint', {
             // When the JSONP response arrives, this callback is called:
             onSuccess: function (gameData) {
                 game.startGame(gameData);
             },
             // after options.timeout seconds, this callback gets called:
             onFailure: function () {
                 game.error('Could not load game data!');
             },
             timeout: 5
         });
     });
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

