

    
        <h1 class="fw-300">Ink.Util.Cookie_1 <small>version: 1</small></h1>
    

    

    

    


    


    

    



    
        <section>

    
    <table class="props bottom-space">
        
        
        <caption>METHODS</caption>
        <thead>
            <tr>
                <th>Method name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Cookie_1-Ink_Util_Cookie-get">
                        
                            .get
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Gets an object with current page cookies</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Cookie_1-Ink_Util_Cookie-remove">
                        
                            .remove
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Delete a cookie</p>


                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Cookie_1-Ink_Util_Cookie-set">
                        
                            .set
                        
                        
                    </a>
                </td>
                <td>
                    

                    <p>Sets a cookie</p>


                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    


    
        <div class="text"><p>Utilities for Cookie handling</p>
</div>
    

    
    



    
        <div class="box box-function">

    <h2><a name="Ink_Util_Cookie_1-Ink_Util_Cookie-get">
    
        
            Ink.Util.Cookie.get
        
    
    (name)
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>name
                

                
                </label>

                
            </li>
        
        </ul>
    

    
        <div class="return">
            Returns 
            
                <pre>String|Object</pre>
            
            
                <span class="description"></span>
            
        </div>
    

    
        <span class="text"><p>Gets an object with current page cookies</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Cookie_1'], function( InkCookie ){
        var myCookieValue = InkCookie.get('someVarThere');
        console.log( myCookieValue ); // This will output the value of the cookie 'someVarThere', from the cookie object.
    });
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_Cookie_1-Ink_Util_Cookie-remove">
    
        
            Ink.Util.Cookie.remove
        
    
    (cookieName, [path], [domain])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>cookieName
                

                
                </label>

                
                    <span class="description">Cookie name</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[path]
                

                
                </label>

                
                    <span class="description">Path of the cookie (default '/')</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[domain]
                

                
                </label>

                
                    <span class="description">Domain of the cookie (default current hostname)</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Delete a cookie</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Cookie_1'], function( InkCookie ){
        InkCookie.remove( 'someVarThere' );
    });
{% endraw %}{% endhighlight %}
</div>




    

</div>

    
        <div class="box box-function">

    <h2><a name="Ink_Util_Cookie_1-Ink_Util_Cookie-set">
    
        
            Ink.Util.Cookie.set
        
    
    (name, value, [expires], [path], [domain], [secure])
    
        
            <i>method</i>
        
    
    </a></h2>

    
    

    
        <!--<h3>Parameters:</h3>-->
        <ul class="params">
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>name
                

                
                </label>

                
                    <span class="description">Cookie name</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label>value
                

                
                </label>

                
                    <span class="description">Cookie value</span>
                
            </li>
        
            <li>
                
                    <pre>Number</pre>
                

                
                    <label class="optional">[expires]
                

                
                </label>

                
                    <span class="description">Number to add to current Date in seconds</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[path]
                

                
                </label>

                
                    <span class="description">Path to sets cookie (default '/')</span>
                
            </li>
        
            <li>
                
                    <pre>String</pre>
                

                
                    <label class="optional">[domain]
                

                
                </label>

                
                    <span class="description">Domain to sets cookie (default current hostname)</span>
                
            </li>
        
            <li>
                
                    <pre>Boolean</pre>
                

                
                    <label class="optional">[secure]
                

                
                </label>

                
                    <span class="description">True if wants secure, default 'false'</span>
                
            </li>
        
        </ul>
    

    

    
        <span class="text"><p>Sets a cookie</p>
</span>
    

    
<p class="example-title">Example</p>
  
<div class="example bottom-space">
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Cookie_1'], function( InkCookie ){
        var expireDate = new Date( 2014,00,01, 0,0,0);
        InkCookie.set( 'someVarThere', 'anyValueHere', expireDate.getTime() );
    });
{% endraw %}{% endhighlight %}
</div>




    

</div>

    

    
</section>
    

    

    

