

    
        <section>
        <h1 class="fw-300">Ink.Util.Validator_1 <small>version: 1</small></h1>
    

    

    


    


    

    



    
            

    
    <p>Set of functions to provide validation</p>
    
    
    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please refer to <a href="/javascript/ink/#Ink_1-Ink_1-requireModules">stuff</a></p>

    
    <table class="props bottom-space">
        
        
        <caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>

        
        
        <tbody>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-ascii">
                        
                            .ascii
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks that a field only contains only ASCII alphanumeric
characters. Takes options for allowing singleline whitespace,
cross-line whitespace and punctuation.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-checkCharacterGroups">
                        
                            .checkCharacterGroups
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a field has the required groups. Takes an options object for further configuration.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-codPostal">
                        
                            .codPostal
                        
                        
                    </a>
                </td>
                <td>
                    

                    Validates if a zip code is valid in Portugal

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-createRegExp">
                        
                            .createRegExp
                        
                        
                    </a>
                </td>
                <td>
                    

                    Create a regular expression for several character groups.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-isAOPhone">
                        
                            .isAOPhone
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a phone is valid in Angola

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-isCVPhone">
                        
                            .isCVPhone
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a phone is valid in Cabo Verde

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-isColor">
                        
                            .isColor
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a string is a valid color

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-isCreditCard">
                        
                            .isCreditCard
                        
                        
                    </a>
                </td>
                <td>
                    

                    Validates if a number is of a specific credit card

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-isDate">
                        
                            .isDate
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks is a date is valid in a given format

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-isIP">
                        
                            .isIP
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if the value is a valid IP. Supports ipv4 and ipv6

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-isMZPhone">
                        
                            .isMZPhone
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a phone is valid in Mozambique

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-isPTPhone">
                        
                            .isPTPhone
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a phone is valid in Portugal

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-isPhone">
                        
                            .isPhone
                        
                        
                    </a>
                </td>
                <td>
                    

                    Validates the function in all country codes available or in the ones set in the second param

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-isPortuguesePhone">
                        
                            .isPortuguesePhone
                        
                        
                    </a>
                </td>
                <td>
                    

                    Alias function for isPTPhone

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-isTLPhone">
                        
                            .isTLPhone
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a phone is valid in Timor

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-latin1">
                        
                            .latin1
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks that a field only contains only latin-1 alphanumeric
characters. Takes options for allowing singleline whitespace,
cross-line whitespace and punctuation.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-mail">
                        
                            .mail
                        
                        
                    </a>
                </td>
                <td>
                    

                    Deprecated. Alias for email(). Use it instead.

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-mail">
                        
                            .mail
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a email is valid

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-number">
                        
                            .number
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks that the number is a valid number

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-unicode">
                        
                            .unicode
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks whether a field contains unicode printable characters. Takes an
options object for further configuration

                    
                    
                </td>
            </tr>
        
            <tr>
                <td>
                    <a href="#Ink_Util_Validator_1-Ink_Util_Validator-url">
                        
                            .url
                        
                        
                    </a>
                </td>
                <td>
                    

                    Checks if a url is valid

                    
                    
                </td>
            </tr>
        
        </tbody>
    </table>
    

    
</section>







    <section id="Ink_Util_Validator_1-Ink_Util_Validator-ascii" class="box box-function">

    <h1 class="fw-300">
    
        
            .ascii
        
    
    (s, [options])
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        s
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks that a field only contains only ASCII alphanumeric
characters. Takes options for allowing singleline whitespace,
cross-line whitespace and punctuation.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>s
                

                
                </label>
                
                    The validation string
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                    {}
                
                </label>
                
                    Optional configuration object. See createRegexp
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-checkCharacterGroups" class="box box-function">

    <h1 class="fw-300">
    
        
            .checkCharacterGroups
        
    
    (s, [groups])
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        s
        
        
        </li>
        
        <li class="prop">
        
        [
        groups
        ]
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a field has the required groups. Takes an options object for further configuration.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>s
                

                
                </label>
                
                    The validation string
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[groups]
                

                
                    {}
                
                </label>
                
                    What groups are included. See createRegexp
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-codPostal" class="box box-function">

    <h1 class="fw-300">
    
        
            .codPostal
        
    
    (cp1, cp2, returnBothResults)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        cp1
        
        
        </li>
        
        <li class="prop">
        
        
        cp2
        
        
        </li>
        
        <li class="prop">
        
        
        returnBothResults
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Validates if a zip code is valid in Portugal</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number|String</code>
                
            </dt>
            <dd>
                
                
                
                <label>cp1
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>optional Number|String</code>
                
            </dt>
            <dd>
                
                
                
                <label>cp2
                

                
                </label>
                
            </dd>
        
            <dt>
                
                    <code>optional Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label>returnBothResults
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.codPostal( '1069', '300' ) );        // Result: true
        console.log( InkValidator.codPostal( '1069', '300', true ) );  // Result: [true, true]
    });

{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-createRegExp" class="box box-function">

    <h1 class="fw-300">
    
        
            .createRegExp
        
    
    (Groups*)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        Groups*
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Create a regular expression for several character groups.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
            </dt>
            <dd>
                
                
                
                <label>Groups*
                

                
                </label>
                
                    {Object}
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-isAOPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isAOPhone
        
    
    (phone)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a phone is valid in Angola</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isAOPhone( '244222396385' ) );     // Result: true
        console.log( InkValidator.isAOPhone( '00244222396385' ) );   // Result: true
        console.log( InkValidator.isAOPhone( '+244222396385' ) );    // Result: true
        console.log( InkValidator.isAOPhone( '1' ) );                // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-isCVPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isCVPhone
        
    
    (phone)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a phone is valid in Cabo Verde</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isCVPhone( '2610303' ) );        // Result: true
        console.log( InkValidator.isCVPhone( '002382610303' ) );   // Result: true
        console.log( InkValidator.isCVPhone( '+2382610303' ) );    // Result: true
        console.log( InkValidator.isCVPhone( '1' ) );              // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-isColor" class="box box-function">

    <h1 class="fw-300">
    
        
            .isColor
        
    
    (str)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        str
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a string is a valid color</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>str
                

                
                </label>
                
                    Color string to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isColor( '#FF00FF' ) );        // Result: true
        console.log( InkValidator.isColor( 'amdafasfs' ) );      // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-isCreditCard" class="box box-function">

    <h1 class="fw-300">
    
        
            .isCreditCard
        
    
    (num, creditCardType)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        num
        
        
        </li>
        
        <li class="prop">
        
        
        creditCardType
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Validates if a number is of a specific credit card</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>num
                

                
                </label>
                
                    Number to be validates
                
            </dd>
        
            <dt>
                
                    <code>String|Array</code>
                
            </dt>
            <dd>
                
                
                
                <label>creditCardType
                

                
                </label>
                
                    Credit card type. See _creditCardSpecs for the list of supported values.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-isDate" class="box box-function">

    <h1 class="fw-300">
    
        
            .isDate
        
    
    (format, dateStr)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        format
        
        
        </li>
        
        <li class="prop">
        
        
        dateStr
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks is a date is valid in a given format</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>format
                

                
                </label>
                
                    - defined in _dateParsers
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>dateStr
                

                
                </label>
                
                    - date string
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isDate( 'yyyy-mm-dd', '2012-05-21' ) );        // Result: true
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-isIP" class="box box-function">

    <h1 class="fw-300">
    
        
            .isIP
        
    
    (value, ipType)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        value
        
        
        </li>
        
        <li class="prop">
        
        
        ipType
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if the value is a valid IP. Supports ipv4 and ipv6</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>value
                

                
                </label>
                
                    Value to be checked
                
            </dd>
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>ipType
                

                
                </label>
                
                    Type of IP to be validated. The values are: ipv4, ipv6. By default is ipv4.
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-isMZPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isMZPhone
        
    
    (phone)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a phone is valid in Mozambique</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isMZPhone( '21426861' ) );        // Result: true
        console.log( InkValidator.isMZPhone( '0025821426861' ) );   // Result: true
        console.log( InkValidator.isMZPhone( '+25821426861' ) );    // Result: true
        console.log( InkValidator.isMZPhone( '1' ) );              // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-isPTPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isPTPhone
        
    
    (phone)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a phone is valid in Portugal</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isPTPhone( '213919264' ) );        // Result: true
        console.log( InkValidator.isPTPhone( '00351213919264' ) );   // Result: true
        console.log( InkValidator.isPTPhone( '+351213919264' ) );    // Result: true
        console.log( InkValidator.isPTPhone( '1' ) );                // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-isPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isPhone
        
    
    (phone, country)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
        <li class="prop">
        
        
        country
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Validates the function in all country codes available or in the ones set in the second param</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    number
                
            </dd>
        
            <dt>
                
                    <code>optional String|Array</code>
                
            </dt>
            <dd>
                
                
                
                <label>country
                

                
                </label>
                
                    or array of countries to validate
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isPhone( '6703331234' ) );        // Result: true
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-isPortuguesePhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isPortuguesePhone
        
    
    (phone)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Alias function for isPTPhone</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isPortuguesePhone( '213919264' ) );        // Result: true
        console.log( InkValidator.isPortuguesePhone( '00351213919264' ) );   // Result: true
        console.log( InkValidator.isPortuguesePhone( '+351213919264' ) );    // Result: true
        console.log( InkValidator.isPortuguesePhone( '1' ) );                // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-isTLPhone" class="box box-function">

    <h1 class="fw-300">
    
        
            .isTLPhone
        
    
    (phone)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        phone
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a phone is valid in Timor</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>Number</code>
                
            </dt>
            <dd>
                
                
                
                <label>phone
                

                
                </label>
                
                    Phone number to be checked
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.isTLPhone( '6703331234' ) );     // Result: true
        console.log( InkValidator.isTLPhone( '006703331234' ) );   // Result: true
        console.log( InkValidator.isTLPhone( '+6703331234' ) );    // Result: true
        console.log( InkValidator.isTLPhone( '1' ) );              // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-latin1" class="box box-function">

    <h1 class="fw-300">
    
        
            .latin1
        
    
    (s, [options])
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        s
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks that a field only contains only latin-1 alphanumeric
characters. Takes options for allowing singleline whitespace,
cross-line whitespace and punctuation.</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>s
                

                
                </label>
                
                    The validation string
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                    {}
                
                </label>
                
                    Optional configuration object. See createRegexp
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-mail" class="box box-function">

    <h1 class="fw-300">
    
        
            .mail
        
    
    ()
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
    </ul>

    
    

    
        <p class="text">Deprecated. Alias for email(). Use it instead.</p>
    

    


    


    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-mail" class="box box-function">

    <h1 class="fw-300">
    
        
            .mail
        
    
    (email)
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        email
        
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a email is valid</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>email
                

                
                </label>
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.email( 'agfsdfgfdsgdsf' ) ); // Result: false
        console.log( InkValidator.email( 'inkdev\u0040sapo.pt' ) ); // Result: true (where \u0040 is at sign)
    });
{% endraw %}{% endhighlight %}




    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-number" class="box box-function">

    <h1 class="fw-300">
    
        
            .number
        
    
    (numb, [options], )
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        numb
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
        <li class="prop">
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks that the number is a valid number</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>numb
                

                
                </label>
                
                    The number
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                </label>
                
                    Further options
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.decimalSep]
                

                
                    &#x27;.&#x27;
                
                </label>
                
                    Allow decimal separator.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.thousandSep]
                

                
                    &quot;,&quot;
                
                </label>
                
                    Strip this character from the number.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.negative]
                

                
                    false
                
                </label>
                
                    Allow negative numbers.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.decimalPlaces]
                

                
                    null
                
                </label>
                
                    Maximum number of decimal places. Use `0` for an integer number.
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.max]
                

                
                    null
                
                </label>
                
                    Maximum number
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.min]
                

                
                    null
                
                </label>
                
                    Minimum number
                
            </dd>
        
            <dt>
                
            </dt>
            <dd>
                
                    teste
                
                
                
                <label class="optional">[options.returnNumber]
                

                
                    false
                
                </label>
                
                    When this option is true, return the number itself when the value is valid.
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-unicode" class="box box-function">

    <h1 class="fw-300">
    
        
            .unicode
        
    
    (s, [options])
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        s
        
        
        </li>
        
        <li class="prop">
        
        [
        options
        ]
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks whether a field contains unicode printable characters. Takes an
options object for further configuration</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>s
                

                
                </label>
                
                    The validation string
                
            </dd>
        
            <dt>
                
                    <code>Object</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[options]
                

                
                    {}
                
                </label>
                
                    Optional configuration object. See createRegexp
                
            </dd>
        
        </dl>
        
        

    


    


    

</section>

    <section id="Ink_Util_Validator_1-Ink_Util_Validator-url" class="box box-function">

    <h1 class="fw-300">
    
        
            .url
        
    
    (url, [full])
    
        
            <i>method</i>
        
    
    </h1>

    <ul class="props inline">
        <li class="heading">Arguments:</li>
        
        <li class="prop">
        
        
        url
        
        
        </li>
        
        <li class="prop">
        
        [
        full
        ]
        
        </li>
        
    </ul>

    
    

    
        <p class="text">Checks if a url is valid</p>
    

    
        <h3>Accepts</h3>
        <dl class="params">
        
            <dt>
                
                    <code>String</code>
                
            </dt>
            <dd>
                
                
                
                <label>url
                

                
                </label>
                
                    URL to be checked
                
            </dd>
        
            <dt>
                
                    <code>Boolean</code>
                
            </dt>
            <dd>
                
                
                
                <label class="optional">[full]
                

                
                </label>
                
                    If true, validates a full URL (one that should start with 'http')
                
            </dd>
        
        </dl>
        
        <h3>Returns</h3>
        <dl>
            <dt class="return">
                <code>Boolean</code>
            </dt>                
            <dd>   
                
                    
                
            </dd>
        </dl>
        
        

    


    
<p class="example-title">Example</p>
  
{% highlight html %}{% raw %}
    Ink.requireModules(['Ink.Util.Validator_1'], function( InkValidator ){
        console.log( InkValidator.url( 'www.sapo.pt' ) );                // Result: true
        console.log( InkValidator.url( 'http://www.sapo.pt', true ) );   // Result: true
        console.log( InkValidator.url( 'meh' ) );                        // Result: false
    });
{% endraw %}{% endhighlight %}




    

</section>



    

    

    

