/*  |||||||||||||||||||||||||||||  Base Sizes   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* color Variables */
/* Estes valores têm que ser em rbackgrounda */
/* Botões*/
/*  |||||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tables   ||||||||||||||||||||||||||| */
/* Functions */
/*|||||||||||||||||||||| Buttons Styles ||||||||||||||||||||||*/
a.default-button {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.default-button,
input[type=submit],
input[type=button],
button {
  font-weight: bold;
  padding: 0.5em 1em;
  float: none;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #fff;
  background: #eeeeee;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#eeeeee', endcolorstr='#c8c8c8');
  background: -moz-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  background: linear-gradient(top, #eeeeee 0%, #c8c8c8 100%);
  border-color: #c8c8c8;
  border-bottom-color: #aeaeae;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 1px 0 #ffffff;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.default-button:hover,
input[type=submit]:hover,
input[type=button]:hover,
button:hover {
  background: #ffffff;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#ffffff', endcolorstr='#c8c8c8');
  background: -moz-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #c8c8c8));
  background: -webkit-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  background: linear-gradient(top, #ffffff 0%, #c8c8c8 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
.default-button:active,
input[type=submit]:active,
input[type=button]:active,
button:active {
  background: #dcdcdc;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#dcdcdc', endcolorstr='#ffffff');
  background: -moz-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dcdcdc), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  background: linear-gradient(top, #dcdcdc 0%, #ffffff 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
input[type=submit].button-success,
.button-success,
input[type=button].button-success,
a.button-success {
  color: #fff;
  background: #9dce62;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#9dce62', endcolorstr='#77ad36');
  background: -moz-linear-gradient(top, #9dce62 0%, #77ad36 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9dce62), color-stop(100%, #77ad36));
  background: -webkit-linear-gradient(top, #9dce62 0%, #77ad36 100%);
  background: -o-linear-gradient(top, #9dce62 0%, #77ad36 100%);
  background: -ms-linear-gradient(top, #9dce62 0%, #77ad36 100%);
  background: linear-gradient(top, #9dce62 0%, #77ad36 100%);
  border-color: #77ad36;
  border-bottom-color: #5d872a;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
input[type=submit].button-success:hover,
.button-success:hover,
input[type=button].button-success:hover,
a.button-success:hover {
  background: #b5da89;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#b5da89', endcolorstr='#77ad36');
  background: -moz-linear-gradient(top, #b5da89 0%, #77ad36 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b5da89), color-stop(100%, #77ad36));
  background: -webkit-linear-gradient(top, #b5da89 0%, #77ad36 100%);
  background: -o-linear-gradient(top, #b5da89 0%, #77ad36 100%);
  background: -ms-linear-gradient(top, #b5da89 0%, #77ad36 100%);
  background: linear-gradient(top, #b5da89 0%, #77ad36 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
input[type=submit].button-success:active,
.button-success:active,
input[type=button].button-success:active,
a.button-success:active {
  background: #8cc647;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#8cc647', endcolorstr='#aed67d');
  background: -moz-linear-gradient(top, #8cc647 0%, #aed67d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8cc647), color-stop(100%, #aed67d));
  background: -webkit-linear-gradient(top, #8cc647 0%, #aed67d 100%);
  background: -o-linear-gradient(top, #8cc647 0%, #aed67d 100%);
  background: -ms-linear-gradient(top, #8cc647 0%, #aed67d 100%);
  background: linear-gradient(top, #8cc647 0%, #aed67d 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
input[type=submit].button-info,
.button-info,
input[type=button].button-info,
a.button-info {
  color: #fff;
  background: #479cd8;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#479cd8', endcolorstr='#2575ae');
  background: -moz-linear-gradient(top, #479cd8 0%, #2575ae 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #479cd8), color-stop(100%, #2575ae));
  background: -webkit-linear-gradient(top, #479cd8 0%, #2575ae 100%);
  background: -o-linear-gradient(top, #479cd8 0%, #2575ae 100%);
  background: -ms-linear-gradient(top, #479cd8 0%, #2575ae 100%);
  background: linear-gradient(top, #479cd8 0%, #2575ae 100%);
  border-color: #2575ae;
  border-bottom-color: #1c5984;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
input[type=submit].button-info:hover,
.button-info:hover,
input[type=button].button-info:hover,
a.button-info:hover {
  background: #71b3e1;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#71b3e1', endcolorstr='#2575ae');
  background: -moz-linear-gradient(top, #71b3e1 0%, #2575ae 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #71b3e1), color-stop(100%, #2575ae));
  background: -webkit-linear-gradient(top, #71b3e1 0%, #2575ae 100%);
  background: -o-linear-gradient(top, #71b3e1 0%, #2575ae 100%);
  background: -ms-linear-gradient(top, #71b3e1 0%, #2575ae 100%);
  background: linear-gradient(top, #71b3e1 0%, #2575ae 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
input[type=submit].button-info:active,
.button-info:active,
input[type=button].button-info:active,
a.button-info:active {
  background: #2c8ccf;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#2c8ccf', endcolorstr='#64acde');
  background: -moz-linear-gradient(top, #2c8ccf 0%, #64acde 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c8ccf), color-stop(100%, #64acde));
  background: -webkit-linear-gradient(top, #2c8ccf 0%, #64acde 100%);
  background: -o-linear-gradient(top, #2c8ccf 0%, #64acde 100%);
  background: -ms-linear-gradient(top, #2c8ccf 0%, #64acde 100%);
  background: linear-gradient(top, #2c8ccf 0%, #64acde 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
input[type=submit].button-delete,
.button-delete,
input[type=button].button-delete,
a.button-delete {
  color: #fff;
  background: #eb6363;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#eb6363', endcolorstr='#e21f1f');
  background: -moz-linear-gradient(top, #eb6363 0%, #e21f1f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb6363), color-stop(100%, #e21f1f));
  background: -webkit-linear-gradient(top, #eb6363 0%, #e21f1f 100%);
  background: -o-linear-gradient(top, #eb6363 0%, #e21f1f 100%);
  background: -ms-linear-gradient(top, #eb6363 0%, #e21f1f 100%);
  background: linear-gradient(top, #eb6363 0%, #e21f1f 100%);
  border-color: #e21f1f;
  border-bottom-color: #b71717;
  text-shadow: 0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
input[type=submit].button-delete:hover,
.button-delete:hover,
input[type=button].button-delete:hover,
a.button-delete:hover {
  background: #f19090;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#f19090', endcolorstr='#e21f1f');
  background: -moz-linear-gradient(top, #f19090 0%, #e21f1f 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f19090), color-stop(100%, #e21f1f));
  background: -webkit-linear-gradient(top, #f19090 0%, #e21f1f 100%);
  background: -o-linear-gradient(top, #f19090 0%, #e21f1f 100%);
  background: -ms-linear-gradient(top, #f19090 0%, #e21f1f 100%);
  background: linear-gradient(top, #f19090 0%, #e21f1f 100%);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1),  inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 0em .5em rgba(255, 255, 255, 0.5);
}
input[type=submit].button-delete:active,
.button-delete:active,
input[type=button].button-delete:active,
a.button-delete:active {
  background: #e74343;
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr='#e74343', endcolorstr='#ef8383');
  background: -moz-linear-gradient(top, #e74343 0%, #ef8383 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e74343), color-stop(100%, #ef8383));
  background: -webkit-linear-gradient(top, #e74343 0%, #ef8383 100%);
  background: -o-linear-gradient(top, #e74343 0%, #ef8383 100%);
  background: -ms-linear-gradient(top, #e74343 0%, #ef8383 100%);
  background: linear-gradient(top, #e74343 0%, #ef8383 100%);
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
}
.medium-button {
  font-size: 1.5em;
}
.big-button {
  font-size: 1.75em;
}
