.ink-clearfix,
.ink-container,
.ink-space,
.ink-g100 {
  zoom: 1;
}

.h_navigation li {
  display: inline;
  list-style: none!important;
}

.block-alert-msg .close {
  position: absolute;
  top: 0;
  right: 0;
}

.block-alert-msg {
  position: relative;
  border: 1px solid #eee;
}

#topbar h1 a {
  text-decoration: none!important;
}
