/* INK: LARGE SCREENS */

@media screen and (min-width: 961px) {

	html body .ink-container {
		width: @ink-site-width;
		padding: 0 @ink-grid-gutter;
		margin: auto;
	}

	html body .ink-space  { margin: @ink-grid-gutter; *overflow:hidden; *clear:both; }
	html body .ink-vspace { margin-top: @ink-grid-gutter; margin-bottom: @ink-grid-gutter; }
	html body .ink-hspace { margin-left: @ink-grid-gutter; margin-right: @ink-grid-gutter; }
	html body .ink-gutter { margin-left: @ink-grid-gutter; }

	html body .ink-row {
		margin-left: -@ink-grid-gutter;
	}

	html body .ink-container .ink-l100	{ width:auto; max-width: 100%; clear:both; *overflow:hidden }
	html body .ink-container .ink-l90	{ width: 90%; }
	html body .ink-container .ink-l80   { width: 80%; }
	html body .ink-container .ink-l75	{ width: 75%; }
	html body .ink-container .ink-l70	{ width: 70%; }
	html body .ink-container .ink-l66	{ width: 66.66%; }
	html body .ink-container .ink-l60	{ width: 60%; }                           
	html body .ink-container .ink-l50	{ width: 50%; }
	html body .ink-container .ink-l40	{ width: 40%; }
	html body .ink-container .ink-l33	{ width: 33.33%; *margin-left:-1px; }
	html body .ink-container .ink-l30	{ width: 30%; }
	html body .ink-container .ink-l25	{ width: 25%; }
	html body .ink-container .ink-l20	{ width: 20%; }
	html body .ink-container .ink-l10	{ width: 10%; }

	html body .ink-container .ink-l10, 
	html body .ink-container .ink-l20, 
	html body .ink-container .ink-l25, 
	html body .ink-container .ink-l30, 
	html body .ink-container .ink-l33, 
	html body .ink-container .ink-l40, 
	html body .ink-container .ink-l50, 
	html body .ink-container .ink-l60, 
	html body .ink-container .ink-l66, 
	html body .ink-container .ink-l70, 
	html body .ink-container .ink-l75, 
	html body .ink-container .ink-l80, 
	html body .ink-container .ink-l90 { 
		float: left; 
		*zoom: 1; 
		*overflow:hidden
	}
	 
	html body .ink-container .ink-l100:empty,
	html body .ink-container .ink-l90:empty,
	html body .ink-container .ink-l80:empty,
	html body .ink-container .ink-l75:empty,
	html body .ink-container .ink-l70:empty,
	html body .ink-container .ink-l66:empty,
	html body .ink-container .ink-l60:empty,
	html body .ink-container .ink-l50:empty,
	html body .ink-container .ink-l40:empty,
	html body .ink-container .ink-l33:empty,
	html body .ink-container .ink-l30:empty,
	html body .ink-container .ink-l25:empty,
	html body .ink-container .ink-l20:empty,
	html body .ink-container .ink-l10:empty { 
		clear: both;
	}

	.ink-for-s, 
	.ink-for-m 
	{
		visibility: hidden;
		position: absolute;
		top: -99999px;
		left: -99999px;
	}

	.ink-for-l {
		visibility: visible;
		position: relative;
		top: auto;
		left: auto;
	}

}