<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.title }} - {{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="SAPO WEB & MEDIA DESIGN">

    <meta property="og:title" content="Ink - Interface Kit"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://ink.sapo.pt/"/>
    <meta property="og:image" content="http://imgs.sapo.pt/ink/assets/imgs/ink_opengraph.png"/>
    <meta property="og:site_name" content="Ink"/>
    <meta property="og:description" content="Ink is a set of tools for quick development of web interfaces.  It offers a fluid and responsive grid, common interface elements, interactive components, a design-first approach with ease of use and simplicity at its core. Start integrating Ink in your projects and remove the hassle of building the basics, staying free to focus on what's important. "/>
    
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" href="{{ page.base_path }}{{  site.images_path  }}ink-favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{ page.base_path }}{{  site.images_path  }}touch-icon.57.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ page.base_path }}{{  site.images_path  }}touch-icon.72.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ page.base_path }}{{  site.images_path  }}touch-icon.114.png">
    <link rel="apple-touch-startup-image" href="{{ page.base_path }}{{  site.images_path  }}splash.320x460.png" media="screen and (min-device-width: 200px) and (max-device-width: 320px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="{{ page.base_path }}{{  site.images_path  }}splash.768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="{{ page.base_path }}{{  site.images_path  }}splash.1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
        
    <!-- Load Documentation site CSS -->
    <link rel="stylesheet" type="text/css" href="{{ page.base_path }}{{  site.css_path  }}docs.css">  
    <link rel="stylesheet" type="text/css" href="{{ page.base_path }}{{  site.css_path  }}ink.css">
    <link rel="stylesheet" type="text/css" href="{{ page.base_path }}{{  site.css_path  }}snap.css">  
    <!-- <link rel="stylesheet/less" type="text/css" href="slider.less" /> -->

    <!--[if lte IE 7 ]>
        <link rel="stylesheet" href="{{ page.base_path }}{{  site.css_path  }}ink-ie7-min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <![endif]-->

    <script type="text/javascript" src="{{ page.base_path }}{{ site.js_path }}modernizr.js"></script>
    <script type="text/javascript" src="{{ page.base_path }}{{ site.js_path }}lunr.min.js"></script>
    <script type="text/javascript" src="{{ page.base_path }}{{ site.js_path }}prettify.js"></script>
    <script type="text/javascript" src="{{ page.base_path }}{{ site.js_path }}test/ink-all.min.js"></script>
    <script type="text/javascript" src="{{ page.base_path }}{{ site.js_path }}autoload.js"></script>
    
   

</head>
<body onload="prettyPrint()">
    
    <div class="snap-drawers">
        <div class="snap-drawer snap-drawer-left">
            <ul>
                <li class="search">
                    <input placeholder="Search..." id="search" type="search"><span class="fa fa-search"></span>
                    <div class="ink-dropdown red" id="search-dropdown" style="display: none;">
                        <ul id="resultsList" class="dropdown-menu">
                            
                        </ul>
                    </div>
                </li>
                    
                <li class="heading">Getting started</li>
                <li><a href="#">Foundation</a></li>
                <li><a href="#">Practical Usage</a></li>
                <li><a href="#">Adding space</a></li>
                <li><a href="#">Aligning</a></li>
                <li><a href="#">Multiple Screens</a></li>
                <li><a href="#">Showing & hiding</a></li>
                
                <li class="heading">Typography</li>
                <li><a href="#">Fonts</a></li>
                <li><a href="#">Headings</a></li>
                <li><a href="#">Body & Hypertext</a></li>
                <li><a href="#">Lists</a></li>
                <li><a href="#">Utility Classes</a></li>
                <li><a href="#">Additional elements</a></li>
                
                <li class="heading">Navigation</li>
                <li><a href="#">Navigation basics</a></li>
                <li><a href="#">Submenus</a></li>
                <li><a href="#">Navigation styling</a></li>
                <li><a href="#">Horizontal menu</a></li>
                <li><a href="#">Vertical menu</a></li>
                <li><a href="#">Pagination</a></li>
                <li><a href="#">Pills</a></li>
                <li><a href="#">Breadcrumbs</a></li>
                <li><a href="#">Footer</a></li>
                <li><a href="#">Dropdowns</a></li>
                
                <li class="heading">Forms</li>
                <li><a href="#">Form building</a></li>
                <li><a href="#">Inline form</a></li>
                <li><a href="#">Required fields & warning</a></li>
                <li><a href="#">Checkboxes & radio buttons</a></li>
                <li><a href="#">Buttons</a></li>
                <li><a href="#">Prepended and appended inputs</a></li>

                <li class="heading">Alerts</li>
                <li><a href="#">Basic alerts</a></li>
                <li><a href="#">Block alerts</a></li>
                
                <li class="heading">Tables</li>
                <li><a href="#">Table basics</a></li>
                <li><a href="#">Alternating</a></li>
                <li><a href="#">Highlight</a></li>
                <li><a href="#">Full borders</a></li>
                <li><a href="#">Combined</a></li> 
                <li><a href="#">Special</a></li> 

            </ul>
        </div>
    </div>

    <div id="content" class="snap-content">
        <div id="fb-root"></div>