  <!-- 
  <script type="text/javascript" src="http://js.sapo.pt/SAPOWebAnalytics/">
  </script>
  <script>
          SAPO.WebAnalytics.track({
              swakt: "{{ site.analytics }}"
          });
          SAPO.WebAnalytics.registerClick();
  </script>
  <script>
  (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=166477916796652";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
   -->
   <script type="text/javascript" src="{{ page.base_path }}{{ site.js_path }}search.js"></script>
   <script>
   var drawer = new Ink.UI.Drawer_1(
    {
            parentSelector: '.ink-drawer',
            leftDrawer: '.left-drawer',
            leftTrigger: '.left-drawer-trigger',
            rightDrawer: '.right-drawer',
            rightTrigger: '.right-drawer-trigger',
            contentDrawer: '.content-drawer',
            closeOnContentClick: true,
            drawerWidth: '300',
            duration: '300',
            easing: 'cubic-bezier(0.500, 0.000, 0.500, 1.000)',
            mode: 'push',
            sides: 'left',
          }
   );
   </script>
</body>
</html>
