<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="{{ site.cdn_url }}{{ site.version }}/js/modernizr.js"></script>
    <script type="text/javascript">
        Modernizr.load({
          test: Modernizr.flexbox,
          nope : '{{ site.cdn_url }}{{ site.version }}/css/ink-legacy.min.css'
        });
    </script>
    <link rel="stylesheet" type="text/css" href="{{ site.cdn_url }}{{ site.version }}/css/ink-flex.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.cdn_url }}{{ site.version }}/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.css_path }}docs.min.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if page.title == nil %}
    <title>{{ site.title }}</title>
    {% endif %}
    {% if page.title %}
    <title>{{ page.title }} - {{ site.title }}</title>
    {% endif %}
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="SAPO WEB & MEDIA DESIGN">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@inksapo">
    <meta name="twitter:title" content="Ink">
    <meta name="twitter:description" content="Create responsive web interfaces quick and efficiently.">
    <meta name="twitter:creator" content="@inksapo">
    <meta name="twitter:image:src" content="http://imgs.sapo.pt/ink/assets/imgs/ink_opengraph.png">
    <meta name="twitter:domain" content="{{ site.url }}">

    <meta property="og:title" content="Ink - Interface Kit"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:image" content="http://imgs.sapo.pt/ink/assets/imgs/ink_opengraph.png"/>
    <meta property="og:site_name" content="Ink"/>
    <meta property="og:description" content="Ink is a set of tools for quick development of web interfaces.  It offers a fluid and responsive grid, common interface elements, interactive components, a design-first approach with ease of use and simplicity at its core. Start integrating Ink in your projects and remove the hassle of building the basics, staying free to focus on what's important. "/>

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="shortcut icon" href="{{ site.images_path }}ink-favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="{{ site.images_path }}touch-icon.57.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.images_path }}touch-icon.72.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.images_path }}touch-icon.114.png">
    <link rel="apple-touch-startup-image" href="{{ site.images_path }}splash.320x460.png" media="screen and (min-device-width: 200px) and (max-device-width: 320px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="{{ site.images_path }}splash.768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-tousplash.1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">

    <!-- Load Documentation site CSS -->

    <!--[if lt IE 9 ]>
        <link rel="stylesheet" href="{{ site.cdn_url }}{{ site.version }}/css/ink-ie.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <![endif]-->

    <script type="text/javascript" src="{{ site.cdn_url }}{{ site.version }}/js/ink-all.min.js"></script>
</head>
<body class="ink-drawer">
