<div class="left-drawer">
    <ul>
        <li class="search">
            {% include search.html %}
        </li>

        {% for section in site.sections %}
        {% assign section_uri = section.title | downcase | replace:' ','-' %}

        <li{% if current_section[1] == section_uri %} class="active"{% endif %}>
            <a href="{{ site.url }}{{ section.title | downcase | replace:' ','-' }}/" title="{{ section.title }}">{{ section.title }}</a>
        </li>
        {% endfor %}

        {% include section-selector.html %}

        {% for component in section.components %}
        <li class="heading">{{ component.title }}{% if component.topics %}
            {% for topic in component.topics %}
              <li><a href="{{ site.url }}{{ section.title | downcase | replace: ' ','-' }}/{{ topic.title | replace: ' ','-' }}" title="{{ topic.title }}">{{ topic.title }}</a></li>{% endfor %}
            {% endif %}
        </li>
        {% endfor %}
        <li>
            <a class="ink-button blue" href="{{ site.download_url }}{{ site.version }}/ink-{{ site.version }}.zip" data-trackerlink="content|menujsdrawer|downloadzip">Download</a>
        </li>

    </ul>
</div>
