{% include section-selector.html %}

<ul class="menu vertical">{% for component in section.components %}
  <li class="heading">{{ component.title }}{% if component.topics %}
    <ul>{% for topic in component.topics %}{% if topic.title == 'Ink.UI.FormValidator_2' %}
      <li><a href="{{ site.url }}{{ section.title | downcase | replace: ' ','-' }}/{{ topic.title | replace: '.','_' | replace: ',','' }}.html" title="{{ topic.title }}">{{ topic.title }}</a></li>      
      {% else %}<li><a href="{{ site.url }}{{ section.title | downcase | replace: ' ','-' }}/{{ topic.title | replace: '.','_' | replace: ',','' }}_1.html" title="{{ topic.title }}">{{ topic.title }}</a></li>{% endif %}
      {% endfor %}
    </ul>{% endif %}
  </li>{% endfor %}
</ul>