<div class="left-drawer">
    <ul>
        <li class="search">
            <input placeholder="Search..." class="side-search-input" value="" type="search"><span class="fa fa-search"></span>
            <div class="ink-dropdown red side-search-results" style="display: none;">
                <ul class="dropdown-menu side-search-results-list">

                </ul>
            </div>
        </li>

        {% for link in site.navigation %}
        {% assign clean_url = page.url|remove:'index.html' %}
        <li class="heading">{{link.text}}</li>
        {% if link.sections %}
        {% for section in link.sections %}
        <li><a href="{{ section.url }}">{{section.text}}</a></li>        
        {% endfor %}
        {% endif %}
        {% endfor %}

        <!-- <li class="heading">Getting started</li>
        <li><a href="#">Practical Usage</a></li>
        <li><a href="#">Adding space</a></li>
        <li><a href="#">Aligning</a></li>
        <li><a href="#">Multiple Screens</a></li>
        <li><a href="#">Showing & hiding</a></li>

        <li class="heading">Typography</li>
        <li><a href="#">Fonts</a></li>
        <li><a href="#">Headings</a></li>
        <li><a href="#">Body & Hypertext</a></li>
        <li><a href="#">Lists</a></li>
        <li><a href="#">Utility Classes</a></li>
        <li><a href="#">Additional elements</a></li>

        <li class="heading">Glossary</li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">Javascript</a></li>

        <li class="heading">Forms</li>
        <li><a href="#">Form building</a></li>
        <li><a href="#">Inline form</a></li>
        <li><a href="#">Required fields & warning</a></li>
        <li><a href="#">Checkboxes & radio buttons</a></li>
        <li><a href="#">Buttons</a></li>
        <li><a href="#">Prepended and appended inputs</a></li>

        <li class="heading">Alerts</li>
        <li><a href="#">Basic alerts</a></li>
        <li><a href="#">Block alerts</a></li>

        <li class="heading">Tables</li>
        <li><a href="#">Table basics</a></li>
        <li><a href="#">Alternating</a></li>
        <li><a href="#">Highlight</a></li>
        <li><a href="#">Full borders</a></li>
        <li><a href="#">Combined</a></li> 
        <li><a href="#">Special</a></li>  -->
    </ul>
</div>