<div id="topbar">
    <nav class="ink-navigation ink-grid hide-small hide-medium ie7">
        <ul class="menu horizontal flat black">
            
            <li class="for-tiny for-small for-medium"><span class="fa fa-bars"></span></li>
            <li class="logoPlaceholder"><a href="{{ page.base_path }}" class="logoPlaceholder">Ink</a></li>            
            {% for link in site.navigation %}
            {% assign clean_url = page.url|remove:'index.html' %}
            <li {% if clean_url == link.url %}class="active"{% else %}class="for-large for-extra-large"{% endif %}>            
                <a href="{{ page.base_path }}{{ link.url }}" title="{{ link.text }}">{{ link.text }}{% if link.submenu %}&nbsp;<i class="icon-caret-down"></i>{% endif %}</a>
                {% if link.submenu %}
                <ul class="submenu">
                {% for link in link.submenu %}
                    <li><a href="{{ page.base_path }}{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}

            <li class="search">
                <input placeholder="Search..." id="search" type="search"><span class="fa fa-search"></span>
                <ul id="resultsList" style="display: none; position: absolute; background: #fff;"></ul>
            </li>
            
        </li>
        </ul>
    </nav>
    <div class="border">
    </div>
</div>