<div class="content-drawer">
    <div id="topbar">
        <nav class="ink-navigation ink-grid ie7">
            <ul class="menu horizontal flat black push-left">
                <li class="hide-all show-tiny show-small show-medium"><a href="#" id="open-left" class="fa fa-bars left-drawer-trigger"></a></li>
                <li class="logoPlaceholder"><a href="{{ page.base_path }}" class="logoPlaceholder">Ink</a></li>
            </ul>
    
            <ul class="menu horizontal flat black push-right">
                {% for link in site.navigation %}
                {% assign clean_url = page.url|remove:'index.html' %}
                <li {% if clean_url == link.url %}class="active"{% else %}class="hide-tiny hide-small push-right"{% endif %}>            
                    <a href="{{ page.base_path }}{{ link.url }}" title="{{ link.text }}">{{ link.text }}{% if link.submenu %}&nbsp;<i class="icon-caret-down"></i>{% endif %}</a>
                    {% if link.submenu %}
                    <ul class="submenu">
                    {% for link in link.submenu %}
                        <li><a href="{{ page.base_path }}{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </nav>
        <div class="border">
        </div>
    </div>
</div>
