<div id="topbar">
    <nav class="ink-navigation ink-grid hide-small hide-medium ie7">
        <ul class="menu horizontal flat black shadowed">
        <li class="logoPlaceholder"><a href="{{page.base_path}}" class="logoPlaceholder">Ink</a></li>            
            {% for link in site.navigation %}
            {% assign clean_url = page.url|remove:'index.html' %}
            {% if link.url %}
            <li {% if clean_url == link.url %}class="active"{% endif %}>            
                <a href="{{page.base_path}}{{ link.url }}" title="{{ link.text }}">{{ link.text }}</a>
            </li>
            {% elsif link.submenu %}
            <li>
                <a href="#" title="{{ sublink.text }}">{{ link.text }}&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="submenu">
                {% for sublink in link.submenu %}
                    <li><a href="{{page.base_path}}{{ sublink.url }}" title="{{ sublink.text }}">{{ sublink.text }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <nav class="ink-navigation ink-grid hide-all show-medium show-small">
        <ul class="menu vertical flat black">
            <li class="title">
                <a href="{{ site.navigation[0].url }}" class="push-left logoPlaceholder">{{ site.navigation[0].text }}</a>
                <button class="toggle" data-target="#topbar_menu">
                    <span class="icon-reorder">
                    </span>
                </button>
            </li>
        </ul>
        <ul class="menu vertical flat black hide-all" id="topbar_menu">
        {% for link in site.navigation %}
        {% assign clean_url = page.url|remove:'index.html' %}
            {% if link.url != '/' and link.url %}
            <li {% if clean_url == link.url %}class="active"{% endif %}>
                <a href="{{ link.url }}">{{ link.text }}</a>
            </li>
            {% elsif link.submenu %}
            <li>
                <a class="toggle" data-target="#inkjs" href="#">{{link.text}}&nbsp;<i class="icon-caret-down"></i></a>
                <ul class="submenu hide-all" id="inkjs">
                {% for sublink in link.submenu %}
                    <li><a href="{{ sublink.url }}" title="{{ sublink.text }}">{{ sublink.text }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% endif %}        
        {% endfor %}
        </ul>
    </nav>
    <div class="border">
    </div>
</div>