{% include section-selector.html %}

<ul class="menu vertical">{% for component in section.components %}
  <li class="heading">{{ component.title }}{% if component.topics %}
    <ul>{% for topic in component.topics %}
      {% if forloop.first %}
      <li><a href="{{ site.url }}{{ section.title | downcase | replace: ' ','-' }}/{{ component.title | downcase | replace: ' ','-' }}/">{{ topic.title }}</a></li>
      {% else %}
      <li><a href="{{ site.url }}{{ section.title | downcase | replace: ' ','-' }}/{{ component.title | downcase | replace: ' ','-' }}/#{{ topic.title | downcase | replace: ' ','-' }}" title="{{ topic.title }}">{{ topic.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>{% endif %}
  </li>{% endfor %}
</ul>