{% assign current_section = page.url | split: '/' %}

{% if current_section[1] == 'ui-elements' %}
  {% assign section = site.sections[0] %}
{% elsif current_section[1] == 'javascript' %}
  {% assign section = site.sections[1] %}
{% elsif current_section[1] == 'cookbook' %}
  {% assign section = site.sections[2] %}
{% elsif current_section[1] == 'glossary' %}
  {% assign section = site.sections[3] %}
{% endif %}

<ul class="menu vertical">{% for component in section.components %}
  <li class="heading"><a href="{{ page.site_root }}{{ section.title | downcase | replace: ' ','-' }}/{{ component.title | downcase | replace: ' ','-' }}/" title="{{ component.title }}">{{ component.title }}</a>{% if component.topics %}
    <ul>{% for topic in component.topics %}    
      <li><a href="{{ page.site_root }}{{ section.title | downcase | replace: ' ','-' }}/{{ component.title | downcase | replace: ' ','-' }}/#{{ topic.title | downcase | replace: ' ','-' }}" title="{{ topic.title }}">{{ topic.title }}</a></li>{% endfor %}
    </ul>{% endif %}
  </li>{% endfor %}
</ul>