---
layout: default
title: Components
base_path:  ../
---

<div class="ink-grid">
    <div class="page-header">
        <h1 class="slab">{{ page.title }}</h1>
        <p>So you want to start using Ink? You've come to the right place.</p>
    </div>

    <div class="column-group gutters">
        <div class="extra-large-20 large-20 hide-medium hide-small hide-tiny">
            <nav class="ink-navigation sidebar small">
                <ul class="menu vertical">
                    <li class="search">
                        <input placeholder="Search..." id="search" type="search"><span class="fa fa-search"></span>
                        <div class="ink-dropdown red" id="search-dropdown" style="display: none;">
                            <ul id="resultsList" class="dropdown-menu">
                                
                            </ul>
                        </div>
                    </li>
                    
                    {% for link in site.navigation %}
                    {% if link.text == 'Components' %}
                    {% if link.sections %}
                    {% for section in link.sections %}
                        <li class="heading">{{ section.text }}</li>
                        
                        {% if section.components %}
                        {% for component in section.components %}    
                            <li><a href="{{ page.base_path }}{{ component.url }}" title="{{ link.text }}">{{ component.text }}</a></li>
                        {% endfor %}
                        {% endif %}

                    {% endfor %}
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                </ul>
            </nav>
        </div>

        <div class="extra-large-80 large-80 medium-100 small-100 tiny-100 page-content">
            <div class="panel">
                <h1>title</h1>
{% highlight html %}
<div class="ink-grid">
  <div class="column-group">
    <div class="large-80">A main 80% column</div>
    <div class="large-20">A 20% sidebar</div>
  </div>
</div> 
{% endhighlight %}
{% highlight javascript %}
Ink.createModule('Ink.UI.Drawer', '1', ['Ink.UI.Common_1', 'Ink.Dom.Loaded_1', 'Ink.Dom.Selector_1', 'Ink.Dom.Element_1', 'Ink.Dom.Event_1', 'Ink.Dom.Css_1'], function(Common, Loaded, Selector, Element, Event, Css) { 
    
    var Drawer = function(options) {
      this._init(options);
    }

    Drawer.prototype = {

      _init: function () {

        this._options = Ink.extendObj(
          {
            parentSelector: '.ink-drawer',
            leftDrawer: '.left-drawer',
            leftTrigger: '.left-drawer-trigger',
            rightDrawer: '.right-drawer',
            rightTrigger: '.right-drawer-trigger',
            contentDrawer: '.content-drawer',
            closeOnContentClick: true,
            mode: 'push',
            sides: 'both',
          },
          arguments[0] || {}
        );

        this._isOpen = false;
        this._direction = undefined;

        this._handlers = {
            click:   Ink.bindEvent(this._onClick, this)
        };
        this._addEvents();
        this._delay = 5;
      },

      _onClick: function(ev){                
        
        if(Selector.matchesSelector(ev.currentTarget,this._options.leftTrigger)){
          if(this._isOpen) {
            this.closeDrawer('left');
          } else {
            this.openDrawer('left');
          }            
        } else if(Selector.matchesSelector(ev.currentTarget,this._options.rightTrigger)){
          if(this._isOpen) {
            this.closeDrawer('right');
          } else {
            this.openDrawer('right');
          }          
        } else if(Selector.matchesSelector(ev.currentTarget,this._options.contentDrawer)){
          if(this._options.closeOnContentClick && this._isOpen) {
            console.log('closing ' + this._direction);
            this.closeDrawer(this._direction);
          }
        }

        
      },
      
      _addEvents: function(){
        if(this._options.sides == 'both') {          
          Event.on(document.body, 'click', this._options.rightTrigger + ',' + this._options.leftTrigger + ',' + this._options.contentDrawer, this._handlers.click);
        } else if (this._options.sides == 'left') {
          Event.on(document.body, 'click', this._options.leftTrigger + ',' + this._options.contentDrawer, this._handlers.click);
        } else if (this._options.sides == 'right') {
          Event.on(document.body, 'click', this._options.rightTrigger + ',' + this._options.contentDrawer, this._handlers.click);
        }

      },

      openDrawer: function(direction) {
        
        var content = Ink.ss(this._options.contentDrawer);
        this._isOpen = true;
        this._direction = direction;

        if(direction == 'left') {
          var open = Ink.s(this._options.leftDrawer);
        } else if (direction == 'right') {
          var open = Ink.s(this._options.rightDrawer);
        }

        if(this._options.mode == 'push') {            
            Css.addClassName(open,'show');
            setTimeout(function(){
                for (var i=0; i<content.length; i++){
                  Css.addClassName(content[i],'open-' + direction);
                  content[i].style.overflowY = 'auto';
                  content[i].style.overflowY = '';
                }                
                Css.addClassName(open,'open');
            },this._delay);
        } else if (this._options.mode == 'over') {
          Css.addClassName(open,'show');
          setTimeout(function(){                
              Css.addClassName(open,'open');
          },this._delay);
        }
      },

      closeDrawer: function(direction) {
        
        var content = Ink.ss(this._options.contentDrawer);
        this._isOpen = false;
        this._direction = direction;

        if(direction == 'left') {
          var close = Ink.s(this._options.leftDrawer);
        } else if (direction == 'right') {
          var close = Ink.s(this._options.rightDrawer);
        }

        if(this._options.mode == 'push') {
          Css.removeClassName(close,'open');
          for (var i=0; i<content.length; i++){
            Css.removeClassName(content[i],'open-' + direction);
          }
          // wait
          setTimeout(function(){
            Css.removeClassName(close,'show');            
          },this._options.duration);
        } else if (this._options.mode == 'over'){
          Css.removeClassName(close,'open');
          // wait
          setTimeout(function(){                
            Css.removeClassName(close,'show');              
          },this._options.duration);
        }

      },
    };

    return Drawer;

});
{% endhighlight %}

            </div>
        </div>

    </div>
</div>
