@import "conf";
@import "lib";

.ink-warning {
	.make-warning();
}

.ink-error {
	.make-error();
}

.ink-info {
	.make-info();
}

.ink-success {
	.make-success();
}

.ink-size-s { font-size: 0.75em; }
.ink-size-l { font-size: 1.2em; }
.ink-size-xl { font-size: 1.45em; }