@import "conf";

.ink-space			{margin:@basicMargin; padding:@basicPadding}
.ink-vspace		{margin:@basicMargin 0; padding:@basicPadding 0}
.ink-hspace 		{margin:0 @basicMargin; padding:0 @basicPadding}
.ink-rspace 	{margin:0 @basicMargin 0 0; padding:0 @basicPadding 0 0}
.ink-section 	{margin: 1em 0; padding-bottom: 1em; border-bottom: 1px solid #eee;}

.ink-clear, .ink-g100, .ink-section {clear:both}
.ink-clear-left { clear:left }
.ink-clear-right { clear:right }
