<p></p>

<p class="example-title">Code</p>

{% highlight html %}
<div class="ink-shade fade">
    <div id="test" class="ink-modal fade" data-trigger="#bModal" data-width="800px" data-height="400px">
        <div class="modal-header">
            <button class="modal-close ink-dismiss"></button>
            <h5>Modal windows can have headers</h5>
        </div>
        <div class="modal-body" id="modalContent">
            <h3>Please confirm your previous choice</h3>
            <p>"No," said Peleg, "and he hasn't been baptized right either, or it would have washed some of that devil's blue off his face."</p>
            <p>
                <img src="http://placehold.it/800x400" style="width: 100%;" alt="">
            </p>
            <p>"Do tell, now," cried Bildad, "is this Philistine a regular member of Deacon Deuteronomy's meeting? I never saw him going there, and I pass it every Lord's day."</p>
            <p>"I don't know anything about Deacon Deuteronomy or his meeting," said I; "all I know is, that Queequeg here is a born member of the First Congregational Church. He is a deacon himself, Queequeg is."</p>
        </div>
        <div class="modal-footer">
            <div class="push-right">
                <button class="ink-button info">Confirm</button>
                <button class="ink-button caution ink-dismiss">Cancel</button>
            </div>
        </div>
    </div>
</div>
<a href="#" id="bModal">Open modal</a>
<script>
    Ink.requireModules( ['Ink.Dom.Selector_1','Ink.UI.Modal_1'], function( Selector, Modal ){
        var modalElement = Ink.s('#test');
        var modalObj = new Modal( modalElement );
    });
</script>
{% endhighlight %}

