<p class="example-title">Code</p>
{% highlight js %}
Ink.requireModules(['Ink.Util.Url_1'], function(InkUrl) {
             
    // In URL: http://domain.com/?param1=value1&param2=value2
    var oParams = InkUrl.getQueryString(); 
    Ink.log(oParams);
    // { param1: "value1", param2: "value2" }    
});
{% endhighlight %}

<p>A string in URL format can be passed as argument</p>
<p class="example-title">Code</p>
{% highlight js %}
Ink.requireModules(['Ink.Util.Url_1'], function(InkUrl) {

    var url = 'http://domain.com/?param1=value1&param2=value2';
    var oParams = InkUrl.getQueryString(url); 
    Ink.log(oParams);
    // { param1: "value1", param2: "value2" }    
});
{% endhighlight %}
