<p>Create a wrapper around element with id target.</p>

<p class="example-title">Code</p>
{% highlight html %}
<!-- Original -->
<div id="target">
    Target content
</div>
<script>
Ink.requireModules(['Ink.Dom.Element_1'], function(InkElement) {

    var target = Ink.i('target');
    var newElm = InkElement.create('div', {setTextContent:'Wrapper content', id:'wrapper'});

    InkElement.wrap(target, newElm);    
});
</script>
<!-- Result -->
<div id="wrapper">
    Wrapper content
    <div id="target">
        Target content
    </div>
</div>

{% endhighlight %}

