{% capture example_code %}
<div class="ink-dropdown" data-target="#my-menu-dropdown" id="my-dropdown">
    <button class="ink-button">Dropdown</button>
    <ul id="my-menu-dropdown" class="dropdown-menu">
        <li class="heading">I am a heading</li>
        <li class="separator-above"><a href="#">Option</a></li>
        <li><a href="#">Option</a></li>
        <li class="separator-above disabled"><a href="#">Disabled option</a></li>
    </ul>
</div>

<script>
    // Not necessary with autoload.js
    Ink.requireModules( ['Ink.UI.Dropdown_1'], function( Dropdown ){
        new Dropdown('#my-dropdown');
    });
</script>
{% endcapture %}

<p class="example-title">Demo</p>
<div class="example">
{{ example_code }}
</div>

<p class="example-title">Code</p>
{% highlight html %}
{{ example_code }}
{% endhighlight %}

<p><i class="fa fa-leaf"></i> To get an hidden default state for the dropdown menu, just add the <code>hide-all</code> class to the <code>dropdown-menu</code> aswell.</p>