<p>Get the top offset position of a given element</p>
<p class="example-title">Code</p>
{% highlight html %}
<body>
    <div class="ink-grid">
        <div class="column-group">
            <div id="left_col" class="all-50"></div>
            <div id="right_col" class="all-50"></div>
        </div>
    </div>
</body>
<script>
Ink.requireModules(['Ink.Dom.Element_1'], function(InkElement) {
    
    var offsetTop = InkElement.offsetTop('right_col');

    Ink.log(offsetTop); // 30

});
</script>
{% endhighlight %}
