{% capture demo_code %}
<button id="myAlertToggler" class="ink-button" data-target="#myAlert">See more</button>
<div id="myAlert" class="ink-alert block hide-all" role="alert">
    <h4>This is a details section</h4>
    <p>Insert awesome text here</p>
</div>

<script>
    Ink.requireModules(['Ink.UI.Toggle_1'], function (Toggle) {
        new Toggle('#myAlertToggler');
    });
</script>
{% endcapture %}

{% capture demo_code_1 %}
<button id="myToggleClass"
    class="ink-button"
    data-target="#myToggledLabel"
    data-class-name-on="green"
    data-class-name-off="red">Click here to toggle the label</button>
<div id="myToggledLabel" class="green half-top-space">
    I can change my color if you push click the button.
</div>

<script>
    Ink.requireModules(['Ink.UI.Toggle_1'], function (Toggle) {
        new Toggle('#myToggleClass');
    });
</script>
{% endcapture %}

<h2 class="fw-300">Basic usage</h2>
<p>In the example below we can see an alert being toggled</p>
<p class="example-title">Demo</p>
<div class="example">
{{ demo_code }}
</div>

<p class="example-title">Code</p>
{% highlight html %}
{{ demo_code }}
{% endhighlight %}

<p>Toggle between two classes, to switch the color of a label between red and blue.</p>
<p class="example-title">Demo</p>
<div class="example">
{{ demo_code_1 }}
</div>

<p class="example-title">Code</p>
{% highlight html %}
{{ demo_code_1 }}
{% endhighlight %}
