<p>Initializing close</p>

{% capture example_code %}
<div class="ink-alert basic" role="alert">
    <button class="ink-dismiss">&times;</button>
    <p>Click the X to close this!</p>
</div>

<script>
    // Not needed with autoload.js
    Ink.requireModules(['Ink.UI.Close_1'],function( Close ){
        // Notice that the Close module doesn't take a selector as a parameter.
        // This is because it is page-wide. You only need to call this once.
        new Close();
    });
</script>
{% endcapture %}

<p class="example-title">Demo</p>
<div class="example">
{{ example_code }}
</div>
<p class="example-title">Code</p>
{% highlight html %}
{{ example_code }}
{% endhighlight %}

