<p>Find a parent element that matches with given class name.</p>

<p class="example-title">Code</p>
{% highlight html %}
<div id="container" class="container_class">
    <div>
        <p id="target">Target content</p>
    </div>
</div>
<script>
Ink.requireModules(['Ink.Dom.Element_1'], function(InkElement) {
    
    var target = Ink.i('target');
    var upElement = InkElement.findUpwardsByClass(target, 'container_class');

    Ink.log(upElement);
    // <div id="container" class="container_class"><div><p id="target">Target content</p></div></div>

});
</script>
{% endhighlight %}

