<p>Fill an <code>option</code> element with some default data</p>

<p class="example-title">Code</p>
{% highlight html %}
<div>
    <select id="my-option" name="my-option"></select>
</div>
<script>
Ink.requireModules(['Ink.Dom.Element_1'], function(InkElement) {
    var myOption = Ink.i('my-option');
    var data = [
        ['option 1', '1'],
        ['option 2', '2'],
        ['option 3', '3']
    ];
    InkElement.fillSelect(container, data, false /* no "default" option */);
    /*

    Now, #my-option contains 3 options:
    
    <select id="my-option" name="my-option">
        <option value="1">option 1</option>
        <option value="2">option 2</option>
        <option value="3">option 3</option>
    </select>

    */
});
</script>
{% endhighlight %}

