<p>Check if an element is ancestor of a given node.</p>

<p class="example-title">Code</p>
{% highlight html %}
<div id="container">
    <div id="level_1">
        <div id="level_2"></div>
    </div>
</div>
<script>
Ink.requireModules(['Ink.Dom.Element_1'], function(InkElement) {

    var container = Ink.i('container');
    var levelElm1 = Ink.i('level_1');
    var levelElm2 = Ink.i('level_2');

    InkElement.isAncestorOf(container, levelElm1); // true 
    InkElement.isAncestorOf(container, levelElm2); // true 
    InkElement.isAncestorOf(levelElm2, levelElm1); // false 
});
</script>
{% endhighlight %}

