<h2 class="fw-300">Basic Usage</h3>

<p>Pagination just takes an element with the markup described in <a href="/ui-elements/navigation/#pagination">UI Elements: Pagination</a> and creates the page numbers automatically.</p>
<p><i class="fa fa-leaf"></i> It isn't very useful in and of itself, but some other UI components in Ink, such as the Table and the Carousel, use it internally.</p>

{% capture example_code %}
<nav class="ink-navigation" id="myPagination" data-size="5">
    <ul class="pagination black"></ul>
</nav>

<script>
    Ink.requireModules(['Ink.UI.Pagination_1'], function(Pagination){
        var basicPagination = new Pagination('#myPagination');
    });
</script>
{% endcapture %}

<p class="example-title">Demo</p>
<div class="example">
{{ example_code }}
</div>

<p class="example-title">Code</p>
{% highlight html %}
{{ example_code }}
{% endhighlight %}

<p>You can use the <code>maxSize</code> option to limit the amount of pages shown.</p>

{% capture example_code2 %}
<nav class="ink-navigation" id="myPagination2" data-size="25" data-max-size="5">
    <ul class="pagination black"></ul>
</nav>
 
<script>
    Ink.requireModules(['Ink.UI.Pagination_1'], function(Pagination){
        var sizeLimitedPagination = new Pagination('#myPagination2');
    });
</script>
{% endcapture %}

<p class="example-title">Demo</p>
<div class="example">
{{ example_code2 }}
</div>

<p class="example-title">Code</p>
{% highlight html %}
{{ example_code2 }}
{% endhighlight %}


<p>To configure your Pagination visually, refer to the documentation in <a href="/ui-elements/navigation/#pagination">UI Elements: Pagination</a></p>

{% capture example_code3 %}
<p>Dotted pagination:</p>
<nav class="ink-navigation" id="myPagination3" data-size="5">
    <ul class="pagination dotted"></ul>
</nav>

<p>Black pagination:</p>
<nav class="ink-navigation" id="myPagination4" data-size="5">
    <ul class="pagination black"></ul>
</nav>

<p>Chevron pagination:</p>
<nav class="ink-navigation" id="myPagination5" data-size="5">
    <ul class="pagination chevron"></ul>
</nav>

<script>
    ... (see above)
</script>
{% endcapture %}

<p class="example-title">Code</p>
{% highlight html %}
{{ example_code3 }}
{% endhighlight %}




