<p></p>

{% capture example_code %}
<div id="myDraggable1" class="ink-alert basic">
    <p>Draggable with <code>{ revert: true }</code></p>
</div>

<div id="myDraggable2" class="ink-alert basic">
    <p>Draggable with <code>{ revert: false }</code></p>
</div>

<script>
    Ink.requireModules(['Ink.UI.Draggable_1'], function (Draggable) {
        new Draggable('#myDraggable1', {
            revert: true,
            skipChildren: false
        });

        new Draggable('#myDraggable2', {
            revert: false,
            skipChildren: false
        });
    });
</script>
{% endcapture %}

<p class="example-title">Demo</p>
{{ example_code }}

<p class="example-title">Code</p>
{% highlight html %}{{ example_code }}{% endhighlight %}
