{% capture demo_code %}
<div id="myTips" class="example">
    <span class="ink-label grey">Default Behavior</span>
    <span data-tip-where="up" class="white ink-label">Up</span>
    <span data-tip-where="right" class="white ink-label">Right</span>
    <span data-tip-where="down" class="white ink-label">Down</span>
    <span data-tip-where="left" class="white ink-label">Left</span>
    <span data-tip-where="mousemove" class="white ink-label">Mousemove</span>
    <span data-tip-where="mousefix" class="white ink-label">Mousefix</span>
    </div>
    <script>
    Ink.requireModules( ['Ink.UI.Tooltip_1'], function( Tooltip ){
        var Tooltip = new Tooltip( '#myTips .ink-label',  {text: 'Hello World'});
    });
</script>
{% endcapture %}

<p>Default Usage</p>
<p class="example-title">Demo</p>
{{ demo_code }}
<p class="example-title">Code</p>
{% highlight html %}
{{ demo_code }}
{% endhighlight %}