<p>Gets the index of an element relative to a parent</p> 

<p class="example-title">Code</p>
{% highlight html %}
<div id="container">
    <p id="elm_1">Text element 1</p>
    <p id="elm_2">Text element 2</p>
    <p id="elm_3">Text element 3</div>
</div>
<script>
Ink.requireModules(['Ink.Dom.Element_1'], function(InkElement) {

    var container = Ink.i('container');
    var elm1 = Ink.i('elm_1');
    var elm2 = Ink.i('elm_2');
    var elm3 = Ink.i('elm_3');

    InkElement.parentIndexOf(container, elm1); // 0 
    InkElement.parentIndexOf(container, elm2); // 1 
    InkElement.parentIndexOf(container, elm3); // 2 
});
</script>
{% endhighlight %}

