<p class="example-title">Code</p>
{% highlight js %}
Ink.requireModules(['Ink.Util.Array_1'], function(InkArray) {

    var testArray1 = [1, 2, 3, 5, 7, 11, 13];
    var testArray2 = [3, 7, 11, 15];

    var myTestFunction = function(item, index, arr) {
        if((item % 2) === 0) {
            return true;
        }
        return false; 
    };
    var hasOddNumbers;

    hasOddNumbers = InkArray.some(testArray1, myTestFunction);
    Ink.log(hasOddNumbers); // true 

    hasOddNumbers = InkArray.some(testArray2, myTestFunction);
    Ink.log(hasOddNumbers); // false 
});
{% endhighlight %}

