{% capture example_code %}
<p>Droppable box</p>
<ul class="droppable-1">
    <li class="ink-label blue">Draggable 1</li>
    <li class="ink-label green">Draggable 2</li>
    <li class="ink-label orange">Draggable 3</li>
</ul>

<p>Droppable box</p>
<ul class="droppable-2">
</ul>

<script type="text/javascript">
    Ink.requireModules(['Ink.UI.Draggable_1', 'Ink.UI.Droppable_1'], function (Draggable, Droppable) {
        draggableLiElements = Ink.ss('.droppable-1 li');
        new Draggable(draggableLiElements[0], {})
        new Draggable(draggableLiElements[1], {})
        new Draggable(draggableLiElements[2], {})
        Droppable.add('.droppable-1', {onDrop: 'move', onDropOut: 'revert'});
        Droppable.add('.droppable-2', {onDrop: 'move', onDropOut: 'revert'});
    })
</script>
{% endcapture %}

<p class="example-title">Demo</p>
<div class="example">
<p class="large">Drag the elements between the dropabble boxes</p>
{{ example_code }}
</div>

<p class="example-title">Code</p>
{% highlight html %}
{{ example_code }}
{% endhighlight %}


