<p>Copy object <code>person1</code> to <code>person2</code></p>

<p class="example-title">Code</p>
{% highlight js %}
var person1 = {
    name: 'Charles', 
    age: 31,
    married: true
};

var person2 = Ink.extendObj({}, person1); 

/*
   person1 will be: 
   { name: 'Charles', age: 31, married: true }
   person2 will be: 
   { name: 'Charles', age: 31, married: true }
*/
{% endhighlight %}

<p>Copy object but define default values in new object. </p>
<p class="example-title">Code</p>
{% highlight js %}
var person1 = {
    name: 'Charles', 
    age: 31,
    married: true
};

var person2 = Ink.extendObj({
            hasGlasses: true,
            married: false
        }, person1); 
/*
   person1 will be: 
   { name: 'Charles', age: 31, married: true }
   person2 will be: 
   { name: 'Charles', age: 31, married: false, hasGlasses: true }
*/

{% endhighlight %}


