<p></p>

<p class="example-title">Code</p>

{% highlight html %}
<style type="text/css">
    .hover {
        border: 1px solid red;
    }
    .left, .right {
        float: left; width: 50%;
        outline: 1px solid gray;
        min-height: 2em;
    }
</style>
<ul class="left">
    <li>Draggable 1</li>
    <li>Draggable 2</li>
    <li>Draggable 3</li>
</ul>
<ul class="right">
</ul>
<script type="text/javascript">
    Ink.requireModules(['Ink.UI.Draggable_1', 'Ink.UI.Droppable_1'], function (Draggable, Droppable) {
        new Draggable('.left li:eq(0)', {});
        new Draggable('.left li:eq(1)', {});
        new Draggable('.left li:eq(2)', {});
        Droppable.add('.left', {onDrop: 'move', onDropOut: 'revert'});
        Droppable.add('.right', {onDrop: 'move', onDropOut: 'revert'});
    })
</script>

{% endhighlight %}


