.ink-carousel {

  width: 100%;
  position: relative;
  padding-bottom: 1em;
  overflow: hidden;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;

  .stage {
    white-space: nowrap;
    font-size: 0;
    position: relative;
    top: 0;
    left: 0;

    #ink > #effects > .transition(left, top; 0.5s; ease);

    .slide {
      margin: 0 auto;
      position: relative;
      display: inline-block;
      overflow: hidden;
      font-size: 16px;
      width: 50%;
      white-space: normal;
      zoom: 1;
      *display: inline;
    }
  }
}