// Mixin for the treeview
.ink-tree-view {
    li {
        list-style-type: none;
    }

    [data-open] >:before{
        margin-left: -1.3em;
        margin-right: .4em;
        text-decoration: none;
    }
}