/* line 3, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 21, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

/* line 31, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

/* line 48, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-drawer-left {
  left: 0;
  z-index: 1;
}

/* line 53, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-drawer-right {
  right: 0;
  z-index: 1;
}

/* line 59, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

/* line 64, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

/* Show "Left" drawer for the "Right" drawer in the demo */
/* line 68, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snapjs-right .snap-drawer-left {
  display: block;
  right: 0;
  left: auto;
}

/* Hide the actual "Right" drawer in the demo */
/* line 75, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snapjs-right .snap-drawer-right {
  display: none;
}

/* Show the red "No Drag" box in the demo */
/* line 81, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
#no-drag,
#do-drag {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100px;
  margin-left: -25%;
  margin-top: -50px;
  background: red;
  color: #FFF;
  text-align: center;
  line-height: 100px;
}

/* line 94, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
#do-drag {
  background: green;
}

/* Show the translucent white "Toggle" boxes in the demo */
/* line 99, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.toggler {
  width: 80%;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  position: relative;
  top: 70px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* Styles for fading out the drawer content in the "Expanding" demo */
/* line 111, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.drawer-inner {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

/* line 120, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
  opacity: 0;
}

/* Styles for the "Settings" demo */
/* line 125, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.opt {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 130, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.opt p {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  color: #222;
  color: rgba(0, 0, 0, 0.6);
}

/* Default demo styles */
/* line 139, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-content {
  background: #f7f7f7;
}

/* line 143, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-drawers {
  background: #222;
}

/* line 147, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-drawer {
  background: #222;
}
/* line 150, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-drawer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 156, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-drawer li {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0;
}
/* line 161, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-drawer li > a {
  display: block;
  padding: 15px;
  text-shadow: 0 1px 0 #000;
  text-decoration: none;
  color: #bbb;
  -webkit-transition-property: color, background;
  -moz-transition-property: color, background;
  -o-transition-property: color, background;
  transition-property: color, background;
  -webkit-transition-duration: 140ms;
  -moz-transition-duration: 140ms;
  -o-transition-duration: 140ms;
  transition-duration: 140ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
/* line 171, /Users/pedrocorreia/dev/ink/src/sass/snap.scss */
.snap-drawer li > a:hover {
  color: #FFF;
  background: #333;
}
