// For the datepicker and the calendar inside it

.#{$ink-class-prefix}-datepicker-wrapper {
    position: relative;
}

.#{$ink-class-prefix}-datepicker-calendar {
    margin-top: 0;  // because of the * + * rule
    position: absolute;

    &.#{$right-postion-class-name} {
        left: 100%;
        top: 0;
    }

    &.#{$left-postion-class-name} {
        right: 100%;
        top: 0;
    }

    &.#{$bottom-postion-class-name} {
        top: 100%;
        left: 0;
    }

    &.#{$top-postion-class-name} {
        bottom: 100%;
        left: 0;
    }
}

.#{$ink-class-prefix}-datepicker-wrapper, .#{$ink-class-prefix}-datepicker-calendar {
    display: inline;
    display: inline-block;
}

.#{$ink-class-prefix}-calendar {
    @include border-radius($border-radius);
    text-align: center;
    padding: $calendar-padding;
    min-width: $calendar-total-width;

    font-size: $datepicker-fontSize;
    @include box-shadow(rgba(0,0,0,0.4) 0 1px 2px 0);
    background: $datepicker-bgColor;
    z-index:$layer-10;

    a {
        text-decoration: none;
    }
    
    li {
        list-style: none inside;
    }
}

// When a modal is open...
html.#{$ink-class-prefix}-modal-is-open .#{$ink-class-prefix}-calendar {
    z-index: $layer-100 + 1;  // 1 plus the z-index of a modal
}

.#{$ink-class-prefix}-calendar-#{$top-postion-class-name}-options {
    padding: 5px; 
    font-size: .813em;
    cursor: pointer;
    
    .clean { float: left; }
    .close { float: right; }
}
    
.#{$ink-class-prefix}-calendar-#{$top-postion-class-name} {
    line-height: 2em;
    background: $datepicker-header-bg;
    @include border-radius($border-radius);

    div { float:left; }

    .#{$ink-class-prefix}-calendar-prev,
    .#{$ink-class-prefix}-calendar-next {
        width: 10%;

        a {
           display: block;
        }
    }

    .#{$ink-class-prefix}-calendar-month_desc {
        width: 80%
    }
}   

.#{$ink-class-prefix}-calendar-month,
.#{$ink-class-prefix}-calendar-year-selector,
.#{$ink-class-prefix}-calendar-month-selector {
    margin-top: .5em;
    padding-left: 0;

    li {
        a {
            margin: 0px;
            line-height: 2em;
            vertical-align: middle;
            display: block;
            @include border-radius($border-radius);
            color: $datepicker-cell-color;

            &:hover { background: $datepicker-cellHover; }

            &.#{$ink-class-prefix}-calendar-on, 
            &.#{$ink-class-prefix}-calendar-on:hover {
                background: $datepicker-active-bg;
                color: $datepicker-active-color;
            }

            &.#{$ink-class-prefix}-calendar-off,
            &.#{$ink-class-prefix}-calendar-off:hover {
                background: $datepicker-bgColor;
                color: $datepicker-inactive-color;
                cursor: default;
            }
        } 
    }

    ul {
        clear: both; 
        padding-left:0;

        li {
            width: $calendar-cell-width; 
            float: left; 
            text-align: center;
            padding: 0;
            margin: 0;
        }
    }
}

.#{$ink-class-prefix}-calendar-year-selector ul li { width: 25%; }
.#{$ink-class-prefix}-calendar-month-selector ul li { width: 25%; }

.#{$ink-class-prefix}-calendar-year-selector,
.#{$ink-class-prefix}-calendar-month-selector { 
    display: none; 
}

.#{$ink-class-prefix}-calendar-off, .action_inactive {
    color: #ddd !important;
}

.#{$ink-class-prefix}-calendar-month .#{$ink-class-prefix}-calendar-header {
    border-bottom: 1px solid rgba(0,0,0,.1); 
    padding-bottom: .5em;
    margin-bottom: .5em;
    color: #aaa;
}

.#{$ink-class-prefix}-calendar-#{$top-postion-class-name},
.#{$ink-class-prefix}-calendar-#{$middle-postion-class-name},
.#{$ink-class-prefix}-calendar-#{$top-postion-class-name}-options,
.#{$ink-class-prefix}-calendar-month .#{$ink-class-prefix}-calendar-header,
.#{$ink-class-prefix}-calendar-month .#{$ink-class-prefix}-calendar-#{$middle-postion-class-name} ul {
    @include pie-clearfix;
}
