body {

    $speed: 300ms;
    $width: 250px;
    $easing: cubic-bezier(0.860, 0.000, 0.070, 1.000);

    &.ink-drawer {
        max-width: 100%;

        &.open {
          overflow-y: hidden;
        }

        .left-drawer,
        .right-drawer {

          width: $width; 
          position: absolute;
          top: 0;
          height: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          display: none;

          &.show {
            display: block;
          }

          &:after {
            content: "";
          }

        }

        .left-drawer,
        .right-drawer,
        .content-drawer {
          @include transition-property(translate3d);
          @include transition-duration($speed);
          @include transition-timing-function($easing);
        }
        
        .left-drawer {
            left: ($width * -1);
            &.open {
                @include translate3d($width,0,0);
            }
        }
        .right-drawer {
            right: ($width * -1);
            &.open {
                @include translate3d(($width * -1),0,0);
            }
        }
        .content-drawer {
            width: 100%;
            &.open-left {
                @include translate3d($width,0,0);
            }
            &.open-right {
                @include translate3d(($width * -1),0,0);
            }
        }

        .left-drawer {
                   
        }

        .right-drawer {
          @include translate3d($width,0,0);
        }
    }
}