.#{$tooltip-class-name} {

    display: inline-block;
    position: relative;

    & > .content {
        background: $tooltip-background-color;
        padding: $tooltip-padding;
        @include border-radius ($tooltip-border-radius);
        font-size: $tooltip-font-size;
        color: $tooltip-text-color;
    }

    & > .arrow {

        position: absolute;

        &.#{$up-postion-class-name}, &.#{$down-postion-class-name}, &.#{$left-postion-class-name}, &.#{$right-postion-class-name} {
            width: 0; 
            height: 0;
        }

        &.#{$up-postion-class-name} {           
            border-left: $tooltip-arrow-size solid transparent;
            border-right: $tooltip-arrow-size solid transparent;
            border-bottom: $tooltip-arrow-size solid $tooltip-background-color;
            top: -$tooltip-arrow-size;
            left: 50%;
            margin-left: -($tooltip-arrow-size / 2);
        }

        &.#{$down-postion-class-name} {             
            border-left: $tooltip-arrow-size solid transparent;
            border-right: $tooltip-arrow-size solid transparent;
            border-top: $tooltip-arrow-size solid $tooltip-background-color;
            bottom: -($tooltip-arrow-size/1.1);
            left: 50%;
            margin-left: -($tooltip-arrow-size / 2);
        }

        &.#{$right-postion-class-name} {            
            border-top: $tooltip-arrow-size solid transparent;
            border-bottom: $tooltip-arrow-size solid transparent;
            border-left: $tooltip-arrow-size solid $tooltip-background-color;
            top: 50%;
            right: -($tooltip-arrow-size/1.1);
            margin-top: -($tooltip-arrow-size);
        }

        &.#{$left-postion-class-name} {             
            border-top: $tooltip-arrow-size solid transparent;
            border-bottom: $tooltip-arrow-size solid transparent; 
            border-right:$tooltip-arrow-size solid $tooltip-background-color; 
            top: 50%;
            left: -($tooltip-arrow-size/1.1);
            margin-top: -($tooltip-arrow-size);
        }
    }
    
    &.#{$blue-classname} { 
        & > .content { 
            background: $blue;
            color: $white;
        }
        & > .arrow {
            &.#{$up-postion-class-name} { border-bottom-color: $blue; }
            &.#{$down-postion-class-name} { border-top-color: $blue; }
            &.#{$left-postion-class-name} { border-right-color: $blue; }
            &.#{$right-postion-class-name} { border-left-color: $blue; }
        }
    }
    &.#{$red-classname} { 
        & > .content { 
            background: $red;
            color: $white;
        }
        & > .arrow {
            &.#{$up-postion-class-name} { border-bottom-color: $red; }
            &.#{$down-postion-class-name} { border-top-color: $red; }
            &.#{$left-postion-class-name} { border-right-color: $red; }
            &.#{$right-postion-class-name} { border-left-color: $red; }
        }
    }
    &.#{$orange-classname} { 
        & > .content { 
            background: $orange;
            color: $white;
        }
        & > .arrow {
            &.#{$up-postion-class-name} { border-bottom-color: $orange; }
            &.#{$down-postion-class-name} { border-top-color: $orange; }
            &.#{$left-postion-class-name} { border-right-color: $orange; }
            &.#{$right-postion-class-name} { border-left-color: $orange; }
        }
    }
    &.#{$green-classname} { 
        & > .content { 
            background: $green;
            color: $white;
        }
        & > .arrow {
            &.#{$up-postion-class-name} { border-bottom-color: $green; }
            &.#{$down-postion-class-name} { border-top-color: $green; }
            &.#{$left-postion-class-name} { border-right-color: $green; }
            &.#{$right-postion-class-name} { border-left-color: $green; }
        }
    }
    &.#{$black-classname} { 
        & > .content { 
            background: $black;
            color: $white;
        }
        & > .arrow {
            &.#{$up-postion-class-name} { border-bottom-color: $black; }
            &.#{$down-postion-class-name} { border-top-color: $black; }
            &.#{$left-postion-class-name} { border-right-color: $black; }
            &.#{$right-postion-class-name} { border-left-color: $black; }
        }
    }

    &.#{$grey-classname} { 
        & > .content { 
            background: $grey-20;
            color: $grey-80;
        }
        & > .arrow {
            &.#{$up-postion-class-name} { border-bottom-color: $grey-20; }
            &.#{$down-postion-class-name} { border-top-color: $grey-20; }
            &.#{$left-postion-class-name} { border-right-color: $grey-20; }
            &.#{$right-postion-class-name} { border-left-color: $grey-20; }
        }
    }

}