---
layout: js-documentation
title: Ink.Util.Array_1
description: Array Utilities
site_root:  ../
---
    <section>
        <h1 class="fw-300">Ink.Util.Array_1</h1>


    <p><i class="fa fa-leaf"></i> All samples are using <code>Ink.requireModules</code>, please read how to use it at <a href="/javascript/Ink/#Ink_1-Ink_1-requireModules">Ink.requireModules section</a></p><table class="props bottom-space"><caption>Functions</caption>
        <thead>
            <tr>
                <th>Function name</th>
                <th>Description</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-convert">.convert</a>
                </td>
                <td>Converts an array-like object to an array</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-each">.each</a>
                </td>
                <td>Alias for backwards compatibility. See forEach</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-filter">.filter</a>
                </td>
                <td>Filters an array based on a truth test.</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-forEach">.forEach</a>
                </td>
                <td>Runs a function through each of the elements of an array</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-inArray">.inArray</a>
                </td>
                <td>Checks if a value exists in array</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-insert">.insert</a>
                </td>
                <td>Inserts a value on a specified index</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-intersect">.intersect</a>
                </td>
                <td>Compares the values of two arrays and return the matches</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-keyValue">.keyValue</a>
                </td>
                <td>Gets the indexes of a value in an array</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-map">.map</a>
                </td>
                <td>Runs a function for each item in the array. </td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-remove">.remove</a>
                </td>
                <td>Removes a range of values from the array</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-shuffle">.shuffle</a>
                </td>
                <td>Shuffles an array.</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-some">.some</a>
                </td>
                <td>Checks if some element in the array passes a truth test</td>
            </tr>
            <tr>
                <td>
                    <a href="#Ink_Util_Array_1-Ink_Util_Array_1-sortMulti">.sortMulti</a>
                </td>
                <td>Sorts an array of objects by an object property</td>
            </tr></tbody>
    </table>
    
</section>



    <section id="Ink_Util_Array_1-Ink_Util_Array_1-convert" class="box box-function">
    <h1 class="fw-300">.convert(arr) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">arr</li>
    </ul><p class="text">Converts an array-like object to an array</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">arr</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                Array to be converted</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><code>Array</code></p>Array resulting of the conversion
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_convert.html %}
	</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-each" class="box box-function">
    <h1 class="fw-300">.each() 
    <i>method</i></h1><p class="text">Alias for backwards compatibility. See forEach</p>

</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-filter" class="box box-function">
    <h1 class="fw-300">.filter(array, test, [context]) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">array</li><li class="prop">test</li><li class="prop">[context]</li>
    </ul><p class="text">Filters an array based on a truth test.<br>This method runs a test function on all the array values and returns a new array with all the values that pass the test.</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">array</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                The array to filter</li>
            <li class="level1"><span class="monospace">test</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Function</span></p>
                <!--</label>-->
                A test function taking `(item, index, array)`</li>
            <li class="level1"><p>
                    <span class="monospace">[context]</span>
                    
                    
                    <!--<li class="level1">--><span class="ink-label orange">Object</span></p>
                <!--</label>-->
                Object to be `this` in the test function.</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><code>Array</code></p>Returns the filtered array
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_filter.html %}
	</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-forEach" class="box box-function">
    <h1 class="fw-300">.forEach(arr, cb) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">arr</li><li class="prop">cb</li>
    </ul><p class="text">Runs a function through each of the elements of an array</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">arr</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                The array to be cycled/iterated</li>
            <li class="level1"><span class="monospace">cb</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Function</span></p>
                <!--</label>-->
                The function receives as arguments the value, index and array.</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><code>Array</code></p>Iterated array.
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_forEach.html %}
	</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-inArray" class="box box-function">
    <h1 class="fw-300">.inArray(value, arr) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">value</li><li class="prop">arr</li>
    </ul><p class="text">Checks if a value exists in array</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">value</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Mixed</span></p>
                <!--</label>-->
                Value to check</li>
            <li class="level1"><span class="monospace">arr</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                Array to search in</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><code>Boolean</code></p>True if value exists in the array
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_inArray.html %}
	</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-insert" class="box box-function">
    <h1 class="fw-300">.insert(arr, idx, value) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">arr</li><li class="prop">idx</li><li class="prop">value</li>
    </ul><p class="text">Inserts a value on a specified index</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">arr</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                Array where the value will be inserted</li>
            <li class="level1"><span class="monospace">idx</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Number</span></p>
                <!--</label>-->
                Index of the array where the value should be inserted</li>
            <li class="level1"><span class="monospace">value</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Mixed</span></p>
                <!--</label>-->
                Value to be inserted</li>
        </ul>

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_insert.html %}
	</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-intersect" class="box box-function">
    <h1 class="fw-300">.intersect(arr1, arr2) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">arr1</li><li class="prop">arr2</li>
    </ul><p class="text">Compares the values of two arrays and return the matches</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">arr1</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                First array</li>
            <li class="level1"><span class="monospace">arr2</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                Second array</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><code>Array</code></p>Empty array if one of the arrays is false (or do not intersect) | Array with the intersected values
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_intersect.html %}
	</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-keyValue" class="box box-function">
    <h1 class="fw-300">.keyValue(value, arr, [first]) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">value</li><li class="prop">arr</li><li class="prop">[first]</li>
    </ul><p class="text">Gets the indexes of a value in an array</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">value</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">String</span></p>
                <!--</label>-->
                Value to search for.</li>
            <li class="level1"><span class="monospace">arr</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                Array to run the search in.</li>
            <li class="level1"><p>
                    <span class="monospace">[first]</span>
                    
                    
                    <!--<li class="level1">--><span class="ink-label orange">Boolean</span></p>
                <!--</label>-->
                Flag to stop the search at the first match. It also returns an index number instead of an array of indexes.</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><code>Boolean|Number|Array</code></p>False for no matches. Array of matches or first match index.
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_keyValue.html %}
	</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-map" class="box box-function">
    <h1 class="fw-300">.map(array, map, [context]) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">array</li><li class="prop">map</li><li class="prop">[context]</li>
    </ul><p class="text">Runs a function for each item in the array. <br>That function will receive each item as an argument and its return value will change the corresponding array item.</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">array</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                The array to map over</li>
            <li class="level1"><span class="monospace">map</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Function</span></p>
                <!--</label>-->
                The map function. Will take `(item, index, array)` as arguments and `this` will be the `context` argument.</li>
            <li class="level1"><p>
                    <span class="monospace">[context]</span>
                    
                    
                    <!--<li class="level1">--><span class="ink-label orange">Object</span></p>
                <!--</label>-->
                Object to be `this` in the map function.</li>
        </ul>

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_map.html %}
	</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-remove" class="box box-function">
    <h1 class="fw-300">.remove(arr, from, rLen) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">arr</li><li class="prop">from</li><li class="prop">rLen</li>
    </ul><p class="text">Removes a range of values from the array</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">arr</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                Array where the value will be removed</li>
            <li class="level1"><span class="monospace">from</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Number</span></p>
                <!--</label>-->
                Index of the array where the removal will start removing.</li>
            <li class="level1"><span class="monospace">rLen</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Number</span></p>
                <!--</label>-->
                Number of items to be removed from the index onwards.</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><code>Array</code></p>An array with the remaining values
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_remove.html %}
	</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-shuffle" class="box box-function">
    <h1 class="fw-300">.shuffle(arr) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">arr</li>
    </ul><p class="text">Shuffles an array.</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">arr</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                Array to shuffle</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><code>Array|Boolean</code></p>Shuffled Array or false if not an array.
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_shuffle.html %}
	</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-some" class="box box-function">
    <h1 class="fw-300">.some(arr, cb, context) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">arr</li><li class="prop">cb</li><li class="prop">context</li>
    </ul><p class="text">Checks if some element in the array passes a truth test</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">arr</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                The array to iterate through</li>
            <li class="level1"><span class="monospace">cb</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Function</span></p>
                <!--</label>-->
                The callback to be called on the array's elements. It receives the value, the index and the array as arguments.</li>
            <li class="level1"><span class="monospace">context</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Object</span></p>
                <!--</label>-->
                Object of the callback function</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><code>Boolean</code></p>True if the callback returns true at any point, false otherwise
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_some.html %}
	</section>

    <section id="Ink_Util_Array_1-Ink_Util_Array_1-sortMulti" class="box box-function">
    <h1 class="fw-300">.sortMulti(arr, key) 
    <i>method</i></h1>
    <ul class="props inline">
        <li class="heading">Arguments:</li><li class="prop">arr</li><li class="prop">key</li>
    </ul><p class="text">Sorts an array of objects by an object property</p>
        <h3>Accepts</h3>
        
        <ul class="params">
            <li class="level1"><span class="monospace">arr</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">Array</span></p>
                <!--</label>-->
                Array of objects to sort</li>
            <li class="level1"><span class="monospace">key</span>
                    
                    <!--<li class="level1">--><span class="ink-label orange">String</span></p>
                <!--</label>-->
                Property to sort by</li>
        </ul>
    <h3>Returns</h3>
    <ul class="params">
        <li class="return">
            <p><code>Array|Boolean</code></p>False if it's not an array, returns a sorted array if it's an array.
        </li>
    </ul>
    

<!--<h3>Samples</h3>-->
		{% include js_samples/Ink_Util_Array_sortMulti.html %}
	</section>



    
