#ink #shadows .no-box-shadow {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#ink #shadows .no-text-shadow {
  text-shadow: none;
}

#ink #text .ink-font-stack {
  font-family: Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: 'MavenProBold';
  font-style: normal;
  font-weight: normal;
  src: url('../webfonts/maven_pro_bold-webfont.eot');
  src: url('../webfonts/maven_pro_bold-webfont.eot?#iefix') format('eot'), url('../webfonts/maven_pro_bold-webfont.woff') format('woff'), url('../webfonts/maven_pro_bold-webfont.ttf') format('truetype'), url('../webfonts/maven_pro_bold-webfont.svg#webfontNOU7iUTL') format('svg');
}

@font-face {
  font-family: 'MavenProMedium';
  font-style: normal;
  font-weight: normal;
  src: url('../webfonts/maven_pro_medium-webfont.eot');
  src: url('../webfonts/maven_pro_medium-webfont.eot?#iefix') format('eot'), url('../webfonts/maven_pro_medium-webfont.woff') format('woff'), url('../webfonts/maven_pro_medium-webfont.ttf') format('truetype'), url('../webfonts/maven_pro_medium-webfont.svg#webfontNj5iy4Dl') format('svg');
}

@font-face {
  font-family: 'MavenProRegular';
  font-style: normal;
  font-weight: normal;
  src: url('../webfonts/maven_pro_regular-webfont.eot');
  src: url('../webfonts/maven_pro_regular-webfont.eot?#iefix') format('eot'), url('../webfonts/maven_pro_regular-webfont.woff') format('woff'), url('../webfonts/maven_pro_regular-webfont.ttf') format('truetype'), url('../webfonts/maven_pro_regular-webfont.svg#webfontOM8fITNz') format('svg');
}

h2 span {
  padding-right: .5em;
}

.box {
  padding: 1em;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px 0 #aaaaaa;
     -moz-box-shadow: 0 1px 3px 0 #aaaaaa;
          box-shadow: 0 1px 3px 0 #aaaaaa;
}

mark {
  padding: 1px 3px;
  font-family: Ubuntu_monospaced, Monaco, Andale Mono, Courier New, monospace;
  font-size: .9em;
  background: #deedf1;
}

.gridExample .box p,
.gridExample2 div p,
.gridExample2 .level1 {
  padding: .75em;
  margin: .2em;
  color: #7AA6B3;
  text-align: right;
  background-color: #DEEDF1;
  border-radius: 4px;
}

.gridExample2 .level1 {
  padding: .1em;
  overflow: hidden;
}

.gridExample2 .level1 > p {
  padding: .75em 0;
  text-align: center;
}

.gridExample2 .level2 p {
  margin: 2px;
  text-align: center;
  background-color: #fff;
}

.gridExample .ink-vspace,
.gridExample2 .ink-vspace {
  margin-bottom: 0;
}

#spaceExamples .box {
  padding: 0;
}

#spaceExamples .box div {
  margin: 0;
  font-weight: bold;
  text-align: center;
}

#spaceExamples .box div p {
  margin: 0;
  font-size: 1.75em;
  line-height: 200px;
  color: #fff;
  vertical-align: middle;
  background-color: #DEEDF1;
}

#spaceExamples .box div:hover {
  background-color: #68b9cf;
  border-radius: 4px;
  -webkit-transition: all ease-in-out 300ms;
     -moz-transition: all ease-in-out 300ms;
       -o-transition: all ease-in-out 300ms;
          transition: all ease-in-out 300ms;
}

#spaceExamples .box .ink-space {
  padding: 1em;
}

#spaceExamples .box .ink-vspace {
  padding: 1em 0;
}

#spaceExamples .box .ink-hspace {
  padding: 0 1em;
}

#spaceExamples .box .ink-hspace p {
  padding: 13px 0;
}

/*..........................................  Typography  ...................................................*/

#headingExample h1,
#headingExample h2,
#headingExample h3,
#headingExample h4,
#headingExample h5 {
  margin-bottom: 20px;
}

#listExample ul,
#listExample ol,
#listExample dl {
  margin-bottom: 1.5em;
}

a.visited {
  color: #808080;
}

a.hover {
  color: #007ed5;
  text-decoration: underline;
}

a.active {
  color: #ff0000;
}

/*..........................................  Forms  ...................................................*/

.exampleForm {
  padding: 1em 0;
  margin: 1em 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eeeeee;
}

.exampleForm .e_wrap {
  padding: 0;
  margin: 0;
}

#buttonsExample .e_wrap {
  text-align: right;
}

.whatIs {
  font-size: 1.25em;
}

.whatIs h2 {
  font-size: 3em;
  letter-spacing: -0.02em;
  color: #131e24;
}

#download {
  text-align: center;
}

#download a {
  display: block;
  padding: .8em;
  font-weight: bold;
  color: #FFF;
  background: #2e2e2e;
  background-image: linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2e2e), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -o-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -ms-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -moz-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#222222');
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

#download a:hover {
  text-decoration: none;
  background: #3c3c3c;
  background-image: -moz-linear-gradient(top, #3c3c3c 0%, #2e2e2e 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #2e2e2e));
  background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #2e2e2e 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0%, #2e2e2e 100%);
  background-image: -ms-linear-gradient(top, #3c3c3c 0%, #2e2e2e 100%);
  background-image: linear-gradient(top, #3c3c3c 0%, #2e2e2e 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3c3c3c', endColorstr='#2e2e2e');
}

#download p {
  margin: 1em;
}

/*..........................................  Footer  ...................................................*/

.callToAction {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../imgs/home_bkg.png) center;
  background-image: -webkit-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background-image: -webkit-gradient(linear, left center, right center, from(#e65d5b), to(#e35c57), color-stop(14%, #f3af32), color-stop(28%, #e6d168), color-stop(40%, #7bd369), color-stop(55%, #50c6a2), color-stop(70%, #a7d37c), color-stop(85%, #a7b958));
  background-image: -o-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background-image: -ms-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background-image: linear-gradient(to right, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
  background-image: -moz-linear-gradient(left, #e65d5b, #f3af32 14%, #e6d168 28%, #7bd369 40%, #50c6a2 55%, #a7d37c 70%, #a7b958 85%, #e35c57);
}

.logo_hp {
  position: relative;
  z-index: 9;
  display: block;
  margin: auto;
  -moz-opacity: 0.8;
       opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 500ms ;
     -moz-transition: all 500ms ;
      -ms-transition: all 500ms ;
       -o-transition: all 500ms ;
          transition: all 500ms /* custom */;
}

.glow {
  position: absolute;
  top: 0;
  z-index: 8;
  width: 100%;
  text-align: center;
  -webkit-animation: glower 5s infinite;
     -moz-animation: glower 5s infinite;
      -ms-animation: glower 5s infinite;
       -o-animation: glower 5s infinite;
}

.logo_hp:hover {
  -moz-opacity: 1;
       opacity: 1;
}

@keyframes glower {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes glower {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-moz-keyframes glower {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-ms-keyframes glower {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-o-keyframes glower {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*...................................................  Menus  ....................................................*/

.menu-second-level {
  border-top: 1px solid #cacaca;
  -webkit-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
}

.menu-second-level .ink-container .ink-navigation ul {
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.menu-second-level .ink-container .ink-navigation ul li a {
  padding: 0 .8em;
  font-size: 1.143em;
  color: #000000;
}

.menu-second-level .ink-container .ink-navigation ul li {
  border-right: 1px solid #CACACA;
}

.menu-second-level .ink-container .ink-navigation ul li.active {
  background: #2e2e2e;
  background-image: -moz-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e2e2e), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -o-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: -ms-linear-gradient(top, #2e2e2e 0%, #222222 100%);
  background-image: linear-gradient(top, #2e2e2e 0%, #222222 100%);
  border-right: none;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#222222');
}

.menu-second-level .ink-container .ink-navigation ul .active a {
  color: #fff;
}

.menu-second-level .ink-container .ink-navigation ul li a.home {
  width: 1em;
  text-indent: -5555px;
  background: url(../imgs/home_Sprite.png) 0 0 no-repeat;
}

.menu-second-level .ink-container .ink-navigation ul li.active a.home {
  background: url(../imgs/home_Sprite.png) 0 -43px no-repeat;
}

/*...................................................  Footer  ...................................................*/

footer {
  overflow: hidden;
  background: #f0f0f0;
  border-top: 1px solid #CCC;
}

footer .SAPOlogo {
  display: block;
  width: 101px;
  height: 30px;
  text-indent: -9999px;
  background: url("../imgs/SAPOlogo.png") no-repeat scroll 0 0 transparent;
}

footer .PTClogo {
  display: block;
  float: left;
  width: 41px;
  height: 43px;
  margin-right: 1em;
  text-indent: -9999px;
  background: url("../imgs/icon_Sprite.png") no-repeat 0 top;
}

footer .copyright {
  font-size: 0.875em;
}

footer h5 {
  float: left;
  font-size: 1em;
  line-height: 2.1em;
}

footer ul.sociallinks {
  float: right;
  margin: 1em 0 2em;
}

footer ul.sociallinks li {
  display: inline-block;
  *display: inline;
  width: 24px;
  height: 24px;
  margin-left: 6px;
  *zoom: 1;
}

footer ul.sociallinks a.Fb_link,
footer ul.sociallinks a.Twt_link,
footer ul.sociallinks a.Gplus_link {
  display: inline-block;
  width: 24px;
  height: 24px;
}

footer ul.sociallinks li a.Fb_link {
  background: url("../imgs/icon_Sprite.png") no-repeat 0 -90px;
}

footer ul.sociallinks li a.Twt_link {
  background: url("../imgs/icon_Sprite.png") no-repeat 0 -118px;
}

footer ul.sociallinks li a.Gplus_link {
  background: url("../imgs/icon_Sprite.png") no-repeat 0 -146px;
}

code {
  padding: 0 4px;
  font-size: .85em;
  background: #E9E9E9;
  border: 1px solid #E0E0E0;
}

.visual-example {
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.visual-example .example-container {
  padding: 1.4em 1.2em;
}

.visual-example h4 {
  padding: 0.5em;
  margin: 0;
  font-size: 1em;
  color: #ffffff;
  background: #cccccc;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

#topbar {
  height: 40px;
  margin: auto;
  font-size: 0.875em;
  background: #222222;
  -webkit-box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
     -moz-box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
          box-shadow: '0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)';
}

#topbar .ink-navigation ul.menu.horizontal.black.flat {
  background: #222222;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#topbar a.logoPlaceholder {
  width: 44px;
  padding: 0;
  margin: 0 1em 0 0;
  text-indent: -5000px;
  background: url(../imgs/logo_topbar.png);
}

#topbar a.logoPlaceholder:hover {
  background: url(../imgs/logo_topbar.png) 0 -40px;
}

#topbar ul li a {
  color: #bbbbbb;
}

#topbar ul li a:hover {
  color: #ffffff;
  background: #313131;
}

#topbar ul li.active a {
  color: #ffffff;
  background: #080808;
  background-image: -moz-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #080808), color-stop(100%, #3c3c3c));
  background-image: -webkit-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background-image: -o-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background-image: linear-gradient(top, #080808 0%, #3c3c3c 100%);
  background-image: -ms-linear-gradient(top, #080808 0%, #3c3c3c 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#080808', endColorstr='#3c3c3c');
  -webkit-box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.3);
     -moz-box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.3);
}

#topbar .ink-h-nav .submenu li a {
  color: #000000;
}

#topbar .ink-h-nav .submenu li a:hover {
  color: #ffffff;
}

#topbar .ink-button {
  position: absolute;
  top: .6em;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 1.2em;
  color: #bbbbbb;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: none;
  border: none;
  filter: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

#topbar .ink-button:hover {
  color: #ffffff;
  background: none;
}
