.#{$navigation-class-name} {
    
    ul {

        &.pills {

            // defaults
            li {

                @include navigation (white);

                a {
                    color: $text-color;
                    background: none;
                    &:hover { background: lighten($black,85%); }
                } 

                &.active a { background: lighten($black,85%); }

                &.disabled {
                    a {
                        color: $grey-40;
                        background: fade($black,0%);
                        @include text-shadow(lighten($grey-40,40%) 0 1px 0);
                    }
                }

            }

            &.grey {
                li {
                    @include navigation(grey);

                    a { 
                        color: $text-color; 
                        &:hover { background: lighten($black,70%); }
                    }

                    &.active a { background: lighten($black,70%); }

                    &.disabled {
                        a {
                            color: $grey-40;
                            background: fade($black,0%);
                            @include text-shadow(lighten($grey-40,40%) 0 1px 0);
                        }
                    }                    
                }
            }

            &.black {

                li {
                    @include navigation (black);

                    a { 
                        color: $white; 
                        &:hover { background: lighten($black,20%); }
                    }

                    &.active a { background: lighten($black,20%); }

                    &.disabled {
                        a {
                            color: $grey-60;
                            background: fade($black,0%);
                            @include text-shadow($black 0 -1px 0);
                        }
                    }
                }
            }

            &.orange {
                li {
                    @include navigation(orange);

                    a { 
                        color: $white; 
                        &:hover { background: darken($orange,15%); }
                    }

                    &.active a { background: darken($orange,15%); }
                    
                    &.disabled {
                        a {
                            color: darken($orange,20%);
                            background: fade($black,0%);
                            @include text-shadow(lighten($orange,8%) 0 1px 0);
                        }
                    }
                }
            }

            &.blue {
                li {
                    @include navigation(blue);

                    a { 
                        color: $white;
                        &:hover { background: darken($blue,15%); }
                    }
                    
                    &.active a { background: darken($blue,15%); }
                    
                    &.disabled {
                        a {
                            color: darken($blue,20%);
                            background: fade($black,0%);
                            @include text-shadow(lighten($blue,8%) 0 1px 0);
                        }
                    }
                }
            }

            &.green {
                li {
                    @include navigation(green);

                    a { 
                        color: $white; 
                        &:hover { background: darken($green,15%); }
                    }

                    &.active a { background: darken($green,15%); }

                    &.disabled {
                        a {
                            color: darken($green,20%);
                            background: fade($black,0%);
                            @include text-shadow(lighten($green,6%) 0 1px 0);
                        }
                    }
                }
            }

            &.red {
                li {
                    @include navigation(red);

                    a { 
                        color: $white;
                        &:hover { background: darken($red,15%); }
                    }
                    
                    &.active a { background: darken($red,15%); }

                    &.disabled {
                        a {
                            color: darken($red,25%);
                            background: fade($black,0%);
                            @include text-shadow(lighten($red,8%) 0 1px 0);
                        }
                    }
                }
            }
            
            // removes gradients
            &.flat {

                // default
                li { background: $white; }
                
                // themes
                &.grey li   { background: $grey-15; filter: none; }
                &.black li  { background: $black; filter: none; }
                &.orange li { background: desaturate($orange,10%); filter: none; }
                &.blue li   { background: desaturate($blue,10%); filter: none; }
                &.green li  { background: desaturate($green,10%); filter: none; }
                &.red li    { background: desaturate($red,10%); filter: none; }  
            }

            // adds rounded corners
            &.rounded li { 
                @include border-radius($navigation-border-radius); 
                a { @include border-radius($navigation-border-radius); }
            }

            // adds shadow
            &.shadowed li { @include box-shadow(fade($black,30%) 0 1px 2px 0); }
            
        }
    }
}