---
layout: components
title: Alerts
site_root:  ../../
---

<section>
    <h2>Alerts</h2>
    <article id="form-building" data-target="#components-nav" data-spy="true">
        <h3>Form building</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt arcu ut varius tincidunt. Donec convallis sem nisl, hendrerit eleifend eros congue quis. Nulla facilisi. Praesent non risus faucibus, vehicula justo rhoncus, tincidunt risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque rutrum a mi ut consequat. Etiam nunc felis, convallis id urna eu, venenatis feugiat enim. Nullam quis elit erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin dictum porttitor tortor, nec feugiat ipsum fringilla et. Maecenas aliquet felis ac rhoncus sodales. In hac habitasse platea dictumst.</p>
    </article>
    <article id="inline-form" data-target="#components-nav" data-spy="true">
        <h3>Inline form</h3>
        <p>Fusce auctor ante et orci posuere, et placerat eros euismod. Integer consectetur commodo tortor non lacinia. Pellentesque pellentesque posuere gravida. Integer pellentesque mattis magna sed volutpat. Nunc ullamcorper congue eros vitae pellentesque. Donec feugiat felis nec odio luctus, et convallis mauris pellentesque. Aenean dui lacus, consequat eget dapibus scelerisque, bibendum quis tellus. Etiam pulvinar orci eget malesuada lacinia. Etiam luctus ipsum sed erat elementum faucibus. Suspendisse ac suscipit odio.</p>
    </article>
    <article id="required-fields" data-target="#components-nav" data-spy="true">
        <h3>Required fields & warnings</h3>
        <p>Donec vestibulum ante id turpis ullamcorper, in semper massa eleifend. Mauris placerat semper luctus. Donec turpis tellus, laoreet nec dictum vel, dignissim non leo. Phasellus elementum ut turpis ultrices pharetra. Praesent ac tellus accumsan, iaculis nisi ac, pretium lorem. Donec vulputate, metus ut auctor lobortis, leo sapien ornare urna, ut volutpat eros justo nec ipsum. Morbi semper quis leo id placerat.</p>
    </article>
    <article id="radio-checkbox-buttons" data-target="#components-nav" data-spy="true">
        <h3>Checkboxes & Radio buttons </h3>
        <p>Fusce faucibus tellus et augue sollicitudin, sed commodo sapien luctus. Ut adipiscing vitae erat id consectetur. Mauris condimentum augue erat, vel semper leo ullamcorper in. Sed erat diam, feugiat ut sem et, vehicula fermentum massa. Nullam egestas posuere porttitor. Donec et odio nec velit sagittis tempor. Nunc tortor tortor, accumsan eu nulla et, dictum consequat ante. Nunc suscipit accumsan dolor a condimentum. Ut dui velit, hendrerit sed felis ac, laoreet dignissim mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla facilisi.</p>
    </article>
    <article id="pre-app-inputs" data-target="#components-nav" data-spy="true">
        <h3>Prepended & Appended Inputs</h3>
        <p>Pellentesque in neque nec ligula tempus ullamcorper a eget nibh. In nunc lacus, tincidunt eget ante ac, luctus condimentum lorem. Donec dapibus quam lacus. Integer ante enim, luctus feugiat risus et, mollis semper lectus. In rhoncus iaculis semper. Pellentesque ut tellus lacus. Nulla aliquam neque quis tortor venenatis, vitae ultricies mi fringilla. Curabitur sed iaculis libero. Donec viverra ligula nec tincidunt tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
    </article>
</section>