// Alerts

@mixin alert($alert-type, $alert-color) {

    @if $alert-type == basic {

        background: rgba($alert-color,.25);
        color: darken(desaturate($alert-color,20%),10%);
        border: 1px solid darken(desaturate($alert-color,20%),10%);

        .#{$dismiss-class-name} { color: darken(desaturate($alert-color,20%),10%); }
    }

    @if $alert-type == block {

        border: 1px solid darken(desaturate($alert-color,20%),10%);
        background: $alert-block-bg;

        > h4 {
            background: rgba($alert-color,.3);
            color: darken(desaturate($alert-color,20%),10%);
        }

        .#{$dismiss-class-name} { color: darken(desaturate($alert-color,20%),10%); }
    }

}
