// Buttons

@mixin ink-button($button-background-color, $button-text-color) {

    color: $button-text-color; 
    background: $button-background-color;
    border-color: shade($button-background-color, 15%);

    &:hover,
    &:active {
        background: darken($button-background-color, 5%);
        border-color: darken(shade($button-background-color, 15%),5%);
        color: $button-text-color;  // force text color for anchor tags
        text-decoration: none;      // remove underline on anchor tags
    }

    &:focus {
        background: darken($button-background-color, 5%);
    }

    &[disabled]{
        background: transparentize($button-background-color,0.4);
        border: none;
        &:hover {
            border: none;
            @include box-shadow(none);
        }
    }
}

@mixin button-group($button-background-color) {

    &:first-child {
        border-left: shade($button-background-color, 15%);
    }

}
