// show hidden element
.#{$show}-#{$all} {
    display: inherit;
}

// hide visible element
.#{$hide}-#{$all} {
    display: none !important;
}

// Removes margin
.#{$no}-#{$margin} {
    margin: 0 !important;
}

// Removes padding
.#{$no}-#{$padding} {
    padding: 0 !important;
}

.#{$push-postion-class-name}-#{$left-postion-class-name} {
    float: left;
    @include experimental(justify-content, flex-start, -moz, -webkit, not -o, not -ms, not -khtml, official);
}
.#{$push-postion-class-name}-#{$center-postion-class-name} {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    @include experimental(justify-content, center, -moz, -webkit, not -o, not -ms, not -khtml, official);
}
.#{$push-postion-class-name}-#{$right-postion-class-name} {
    float: right;
    @include experimental(justify-content, flex-end, -moz, -webkit, not -o, not -ms, not -khtml, official);
}
.#{$align-postion-class-name}-#{$left-postion-class-name} {
    text-align: left;
}
.#{$align-postion-class-name}-#{$center-postion-class-name} {
    text-align: center;
}
.#{$align-postion-class-name}-#{$right-postion-class-name} {
    text-align: right;
}

.clearfix {
    @include clearfix;
    @include pie-clearfix;
}
