// show hidden element
.show-all {
    display: inherit;
}

// hide visible element
.hide-all {
    display: none;
}

.push-left {
  float: left;        
}
.push-center {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}
.push-right {
  float: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}