.ink-carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;

    // This is what gets pulled left and right (or up and down)
    .stage {
        left: 0;
        height: auto !important; // To be removed
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
        white-space: nowrap;
        position: relative;
        #ink > #effects > .transition(all, 0.5s, ease);

        // Each slide
        .slide {
            position: relative;
            display: inline-block;
            vertical-align: top;
            white-space: normal;
            margin: 0;
            float: none;
            zoom: 1;
            *display: inline;
        }
    }

    // Element which hides the rightmost part of the slide thing
    .hider {
        #ink > #effects > .transition(all, 0.5s, ease);
        background-color: white;
        margin: 0;
    }
}