/*  |||||||||||||||||||||||||||||  Base Sizes   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/* |||||||||||||||||||||||||||  Footer  ||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
/* INK                   :TABLES */
html .ink-container {
  width: auto;
  padding: 0 15px;
}
html .ink-m100 {
  width: 100%;
}
html .ink-m90 {
  width: 90%;
}
html .ink-m80 {
  width: 80%;
}
html .ink-m75 {
  width: 75%;
}
html .ink-m70 {
  width: 70%;
}
html .ink-m66 {
  width: 66.66%;
}
html .ink-m60 {
  width: 60%;
}
html .ink-m50 {
  width: 50%;
}
html .ink-m40 {
  width: 40%;
}
html .ink-m33 {
  width: 33.33%;
}
html .ink-m30 {
  width: 30%;
}
html .ink-m25 {
  width: 25%;
}
html .ink-m20 {
  width: 20%;
}
html .ink-m10 {
  width: 10%;
}
html .ink-m10,
html .ink-m20,
html .ink-m25,
html .ink-m30,
html .ink-m33,
html .ink-m40,
html .ink-m50,
html .ink-m60,
html .ink-m66,
html .ink-m70,
html .ink-m75,
html .ink-m80,
html .ink-m90 {
  float: left;
  zoom: 1;
}
html .ink-m100:empty,
html .ink-m90:empty,
html .ink-m80:empty,
html .ink-m75:empty,
html .ink-m70:empty,
html .ink-m66:empty,
html .ink-m60:empty,
html .ink-m50:empty,
html .ink-m40:empty,
html .ink-m33:empty,
html .ink-m30:empty,
html .ink-m25:empty,
html .ink-m20:empty,
html .ink-m10:empty {
  clear: both;
}
