/*  |||||||||||||||||||||||||||||  Base Sizes   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Typography   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Forms   ||||||||||||||||||||||||||| */
/* Size Variables */
/* Offset Variables */
/* Color Variables */
/* Estes valores têm que ser em rbga */
/* Botões*/
/*  |||||||||||||||||||||||||||||  Menus   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Pagination   ||||||||||||||||||||||||||| */
/*@borderRadius*/
/*  |||||||||||||||||||||||||||||  Tabs   ||||||||||||||||||||||||||| */
/*  |||||||||||||||||||||||||||||  Alerts & Errors   ||||||||||||||||||||||||||| */
body,
div,
dt,
dd,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
fieldset, img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
caption, th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
}
.clearfix:after,
.container_width:after,
.section:after,
.space:after,
.g100:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}
.container_width {
  margin: auto;
  width: auto;
  padding: 0 15px;
}
.g100 {
  width: 100%;
}
.g90 {
  width: 90%;
}
.g80 {
  width: 80%;
}
.g75 {
  width: 75%;
}
.g70 {
  width: 70%;
}
.g66 {
  width: 66.66%;
}
.g60 {
  width: 60%;
}
.g50 {
  width: 50%;
}
.g40 {
  width: 40%;
}
.g33 {
  width: 33.33%;
}
.g30 {
  width: 30%;
}
.g25 {
  width: 25%;
}
.g20 {
  width: 20%;
}
.g10 {
  width: 10%;
}
.g90,
.g80,
.g75,
.g70,
.g66,
.g60,
.g50,
.g40,
.g33,
.g30,
.g25,
.g20,
.g10 {
  float: left;
  zoom: 1;
  margin: -1px;
}
.g100:empty,
.g90:empty,
.g80:empty,
.g75:empty,
.g70:empty,
.g66:empty,
.g60:empty,
.g50:empty,
.g40:empty,
.g33:empty,
.g30:empty,
.g25:empty,
.g20:empty,
.g10:empty {
  clear: both;
}
.space {
  margin: 10px;
  padding: 15px;
}
.v_space {
  margin: 10px 0;
  padding: 15px 0;
}
.h_space {
  margin: 0 10px;
  padding: 0 15px;
}
.clear, .g100, .section {
  clear: both;
}
.clearleft {
  clear: left;
}
/*Typographic Correction*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.3em 0;
}
