.clearfix,.container_width,.section,.space,.g100{zoom:1;}
.h_navigation li{list-style:none!important;display:inline;}
.block-alert-msg .close{position:absolute;right:0px;top:0px;}
.block-alert-msg{border:1px solid #eee;position:relative;}
#topMenu h1 a{text-decoration:none!important;}
