{% include document-top.html %}
{% include main-navigation.html %}
{% include left-drawer.html %}
<div id="page-content" class="ink-grid">
    <div class="page-header">
        <h1 class="slab">Components</h1>
        <p>So you want to start using Ink? You've come to the right place.</p>
    </div>
    <div class="column-group gutters">
        <div class="xlarge-20 large-20 hide-medium hide-small hide-tiny">
            <nav class="ink-navigation sidebar">
                <ul class="menu vertical">
                    <li class="search" role="search">
                        <input placeholder="Search..." id="search" type="search"><span class="fa fa-search"></span>
                        <div class="ink-dropdown red" id="search-dropdown" style="display: none;">
                            <ul id="resultsList" class="dropdown-menu">
                                
                            </ul>
                        </div>
                    </li>
                    
                    {% include js-nav.html %}
                    
                </ul>
            </nav>
        </div>
        <div class="xlarge-80 large-80 medium-100 small-100 tiny-100">        
            {{ content }}
        </div>
    </div>
</div>

{% include footer.html %}
{% include document-bottom.html %}