/**
* Ink - Interface kit
* Module: Alert messages and boxes
*/

.alert-msg, .block-alert-msg h4 {
	padding:1em;
	padding-top: 1.1em;
	font-size: .9em;
	color: #666;  
	#ink > #gradients > .gradient (lighten(@alertMsg-Bg, 5%), darken(@alertMsg-Bg, 5%), 100%);
	#ink > #shadows > .box-shadows ('0 1px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.8),  inset 0 -1px 0 rgba(0, 0, 0, 0.1)');
	#ink > #border-radius > .all (@alertMsg-border-radius);
}

.block-alert-msg, .alert-msg { 
	margin: 1em 0 ;
}

.alert-msg.success, .block-alert-msg.success h4 { 
	#ink > #gradients > .gradient (lighten(@alertMsg-success-Bg, 0%), darken(@alertMsg-success-Bg, 10%), 100%); 
	color: @white; 
}
.alert-msg.error, .block-alert-msg.error h4 { 
	#ink > #gradients > .gradient (lighten(@alertMsg-Error-Bg, 0%), darken(@alertMsg-Error-Bg, 10%), 100%); 
	color: @white; 
}
.alert-msg.info, .block-alert-msg.info h4 { 
	#ink > #gradients > .gradient (lighten(@alertMsg-Info-Bg, 5%), darken(@alertMsg-Info-Bg, 10%), 100%); 
	color: @white; 
}
.alert-msg p, .block-alert-msg p { 
	margin: 0 20px 0 0;
}

.alert-msg .close, 
.block-alert-msg .close {
	color: @black;
	float: right;
	font-family: Arial, sans-serif;
	font-weight: bold;
	line-height: .56em;
	font-size: 1.8em;	
	padding:5px;
	margin-right: -0.2em;
	border: none;
	background:none;
	#ink > #shadows > .text-shadow (0px, 1px, 0px, @white);
	#ink > #effects > .opacity (0.2);
}

.block-alert-msg h4 {
	font-size: 1em; margin:0; 
	border-bottom: 1px solid darken(@alertMsg-Bg, 10%);
	#ink > #shadows > .box-shadow (0, 1px, 0, 0, rgba(255, 255, 255, 0.3), inset); 
	#ink > #border-radius > .all (@alertMsg-border-radius, @alertMsg-border-radius, 0, 0); 
}

.block-alert-msg {
	background: #FEFBF3;
	border-bottom: 1px solid #ddd;
	font-size: .9em;
	#ink > #border-radius > .all (@alertMsg-border-radius);
	#ink > #shadows > .box-shadow (0, 1px, 2px, 0, rgba(0, 0, 0, 0.1));
}

.block-alert-msg p, 
.block-alert-msg ul, 
.block-alert-msg ol {
	padding:1em;
}

.block-alert-msg .close { margin:.5em .4em 0 0 }


.block-alert-msg ul 		{ list-style: inside }
.block-alert-msg.success h4 { border-bottom: 1px solid darken(@alertMsg-success-Bg, 10%) }
.block-alert-msg.error h4	{ border-bottom: 1px solid darken(@alertMsg-Error-Bg, 10%) }
.block-alert-msg.info h4	{ border-bottom: 1px solid darken(@alertMsg-Info-Bg, 10%) }