.ink-button,
.ink-button,
button,
input[type="button"],
input[type="submit"],
 {

	-webkit-appearance: menuitem;
	font-weight: bold;
	font-size: 0.938em;
	line-height:1.3em;
	padding: @btnPadding;
	float:none;
	border: 1px solid #ccc;
	cursor:pointer;	
	margin:5px;
	text-decoration: none;
	display: inline-block;

	#ink > #border-radius > .all (@border-radius);
	#ink > #buttons > .standard (@btnBg,#333,#fff,true);

	&[disabled], 
	.ink-disabled {
		#ink > #states > .disabled (@btnBg);
	}

	&.warning {
		#ink > #buttons > .standard (@warning-bg-color,#fff,darken(@warning-bg-color,25%));
		// .createBtn(@warning-bg-color);
		&[disabled], 
		.ink-disabled {
			#ink > #states > .disabled (@warning-bg-color);
		}
	}

	&.caution {
		#ink > #buttons > .standard (@caution-bg-color,#fff,darken(@caution-bg-color,25%));
		&[disabled], 
		.ink-disabled {
			#ink > #states > .disabled (@caution-bg-color);
		}
	}

	&.success {
		#ink > #buttons > .standard (@success-bg-color,#fff,darken(@success-bg-color,25%));
		&[disabled], 
		.ink-disabled {
			#ink > #states > .disabled (@success-bg-color);
		}
	}

	&.info {
		#ink > #buttons > .standard (@info-bg-color,#fff,darken(@info-bg-color,25%));
		&[disabled], 
		.ink-disabled {
			#ink > #states > .disabled (@info-bg-color);
		}
	}

}
