@import "conf";
@import "lib";

.ink-warning () {
	.make-warning();
}

.ink-caution {
	.make-caution();
}

.ink-info {
	.make-info();
}

.ink-success {
	.make-success();
}

.ink-warning, .ink-caution, .ink-info, .ink-success {
	&.ink-form-validation {

	}
}

.ink-size-s { font-size: 0.75em; }
.ink-size-l { font-size: 1.2em; }
.ink-size-xl { font-size: 1.45em; }


// .ink-warning .ink-info .ink-caution .ink-success .ink-disabled