@import 'conf.less';
@import 'lib.less';

caption, th { text-align:left; } 
h1, h2, h3, h4, h5, h6 { margin-bottom:5px; }
.ink-clearfix:after,
.ink-container:after,
.ink-section:after,
.ink-space:after,
.ink-l100:after,
.ink-m100:after,
.ink-s100:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
	zoom: 1
}

/* Customize these breakpoints 
@import url(grids/small.css) (max-width: 650px);

/* Customize these breakpoints */
@import url(grids/medium.css) (min-width: 651px) and (max-width: 900px);

/* Customize these breakpoints */
@import url(grids/large.css) (min-width: 901px);

.ink-space 		{ margin: @ink-grid-gutter; }
.ink-vspace 	{ margin-top: @ink-grid-gutter; margin-bottom: @ink-grid-gutter; }
.ink-hspace		{ margin-left: @ink-grid-gutter / 2; margin-right: @ink-grid-gutter / 2; }
.ink-rspace 	{ margin-right: @ink-grid-gutter / 2; }
.ink-lspace 	{ margin-left: @ink-grid-gutter / 2; }
.ink-section 	{ margin: 1em 0; padding-bottom: 1em; border-bottom: 1px solid #eee;}

.ink-clear,
.ink-l100,
.ink-m100,
.ink-s100,
.ink-section { clear: both; }
.ink-clear-left { clear: left; }
.ink-clear-right { clear: right; }


html body .ink-l100:empty,
html body .ink-l90:empty,
html body .ink-l80:empty,
html body .ink-l75:empty,
html body .ink-l70:empty,
html body .ink-l66:empty,
html body .ink-l60:empty,
html body .ink-l50:empty,
html body .ink-l40:empty,
html body .ink-l33:empty,
html body .ink-l30:empty,
html body .ink-l25:empty,
html body .ink-l20:empty,
html body .ink-l10:empty { 
	clear: both;
}
