@import "conf";
@import "lib";

.ink-h-navigation {
	height: @menu-height;
	display: block; 
	font-size: 0em;	
}

.ink-h-navigation li {
	font-size: 14px; 
	display: inline-block; 
	vertical-align: baseline; 
	position:relative; 
	margin:0
}

.ink-h-navigation a {
	line-height: @menu-height; 
	padding: 0 1.5em;
	display:block;
	text-decoration: none;
	color:#000
}

.ink-h-navigation a:hover {
	background:darken(@menu-bgColor,10%)
}

.ink-h-navigation .submenu {
	display: none;
	width:14em;
	position:absolute;
	overflow: hidden;
	padding-left: 0;
	margin-left:-1px;
	z-index: 8; 
	background-color: #fff;
	border-top:1px solid #CACACA;
}

.ink-h-navigation .submenu li {
	display: block;
	float:none;
	border-right:1px solid #CACACA;
	border-bottom:1px solid #CACACA;
	border-left:1px solid #CACACA;
}

.ink-h-navigation li:hover .submenu 	{display: block; height: auto;}

.ink-h-navigation:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	zoom: 1;
}

#topbar {
	height:@topbar-height;
	background:@topbar-bgColor;
	font-size:@topbar-fontSize;
	.box-shadow ('0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1)');
	margin:@topbar-margin;
	vertical-align: top;
	position:relative;
	overflow: visible;
}

#topbar a.logoPlaceholder {
	padding: 0;
}

#topbar a.logoPlaceholder:hover {
	color:#FFF;
	text-decoration:none
}

#topbar a {
	padding: 0 1em;
	line-height: @topbar-height; 
	color:@topbar-color;
}

#topbar h1 {
	font-size: 1.625em;
	float:left;
	margin:0 .8em 0 0;
	font-family: Helvetica Neue, Helvetica, sans-serif;
}

#topbar h1 small {
	margin-left:0.5em;
}

#topbar ul li a:hover 	{background:lighten(@topbar-bgColor,6%); color:@topbar-colorHover;}
#topbar ul li.active a {
	.gradient(darken(@topbar-bgColor, 10%), lighten(@topbar-bgColor, 10%), 100%);
	.box-shadow("0 0px 2px rgba( 255, 255, 255, 0.3)");
	color:#FFF
}

.menu {
	border-top:1px solid #cacaca;
	vertical-align: top;
	position:relative;
	overflow: visible;
}

.menu a {
	padding: 0 .8em;
	font-size:1.143em
}

.menu ul li {
	border-right:1px solid #CACACA;
}

.menu ul li.active {
	border-right:none;
	.gradient(#2e2e2e, #222, 100%);
}

.menu ul .active a {
	color: #fff;
}

.menu ul li a.home {
	width:1em;
	text-indent:-5555px;
	background:url(../demo/styles/imgs/home_Sprite.png) 0 0 no-repeat;
}

.menu ul li.active a.home {
	background:url(../demo/styles/imgs/home_Sprite.png) 0 -43px no-repeat;
}