/*@import "lib";
@import "conf";

.pagination {margin:40px auto; text-align: center; font-size: 0em;}
.pagination li {display: inline-block; margin:0px; font-size: 13px;}
	
.pagination li a {
	display: inline-block; padding:.5em .9em;
	text-decoration: none;
	border-left: 0;
	.round-corners(@pagination-Corners);
	border-left: 1px solid #eee;
	color:@pagination-Color;
}
.pagination li.active a {background-color: @pagination-Selected-Bg-Color;color: #444; font-weight: bold; }
.pagination.compact li a{
	.gradient(lighten(@menu-bgColor, 7%), darken(@menu-bgColor, 10%), 100%);
	.box-shadow ('0 1px 2px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(255, 255, 255, 0.2)');
	border-top: 1px solid #eee;
	.round-corners(0px);
	border-left: 0;
}

.pagination li:first-child a, .pagination li.prev a{
	.i-round-corners(20px ,0, 0, 20px);
	border-left: 0;
}

.pagination li:last-child a, .pagination li.next a {
	.i-round-corners(0, 20px, 20px, 0);
	
}

.pagination.compact li.active a, .pagination.compact li.active a:hover {
	.gradient(lighten(@pagination-Selected-Bg-Color, 7%), darken(@pagination-Selected-Bg-Color, 10%), 100%);
	z-index: 9;
	position:relative;
	border-top: 1px solid #eee;
	.box-shadow ('inset 0 0px 4px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.25)');
	
}
.pagination a:hover {color: #444; text-decoration: underline;}
.pagination li.active a:hover {cursor: default;}
.pagination.buttons li a {
	margin:0 5px;
	.round-corners(50px);
	.gradient(lighten(@menu-bgColor, 7%), darken(@menu-bgColor, 10%), 100%);
	.box-shadow ('0 1px 2px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(255, 255, 255, 0.2)');
	border:0px;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #eee;
} 

.pagination.buttons li.active a, .pagination.buttons li.active a:hover {
	.gradient( darken(@pagination-Selected-Bg-Color, 10%), lighten(@pagination-Selected-Bg-Color, 7%) ,100%);
	.box-shadow ('inset 0 1px 5px rgba(0, 0, 0, 0.5)');
	border: 1px solid #fff;
}

.pagination.compact li:last-child a, .pagination.compact li.next a{padding-right: 1.3em;}
.pagination.compact li:first-child a, .pagination.compact li.prev a {padding-left: 1.3em;}

.pagination.compact li a:hover, .pagination.buttons li a:hover {.gradient(darken(@menu-bgColor, 10%),lighten(@menu-bgColor, 7%),100%); text-decoration: none;}

*/