/* INK: SMALL SCREENS */

@media screen and (max-width: 650px) {

	html .ink-container {
		width: auto;
		padding: 0 @ink-grid-gutter-small;
	}

	html .ink-space 	{ margin: @ink-grid-gutter-small; *overflow:hidden; *clear:both}
	html .ink-vspace { margin-top: @ink-grid-gutter-small; margin-bottom: @ink-grid-gutter-small; }
	html .ink-hspace { margin-left: @ink-grid-gutter-small; margin-right: @ink-grid-gutter-small; }
	html .ink-gutter { margin-left: @ink-grid-gutter-small; }

	html .ink-row {
		margin-left: -@ink-grid-gutter-small;
	}

	html .ink-s100	{ width: 100%; clear:both }
	html .ink-s90	{ width: 90%; }
	html .ink-s80   { width: 80%; }
	html .ink-s75	{ width: 75%; }
	html .ink-s70	{ width: 70%; }
	html .ink-s66	{ width: 66.66%; }
	html .ink-s60	{ width: 60%; }                           
	html .ink-s50	{ width: 50%; }
	html .ink-s40	{ width: 40%; }
	html .ink-s33	{ width: 33.33%; }
	html .ink-s30	{ width: 30%; }
	html .ink-s25	{ width: 25%; }
	html .ink-s20	{ width: 20%; }
	html .ink-s10	{ width: 10%; }

	html .ink-s10, 
	html .ink-s20, 
	html .ink-s25, 
	html .ink-s30, 
	html .ink-s33, 
	html .ink-s40, 
	html .ink-s50, 
	html .ink-s60, 
	html .ink-s66, 
	html .ink-s70, 
	html .ink-s75, 
	html .ink-s80, 
	html .ink-s90 { 
		float: left; 
		zoom: 1; 
	}

	html .ink-s100:empty,
	html .ink-s90:empty,
	html .ink-s80:empty,
	html .ink-s75:empty,
	html .ink-s70:empty,
	html .ink-s66:empty,
	html .ink-s60:empty,
	html .ink-s50:empty,
	html .ink-s40:empty,
	html .ink-s33:empty,
	html .ink-s30:empty,
	html .ink-s25:empty,
	html .ink-s20:empty,
	html .ink-s10:empty { 
		clear: both;
	}

	html .ink-row {
		margin-left: -@ink-grid-gutter-small;
	}

	html .ink-space 	{ margin: @ink-grid-gutter-small; }
	html .ink-vspace 	{ margin-top: @ink-grid-gutter-small; margin-bottom: @ink-grid-gutter-small; }
	html .ink-hspace	{ margin-left: @ink-grid-gutter-small; }

	html .menu-second-level {
		display:none;
	}

	html #topbar {
		height:auto;
	}
	
	html #topbar .horizontal li.active a {
		background:none;
		filter:none;
		#ink > #shadows > .no-box-shadow;
	}
	
	html #topbar .horizontal .submenu li a {
		color:@topbar-color;
		background:@topbar-bgColor;
		padding:0 21px;
	}
	
	html body .submenu {
		display: block;
		width:auto;
		position:relative;
		border-top:none;
		z-index: 1000;
		margin:0;
		background:transparent;
	}
	
	html .submenu li {
		border: none;	
	}
	
	html .submenu li a {
		padding:0 @ink-grid-gutter-medium;
	}
	
	html .example_menu li a {
		padding: 0 @ink-grid-gutter-medium;
	}
	
	html .example_menu .submenu li a {
		padding: 0 @ink-grid-gutter-medium*2;
	}
	
	html .example_menu > li:first-child a {
		#ink > #border-radius > .top (@border-radius);
	}
	
	html .example_menu .submenu:last-child li:last-child a {
		#ink > #border-radius > .bottom (@border-radius);
	}

	html .ink-for-m,  
	html .ink-for-l {
		visibility: hidden;
		position: absolute;
		top: -99999px;
		left: -99999px;
	}

	html .ink-for-s {
		visibility: visible;
		position: relative;
		top: auto;
		left: auto;
	}

	html .ink-docked {
		width:auto;
		left: 10px;
		right: 10px;
	}
}