/* INK: SMALL SCREENS */

@media screen and (max-width: 650px) {

	html .ink-container {
		width: auto;
		padding: 0 @ink-grid-gutter-small;
	}

	html .ink-s100	{ width: auto; clear:both }
	html .ink-s90	{ width: 90%; }
	html .ink-s80   { width: 80%; }
	html .ink-s75	{ width: 75%; }
	html .ink-s70	{ width: 70%; }
	html .ink-s66	{ width: 66.66%; }
	html .ink-s60	{ width: 60%; }                           
	shtml .ink-s50	{ width: 50%; }
	html .ink-s40	{ width: 40%; }
	html .ink-s33	{ width: 33.33%; }
	html .ink-s30	{ width: 30%; }
	html .ink-s25	{ width: 25%; }
	html .ink-s20	{ width: 20%; }
	html .ink-s10	{ width: 10%; }

	html .ink-s10, 
	html .ink-s20, 
	html .ink-s25, 
	html .ink-s30, 
	html .ink-s33, 
	html .ink-s40, 
	html .ink-s50, 
	html .ink-s60, 
	html .ink-s66, 
	html .ink-s70, 
	html .ink-s75, 
	html .ink-s80, 
	html .ink-s90 { 
		float: none; 
		zoom: 1; 
	}

	html .ink-s100:empty,
	html .ink-s90:empty,
	html .ink-s80:empty,
	html .ink-s75:empty,
	html .ink-s70:empty,
	html .ink-s66:empty,
	html .ink-s60:empty,
	html .ink-s50:empty,
	html .ink-s40:empty,
	html .ink-s33:empty,
	html .ink-s30:empty,
	html .ink-s25:empty,
	html .ink-s20:empty,
	html .ink-s10:empty { 
		clear: both;
	}

	html .ink-row {
		margin-left: -@ink-grid-gutter-small;
	}

	html .ink-space 	{ margin: @ink-grid-gutter-small; }
	html .ink-vspace 	{ margin-top: @ink-grid-gutter-small; margin-bottom: @ink-grid-gutter-small; }
	html .ink-hspace	{ margin-left: @ink-grid-gutter-small; }

	html .menu {
		display:none
	}

	html .ink-h-nav {
		height:auto
	}

	html .ink-h-nav li {
		display:	block
	}

	html #topbar {
		height:auto
	}

	html #topbar li.active a {
		background:none;
		#ink > #shadows > .no-box-shadow;
	}

	html #topbar li {
		border-top:1px solid #333
	}

}