html {
	#ink > #text > .body-font-size (@font-size);
}

body {
	color: @text-color;
	#ink > #text > .ink-font-stack();
} 

a			{color: @link-color; text-decoration: none;}
a:hover		{color: @link-hover-color; text-decoration: underline;}

/* Headings  */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold; 
	color: @headings-color; 
	padding:.3em 0;
}
h1 {font-size: 2.5em;}
h2 {font-size: 2em;}
h3 {font-size: 1.715em;}
h4 {font-size: 1.438em;}
h5 {font-size: 1.250em;}
h6 {font-size: 1em;}      

h3, h4, h5, h6 {
    line-height: 1.3em;
} 

h1 small {font-size: .6em; color: #BFBFBF; font-weight: 100;}

small {color: lighten(@text-color, 30%); font-size: .6em;}

/* Paragraphs  */
p {line-height: 1.5em; margin: .5em 0}

input, textarea {
	#ink > #text > .ink-font-stack();
	color: #666;
}

h1 small, h2 small, h3 small, h4 small {
	color: #bbb;
	font-size: .6em;
	font-weight: 100;
	line-height: 1;
}
address {
	color: lighten(@text-color, 20%);
	font-size: 1em;
	line-height: 1.4em;
}
address h6 {color: @text-color;}

blockquote {border-left: 4px solid #ddd; padding-left: 1em; margin:1em 0; font-weight: 200; font-size: 1.1em;}
blockquote small {font-size: .9em;} 
blockquote small::before , blockquote small::after{
content: ' — ';
}

ul, ol, dl		{ padding-left: 1.4em; margin:0; }
ul.unstyled 	{ list-style:none; padding-left: 0em; }
ul.unstyled ul	{ list-style:disc outside; padding-left: 1.4em; }
ol li 			{ list-style: decimal outside; }
dl 				{ padding: 0em; }
dl dt 			{ font-weight: bold; margin-top: .7em; }
dl dd 			{ padding-left: 1em; margin: .5em 0 }


ul, ol {
	line-height:1.4;
	margin:0;
	padding-left: 1.4em;

	li {
		margin:.5em 0; 
	}


	&.ink-zebra {

		li {
			padding: 5px;
			border-radius: @border-radius;
		}
		
		li:nth-child(odd) {
			background-color: @table-zebra-rowColor;
		}
	}

	&.ink-hover {

		li {
			padding: 5px;
			border-radius: @border-radius;

			&:hover {
				background: @table-row-hoverColor;
			}
		}

	}

}

.note {font-size: .9em; color: lighten(@text-color, 20%) }
.note strong {color: @text-color;}

.label_new {background-color: @ink-alert-success-bg;}
.label_warning {background-color: @ink-alert-warning-bg;}
.label_error {background-color: @ink-alert-error-bg;}
.label_info {background-color: @ink-alert-info-bg;}

h1 .label_new, h1 .label_warning, h1 .label_error, h1 .label_info,
h2 .label_new, h2 .label_warning, h2 .label_error, h2 .label_info,
h3 .label_new, h3 .label_warning, h3 .label_error, h3 .label_info,
h4 .label_new, h4 .label_warning, h4 .label_error, h4 .label_info {
	font-size: 0.55em;
	vertical-align: top;
} 

hr {border: 0; border-top: 1px solid #ddd; margin:1em 0}  
.lead {font-size: 1.1em; font-weight: bold;}


.ink-label {
	#ink > #text > .ink-font-stack;
	padding: 0.2em 0.5em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.85em;
	#ink > #border-radius > .all (2px);
}

mark {
	padding: @padding / 4 @padding / 2;
	background: lighten(@yellow,25%);
}
