.#{$alert-class-name} {

    &.basic,
    &.block {
        font-size: .938em;
        margin: 1em 0 ;
        position:relative;
        overflow: hidden;
    }

    &.basic {
        padding: 1em 3em 1em 1em;

        p { margin: 0 }

        .ink-close {
            top:.55em; *top:.2em;
        }
    }

    &.block {
        font-size: 1em;

        > h4 {
            padding: 1em 3em 1em 1em;
            font-size: .938em;
            line-height: 1.5;
            margin:0;
        }

        p { margin: 1.5em 1em; }

        ul {
            list-style: inside ;
        }
    }

    .#{$dismiss-class-name} {
        position: absolute;
        line-height: .56em;
        font-size: 1.8em;
        padding:5px;
        border: none;
        background:none;
        top:.5em;
        *top:.2em;
        right:.4em;
    }
}
