.#{$button-class-name} {

    -webkit-appearance: menuitem;
    padding: $button-padding;
    cursor:pointer; 
    text-decoration: none;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    
    & + .#{$button-class-name} {
        margin-left: $button-margin;
    }
}

.button-group {

    & > .ink-button {
        float: left;
        margin: $button-margin 0;
        @include border-radius(0);
        border-left: none;

        &:hover,
        &:active {
            border-left: none;
        }

        &:first-child {
            @include border-right-radius(0);
            @include border-left-radius($button-border-radius);
            border-left: 1px solid #ccc;
        }

        &:last-child {
            @include border-right-radius($button-border-radius);
            @include border-left-radius(0);
        }
    }

    @include pie-clearfix;
}

.button-toolbar {
    
    & > .button-group {
        margin-right: $button-margin * 2;
        float: left;
    }

    @include pie-clearfix;
}