.#{$navigation-class-name} {
    
    ul {

        &.pagination {

            li {
                line-height: $navigation-line-height;
                float: left;


                a {
                    padding: $navigation-padding;
                    display: block;
                    float: left;
                }
            }

            @include clearfix;

            &.dotted {

                li {
            
                    a {
                        display: block;
                        height: 1em;
                        width: 1em;
                        margin-right: .6em;
                        padding: 0; 
                        @include border-radius(50%);
                    }

                    &:first-child,
                    &:last-child {
                        a { 
                            height: auto;
                            width: auto;
                            background: none;
                        }
                    }

                    &.previous,
                    &.next {
                        a { display: none }
                    }
            
                }
            }

            &.chevron {

                li {
                    
                    display: none;

                    &.next,
                    &.previous { 
                        
                        display: block;

                        a {
                            position: absolute;
                            display: block;
                            margin-right: .6em;
                            padding: 0; 
                            margin: 0;
                            @include border-radius(50%);
                            font-family: FontAwesome;
                            font-size: 4em;
                            @include transition(compact(color 140ms ease-in-out));
                        }
                    }

                    &.disabled {
                        a {
                            color: rgba($white,0.6);
                            @include text-shadow(none);
                            &:hover,
                            &:focus {
                                color: rgba($white,0.6);    
                            }
                        }
                    }
                    
                    &.previous {
                        a {
                            top: 35%;
                            left: .5em;
                            &:after { content: "\f137"; }
                        }
                    }

                    &.next {
                        a {
                            top: 35%;
                            right: .5em;
                            &:after { content: "\f138"; }
                        }
                    }

                }
            }
        }
    }
}

@media screen and (max-width: 650px) {

    html body .#{$navigation-class-name} {
        
        .pagination {
        
            li {
            
                a {
                    display:none
                }
                
                &:first-child, &:last-child {
                    a {
                        display:block;
                    }
                }
            }
        }
    }
}